Repository Sylius/Sylius, pull requests merged in 2020-08, with the labels that each got.

#11695 [Api][Cart] change quantity on cart
  features/cart/shopping_cart/changing_quantity_of_product_in_cart.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
  src/Sylius/Bundle/ApiBundle/Command/Cart/ChangeItemQuantityInCart.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Cart/ChangeItemQuantityInCartHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Cart/ChangeItemQuantityInCart.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Cart/ChangeItemQuantityInCartHandlerSpec.php
Labels: API, Feature

#11700 [Api][Checkout] Add notes during checkout
  features/checkout/leaving_notes_on_order_during_checkout.feature
  src/Sylius/Behat/Client/Request.php
  src/Sylius/Behat/Client/RequestInterface.php
  src/Sylius/Behat/Context/Api/Admin/ManagingOrdersContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Transform/CartTokenContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites/api/checkout/checkout.yml
  src/Sylius/Bundle/ApiBundle/Command/Checkout/AddressOrder.php
  src/Sylius/Bundle/ApiBundle/Command/Checkout/CompleteOrder.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/AddressOrderHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/CompleteOrderHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Checkout/CompleteOrder.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Order.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/AddressOrderHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/CompleteOrderHandlerSpec.php
Labels: API, Feature

#11710 [Hot-fix] Handle extra docblocks in Psalm
  psalm.xml
  src/Sylius/Bundle/PayumBundle/Extension/UpdatePaymentStateExtension.php
  src/Sylius/Bundle/ProductBundle/EventListener/SelectProductAttributeChoiceRemoveListener.php
Labels: Bug

#11706 [API][Cart] Maintaining cart after authorization
  features/cart/shopping_cart/maintaining_cart_after_authorization.feature
  features/cart/shopping_cart/maintaining_previous_cart_after_authorization.feature
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Client/ApiPlatformSecurityClient.php
  src/Sylius/Behat/Client/ApiSecurityClientInterface.php
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/LoginContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/suites/api/cart/shopping_cart.yml
  src/Sylius/Bundle/ApiBundle/Context/TokenValueBasedCartContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/contexts.xml
  src/Sylius/Bundle/ApiBundle/spec/Context/TokenValueBasedCartContextSpec.php
  src/Sylius/Bundle/OrderBundle/Doctrine/ORM/OrderRepository.php
  src/Sylius/Component/Order/Repository/OrderRepositoryInterface.php
Labels: API

#11714 [API] Filling also shipping address during checkout
  features/checkout/addressing_order/filling_billing_and_shipping_address_details.feature
  features/checkout/addressing_order/filling_shipping_and_billing_address_details_as_guest.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Bundle/ApiBundle/Command/Checkout/AddressOrder.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/AddressOrderHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Checkout/AddressOrder.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/AddressOrderHandlerSpec.php
Labels: API, Feature

#11716 [API] Minor fixes for filling shipping address during checkout
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/AddressOrderHandler.php
Labels: API, DX

#11715 [Api][Checkout][Order] Add tests for accessing order right after completing checkout
  features/checkout/accessing_order_right_after_completing_checkout.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Api/Shop/OrderContext.php
  src/Sylius/Behat/Context/Ui/Shop/CheckoutContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites/api/checkout/checkout.yml
Labels: API

#11705 [Api][Checkout] cover skipping payment steps in behat
  features/checkout/skipping_payment_method_step_when_only_one_payment_method_is_available.feature
  features/checkout/skipping_payment_step_when_order_total_is_zero.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Ui/Shop/Checkout/CheckoutShippingContext.php
  src/Sylius/Behat/Context/Ui/Shop/CheckoutContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites/api/checkout/checkout.yml
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/AddressOrderHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/PaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Payment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/PaymentMethod.xml
Labels: API

#11718 [Api][Checkout] Add checkout:read for order api serialization configuration
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Order.xml
Labels: API

#11719 [API] Implement scenarios for selecting payment and shipping methods during checkout
  features/checkout/paying_for_order/selecting_order_payment_method.feature
  features/checkout/shipping_order/selecting_order_shipping_method.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
Labels: API

#11717 [API][Checkout]checkout without logged in account
  features/checkout/ability_to_checkout_as_guest_with_a_registered_email.feature
  features/checkout/addressing_order/filling_shipping_and_billing_address_details_as_guest.feature
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/AddressOrderHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/AddressOrderHandlerSpec.php
Labels: API

#11711 [Api] [Checkout] skipping shipment step
  features/checkout/skipping_shipping_step_when_only_one_shipping_method_is_available.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Ui/Shop/Checkout/CheckoutPaymentContext.php
  src/Sylius/Behat/Context/Ui/Shop/CheckoutContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Shipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ShippingMethodTranslation.xml
Labels: API, Feature

#11048 Bug #10951 [Account] fix sync username with customer email
  features/user/managing_customers/adding_customer_account.feature
  src/Sylius/Bundle/CoreBundle/EventListener/DefaultUsernameORMListener.php
Labels: Documentation, Maintenance

#11722 [Documentation] fix typo in fixture docs
  docs/customization/fixtures.rst
Labels: Documentation

#11728 [API]seeing total tax on order summary
  features/checkout/seeing_order_summary/seeing_total_tax_on_order_summary_page.feature
  src/Sylius/Behat/Context/Api/Shop/OrderContext.php
  src/Sylius/Behat/Resources/config/suites/api/checkout/checkout.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Order.xml
Labels: API, Feature

#11730 Fix docs for custom resource controllers
  docs/customization/controller.rst
Labels: Documentation

#11731 [Account] Add spec to sync username with customer email
  src/Sylius/Bundle/CoreBundle/spec/EventListener/DefaultUsernameORMListenerSpec.php
Labels: DX, Enhancement

#11696 [Shop] Add form in add to cart template event args
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Show/_addToCart.html.twig
Labels: Shop

#11683 [Product][Admin] Unify product breadcrumb in both show and update page
  features/product/viewing_product_in_admin_panel/viewing_details_of_simple_product.feature
  src/Sylius/Behat/Context/Ui/Admin/ProductShowPageContext.php
  src/Sylius/Behat/Page/Admin/Product/ShowPage.php
  src/Sylius/Behat/Page/Admin/Product/ShowPageInterface.php
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/_breadcrumb.html.twig
Labels: Admin

#11681 [Admin] Convert newlines in product description to breaklines
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/_moreDetails.html.twig
Labels: Admin

#11729 [API] Add products by variant code
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Setup/CartContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/services/contexts/setup.xml
  src/Sylius/Bundle/ApiBundle/Command/Cart/AddItemToCart.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Cart/AddItemToCartHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Cart/AddItemToCart.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Cart/AddItemToCartHandlerSpec.php
Labels: API, Feature

#11704 [BEHAT] Injecting locale parameter instead of having it harcdoded
  src/Sylius/Behat/Context/Transform/TaxonContext.php
  src/Sylius/Behat/Resources/config/services/contexts/transform.xml
Labels: Behat, Enhancement

#11660 Add documentation for checkout initialize events
  docs/book/architecture/events.rst
Labels: Documentation

#11713 [Behat] Unfinalize some Behat pages
  src/Sylius/Behat/Page/Admin/Payment/IndexPage.php
  src/Sylius/Behat/Page/Admin/Shipment/ShowPage.php
Labels: Behat, DX

#11732 [Admin] removed duplicated id attribute
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/_shipments.html.twig
Labels: Admin

#11721 [Documentation] Add example to the grid documentation
  docs/customization/grid.rst
Labels: Documentation

#11698 Fixing the ChannelContext deprecations
  src/Sylius/Component/Channel/Context/RequestBased/ChannelContext.php
Labels: DX, Enhancement

#11736 [Documentation] bumped maintenance branches in docs
  docs/contributing/code/patches.rst
  docs/contributing/documentation/overview.rst
Labels: Admin, Documentation, Shop

#11735 [Api][Checkout] ShippingMethod on Checkout
  features/checkout/shipping_order/preventing_not_available_shipping_method_selection.feature
  features/checkout/shipping_order/seeing_shipping_fee.feature
  features/checkout/shipping_order/seeing_shipping_method_when_all_units_match_to_shipping_category.feature
  features/checkout/shipping_order/seeing_shipping_method_when_at_least_one_unit_match_to_shipping_method.feature
  features/checkout/shipping_order/seeing_shipping_method_when_no_units_match_to_shipping_category.feature
  features/checkout/shipping_order/sorting_shipping_method_selection.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites/api/checkout/checkout.yml
  src/Sylius/Bundle/ApiBundle/DataProvider/CartShippingMethodsSubresourceDataProvider.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CartShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Shipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/View/CartShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/View/CartShippingMethod.php
  src/Sylius/Bundle/ApiBundle/View/CartShippingMethodInterface.php
  src/Sylius/Bundle/ApiBundle/View/Factory/CartShippingMethodFactory.php
  src/Sylius/Bundle/ApiBundle/View/Factory/CartShippingMethodFactoryInterface.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/CartShippingMethodsSubresourceDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/View/Factory/CartShippingMethodFactorySpec.php
Labels: API

#11708 Revert "[Behat] Remove js requirement for bulk delete scenarios"
  features/addressing/managing_zones/deleting_multiple_zones.feature
  features/channel/managing_channels/deleting_multiple_channels.feature
  features/currency/managing_exchange_rates/deleting_multiple_exchange_rates.feature
  features/payment/managing_payment_methods/deleting_multiple_payment_methods.feature
  features/product/managing_product_association_types/deleting_multiple_product_association_types.feature
  features/product/managing_product_attributes/deleting_multiple_product_attributes.feature
  features/product/managing_product_options/deleting_multiple_product_options.feature
  features/product/managing_product_reviews/deleting_multiple_product_reviews.feature
  features/product/managing_product_variants/deleting_multiple_product_variants.feature
  features/product/managing_products/deleting_multiple_products.feature
  features/promotion/managing_coupons/deleting_multiple_coupons.feature
  features/promotion/managing_promotions/deleting_multiple_promotions.feature
  features/shipping/managing_shipping_categories/deleting_multiple_shipping_categories.feature
  features/shipping/managing_shipping_methods/deleting_multiple_shipping_methods.feature
  features/taxation/managing_tax_categories/deleting_multiple_tax_categories.feature
  features/taxation/managing_tax_rates/deleting_multiple_tax_rates.feature
  features/user/managing_administrators/deleting_multiple_administrators.feature
  features/user/managing_customer_groups/deleting_multiple_customer_groups.feature
  src/Sylius/Behat/Page/Admin/Crud/IndexPage.php
  src/Sylius/Bundle/UiBundle/Resources/private/js/sylius-bulk-action-require-confirmation.js
  src/Sylius/Bundle/UiBundle/Resources/views/Macro/buttons.html.twig
  src/Sylius/Bundle/UiBundle/Resources/views/Macro/table.html.twig
Labels: Admin, Documentation, Shop

#11741 [API] Remove CartShippingMethod API resource configuration
  src/Sylius/Bundle/ApiBundle/DataProvider/CartShippingMethodsSubresourceDataProvider.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CartShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/View/CartShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/View/CartShippingMethod.php
  src/Sylius/Bundle/ApiBundle/View/CartShippingMethodInterface.php
  src/Sylius/Bundle/ApiBundle/View/Factory/CartShippingMethodFactory.php
  src/Sylius/Bundle/ApiBundle/View/Factory/CartShippingMethodFactoryInterface.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/CartShippingMethodsSubresourceDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/View/Factory/CartShippingMethodFactorySpec.php
Labels: API

#11742 [Api][Checkout] ShippingMethod on Checkout - complete scenarios
  features/checkout/shipping_order/seeing_shipping_method_when_all_units_match_to_shipping_category.feature
  features/checkout/shipping_order/seeing_shipping_method_when_at_least_one_unit_match_to_shipping_method.feature
  features/checkout/shipping_order/seeing_shipping_method_when_no_units_match_to_shipping_category.feature
  src/Sylius/Behat/Context/Setup/CartContext.php
  src/Sylius/Behat/Context/Transform/CartTokenContext.php
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
  src/Sylius/Behat/Resources/config/services/contexts/transform.xml
  src/Sylius/Behat/Resources/config/suites/api/checkout/checkout.yml
  src/Sylius/Bundle/ApiBundle/Command/Cart/PickupCart.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/PickupCartHandler.php
Labels: API

#11739 Fix Customer form_errors display
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/_form.html.twig
Labels: Admin, UX

#11740 [API]getting available payment methods
  features/checkout/paying_for_order/preventing_not_available_payment_method_selection.feature
  features/checkout/paying_for_order/sorting_payment_method_selection.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Bundle/ApiBundle/DataProvider/CartPaymentMethodsSubresourceDataProvider.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Payment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/PaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/CartPaymentMethodsSubresourceDataProviderSpec.php
Labels: API

#11747 [Api][Checkout] Placing order with difference scopes
  features/checkout/placing_an_order_with_different_scopes_for_shipping_and_taxes.feature
  src/Sylius/Behat/Context/Api/Shop/OrderContext.php
  src/Sylius/Behat/Resources/config/suites/api/checkout/checkout.yml
Labels: API

#11748 [Api][Checkout] Placing order with difference scopes - minor fixes
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Api/Shop/OrderContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Order.xml
Labels: API

#11743 [Api][Checkout] Order, shipping, promotion totals and order items on checkout summary
  features/checkout/seeing_order_summary/seeing_items_on_order_summary_page.feature
  features/checkout/seeing_order_summary/seeing_order_locale.feature
  features/checkout/seeing_order_summary/seeing_shipping_total_on_order_summary_page.feature
  features/checkout/seeing_order_summary/seeing_summary_order_with_free_product.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Ui/Shop/Checkout/CheckoutAddressingContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites/api/checkout/checkout.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/OrderItem.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductVariantTranslation.xml
Labels: API, Feature

#11749 [API][Checkout] Cover scenarios for checking promotions
  features/checkout/ability_to_confirm_an_order_with_a_promotion_on_shipping.feature
  features/checkout/seeing_order_summary/seeing_discount_on_order_item_on_summary_page.feature
  features/checkout/seeing_order_summary/seeing_shipping_discount_on_order_summary_page.feature
  features/checkout/seeing_order_summary/seeing_summary_order_with_free_product.feature
  features/checkout/seeing_order_summary/seeing_total_discount_on_order_summary_page.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Api/Shop/OrderContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Bundle/ApiBundle/DataProvider/OrderAdjustmentsSubresourceDataProvider.php
  src/Sylius/Bundle/ApiBundle/DataProvider/OrderItemAdjustmentsSubresourceDataProvider.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Adjustment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/OrderItem.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Adjustment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/OrderAdjustmentsSubresourceDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/OrderItemAdjustmentsSubresourceDataProviderSpec.php
  src/Sylius/Component/Order/Model/Adjustment.php
  src/Sylius/Component/Order/Model/AdjustmentInterface.php
  src/Sylius/Component/Order/spec/Model/AdjustmentSpec.php
Labels: API

#11753 [API] Minor fixes for adjustments
  src/Sylius/Behat/Context/Api/Shop/OrderContext.php
  src/Sylius/Bundle/ApiBundle/DataProvider/OrderItemAdjustmentsSubresourceDataProvider.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/OrderAdjustmentsSubresourceDataProviderSpec.php
Labels: API

#11746 [API]Add validation to addressing fields
  features/checkout/addressing_order/shipping_and_billing_address_validation.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/AddressOrder.xml
  src/Sylius/Component/Core/Formatter/StringInflector.php
Labels: API

#11389 Switch to Doctrine/Migrations 3.0
  composer.json
  config/bundles.php
  config/packages/doctrine_migrations.yaml
  src/Sylius/Bundle/AdminApiBundle/DependencyInjection/SyliusAdminApiExtension.php
  src/Sylius/Bundle/AdminApiBundle/Migrations/Version20161202011556.php
  src/Sylius/Bundle/AdminApiBundle/Migrations/Version20170313125424.php
  src/Sylius/Bundle/AdminApiBundle/Migrations/Version20170711151342.php
  src/Sylius/Bundle/CoreBundle/DependencyInjection/SyliusCoreExtension.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20161202011555.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20161209095131.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20161214153137.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20161215103325.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20161219160441.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20161220092422.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20161221133514.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20161223091334.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20161223164558.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170103120334.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170109143010.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170110120125.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170116215417.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170117075436.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170120164250.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170124221955.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170201094058.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170206122839.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170206141520.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170208102345.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170208103250.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170214095710.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170214104908.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170215143031.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170217141621.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170220150813.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170223071604.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170301135010.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170303170201.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170321131352.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170327135945.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170401200415.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170518123056.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170824124122.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170913125128.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20171003103916.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20180102140039.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20180226142349.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20190109095211.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20190109160409.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20190204092544.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20190416073011.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20190607135638.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20191024065651.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20200110132702.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20200122082429.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20200202104152.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20200309172908.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20200325075815.php
  src/Sylius/Bundle/CoreBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/doctrine_migrations.yaml
  symfony.lock
Labels: DX, Maintenance

#11761 Fix bug in order total shipping rules
  src/Sylius/Behat/Context/Setup/ShippingContext.php
  src/Sylius/Component/Core/Shipping/Checker/Rule/OrderTotalRuleChecker.php
  src/Sylius/Component/Core/spec/Shipping/Checker/Rule/OrderTotalGreaterThanOrEqualRuleCheckerSpec.php
  src/Sylius/Component/Core/spec/Shipping/Checker/Rule/OrderTotalLessThanOrEqualRuleCheckerSpec.php
Labels: Bug

#11765 Making the error message on fixutre load helpful
  src/Sylius/Bundle/CoreBundle/Fixture/OptionsResolver/LazyOption.php
Labels: DX, Enhancement

#11767 Add warning on tax calculation in 1.7's upgrade
  UPGRADE-1.7.md
Labels: Maintenance

#11771 Reflect admin path change in UPGRADE-1.8
  UPGRADE-1.8.md
Labels: Maintenance
