Repository Sylius/Sylius, pull requests merged in 2020-09, with the labels that each got.

#11776 [Api][Administrator] refactor endpoints for admin and admin avatar
  config/packages/security.yaml
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Client/Request.php
  src/Sylius/Behat/Client/RequestInterface.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/AdminUser.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/AvatarImage.xml
Labels: API

#11514 [Minor] Move command to separate folder
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Commands/RegisterShopUser.xml
Labels: API

#11762 add toogle button that verifies user account
  features/user/managing_customers/verifying_customer_account.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingCustomersContext.php
  src/Sylius/Behat/Page/Admin/Customer/IndexPage.php
  src/Sylius/Behat/Page/Admin/Customer/IndexPageInterface.php
  src/Sylius/Behat/Page/Admin/Customer/UpdatePage.php
  src/Sylius/Behat/Page/Admin/Customer/UpdatePageInterface.php
  src/Sylius/Behat/Resources/config/suites/ui/user/managing_customers.yml
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/_form.html.twig
  src/Sylius/Bundle/UserBundle/Form/Type/UserType.php
  src/Sylius/Bundle/UserBundle/Form/UserVerifiedAtToBooleanTransformer.php
  src/Sylius/Bundle/UserBundle/Resources/translations/messages.en.yml
  tests/Responses/admin_user/create_validation_fail_response.json
  tests/Responses/admin_user/update_validation_fail_response.json
  tests/Responses/customer/create_with_user_validation_fail_response.json
Labels: Admin

#11780 [Maintenance] Adjust variable names to interfaces
  composer.json
  docs/book/plugins/creating-plugin.rst
  src/Kernel.php
  src/Sylius/Bundle/AddressingBundle/DependencyInjection/SyliusAddressingExtension.php
  src/Sylius/Bundle/AdminApiBundle/DependencyInjection/SyliusAdminApiExtension.php
  src/Sylius/Bundle/AdminBundle/DependencyInjection/SyliusAdminExtension.php
  src/Sylius/Bundle/AttributeBundle/DependencyInjection/SyliusAttributeExtension.php
  src/Sylius/Bundle/AttributeBundle/Validator/Constraints/ValidSelectAttributeConfigurationValidator.php
  src/Sylius/Bundle/AttributeBundle/Validator/Constraints/ValidTextAttributeConfigurationValidator.php
  src/Sylius/Bundle/ChannelBundle/DependencyInjection/SyliusChannelExtension.php
  src/Sylius/Bundle/CoreBundle/DependencyInjection/SyliusCoreExtension.php
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/Handler/ResourceUpdateHandler.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/CartItemAvailabilityValidator.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/ChannelDefaultLocaleEnabledValidator.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/HasAllPricesDefinedValidator.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/HasAllVariantPricesDefinedValidator.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/HasEnabledEntityValidator.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/OrderPaymentMethodEligibilityValidator.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/OrderProductEligibilityValidator.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/OrderShippingMethodEligibilityValidator.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/RegisteredUserValidator.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/UniqueReviewerEmailValidator.php
  src/Sylius/Bundle/CurrencyBundle/DependencyInjection/SyliusCurrencyExtension.php
  src/Sylius/Bundle/CustomerBundle/DependencyInjection/SyliusCustomerExtension.php
  src/Sylius/Bundle/InventoryBundle/DependencyInjection/SyliusInventoryExtension.php
  src/Sylius/Bundle/LocaleBundle/DependencyInjection/SyliusLocaleExtension.php
  src/Sylius/Bundle/MoneyBundle/DependencyInjection/SyliusMoneyExtension.php
  src/Sylius/Bundle/MoneyBundle/Formatter/MoneyFormatter.php
  src/Sylius/Bundle/OrderBundle/DependencyInjection/SyliusOrderExtension.php
  src/Sylius/Bundle/OrderBundle/Form/DataMapper/OrderItemQuantityDataMapper.php
  src/Sylius/Bundle/PaymentBundle/DependencyInjection/SyliusPaymentExtension.php
  src/Sylius/Bundle/PayumBundle/DependencyInjection/SyliusPayumExtension.php
  src/Sylius/Bundle/ProductBundle/DependencyInjection/SyliusProductExtension.php
  src/Sylius/Bundle/PromotionBundle/DependencyInjection/SyliusPromotionExtension.php
  src/Sylius/Bundle/PromotionBundle/Validator/CouponGenerationAmountValidator.php
  src/Sylius/Bundle/ReviewBundle/DependencyInjection/SyliusReviewExtension.php
  src/Sylius/Bundle/ShippingBundle/DependencyInjection/SyliusShippingExtension.php
  src/Sylius/Bundle/ShopBundle/DependencyInjection/SyliusShopExtension.php
  src/Sylius/Bundle/ShopBundle/Router/LocaleStrippingRouter.php
  src/Sylius/Bundle/TaxationBundle/DependencyInjection/SyliusTaxationExtension.php
  src/Sylius/Bundle/TaxonomyBundle/DependencyInjection/SyliusTaxonomyExtension.php
  src/Sylius/Bundle/UiBundle/DependencyInjection/SyliusUiExtension.php
  src/Sylius/Bundle/UserBundle/DependencyInjection/SyliusUserExtension.php
  src/Sylius/Component/Currency/Converter/CurrencyConverter.php
  src/Sylius/Component/Order/Modifier/OrderModifier.php
  src/Sylius/Component/Payment/Factory/PaymentFactory.php
Labels: Admin, Documentation, Maintenance

#11779 Api refactor simple entities part 1
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Client/Request.php
  src/Sylius/Behat/Client/RequestInterface.php
  src/Sylius/Behat/Context/Api/Admin/ManagingExchangeRatesContext.php
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Channel.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Country.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Currency.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CustomerGroup.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ExchangeRate.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Locale.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductAssociationType.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductAssociationTypeTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Province.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShopBillingData.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/TaxCategory.xml
Labels: API

#11478 [ADR] Custom operation in new Sylius API
  adr/2020_05_13_handling_non_crud_operations_in_api.md
Labels: API

#11789 [ADR] Path prefixes in new Sylius API
  adr/2020_09_01_admin_and_shop_split.md
Labels: API

#11791 [API] refactor endpoint for api resources
  src/Sylius/Behat/Client/Request.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Payment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/PaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Shipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingCategory.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethodTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Zone.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ZoneMember.xml
Labels: API

#11801 [Maintenance][Travis] Use composer 2.0
  composer.json
  etc/travis/suites/common/before_install.sh
  src/Sylius/Bundle/ReviewBundle/Form/Type/ReviewType.php
Labels: Maintenance

#11798 [Maintenance] Drop Symfony/Form conflict and fix ReviewType configuration
  composer.json
  src/Sylius/Bundle/ReviewBundle/Form/Type/ReviewType.php
Labels: Maintenance

#11812 [Maintenance] Update dev-master config for bundles and components
  src/Sylius/Bundle/AddressingBundle/composer.json
  src/Sylius/Bundle/AdminApiBundle/composer.json
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/AttributeBundle/composer.json
  src/Sylius/Bundle/ChannelBundle/composer.json
  src/Sylius/Bundle/CoreBundle/composer.json
  src/Sylius/Bundle/CurrencyBundle/composer.json
  src/Sylius/Bundle/CustomerBundle/composer.json
  src/Sylius/Bundle/InventoryBundle/composer.json
  src/Sylius/Bundle/LocaleBundle/composer.json
  src/Sylius/Bundle/MoneyBundle/composer.json
  src/Sylius/Bundle/OrderBundle/composer.json
  src/Sylius/Bundle/PaymentBundle/composer.json
  src/Sylius/Bundle/PayumBundle/composer.json
  src/Sylius/Bundle/ProductBundle/composer.json
  src/Sylius/Bundle/PromotionBundle/composer.json
  src/Sylius/Bundle/ReviewBundle/composer.json
  src/Sylius/Bundle/ShippingBundle/composer.json
  src/Sylius/Bundle/ShopBundle/composer.json
  src/Sylius/Bundle/TaxationBundle/composer.json
  src/Sylius/Bundle/TaxonomyBundle/composer.json
  src/Sylius/Bundle/UiBundle/composer.json
  src/Sylius/Bundle/UserBundle/composer.json
  src/Sylius/Component/Addressing/composer.json
  src/Sylius/Component/Attribute/composer.json
  src/Sylius/Component/Channel/composer.json
  src/Sylius/Component/Core/composer.json
  src/Sylius/Component/Currency/composer.json
  src/Sylius/Component/Customer/composer.json
  src/Sylius/Component/Inventory/composer.json
  src/Sylius/Component/Locale/composer.json
  src/Sylius/Component/Order/composer.json
  src/Sylius/Component/Payment/composer.json
  src/Sylius/Component/Product/composer.json
  src/Sylius/Component/Promotion/composer.json
  src/Sylius/Component/Review/composer.json
  src/Sylius/Component/Shipping/composer.json
  src/Sylius/Component/Taxation/composer.json
  src/Sylius/Component/Taxonomy/composer.json
  src/Sylius/Component/User/composer.json
Labels: Admin, Maintenance, Shop

#11810 [Maintenance] Update composer, bundles and symfony lock
  config/bundles.php
  config/packages/dev/nelmio_alice.yaml
  config/packages/prod/routing.yaml
  config/packages/test/nelmio_alice.yaml
  config/packages/test/twig.yaml
  config/packages/test/validator.yaml
  symfony.lock
  translations/.gitignore
Labels: Maintenance

#11418 set default value for Channel taxCalculationStrategy
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ChannelExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Component/Core/Factory/ChannelFactory.php
  src/Sylius/Component/Core/Factory/ChannelFactoryInterface.php
  src/Sylius/Component/Core/Test/Services/DefaultChannelFactory.php
  src/Sylius/Component/Core/Test/Services/DefaultUnitedStatesChannelFactory.php
  src/Sylius/Component/Core/spec/Factory/ChannelFactorySpec.php
  src/Sylius/Component/Core/spec/Test/Services/DefaultChannelFactorySpec.php
  src/Sylius/Component/Core/spec/Test/Services/DefaultUnitedStatesChannelFactorySpec.php
Labels: Admin, DX, Maintenance, RFC

#11811 [Maintenance] Remove dead part of travis installation script
  bin/install-package
Labels: Maintenance

#11814 [Channel] Fix bc-breaking changes in ChannelFactory and minor improvements
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ChannelExampleFactory.php
  src/Sylius/Component/Core/Factory/ChannelFactory.php
  src/Sylius/Component/Core/Factory/ChannelFactoryInterface.php
  src/Sylius/Component/Core/Test/Services/DefaultChannelFactory.php
  src/Sylius/Component/Core/Test/Services/DefaultUnitedStatesChannelFactory.php
  src/Sylius/Component/Core/spec/Factory/ChannelFactorySpec.php
  src/Sylius/Component/Core/spec/Test/Services/DefaultChannelFactorySpec.php
  src/Sylius/Component/Core/spec/Test/Services/DefaultUnitedStatesChannelFactorySpec.php
Labels: Enhancement

#11790 [Api] Add experimental warning to swagger
  psalm.xml
  src/Sylius/Bundle/ApiBundle/ApiPlatform/Bridge/Symfony/Bundle/Action/SwaggerUiAction.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/views/SwaggerUi/index.html.twig
Labels: API, Documentation

#11806 [Api][Checkout] Allowing access only for correctly logged in
  features/cart/shopping_cart/allowing_access_only_for_correctly_logged_in_users.feature
  features/cart/shopping_cart/clearing_cart_after_logging_out.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Api/Shop/LoginContext.php
  src/Sylius/Behat/Context/Setup/AdminSecurityContext.php
  src/Sylius/Behat/Context/Setup/CartContext.php
  src/Sylius/Behat/Context/Setup/ShopSecurityContext.php
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/cart/accessing_cart.yml
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryItemExtension/OrderDeleteMethodItemExtension.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryItemExtension/OrderGetMethodItemExtension.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryItemExtension/OrderPatchMethodItemExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryItemExtension/OrderDeleteMethodItemExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryItemExtension/OrderGetMethodItemExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryItemExtension/OrderPatchMethodItemExtensionSpec.php
Labels: API

#11797 Fixed Twig translate extension not working with `null` values
  src/Sylius/Bundle/AdminBundle/Resources/views/Crud/Create/_headerTitle.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Crud/Index/_headerTitle.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Crud/Update/_headerTitle.html.twig
Labels: Admin

#11786 Fixed deprecated option usage on Email validator
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/RegisterShopUser.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/AdminUser.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/Channel.xml
  src/Sylius/Bundle/CustomerBundle/Resources/config/validation/Customer.xml
  src/Sylius/Bundle/UserBundle/Resources/config/validation/PasswordResetRequest.xml
Labels: API

#11813 [ADR] Minor text adjustments
  adr/2020_09_01_admin_and_shop_split.md
Labels: Documentation, Enhancement

#11799 [API]Fixed endpoints related to order-items that returns 500 error
  features/cart/shopping_cart/seeing_order_items_in_cart.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/OrderItem.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/OrderItemUnit.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Shipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/OrderItem.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/OrderItem.xml
  src/Sylius/Component/Order/Model/OrderItem.php
Labels: API, Maintenance

#11819 [API] Refactored data transformers
  src/Sylius/Bundle/ApiBundle/DataTransformer/CommandAwareInputDataTransformer.php
  src/Sylius/Bundle/ApiBundle/DataTransformer/CommandDataTransformersChain.php
  src/Sylius/Bundle/ApiBundle/DataTransformer/CommandDataTransformersChainInterface.php
  src/Sylius/Bundle/ApiBundle/DependencyInjection/Compiler/CommandDataTransformerPass.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Tests/DependencyInjection/Compiler/CommandDataTransformerPassTest.php
Labels: API

#11818 [Api] Hide token value in create cart endpoint's body
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
Labels: API

#11805 Redirect /.well-known/change-password to the right page
  config/routes/sylius_shop.yaml
  features/account/resetting_password_redirect.feature
  src/Sylius/Behat/Context/Ui/Shop/LoginContext.php
  src/Sylius/Behat/Page/Shop/Account/WellKnownPasswordChangePage.php
  src/Sylius/Behat/Page/Shop/Account/WellKnownPasswordChangePageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/services/pages/shop/account.xml
Labels: Feature, Shop

#11821 [API] Hide product review in product create endpoint
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Product.xml
Labels: API

#11795 Api refactor product and order related endpoints
  config/packages/security.yaml
  src/Sylius/Behat/Context/Api/Admin/ManagingPaymentsContext.php
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Api/Shop/HomepageContext.php
  src/Sylius/Behat/Context/Api/Shop/OrderContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Api/Shop/RegistrationContext.php
  src/Sylius/Behat/Resources/config/services.xml
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Service/Converter/AdminToShopIriConverter.php
  src/Sylius/Behat/Service/Converter/AdminToShopIriConverterInterface.php
  src/Sylius/Behat/spec/Service/Converter/AdminToShopIriConverterSpec.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Adjustment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/AdminUser.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/AvatarImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Channel.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Commands/RegisterShopUser.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Country.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Currency.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CustomerGroup.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ExchangeRate.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Locale.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/OrderItem.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/OrderItemUnit.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Payment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/PaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductAssociationType.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductAssociationTypeTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOption.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOptionTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOptionValue.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductTaxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductVariantTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Province.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Shipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingCategory.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethodTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShopBillingData.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/TaxCategory.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Taxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/TaxonTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Zone.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ZoneMember.xml
Labels: API

#11792 Fixed: Parent taxon selection on taxon creation
  features/taxonomy/managing_taxons/adding_taxon_for_with_parent.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingTaxonsContext.php
  src/Sylius/Bundle/AdminBundle/Resources/views/Taxon/_form.html.twig
  src/Sylius/Bundle/TaxonomyBundle/Form/Type/TaxonType.php
Labels: Admin

#11807 [API] Disable province code change in PUT endpoint
  features/addressing/managing_countries/province_validation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCountriesContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Province.xml
Labels: API

#11825 [Api][Cart] Fix for OrderGetMethodItemExtension
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryItemExtension/OrderGetMethodItemExtension.php
Labels: API

#11824 [API]add to swagger documentation missing locale code in translations
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductAssociationType.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOption.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOptionValue.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethod.xml
Labels: API

#11823 [API] Unify interface parameters
  src/Sylius/Bundle/ApiBundle/Command/Checkout/AddressOrder.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
Labels: API

#11828 [API] add missing prefix to payments route
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Payment.xml
Labels: API

#11831 [API] fix route for pickup cart
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
Labels: API

#11833 [Admin] Channel pricing removal for channels where the product is not available
  features/product/managing_product_variants/removing_product_variant_price_from_obsolete_channel.feature
  features/product/managing_products/removing_product_price_from_obsolete_channel.feature
  src/Sylius/Bundle/CoreBundle/Form/Type/Product/ChannelPricingType.php
Labels: Admin, Bug

#11837 Update README.md
  README.md
Labels: Documentation, Maintenance

#11835 [ChannelPricing] Remove channel pricing 1.7
  features/product/managing_product_variants/removing_product_variant_price_from_obsolete_channel.feature
  features/product/managing_products/removing_product_price_from_obsolete_channel.feature
  src/Sylius/Behat/Context/Setup/ProductContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductVariantsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Bundle/CoreBundle/Form/Type/Product/ChannelPricingType.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/form.xml
Labels: Bug

#11839 [Behat] Remove duplicated method from ProductContext
  src/Sylius/Behat/Context/Setup/ProductContext.php
Labels: Behat, Bug

#11844 [Minor] Dead code removal
  src/Sylius/Bundle/CoreBundle/Form/Type/Product/ChannelPricingType.php
Labels: Enhancement

#11855 Typo in UPGRADE-1.8.md
  UPGRADE-1.8.md
Labels: Maintenance

#11858 [API] Added behat tag for seeing shipping and payment methods on summary
  features/checkout/seeing_order_summary/seeing_shipping_method_and_payment_method_on_order_summary_page.feature
Labels: API, Behat

#11859 [API]Seeing shipping and billing addresses on order summary page
  features/checkout/seeing_order_summary/seeing_addresses_on_order_summary_page.feature
  features/checkout/seeing_order_summary/seeing_province_created_manually_on_order_summary_page.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Address.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Order.xml
Labels: API

#11848 [Product] Add possibility to create product/variant without price in disabled channels
  app/migrations/Version20200916093101.php
  features/product/managing_product_variants/adding_product_variant_with_only_original_price.feature
  features/product/managing_product_variants/removing_product_variant_price_from_obsolete_channel.feature
  features/product/managing_products/adding_product_with_only_original_price.feature
  features/product/managing_products/removing_product_price_from_obsolete_channel.feature
  src/Sylius/Behat/Context/Setup/ProductContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductVariantsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Bundle/CoreBundle/Form/Type/Product/ChannelPricingType.php
  src/Sylius/Bundle/CoreBundle/Resources/config/doctrine/model/ChannelPricing.orm.xml
Labels: Bug

#11852 [Docs] Add changes in UPGRADE-1.8.md
  UPGRADE-1.8.md
Labels: Maintenance

#11863 [API]Payment Method integrity check
  features/checkout/paying_for_order/payment_method_integrity_validation.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/CompleteOrder.xml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/OrderPaymentMethodEligibility.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/OrderPaymentMethodEligibilityValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/OrderPaymentMethodEligibilityValidatorSpec.php
Labels: API

#11830 [Api][Cart] Fix for Cart access tests
  features/cart/shopping_cart/allowing_access_only_for_correctly_logged_in_users.feature
  features/cart/shopping_cart/clearing_cart_after_logging_out.feature
  features/checkout/ability_to_checkout_as_guest_with_a_registered_email.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryItemExtension/OrderDeleteMethodItemExtension.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryItemExtension/OrderGetMethodItemExtension.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryItemExtension/OrderMethodsItemExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/context_builders.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/Serializer/ContextKeys.php
  src/Sylius/Bundle/ApiBundle/SerializerContextBuilder/HttpRequestMethodTypeContextBuilder.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/AddressOrderHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/PickupCartHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryItemExtension/OrderDeleteMethodItemExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryItemExtension/OrderGetMethodItemExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryItemExtension/OrderMethodsItemExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryItemExtension/OrderPatchMethodItemExtensionSpec.php
Labels: API

#11874 [Api] restrict access to customer account editing
  features/account/customer_account/customer_profile_validation.feature
  features/account/customer_account/editing_customer_profile.feature
  src/Sylius/Behat/Context/Api/Shop/AccountContext.php
  src/Sylius/Behat/Context/Setup/ShopSecurityContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/account/customer.yml
  src/Sylius/Bundle/ApiBundle/DataProvider/CustomerItemDataProvider.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/CustomerItemDataProviderSpec.php
Labels: API

#11875 [API] Not being able to modify cart after completed checkout
  features/checkout/emptying_the_cart_after_checkout.feature
  features/checkout/preventing_cart_from_being_modified_after_checkout.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Setup/ShippingContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/services/contexts/setup.xml
  src/Sylius/Bundle/ApiBundle/CommandHandler/Cart/AddItemToCartHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/OrderItem.xml
Labels: API

#11877 [API] add payment method code to methods endpoint
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/PaymentMethod.xml
Labels: API

#11888 [Api][Shop][Order][Address] Viewing order
  features/account/customer_account/viewing_orders_history/viewing_order.feature
  src/Sylius/Behat/Context/Api/Shop/OrderContext.php
  src/Sylius/Behat/Context/Ui/Shop/AccountContext.php
  src/Sylius/Behat/Resources/config/suites/api/account/customer.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Address.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Checkout/AddressOrder.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Checkout/ChoosePaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Checkout/ChooseShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Order.xml
Labels: API

#11889 [API] Implement choosing province during checkout
  features/checkout/addressing_order/choosing_province_for_country.feature
  features/checkout/addressing_order/specifying_province_manually.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Bundle/ApiBundle/DataProvider/CountryCollectionDataProvider.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Country.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Address.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Country.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Province.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/CountryCollectionDataProviderSpec.php
Labels: API
