Repository Sylius/Sylius, pull requests merged in 2020-07, with the labels that each got.

#11613 [Api][Cart] Cart remove items
  features/cart/shopping_cart/removing_cart_item.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Setup/CartContext.php
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
  src/Sylius/Behat/Resources/config/services/contexts/setup.xml
  src/Sylius/Behat/Resources/config/suites/api/cart/shopping_cart.yml
  src/Sylius/Bundle/ApiBundle/Command/Cart/RemoveItemFromCart.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Cart/RemoveItemFromCartHandler.php
  src/Sylius/Bundle/ApiBundle/DataTransformer/RemoveItemFromCartDataTransformer.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/RemoveItemFromCart.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Cart/RemoveItemFromCartHandlerSpec.php
  src/Sylius/Bundle/OrderBundle/Doctrine/ORM/OrderItemRepository.php
  src/Sylius/Bundle/OrderBundle/Doctrine/ORM/OrderRepository.php
  src/Sylius/Component/Order/Repository/OrderItemRepositoryInterface.php
  src/Sylius/Component/Order/Repository/OrderRepositoryInterface.php
Labels: API

#11580 make product variant comparable
  src/Sylius/Component/Core/Model/ProductVariant.php
  src/Sylius/Component/Core/spec/Model/ProductVariantSpec.php
Labels: Maintenance

#11620 Adding help to the tracking
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Tab/_inventory.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Tab/_inventory.html.twig
  src/Sylius/Bundle/CoreBundle/Form/Extension/ProductVariantTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.en.yml
Labels: Admin

#11626 [Docs] Fix build - Downgrade sphinx to v1.8.5
  docs/requirements.txt
Labels: Bug, Documentation

#11627 Add link to verify BC breaks in Pull request's template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Maintenance

#11619 [Docs] Fixing php-errors in the documentation
  docs/bdd/basic-usage.rst
  docs/book/contributing/documentation/standards.rst
  docs/book/customers/addresses/address_book.rst
  docs/book/installation/sylius_plus_installation.rst
  docs/book/orders/checkout.rst
  docs/book/orders/payments.rst
  docs/book/orders/returns.rst
  docs/book/orders/taxation.rst
  docs/book/products/taxons.rst
  docs/components_and_bundles/bundles/SyliusOrderBundle/models.rst
  docs/components_and_bundles/bundles/SyliusOrderBundle/processors.rst
  docs/components_and_bundles/bundles/SyliusPromotionBundle/summary.rst
  docs/components_and_bundles/bundles/SyliusTaxationBundle/calculating_taxes.rst
  docs/components_and_bundles/bundles/SyliusTaxonomyBundle/taxon.rst
  docs/components_and_bundles/components/Locale/basic_usage.rst
  docs/components_and_bundles/components/Shipping/calculators.rst
  docs/components_and_bundles/components/User/services/canonicalizing.rst
  docs/cookbook/configuration/disabling-shop-admin-api.rst
  docs/cookbook/entities/custom-translatable-model.rst
  docs/cookbook/frontend/webpack.rst
  docs/customization/fixtures.rst
  docs/customization/form.rst
  docs/customization/grid.rst
  docs/customization/menu.rst
  docs/customization/repository.rst
  docs/customization/template.rst
Labels: Documentation

#11287 [Feature] Toggleable taxon
  app/migrations/Version20200325075815.php
  features/homepage/viewing_only_enabled_taxons_in_taxon_menu.feature
  features/product/viewing_products/accessing_disabled_taxon.feature
  features/product/viewing_products/viewing_children_taxons_from_specific_taxon.feature
  features/taxonomy/managing_taxons/toggling_taxon.feature
  src/Sylius/Behat/Context/Api/Shop/HomepageContext.php
  src/Sylius/Behat/Context/Setup/TaxonomyContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingTaxonsContext.php
  src/Sylius/Behat/Context/Ui/Shop/HomepageContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Element/Product/IndexPage/VerticalMenuElement.php
  src/Sylius/Behat/Element/Product/IndexPage/VerticalMenuElementInterface.php
  src/Sylius/Behat/Page/Admin/Taxon/UpdatePage.php
  src/Sylius/Behat/Page/Admin/Taxon/UpdatePageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/services/elements/product.xml
  src/Sylius/Bundle/AdminBundle/Resources/views/Taxon/_form.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Taxon/_treeWithButtons.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Taxon/_treeWithoutButtons.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Taxon/_breadcrumb.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Taxon/_horizontalMenu.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Taxon/_verticalMenu.html.twig
  src/Sylius/Bundle/TaxonomyBundle/Doctrine/ORM/TaxonRepository.php
  src/Sylius/Bundle/TaxonomyBundle/Form/Type/TaxonType.php
  src/Sylius/Bundle/TaxonomyBundle/Resources/config/doctrine/model/Taxon.orm.xml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/messages.en.yml
  src/Sylius/Component/Taxonomy/Model/Taxon.php
  src/Sylius/Component/Taxonomy/Model/TaxonInterface.php
  src/Sylius/Component/Taxonomy/spec/Model/TaxonSpec.php
  tests/Responses/taxon/create_validation_fail_response.json
Labels: Admin, Shop

#11633 Add slick-carousel to ShopBundle entry.js
  src/Sylius/Bundle/ShopBundle/Resources/private/entry.js
Labels: Shop

#11631 Add missing images in entry.js
  src/Sylius/Bundle/ShopBundle/Resources/private/entry.js
Labels: Shop

#11609 Use a placeholder in tracking code sentence in shipment email
  UPGRADE-1.8.md
  src/Sylius/Behat/Context/Ui/EmailContext.php
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/AdminBundle/Resources/views/Email/shipmentConfirmation.html.twig
Labels: Admin, Maintenance

#11636 Update .symfony.insight.yaml to latest PHP version
  .symfony.insight.yaml
Labels: Maintenance

#11643 Update custom-redirect-after-cart-add-action.rst
  docs/cookbook/shop/custom-redirect-after-cart-add-action.rst
Labels: Documentation

#11646 [API][Behat] Usage of proper tense in background
  features/cart/shopping_cart/clearing_cart.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Setup/CartContext.php
  src/Sylius/Behat/Resources/config/services/contexts/setup.xml
Labels: API, Behat

#11642 Add field where You can verify shop user
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/_form.html.twig
  src/Sylius/Bundle/UserBundle/Form/Type/UserType.php
  src/Sylius/Bundle/UserBundle/Resources/translations/messages.en.yml
  tests/Responses/admin_user/create_validation_fail_response.json
  tests/Responses/admin_user/update_validation_fail_response.json
  tests/Responses/customer/create_with_user_validation_fail_response.json
Labels: Admin

#11651 Revert "Add field where You can verify shop user"
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/_form.html.twig
  src/Sylius/Bundle/UserBundle/Form/Type/UserType.php
  src/Sylius/Bundle/UserBundle/Resources/translations/messages.en.yml
  tests/Responses/admin_user/create_validation_fail_response.json
  tests/Responses/admin_user/update_validation_fail_response.json
  tests/Responses/customer/create_with_user_validation_fail_response.json
Labels: Admin

#11654 [Fixtures] Add Poland to fixtures
  src/Sylius/Bundle/CoreBundle/Resources/config/app/fixtures/shop_configuration.yaml
Labels: Enhancement

#11655 [Minor] Remove final keyword
  src/Sylius/Bundle/ApiBundle/Command/Cart/RemoveItemFromCart.php
Labels: API

#11657 Make console commands lazy
  src/Sylius/Bundle/AdminApiBundle/Command/CreateClientCommand.php
  src/Sylius/Bundle/CoreBundle/Command/CancelUnpaidOrdersCommand.php
  src/Sylius/Bundle/CoreBundle/Command/CheckRequirementsCommand.php
  src/Sylius/Bundle/CoreBundle/Command/InformAboutGUSCommand.php
  src/Sylius/Bundle/CoreBundle/Command/InstallAssetsCommand.php
  src/Sylius/Bundle/CoreBundle/Command/InstallCommand.php
  src/Sylius/Bundle/CoreBundle/Command/InstallDatabaseCommand.php
  src/Sylius/Bundle/CoreBundle/Command/InstallSampleDataCommand.php
  src/Sylius/Bundle/CoreBundle/Command/SetupCommand.php
  src/Sylius/Bundle/CoreBundle/Command/ShowAvailablePluginsCommand.php
  src/Sylius/Bundle/OrderBundle/Command/RemoveExpiredCartsCommand.php
  src/Sylius/Bundle/PromotionBundle/Command/GenerateCouponsCommand.php
  src/Sylius/Bundle/UserBundle/Command/DemoteUserCommand.php
  src/Sylius/Bundle/UserBundle/Command/PromoteUserCommand.php
Labels: Enhancement

#11658 [Minor] Move cart commands serialization to separate folder
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Cart/AddItemToCart.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Cart/RemoveItemFromCart.xml
Labels: API

#11661 Loop.first is easier to 0 == loop.index0
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Statistics/_perChannel.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Form/theme.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Macro/translationForm.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/PaymentMethod/_form.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Attribute/attributesCollection.html.twig
Labels: Admin, Enhancement

#11150 Add default value on default local
  src/Sylius/Bundle/AttributeBundle/Form/Type/AttributeType/SelectAttributeType.php
  src/Sylius/Bundle/AttributeBundle/Tests/Form/Type/AttributeType/SelectAttributeTypeTest.php
Labels: Documentation, Maintenance, Potential Bug

#11544 ensure swagger docs route matches the configured new api route
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Swagger/AdminAuthenticationTokenDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/ShopAuthenticationTokenDocumentationNormalizer.php
Labels: API

#11664 Use env(SYLIUS_ADMIN_ROUTING_PATH_NAME) as admin's route name
  UPGRADE-1.8.md
  config/packages/security.yaml
  config/routes/sylius_admin.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/config.yml
Labels: Admin, Maintenance

#11656 [Minor] Move pickup cart command to proper namespace
  src/Sylius/Bundle/ApiBundle/Command/Cart/PickupCart.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/PickupCartHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/PickupCartHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/PropertyInfo/Extractor/EmptyPropertyListExtractorSpec.php
Labels: API

#11668 [Admin] Added collapse menu
  src/Sylius/Bundle/AdminBundle/Resources/private/js/app.js
  src/Sylius/Bundle/AdminBundle/Resources/private/js/sylius-custom-collapse.js
  src/Sylius/Bundle/AdminBundle/Resources/private/sass/_ui.scss
Labels: Admin, UX

#11672 [Product] add flags to product attributes translations
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/_attributes.html.twig
Labels: Admin, UX

#11665 [Api][Product] Product show
  features/product/viewing_products/viewing_product.feature
  src/Sylius/Behat/Client/ResponseChecker.php
  src/Sylius/Behat/Client/ResponseCheckerInterface.php
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/product/viewing_products.yml
  src/Sylius/Bundle/ApiBundle/DataProvider/ProductItemDataProvider.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/ProductItemDataProviderSpec.php
Labels: API

#11671 Fix space position
  src/Sylius/Bundle/ApiBundle/ApiPlatform/Metadata/Property/Factory/ExtractorPropertyMetadataFactory.php
Labels: API

#11674 Revert "[Admin] Added collapse menu"
  src/Sylius/Bundle/AdminBundle/Resources/private/js/app.js
  src/Sylius/Bundle/AdminBundle/Resources/private/js/sylius-custom-collapse.js
  src/Sylius/Bundle/AdminBundle/Resources/private/sass/_ui.scss
Labels: Admin

#11637 [DOC] Fix webpack usage with appropriate _logo.html.twig template
  docs/theming/webpack.rst
Labels: Documentation

#11676 changed place of attribute tag
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
Labels: API, DX

#11675 [API] Initial checkout implementation - fixes
  features/checkout/paying_for_order/paying_offline_during_checkout_as_guest.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/checkout/paying_for_order.yml
  src/Sylius/Bundle/ApiBundle/Command/Checkout/ChoosePaymentMethod.php
  src/Sylius/Bundle/ApiBundle/Command/Checkout/ChooseShippingMethod.php
  src/Sylius/Bundle/ApiBundle/Command/Checkout/CompleteOrder.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/ChoosePaymentMethodHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/ChooseShippingMethodHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/CompleteOrderHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Checkout/ChoosePaymentMethodHandler.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Checkout/ChooseShippingMethodHandler.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/ChoosePaymentMethodHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/ChooseShippingMethodHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/CompleteOrderHandlerSpec.php
Labels: API, Feature

#11694 [Hot-Fix] Add conflict to symfonyą/form 4.11 and nikic/php-parser 4.7
  composer.json
Labels: Maintenance

#11691 Update dates for 1.7 and 1.8 release cycle
  docs/book/organization/release-cycle.rst
Labels: Documentation

#11693 [Api]Add AddressDenormalizer
  src/Sylius/Bundle/ApiBundle/Command/Checkout/AddressOrder.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Serializer/AddressDenormalizer.php
Labels: API
