Repository Sylius/Sylius, pull requests merged in 2020-06, with the labels that each got.

#11540 [Docs] Update order processor documentation
  docs/components_and_bundles/components/Order/processors.rst
Labels: Documentation

#11535 Resolve awaiting_payment state in resolver
  src/Sylius/Bundle/CoreBundle/Resources/config/app/state_machine/sylius_payment.yml
  src/Sylius/Component/Core/StateResolver/OrderPaymentStateResolver.php
  src/Sylius/Component/Core/spec/StateResolver/OrderPaymentStateResolverSpec.php
Labels: Feature

#11542 [Maintenance] Add conflict to the 4.4.9 version of symfony/form
  composer.json
Labels: Bug, Maintenance

#11541 fixed url to send valid key for channel
  src/Sylius/Bundle/AdminBundle/Controller/DashboardController.php
Labels: Admin

#11543 [Travis] Fix deprecations in the config
  .travis.yml
Labels: Enhancement, Maintenance

#11560 [HOTFIX] Fix build
  etc/travis/suites/application/script/test-behat-with-javascript
  src/Sylius/Behat/Client/ResponseChecker.php
  src/Sylius/Behat/Client/ResponseCheckerInterface.php
Labels: API, Behat, Bug, Maintenance

#11517 [Api] Add test for checking access
  features/shipping/managing_shipping_methods/denying_access_to_shipping_methods_for_unauthorized_users.feature
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Client/ResponseChecker.php
  src/Sylius/Behat/Client/ResponseCheckerInterface.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingMethodsContext.php
Labels: API

#11548 [Api][Cart] Clear cart
  features/cart/shopping_cart/clearing_cart.feature
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Client/ResponseChecker.php
  src/Sylius/Behat/Client/ResponseCheckerInterface.php
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Transform/CartTokenContext.php
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/transform.xml
  src/Sylius/Behat/Resources/config/suites/api/cart/shopping_cart.yml
  src/Sylius/Bundle/ApiBundle/CommandHandler/PickupCartHandler.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryItemExtension/OrderDeleteMethodExtension.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryItemExtension/OrderGetMethodExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/PickupCartHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryItemExtension/OrderDeleteMethodExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryItemExtension/OrderGetMethodExtensionSpec.php
Labels: API, Feature

#11558 switch timeframe on admin dashboard
  src/Sylius/Bundle/AdminBundle/Resources/private/js/sylius-chart.js
  src/Sylius/Bundle/AdminBundle/Resources/private/js/sylius-statistics.js
  src/Sylius/Bundle/AdminBundle/Resources/private/sass/_ui.scss
  src/Sylius/Bundle/AdminBundle/Resources/views/Dashboard/Statistics/_template.html.twig
Labels: Admin, Feature, UX

#11545 Add priority to payment gateways
  src/Sylius/Bundle/PayumBundle/DependencyInjection/Compiler/RegisterGatewayConfigTypePass.php
  src/Sylius/Bundle/PayumBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/PayumBundle/Tests/DependencyInjection/Compiler/RegisterGatewayConfigTypePassTest.php
Labels: Feature

#11534 Add Sylius template event
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Tab/_inventory.html.twig
Labels: Admin

#11564 [Minor][Behat] Typo fix
  features/shipping/managing_shipping_methods/denying_access_to_shipping_methods_for_unauthorized_users.feature
Labels: Behat

#11567 [Doc] change sylius.security.shop_regex in doc for new api
  UPGRADE-1.8.md
Labels: Documentation

#11581 [Doc] Sylius 1.4 end of security support
  docs/book/organization/release-cycle.rst
Labels: Documentation

#11584 [Fix] Less strict symfony form conflict
  composer.json
Labels: Bug, Environment

#11566 Limit dashboard move on future dates
  src/Sylius/Bundle/AdminBundle/Resources/private/js/date-object-factory.js
  src/Sylius/Bundle/AdminBundle/Resources/private/js/dateObjects/month-date-object.js
  src/Sylius/Bundle/AdminBundle/Resources/private/js/dateObjects/week-date-object.js
  src/Sylius/Bundle/AdminBundle/Resources/private/js/dateObjects/year-date-object.js
  src/Sylius/Bundle/AdminBundle/Resources/private/js/sylius-statistics.js
Labels: Admin, Feature

#11529 [RFC] Using tabs for channel pricing
  features/product/managing_products/removing_product_price_after_channel_deletion.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductVariantsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Page/Admin/Product/CreateSimpleProductPage.php
  src/Sylius/Behat/Page/Admin/Product/CreateSimpleProductPageInterface.php
  src/Sylius/Behat/Page/Admin/Product/UpdateSimpleProductPage.php
  src/Sylius/Behat/Page/Admin/Product/UpdateSimpleProductPageInterface.php
  src/Sylius/Behat/Page/Admin/ProductVariant/CreatePage.php
  src/Sylius/Behat/Page/Admin/ProductVariant/CreatePageInterface.php
  src/Sylius/Behat/Page/Admin/ProductVariant/GeneratePage.php
  src/Sylius/Behat/Page/Admin/ProductVariant/GeneratePageInterface.php
  src/Sylius/Behat/Page/Admin/ProductVariant/UpdatePage.php
  src/Sylius/Behat/Page/Admin/ProductVariant/UpdatePageInterface.php
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Tab/_details.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/_channel_pricing.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Tab/_details.html.twig
Labels: Admin

#11586 fix left navigation arrow double click on admin statistics
  src/Sylius/Bundle/AdminBundle/Resources/private/js/sylius-statistics.js
Labels: Admin

#11582 [Maintenance] Update github PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation

#11571 [Admin] Make sidebar menu searchable
  src/Sylius/Bundle/AdminBundle/Resources/private/js/app.js
  src/Sylius/Bundle/AdminBundle/Resources/private/js/sylius-menu-search.js
  src/Sylius/Bundle/AdminBundle/Resources/views/Layout/_menu.html.twig
Labels: Admin, UX

#11589 [Docs] fix sylius plus deployment
  docs/cookbook/deployment/platform-sh.rst
Labels: Documentation

#11522 [Homepage] Change lorem ipsum description and fix carousel header
  src/Sylius/Bundle/ShopBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/ShopBundle/Resources/views/Homepage/_aboutUs.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Homepage/_latestProductsCarousel.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Homepage/_newsletter.html.twig
Labels: Shop, UX

#11593 Upgrade static analysis tools and improve their usage
  composer.json
  phpstan.neon
  psalm.xml
  symfony.lock
Labels: Maintenance

#11601 [Api][Cart] Fix minor bug
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
Labels: API

#11377 Filter the orders grid on shipping method
  features/order/managing_orders/order_filtration/filtering_orders_by_shipping_method.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingOrdersContext.php
  src/Sylius/Behat/Page/Admin/Order/IndexPage.php
  src/Sylius/Behat/Page/Admin/Order/IndexPageInterface.php
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/order.yml
Labels: Admin

#11612 Don't call the backend if the notification bar is disabled
  src/Sylius/Bundle/AdminBundle/Resources/private/js/sylius-notification.js
Labels: Admin

#11367 Check different shipping address field and display shipping address form
  features/checkout/addressing_order/returning_to_addressing_step_with_a_different_shipping_address.feature
  src/Sylius/Behat/Context/Ui/Shop/Checkout/CheckoutAddressingContext.php
  src/Sylius/Behat/Page/Shop/Checkout/AddressPage.php
  src/Sylius/Behat/Page/Shop/Checkout/AddressPageInterface.php
  src/Sylius/Bundle/CoreBundle/Form/Type/Checkout/AddressType.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/checkout.xml
Labels: Enhancement, Feature

#11616 [API] Secure subresources' endpoints
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOptionValue.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Province.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShopBillingData.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ZoneMember.xml
Labels: API, Bug

#11615 [Composer] Remove conflict to api-platform/core
  composer.json
  psalm.xml
  src/Sylius/Bundle/ApiBundle/ApiPlatform/Bridge/Doctrine/ORM/SubresourceDataProvider.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
Labels: API, Bug
