Repository Sylius/Sylius, pull requests merged in 2020-03, with the labels that each got.

#11166 [Behat][ProductAttribute] Remove unnecessary step
  features/product/managing_product_attributes/text_product_attribute_validation.feature
Labels: Admin, Behat, Bug

#11168 [Docs] Remove sensio.sphinx.refinclude
  docs/conf.py
Labels: Documentation, Maintenance

#11167 Fix UPGRADE-1.7 file
  UPGRADE-1.7.md
Labels: Maintenance

#11111 [Docs] Recommend trait usage in Plugin Development Guide
  docs/plugin-development-guide/implementation.rst
Labels: Documentation

#11147 [Plus Docs] Installation guide improvement and Administrator Roles
  docs/book/customers/adminuser.rst
  docs/book/installation/sylius_plus_installation.rst
Labels: Documentation

#11169 [missing return] Update basic-usage
  docs/bdd/basic-usage.rst
Labels: Documentation

#11146 [Behat][Admin] Fix step with checking number of orders in the list
  src/Sylius/Behat/Context/Ui/Admin/ManagingOrdersContext.php
Labels: Admin, Behat, Bug

#11164 [typography] return function
  docs/cookbook/emails/disabling-order-confirmation-email.rst
Labels: Documentation

#11141 [Api] Shipping categories create index update and delete
  features/shipping/managing_shipping_categories/adding_shipping_category.feature
  features/shipping/managing_shipping_categories/browsing_shipping_categories.feature
  features/shipping/managing_shipping_categories/deleting_shipping_category.feature
  features/shipping/managing_shipping_categories/editing_shipping_category.feature
  features/shipping/managing_shipping_categories/shipping_category_unique_code_validation.feature
  features/shipping/managing_shipping_categories/shipping_category_validation.feature
  src/Sylius/Behat/Client/ApiClientInterface.php
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductOptionsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingCategoriesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingTaxCategoriesContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingShippingCategoriesContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/shipping/managing_shipping_categories.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingCategory.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/ShippingCategory.xml
Labels: API, Feature

#11177 [Documentation] Sylius Plus docs part 2; including fixes to links
  docs/book/architecture/emails.rst
  docs/book/customers/map.rst.inc
  docs/book/index.rst
  docs/book/installation/map.rst.inc
  docs/book/introduction/introduction.rst
  docs/book/orders/map.rst.inc
  docs/book/orders/returns.rst
  docs/book/products/map.rst.inc
  docs/book/products/multi_source_inventory.rst
  docs/cookbook/index.rst
  docs/cookbook/inventory/custom-inventory-sources-filter.rst
  docs/cookbook/inventory/map.rst.inc
Labels: Documentation

#11176 [Order] add margin around resent shipment button
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/_shipment.html.twig
Labels: UX

#11174 [API] JWT Authentication
  .env
  .env.test
  .env.test_cached
  .gitignore
  composer.json
  config/bundles.php
  config/jwt/.gitkeep
  config/packages/api_platform.yaml
  config/packages/lexik_jwt_authentication.yaml
  config/packages/security.yaml
  config/services_test.yaml
  etc/travis/suites/application/install.sh
  features/admin/sign_in.feature
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Client/ApiPlatformSecurityClient.php
  src/Sylius/Behat/Client/ApiSecurityClientInterface.php
  src/Sylius/Behat/Context/Api/Admin/LoginContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCustomerGroupsContext.php
  src/Sylius/Behat/Context/Setup/AdminApiSecurityContext.php
  src/Sylius/Behat/Context/Setup/AdminSecurityContext.php
  src/Sylius/Behat/Resources/config/services.xml
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/setup.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/admin/login.yml
  src/Sylius/Behat/Resources/config/suites/api/product/managing_product_options.yml
  src/Sylius/Behat/Resources/config/suites/api/taxation/managing_tax_categories.yml
  src/Sylius/Behat/Resources/config/suites/api/user/managing_customer_groups.yml
  src/Sylius/Behat/Service/ApiSecurityService.php
  src/Sylius/Behat/Service/SecurityService.php
  src/Sylius/Behat/Service/SecurityServiceInterface.php
  src/Sylius/Bundle/ApiBundle/Resources/config/routing.yml
  symfony.lock
Labels: API, Feature

#11181 Sylius Plus feature scope update
  README.md
Labels: Documentation

#11182 [Docs][Plus] Add docs about administrators per channel
  docs/book/customers/admin_user.rst
  docs/book/customers/index.rst
  docs/book/customers/map.rst.inc
  docs/book/index.rst
Labels: Documentation

#11179 [Maintenance] Remove uneeded step
  features/product/managing_product_attributes/text_product_attribute_validation.feature
Labels: Behat, Bug

#11183 [Docs][Plus] Update docs about admin user fixtures
  docs/book/customers/admin_user.rst
Labels: Documentation

#11184 [API][Docs] Authorization docs
  src/Sylius/Bundle/ApiBundle/docs/authorization.md
  src/Sylius/Bundle/ApiBundle/docs/images/api-platform-authorization.png
  src/Sylius/Bundle/ApiBundle/docs/images/api-platform-authorized.png
  src/Sylius/Bundle/ApiBundle/docs/images/api-platform-not-authorized.png
Labels: API, Documentation

#11188 [Admin][Shipment] Add back button on shipment show page
  src/Sylius/Bundle/AdminBundle/Resources/views/Shipment/show.html.twig
Labels: Admin, Feature

#11173 [API] [Product Review] Configure product review as a API resource with tests
  features/product/managing_product_reviews/accepting_product_review.feature
  features/product/managing_product_reviews/browsing_product_reviews.feature
  features/product/managing_product_reviews/deleting_product_review.feature
  features/product/managing_product_reviews/editing_product_review.feature
  features/product/managing_product_reviews/product_review_validation.feature
  features/product/managing_product_reviews/recalculating_product_average_rating.feature
  features/product/managing_product_reviews/rejecting_product_review.feature
  src/Sylius/Behat/Client/ApiClientInterface.php
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductReviewsContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/product/managing_product_reviews.yml
  src/Sylius/Behat/Resources/config/suites/api/product/managing_product_variants.yml
  src/Sylius/Bundle/ApiBundle/Applicator/ProductReviewStateMachineTransitionApplicator.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
Labels: API, Feature

#11158 [ADR] First ADRs about API and Product Options
  adr/api/2020-03-03-API-Coverage.md
  adr/api/2020-03-03-API-Product-Option-Values.md
  adr/api/2020-03-03-API-Translations.md
Labels: API, Documentation

#11192 Fixtures: fix French translation of cap
  src/Sylius/Bundle/CoreBundle/Resources/config/app/fixtures/cap.yaml
Labels: Bug

#11162 [API] Minor fixes after tax categories api configured
  src/Sylius/Behat/Context/Api/Admin/ManagingTaxCategoriesContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api.xml
Labels: API, Enhancement

#11194 Opening show in the store in new tab from admin
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/_showInShopButton.html.twig
Labels: UX

#11196 [API] Resources parameters in configuration
  src/Sylius/Behat/Resources/config/suites/api/currency/managing_currencies.yml
  src/Sylius/Behat/Resources/config/suites/api/product/managing_product_variants.yml
  src/Sylius/Behat/Resources/config/suites/api/shipping/managing_shipping_categories.yml
  src/Sylius/Behat/Resources/config/suites/api/taxation/managing_tax_categories.yml
  src/Sylius/Behat/Resources/config/suites/api/taxon/managing_taxons.yml
  src/Sylius/Behat/Resources/config/suites/api/user/managing_customer_groups.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Currency.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CustomerGroup.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOption.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOptionTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOptionValue.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingCategory.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/TaxCategory.xml
Labels: API, DX

#11199 [Api] Temporarily hide customer and product collection operations
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
Labels: API, Admin, Enhancement

#11198 [API] Include private and public keys for test environments
  .gitignore
  config/jwt/private-test.pem
  config/jwt/public-test.pem
  etc/travis/suites/application/install.sh
Labels: DX, Maintenance

#11197 [API][Product review] Minor fixes after product review api merged
  features/product/managing_product_reviews/recalculating_product_average_rating.feature
  psalm.xml
  src/Sylius/Behat/Client/ApiClientInterface.php
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductReviewsContext.php
  src/Sylius/Behat/Context/Transform/ProductReviewContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/spec/Applicator/ProductReviewStateMachineTransitionApplicatorSpec.php
Labels: API, Enhancement

#11178 [API] [Exchange Rate] Add api configuration and tests
  features/currency/managing_exchange_rates/adding_exchange_rate.feature
  features/currency/managing_exchange_rates/browsing_exchange_rates.feature
  features/currency/managing_exchange_rates/deleting_exchange_rate.feature
  features/currency/managing_exchange_rates/editing_exchange_rate.feature
  features/currency/managing_exchange_rates/exchange_rate_validation.feature
  features/currency/managing_exchange_rates/inability_of_adding_exchange_rate_with_same_currency_pair.feature
  src/Sylius/Behat/Client/ApiClientInterface.php
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Context/Api/Admin/ManagingExchangeRatesContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingExchangeRatesContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/currency/managing_exchange_rates.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ExchangeRate.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/ExchangeRate.xml
Labels: API, Feature

#11201 [Docs] [Installation] Update latest stable version
  docs/book/installation/installation.rst
  docs/getting-started-with-sylius/installation.rst
Labels: Documentation

#11207 Add translations issue template
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/documentation-issue.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/security-issue.md
  .github/ISSUE_TEMPLATE/support-question.md
  .github/ISSUE_TEMPLATE/translations.md
Labels: Maintenance

#11209 Rename to a more explicit word
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
Labels: Bug, UX

#11215 [API][Payment] Managing states and filtering by states
  composer.json
  features/payment/managing_payments/filtering_payments_by_state.feature
  features/payment/managing_payments/managing_of_payment_status.feature
  phpspec.yml.dist
  src/Sylius/Behat/Context/Api/Admin/ManagingPaymentsContext.php
  src/Sylius/Behat/Context/Setup/OrderContext.php
  src/Sylius/Behat/Context/Transform/OrderContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingPaymentsContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api.xml
  src/Sylius/Behat/Resources/config/suites/api/payment/managing_payments.yml
  src/Sylius/Bundle/ApiBundle/Applicator/PaymentStateMachineTransitionApplicator.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Payment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/spec/Applicator/PaymentStateMachineTransitionApplicatorSpec.php
Labels: API, Admin, Feature

#11214 Use https instead of http for Channel's hostname in form
  src/Sylius/Bundle/AdminBundle/Resources/views/Channel/_form.html.twig
Labels: Admin, Enhancement

#11212 Use events fully for layout css and js
  src/Sylius/Bundle/AdminBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/AdminBundle/Resources/views/layout.html.twig
Labels: UX

#11211 Use the sylius_ui for css and js on admin login screen
  src/Sylius/Bundle/AdminBundle/Resources/views/Security/login.html.twig
Labels: UX

#11190 [Maintenance] Update github PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Maintenance

#11189 [Minor] [Behat] Typo fix
  src/Sylius/Behat/Context/Ui/Admin/ManagingShipmentsContext.php
Labels: Behat

#11217 [API][Payment] Implement filtering payments by channel feature
  features/payment/managing_payments/filtering_payments_by_channel.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingPaymentsContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
Labels: API, Admin, Feature

#11210 [API] Refactor ApiPlatformClient ver.1
  src/Sylius/Behat/Client/ApiClientInterface.php
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Client/Request.php
  src/Sylius/Behat/Client/RequestInterface.php
  src/Sylius/Behat/Client/ResponseChecker.php
  src/Sylius/Behat/Client/ResponseCheckerInterface.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCurrenciesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCustomerGroupsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingExchangeRatesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingPaymentsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductOptionsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductReviewsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingCategoriesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingTaxCategoriesContext.php
  src/Sylius/Behat/Context/Api/Admin/NotificationContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api.xml
  src/Sylius/Behat/Resources/config/suites/api/currency/managing_currencies.yml
  src/Sylius/Behat/Resources/config/suites/api/currency/managing_exchange_rates.yml
  src/Sylius/Behat/Resources/config/suites/api/payment/managing_payments.yml
  src/Sylius/Behat/Resources/config/suites/api/product/managing_product_options.yml
  src/Sylius/Behat/Resources/config/suites/api/product/managing_product_reviews.yml
  src/Sylius/Behat/Resources/config/suites/api/shipping/managing_shipping_categories.yml
  src/Sylius/Behat/Resources/config/suites/api/taxation/managing_tax_categories.yml
  src/Sylius/Behat/Resources/config/suites/api/user/managing_customer_groups.yml
Labels: API, Behat, DX

#11220 [API] Refactor ApiPlatformClient ver.2
  src/Sylius/Behat/Client/ApiClientInterface.php
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Client/Request.php
  src/Sylius/Behat/Client/RequestInterface.php
  src/Sylius/Behat/Context/Api/Admin/ManagingExchangeRatesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingPaymentsContext.php
Labels: API, Behat, DX

#11221 [API][Behat] Add comment to notification assertion
  src/Sylius/Behat/Context/Api/Admin/ManagingCurrenciesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCustomerGroupsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingExchangeRatesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingPaymentsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductOptionsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductReviewsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingCategoriesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingTaxCategoriesContext.php
Labels: API, Admin, Behat, DX

#11224 [API][Behat] Minor contexts refactor
  src/Sylius/Behat/Context/Api/Admin/ManagingCurrenciesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCustomerGroupsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingExchangeRatesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingPaymentsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductOptionsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductReviewsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingCategoriesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingTaxCategoriesContext.php
Labels: API, Behat, DX

#11222 [API] CS fixes in configuration of api resources and serializer
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Currency.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CustomerGroup.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ExchangeRate.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Payment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/PaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOption.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOptionTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOptionValue.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingCategory.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/TaxCategory.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/CustomerGroup.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/ExchangeRate.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/Payment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/PaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/ProductOption.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/ProductOptionTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/ProductOptionValue.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/ProductOptionValueTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/ShippingCategory.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/TaxCategory.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
Labels: API, DX

#11230 [Api] Shipment filtering and State machine without tracking code
  features/shipping/managing_shipments/filtering_shipments_by_channel.feature
  features/shipping/managing_shipments/filtering_shipments_by_state.feature
  features/shipping/managing_shipments/shipping_a_shipment_from_shipment_list.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingShipmentsContext.php
  src/Sylius/Behat/Resources/config/suites/api/shipping/managing_shipments.yml
  src/Sylius/Bundle/ApiBundle/Applicator/ShipmentStateMachineTransitionApplicator.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Shipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShipmentUnit.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/spec/Applicator/ShipmentStateMachineTransitionApplicatorSpec.php
Labels: API, Admin, Feature

#11225 [ADR] Prepare a template and customise existing ones
  adr/2020_03_03_api_product_option_values.md
  adr/2020_03_03_api_translations.md
  adr/2020_03_03_feature_coverage_in_api.md
  adr/_readme.md
  adr/_template.md
  adr/api/2020-03-03-API-Coverage.md
Labels: DX

#11231 [API] shipping shipment with tracking code + minor fixes
  features/shipping/managing_shipments/shipping_a_shipment_from_shipment_list.feature
  src/Sylius/Behat/Client/ApiClientInterface.php
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShipmentsContext.php
  src/Sylius/Bundle/ApiBundle/Applicator/ShipmentStateMachineTransitionApplicator.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Shipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShipmentUnit.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/Shipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/spec/Applicator/ShipmentStateMachineTransitionApplicatorSpec.php
Labels: API, Admin, Feature

#11232 [API][Administrator] Implement browsing administrators feature
  features/user/managing_administrators/browsing_administrator.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingAdministratorsContext.php
  src/Sylius/Behat/Context/Setup/AdminUserContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/user/managing_administrators.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/AdminUser.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/AdminUser.xml
Labels: API, Admin, Feature

#11227 Update Bootstrap-theme.rst
  docs/theming/bootstrap-theme.rst
Labels: Documentation

#11236 Typo fix
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.en.yml
Labels: Enhancement

#11237 [API][Administrator] Implement adding administrators features
  features/user/managing_administrators/adding_administrator.feature
  features/user/managing_administrators/administrator_unique_email_and_name_validation.feature
  features/user/managing_administrators/administrator_validation.feature
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Context/Api/Admin/ManagingAdministratorsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingAdministratorsContext.php
  src/Sylius/Behat/Resources/config/suites/api/user/managing_administrators.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/AdminUser.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/AdminUser.xml
Labels: API, Admin, Feature

#11246 [API] Browsing and deleting shipping methods
  features/shipping/managing_shipping_methods/browsing_shipping_methods.feature
  features/shipping/managing_shipping_methods/deleting_shipping_method.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingMethodsContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/shipping/managing_shipping_methods.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/ShippingMethod.xml
Labels: API, Feature

#11239 [API][Order] Orders browsing, cancelling and cancelling with promotion
  config/packages/api_platform.yaml
  features/order/managing_orders/browsing_orders.feature
  features/order/managing_orders/cancelling_order.feature
  features/order/managing_orders/cancelling_order_with_promotion.feature
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Context/Api/Admin/ManagingOrdersContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/order/managing_orders.yml
  src/Sylius/Bundle/ApiBundle/Applicator/OrderStateMachineTransitionApplicator.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/spec/Applicator/OrderStateMachineTransitionApplicatorSpec.php
Labels: API, Feature

#11245 [API][Administrator] Implement deleting and editing administrators features
  config/packages/api_platform.yaml
  features/user/managing_administrators/deleting_administrators.feature
  features/user/managing_administrators/editing_administrator.feature
  src/Sylius/Behat/Context/Api/Admin/LoginContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingAdministratorsContext.php
  src/Sylius/Behat/Context/Transform/AdminUserContext.php
  src/Sylius/Behat/Resources/config/services/contexts/transform.xml
  src/Sylius/Behat/Resources/config/suites/api/user/managing_administrators.yml
  src/Sylius/Bundle/ApiBundle/DataPersister/AdminUserDataPersister.php
  src/Sylius/Bundle/ApiBundle/Exception/CannotRemoveCurrentlyLoggedInUser.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/AdminUser.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/AdminUser.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/spec/DataPersister/AdminUserDataPersisterSpec.php
Labels: API, Feature

#11252 [API] Change operation path resolver from underscore to dash resolver
  config/packages/api_platform.yaml
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductReview.xml
Labels: API

#11254 [API] Adding shipping methods
  features/shipping/managing_shipping_methods/adding_shipping_method.feature
  src/Sylius/Behat/Client/ResponseChecker.php
  src/Sylius/Behat/Client/ResponseCheckerInterface.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingMethodsContext.php
  src/Sylius/Behat/Context/Transform/ZoneContext.php
  src/Sylius/Behat/Service/SharedStorage.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Channel.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethodTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/ShippingMethodTranslation.xml
Labels: API, Feature

#11255 [API][Administrator] Implement managing avatar features
  features/user/managing_administrators/adding_avatar_to_administrator.feature
  features/user/managing_administrators/changing_administrator_avatar.feature
  features/user/managing_administrators/removing_administrator_avatar.feature
  src/Sylius/Behat/Client/ApiClientInterface.php
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Client/Request.php
  src/Sylius/Behat/Client/RequestInterface.php
  src/Sylius/Behat/Context/Api/Admin/ManagingAdministratorsContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api.xml
  src/Sylius/Bundle/ApiBundle/Controller/UploadAvatarImageAction.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/AdminUser.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/AvatarImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/AdminUser.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/AvatarImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/DependencyInjection/Configuration.php
Labels: API, Feature

#11248 [API][Order] Fulfilling orders
  features/order/managing_orders/fulfilling_order.feature
  src/Sylius/Behat/Client/Request.php
  src/Sylius/Behat/Context/Api/Admin/ManagingOrdersContext.php
  src/Sylius/Behat/Context/Setup/OrderContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api.xml
Labels: API, Feature

#11257 [API] Editing and validation of shipping methods
  features/shipping/managing_shipping_methods/editing_shipping_method.feature
  features/shipping/managing_shipping_methods/shipping_method_unique_code_validation.feature
  features/shipping/managing_shipping_methods/shipping_method_validation.feature
  features/shipping/managing_shipping_methods/toggling_shipping_method.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingMethodsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingShippingMethodsContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/ShippingMethodTranslation.xml
Labels: API, Feature

#11258 [Minor] Improve ShippingCategory test
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingCategoriesContext.php
Labels: Enhancement

#11251 [API][Product] Crud product validation sorting
  features/product/managing_products/product_validation.feature
  features/product/managing_products/select_taxons_for_new_product.feature
  features/product/managing_products/select_taxons_for_product.feature
  features/product/managing_products/sorting_products.feature
  src/Sylius/Behat/Client/ApiClientInterface.php
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Context/Transform/TaxonContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Taxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/Taxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
Labels: API, Feature

#11260 [Api][Product] Fix default product sorting
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
Labels: API, Bug

#11262 [API] Protect shipping method from removal when in use
  config/packages/api_platform.yaml
  features/shipping/managing_shipping_methods/preventing_deletion_of_used_shipping_method.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingMethodsContext.php
  src/Sylius/Behat/Resources/config/suites/api/shipping/managing_shipping_methods.yml
  src/Sylius/Bundle/ApiBundle/DataPersister/ShippingMethodDataPersister.php
  src/Sylius/Bundle/ApiBundle/Exception/ShippingMethodCannotBeRemoved.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
Labels: API, Feature

#11267 [API] Sorting shipping method by code and position
  features/shipping/managing_shipping_methods/sorting_shipping_methods_by_name_or_code.feature
  features/shipping/managing_shipping_methods/sorting_shipping_methods_by_position.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingMethodsContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
Labels: API, Feature

#11266 [API] Hide archived shipping methods
  features/shipping/managing_shipping_methods/archiving_shipping_methods.feature
  src/Sylius/Behat/Client/ApiClientInterface.php
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Client/Request.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingMethodsContext.php
  src/Sylius/Bundle/ApiBundle/Controller/ArchiveShippingMethodAction.php
  src/Sylius/Bundle/ApiBundle/DataPersister/ShippingMethodDataPersister.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/HideArchivedShippingMethodExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serializer/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
Labels: API, Feature

#11268 [API] Sorting shipping methods by name
  features/shipping/managing_shipping_methods/sorting_shipping_methods_by_name_or_code.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingMethodsContext.php
  src/Sylius/Bundle/ApiBundle/Filters/TranslationOrderFilter.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
Labels: API, Feature

#11270 Fix build with API Behat
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingMethodsContext.php
  src/Sylius/Behat/Resources/config/suites/api/shipping/managing_shipping_methods.yml
Labels: API, Behat, Bug

#11274 [API][Administrator] Refactor upload action in api client + minor fixes
  src/Sylius/Behat/Client/ApiClientInterface.php
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Client/Request.php
  src/Sylius/Behat/Client/RequestInterface.php
  src/Sylius/Behat/Context/Api/Admin/ManagingAdministratorsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductsContext.php
Labels: API, Enhancement

#11269 [API] Archivization toggling and filtration
  features/shipping/managing_shipping_methods/archiving_shipping_methods.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingMethodsContext.php
  src/Sylius/Bundle/ApiBundle/Applicator/ArchivizationShippingMethodApplicator.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/HideArchivedShippingMethodExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
Labels: API, Feature

#11273 [API] add locale to Api Platform
  features/locale/managing_locales/adding_locale.feature
  features/locale/managing_locales/locale_unique_code_validation.feature
  features/locale/managing_locales/locale_validation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingLocalesContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/locale/managing_locales.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Locale.xml
Labels: API, Feature

#11275 [API] Move API Platform configuration to ApiBundle
  config/packages/_sylius.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
Labels: API, Maintenance

#11259 [Behat] Rework Shop > Product > Show
  src/Sylius/Behat/Page/Shop/Account/Order/IndexPage.php
  src/Sylius/Bundle/UiBundle/Resources/views/Macro/buttons.html.twig
Labels: Behat, Bug, DX

#11280 Order feature folder reorganization
  features/order/managing_orders/browsing_orders/browsing_orders.feature
  features/order/managing_orders/browsing_orders/seeing_orders_currency_on_index.feature
  features/order/managing_orders/browsing_orders/seeing_orders_payment_amount_including_all_fees.feature
  features/order/managing_orders/browsing_orders/seeing_orders_with_different_currency_on_index.feature
  features/order/managing_orders/browsing_orders/sequential_order_number_generation.feature
  features/order/managing_orders/browsing_orders/sorting_orders_by_number.feature
  features/order/managing_orders/handling_order_payment/finalizing_order_payment.feature
  features/order/managing_orders/handling_order_payment/placing_order_with_payment.feature
  features/order/managing_orders/handling_order_payment/refunding_order_payment.feature
  features/order/managing_orders/handling_order_shipment/placing_order_with_shipment.feature
  features/order/managing_orders/handling_order_shipment/resending_shipment_confirmation_email.feature
  features/order/managing_orders/handling_order_shipment/sending_confirmation_email_after_shipping_order.feature
  features/order/managing_orders/handling_order_shipment/shipping_order.feature
  features/order/managing_orders/order_details/seeing_order.feature
  features/order/managing_orders/order_details/seeing_order_aggregated_discounts.feature
  features/order/managing_orders/order_details/seeing_order_aggregated_taxes.feature
  features/order/managing_orders/order_details/seeing_order_currency_on_show.feature
  features/order/managing_orders/order_details/seeing_order_discounts.feature
  features/order/managing_orders/order_details/seeing_order_item_detailed_data.feature
  features/order/managing_orders/order_details/seeing_order_item_included_taxes.feature
  features/order/managing_orders/order_details/seeing_order_item_taxes.feature
  features/order/managing_orders/order_details/seeing_order_items_with_proper_names.feature
  features/order/managing_orders/order_details/seeing_order_new_state_after_customers_checkout.feature
  features/order/managing_orders/order_details/seeing_order_payment_state_as_completed_if_free_order_coupon_was_applied.feature
  features/order/managing_orders/order_details/seeing_order_payment_state_as_completed_if_order_total_is_zero.feature
  features/order/managing_orders/order_details/seeing_order_shipment_state_after_checkout.feature
  features/order/managing_orders/order_details/seeing_order_shipment_state_as_shipped_if_there_is_not_shipments_to_deliver.feature
  features/order/managing_orders/order_details/seeing_order_shipping_fees.feature
  features/order/managing_orders/order_details/seeing_order_shipping_taxes.feature
  features/order/managing_orders/order_details/seeing_order_shipping_total.feature
  features/order/managing_orders/order_details/seeing_order_with_different_promotions.feature
  features/order/managing_orders/order_details/seeing_order_with_items.feature
  features/order/managing_orders/order_details/seeing_order_without_shipping_address.feature
  features/order/managing_orders/order_details/seeing_province_created_manually_on_order_page.feature
  features/order/managing_orders/order_details/seeing_shipment_shipping_date.feature
  features/order/managing_orders/order_filtration/filtering_orders_by_channel.feature
  features/order/managing_orders/order_filtration/filtering_orders_by_date.feature
  features/order/managing_orders/order_filtration/filtering_orders_by_total_in_different_currencies.feature
Labels: Behat, Maintenance

#11283 [API] Add endpoint to Swagger to retrieve a JWT token
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Swagger/DocumentationNormalizer.php
Labels: API, DX, Enhancement

#11286 [Docs][API] Reorganize Sylius API docs + add authorization in Swagger UI
  docs/_images/sylius_api/api_platform_authentication_endpoint.png
  docs/_images/sylius_api/api_platform_authentication_response.png
  docs/_images/sylius_api/api_platform_authorization.png
  docs/_images/sylius_api/api_platform_authorized.png
  docs/_images/sylius_api/api_platform_not_authorized.png
  docs/api/admin_api/admin_users.rst
  docs/api/admin_api/authorization.rst
  docs/api/admin_api/carts.rst
  docs/api/admin_api/channels.rst
  docs/api/admin_api/checkouts.rst
  docs/api/admin_api/countries.rst
  docs/api/admin_api/currencies.rst
  docs/api/admin_api/customers.rst
  docs/api/admin_api/exchange_rates.rst
  docs/api/admin_api/index.rst
  docs/api/admin_api/introduction.rst
  docs/api/admin_api/locales.rst
  docs/api/admin_api/map.rst.inc
  docs/api/admin_api/orders.rst
  docs/api/admin_api/payment_methods.rst
  docs/api/admin_api/payments.rst
  docs/api/admin_api/product_attributes.rst
  docs/api/admin_api/product_options.rst
  docs/api/admin_api/product_reviews.rst
  docs/api/admin_api/product_variants.rst
  docs/api/admin_api/products.rst
  docs/api/admin_api/promotion_coupons.rst
  docs/api/admin_api/promotions.rst
  docs/api/admin_api/provinces.rst
  docs/api/admin_api/shipments.rst
  docs/api/admin_api/shipping_categories.rst
  docs/api/admin_api/shipping_methods.rst
  docs/api/admin_api/sorting_and_filtration.rst
  docs/api/admin_api/tax_categories.rst
  docs/api/admin_api/tax_rates.rst
  docs/api/admin_api/taxons.rst
  docs/api/admin_api/zones.rst
  docs/api/index.rst
  docs/api/map.rst.inc
  docs/book/orders/cart-flow.rst
  docs/book/products/multi_source_inventory.rst
  docs/cookbook/api/api.rst
  docs/index.rst
Labels: API, Documentation

#11289 [API] Move serializer configuration to ApiBundle
  config/packages/framework.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
Labels: API, Maintenance

#11288 [API] Update UPGRADE-1.8 file after adding ApiBundle
  UPGRADE-1.8.md
Labels: API, Maintenance

#11295 [API][Product] Add sorting for products by name
  features/product/managing_products/sorting_products.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductsContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
Labels: API, Feature

#11298 [Psalm] Add symfony/polyfill-php80 to fix build
  composer.json
  src/Sylius/Bundle/ApiBundle/DataPersister/AdminUserDataPersister.php
  src/Sylius/Bundle/CoreBundle/Context/CustomerContext.php
  src/Sylius/Bundle/UserBundle/EventListener/UserDeleteListener.php
  symfony.lock
Labels: Maintenance

#11276 [ShopBundle] Fix the checkout page
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/_header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/Order/Show/_header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Checkout/Complete/_header.html.twig
Labels: Bug, Shop

#11299 Remove useless interface in custom_fixture.rst
  docs/components_and_bundles/bundles/SyliusFixturesBundle/custom_fixture.rst
Labels: Documentation

#11304 [Docs] Require tagged plugins for Sylius Store
  docs/book/plugins/sylius-store.rst
Labels: Documentation

#11310 Install symfony/polyfill-php80 to fix the psalm build
  composer.json
  symfony.lock
Labels: Bug, Maintenance

#11311 [Psalm] Fix build on 1.7 as well
  src/Sylius/Bundle/CoreBundle/Context/CustomerContext.php
  src/Sylius/Bundle/UserBundle/EventListener/UserDeleteListener.php
Labels: Bug, Maintenance
