Repository Sylius/Sylius, pull requests merged in 2021-03, with the labels that each got.

#12393 [ApiBundle] Fixes in test application
  src/Sylius/Bundle/ApiBundle/composer.json
  src/Sylius/Bundle/ApiBundle/test/config/api_resources/Taxon.xml
  src/Sylius/Bundle/ApiBundle/test/config/bundles.php
  src/Sylius/Bundle/ApiBundle/test/src/Tests/TaxonTest.php
Labels: API

#12398 [API] add missing spec
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Serializer/ProductVariantSerializer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductVariantSerializerSpec.php
Labels: API

#12403 Minor fixes and CS
  src/Sylius/Bundle/ApiBundle/Serializer/ProductVariantSerializer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductVariantSerializerSpec.php
Labels: API

#12395 [Docs] Add note about doctrine migrations
  docs/customization/model.rst
Labels: Documentation

#12408 [ApiBundle] Use one kernel in test application
  src/Sylius/Bundle/ApiBundle/Tests/TestKernel.php
  src/Sylius/Bundle/ApiBundle/phpunit.xml.dist
  src/Sylius/Bundle/ApiBundle/test/config/config.yaml
Labels: API, Bug

#12402 Remove duplicated entry in composer file and add return type in setup trait
  src/Sylius/Bundle/ApiBundle/composer.json
  src/Sylius/Bundle/ApiBundle/test/src/Tests/SetUpTestsTrait.php
Labels: API, Dependencies

#12411 [API] improve tests for overwriting api configs
  src/Sylius/Bundle/ApiBundle/test/src/Tests/PromotionTest.php
Labels: API

#12410 [ApiBundle] Improve tests for custom Sylius resource in test application
  src/Sylius/Bundle/ApiBundle/phpunit.xml.dist
  src/Sylius/Bundle/ApiBundle/test/config/fixtures/foo_sylius_resource.yaml
  src/Sylius/Bundle/ApiBundle/test/src/Tests/FooSyliusResourceTest.php
Labels: API

#12416 [ApiBundle] Improve tests for custom entity in test application
  src/Sylius/Bundle/ApiBundle/ApiPlatform/Bridge/Symfony/Routing/RouteNameResolver.php
  src/Sylius/Bundle/ApiBundle/test/config/api_resources/Foo.xml
  src/Sylius/Bundle/ApiBundle/test/config/fixtures/foo.yaml
  src/Sylius/Bundle/ApiBundle/test/src/Tests/FooTest.php
Labels: API

#12390 Shipping method change key cost to price
  UPGRADE-1.10.md
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/View/CartShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/View/CartShippingMethod.php
  src/Sylius/Bundle/ApiBundle/View/CartShippingMethodInterface.php
Labels: API, Maintenance

#12412 [API][DOCS] custom path
  docs/api/unified_api/custom_paths.rst
  docs/api/unified_api/index.rst
  docs/api/unified_api/map.rst.inc
Labels: API, Documentation

#12418 [API][Documentation] Fix path to security file
  docs/api/unified_api/custom_paths.rst
Labels: API, Documentation

#12417 [API][Documentation] Fix link to jwt documentation
  docs/api/index.rst
Labels: API, Bug, Documentation

#12401 Use bold to alert on some changes in the README
  UPGRADE-1.9.md
Labels: Maintenance

#12384 Doc: Fix Doctrine project url
  docs/book/architecture/architecture.rst
Labels: Documentation

#12419 [API] Add missing specs and make fixes to reset password PR
  src/Sylius/Behat/Context/Api/Shop/LoginContext.php
  src/Sylius/Bundle/ApiBundle/Command/ResetPassword.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/ResetPasswordHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ResetPassword.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/ResetPassword.xml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ConfirmResetPassword.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/ResetPasswordHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ConfirmResetPasswordValidatorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/CorrectChangeShopUserConfirmPasswordValidatorSpec.php
Labels: API

#12420 [API] Adjust reset password requests
  src/Sylius/Behat/Context/Api/Shop/LoginContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ResetPassword.xml
Labels: API

#12423 Temporarily conflict to symfony/doctrine-bridge in Core and Api bundles
  src/Sylius/Bundle/ApiBundle/composer.json
  src/Sylius/Bundle/CoreBundle/composer.json
Labels: API, Bug, Maintenance

#12382 Filter product variants by product & option values
  features/cart/shopping_cart/adding_product_with_options_to_cart.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Bundle/ApiBundle/DataProvider/ChannelAwareItemDataProvider.php
  src/Sylius/Bundle/ApiBundle/Doctrine/Filter/ProductVariantOptionValueFilter.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOptionValue.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductOptionValue.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/ChannelAwareItemDataProviderSpec.php
Labels: API

#12405 Decouple translation used in emails from shopBundle to coreBundle
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.en.yml
Labels: API, Enhancement

#12385 Add contact email in channel fixture
  src/Sylius/Bundle/CoreBundle/Resources/config/app/fixtures/shop_configuration.yaml
Labels: DX, Enhancement

#12404 Fix nested accordion initialisation
  src/Sylius/Bundle/AdminBundle/Resources/private/js/app.js
Labels: Admin

#12376 Pass path delimiter up to parent taxon
  src/Sylius/Component/Taxonomy/Model/Taxon.php
  src/Sylius/Component/Taxonomy/spec/Model/TaxonSpec.php
Labels: Bug

#12324 Removing hard timeout on edit while load selected values
  src/Sylius/Bundle/UiBundle/Resources/private/js/sylius-auto-complete.js
Labels: Bug

#12427 [FOSOAuthServerBundle] Remove incompatible version
  composer.json
Labels: Bug

#12447 Fix build for CoreBundle and ApiBundle packages
  src/Sylius/Bundle/ApiBundle/composer.json
  src/Sylius/Bundle/CoreBundle/composer.json
Labels: API

#12445 [Api] Subscribed to newsletter
  features/account/customer_account/subscribing_newsletter.feature
  src/Sylius/Behat/Context/Api/Shop/CustomerContext.php
  src/Sylius/Behat/Context/Setup/CustomerContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Customer.xml
Labels: API, Feature

#12448 [ApiBundle] Fix displaying testing section in README file
  src/Sylius/Bundle/ApiBundle/README.md
Labels: API, DX, Maintenance

#12441 [UserBundle] Allow user password to be null for SSO
  src/Sylius/Bundle/CoreBundle/Migrations/Version20210311142134.php
  src/Sylius/Bundle/UserBundle/Resources/config/doctrine/model/User.orm.xml
Labels: Feature, RFC

#12451 [Docs] How to add product variants by options to the cart in Sylius API?
  docs/api/unified_api/add_to_cart_product_chosen_by_product_options.rst
  docs/api/unified_api/index.rst
  docs/api/unified_api/map.rst.inc
Labels: Documentation

#12439 Don't render _token field if it's already rendered
  src/Sylius/Bundle/AdminBundle/Resources/views/Crud/Create/_content.html.twig
Labels: Admin, Bug

#12454 Don't render _token field if it's already rendered in update template
  src/Sylius/Bundle/AdminBundle/Resources/views/Crud/Update/_content.html.twig
Labels: Admin, Bug

#12461 Fix packages builds: ResourceBundle v1.8 does not require StofDoctrineExtensionsBundle anymore
  src/Sylius/Bundle/AddressingBundle/test/app/AppKernel.php
  src/Sylius/Bundle/AttributeBundle/test/app/AppKernel.php
  src/Sylius/Bundle/ChannelBundle/test/app/AppKernel.php
  src/Sylius/Bundle/CurrencyBundle/test/app/AppKernel.php
  src/Sylius/Bundle/CustomerBundle/test/app/AppKernel.php
  src/Sylius/Bundle/LocaleBundle/test/app/AppKernel.php
  src/Sylius/Bundle/MoneyBundle/test/app/AppKernel.php
  src/Sylius/Bundle/OrderBundle/test/app/AppKernel.php
  src/Sylius/Bundle/PaymentBundle/test/app/AppKernel.php
  src/Sylius/Bundle/ProductBundle/test/app/AppKernel.php
  src/Sylius/Bundle/PromotionBundle/test/app/AppKernel.php
  src/Sylius/Bundle/ReviewBundle/test/app/AppKernel.php
  src/Sylius/Bundle/ShippingBundle/test/app/AppKernel.php
  src/Sylius/Bundle/TaxationBundle/test/app/AppKernel.php
  src/Sylius/Bundle/TaxonomyBundle/Tests/Functional/app/AppKernel.php
  src/Sylius/Bundle/UserBundle/Tests/Functional/app/AppKernel.php
Labels: Maintenance

#12444 Create resource belongs to collectionOperation
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductVariant.xml
Labels: API

#12468 Fix the build by conflicting with doctrine/doctrine-bundle 2.3.0
  CONFLICTS.md
  composer.json
Labels: Maintenance

#12471 [Maintenance] Conflict with JMSSerializer 3.9.0 due to issues with mapping of persistent collection
  CONFLICTS.md
  composer.json
Labels: Maintenance

#12457 Drop sspooky13/yaml-standards ^5.1 in favour of ^6.0
  composer.json
Labels: PHP 8

#12470 [API] Remove untested route on ProductVariant
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/composer.json
Labels: API

#12474 [API] Resend Verification email
  features/account/verification/verifying_email_address.feature
  src/Sylius/Behat/Context/Api/EmailContext.php
  src/Sylius/Behat/Context/Api/Shop/CustomerContext.php
  src/Sylius/Bundle/ApiBundle/Command/ResendVerificationEmail.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/ResendVerificationEmailHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/VerifyCustomerAccount.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Account/ResendVerificationEmail.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/ResendVerificationEmail.xml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ShopUserExists.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ShopUserExistsValidator.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ShopUserNotVerified.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ShopUserNotVerifiedValidator.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/ResendVerificationEmailHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ShopUserExistsValidatorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ShopUserNotVerifiedValidatorSpec.php
Labels: API

#12476 [API] Subscribing to newsletter on account register
  features/account/subscribing_newsletter_during_registration.feature
  src/Sylius/Behat/Context/Api/Shop/RegistrationContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Bundle/ApiBundle/Command/RegisterShopUser.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/RegisterShopUserHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Account/RegisterShopUser.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Customer.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/RegisterShopUserHandlerSpec.php
Labels: API

#12478 Remove unnecessary logic from handler
  src/Sylius/Bundle/ApiBundle/CommandHandler/ResendVerificationEmailHandler.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/ResendVerificationEmailHandlerSpec.php
Labels: API, Enhancement

#12475 [Taxation] Fix applying shipment taxes for multiple shipments
  src/Sylius/Component/Core/Taxation/Applicator/OrderShipmentTaxesApplicator.php
  src/Sylius/Component/Core/spec/Taxation/Applicator/OrderShipmentTaxesApplicatorSpec.php
Labels: Bug

#12479 Add few cosmetic improvements in ChangeShopUserPasswordHandler.php and xml files
  src/Sylius/Bundle/ApiBundle/CommandHandler/ChangeShopUserPasswordHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/event_handlers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
Labels: API

#12477 [API] product review filters
  features/product/viewing_product_reviews/viewing_product_reviews_on_product_reviews_page.feature
  src/Sylius/Behat/Context/Api/Shop/ProductReviewContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/product/viewing_product_reviews.yml
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/AcceptedProductReviewsExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryCollectionExtension/AcceptedProductReviewsExtensionSpec.php
Labels: API

#12480 Change command constructor
  src/Sylius/Bundle/ApiBundle/Command/RegisterShopUser.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/RegisterShopUserHandlerSpec.php
Labels: API, Enhancement

#12482 Remove duplicated service
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
Labels: API, Bug

#12489 Build fix Change int to string in GenerateCouponsCommand
  src/Sylius/Bundle/PromotionBundle/Command/GenerateCouponsCommand.php
Labels: Bug

#12472 [Api] Visitor and Customer add ProductReview
  UPGRADE-1.10.md
  features/product/adding_product_reviews/adding_product_review_as_a_customer.feature
  features/product/adding_product_reviews/adding_product_review_as_a_guest.feature
  src/Sylius/Behat/Context/Api/Shop/ProductReviewContext.php
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/product/adding_product_review.yml
  src/Sylius/Bundle/ApiBundle/Command/AddProductReview.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/AddProductReviewHandler.php
  src/Sylius/Bundle/ApiBundle/DataTransformer/LoggedInShopUserEmailAwareCommandDataTransformer.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/AddProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/AddProductReviewHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataTransformer/LoggedInShopUserEmailAwareCommandDataTransformerSpec.php
Labels: API, Feature, Maintenance

#12483 [Api] Product has last 3 reviews by default
  features/product/viewing_product_reviews/viewing_product_reviews_on_product_details_page.feature
  src/Sylius/Behat/Context/Api/Shop/ProductReviewContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
Labels: API

#12491 [API] Added product average rating
  features/product/viewing_products/viewing_product_average_rating.feature
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Resources/config/suites/api/product/viewing_products.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Product.xml
Labels: API

#12494 [Behat][Customer] Fix assertions
  src/Sylius/Behat/Context/Api/Shop/CustomerContext.php
Labels: Behat, Bug

#12485 Use route name instead of a hardcoded '/' to redirect user on logout
  src/Sylius/Bundle/ShopBundle/Resources/config/services.xml
Labels: Shop

#12460 Use egulias/email-validator ^3.0
  composer.json
  src/Sylius/Bundle/CoreBundle/composer.json
  src/Sylius/Bundle/CustomerBundle/composer.json
  src/Sylius/Bundle/UserBundle/composer.json
Labels: Maintenance

#12500 [Documentation] Customizing credit memo
  docs/cookbook/index.rst
  docs/cookbook/payments/customizing-credit-memo.rst
  docs/cookbook/payments/map.rst.inc
Labels: Documentation

#12498 Convert iri to code in command AddProductReview
  src/Sylius/Behat/Context/Api/Shop/ProductReviewContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/AddProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Serializer/AddProductReviewCommandFieldItemIriToIdentifierDenormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/AddProductReviewCommandFieldItemIriToIdentifierDenormalizerSpec.php
Labels: API, Feature
