Repository Sylius/Sylius, pull requests merged in 2021-07, with the labels that each got.

#12761 [API] contract test for get order collection by guest
  tests/Api/Responses/Expected/shop/error/jwt_token_not_found.json
  tests/Api/Shop/OrdersTest.php
Labels: API

#12751 [Docs] Describe API customization requirement for SyliusPlus with Sylius 1.9
  docs/book/installation/sylius_plus_installation.rst
Labels: Documentation

#12763 [Docs] Remove redundant refund interfaces
  docs/book/installation/sylius_plus_installation.rst
Labels: Documentation

#12767 [Documentation] Fix warning about version of Sylius in Plus installation guide
  docs/book/installation/sylius_plus_installation.rst
Labels: Documentation

#12764 [Taxon] Wrap resource deletion operation with a transaction to fix a problem with removing used taxon
  features/product/viewing_products/viewing_diagonal_variant_options.feature
  features/product/viewing_products/viewing_different_price_for_different_product_variants_selected_with_options.feature
  features/taxonomy/managing_taxons/displaying_products_in_proper_taxon_after_trying_to_delete_taxon.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingTaxonsContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Resources/config/suites/ui/taxonomy/managing_taxons.yml
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/Handler/ResourceDeleteHandler.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/spec/Doctrine/ORM/Handler/ResourceDeleteHandlerSpec.php
Labels: Bug

#12770 [Documentation] One more fix for warning about version of Sylius in Plus installation guide
  docs/book/installation/sylius_plus_installation.rst
Labels: Documentation

#12772 [ENHANCEMENT][API] Refactor Api Constraints to match rest of them
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ConfirmResetPassword.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ConfirmResetPasswordValidator.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/CorrectChangeShopUserConfirmPassword.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/CorrectChangeShopUserConfirmPasswordValidator.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/PromotionCouponEligibility.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/PromotionCouponEligibilityValidator.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/UniqueReviewerEmail.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/UniqueShopUserEmail.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ConfirmResetPasswordValidatorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/CorrectChangeShopUserConfirmPasswordValidatorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/PromotionCouponEligibilityValidatorSpec.php
Labels: API, Enhancement

#12774 [API] Add Product Image type to responses
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductImage.xml
  tests/Api/Admin/ProductImageTest.php
  tests/Api/DataFixtures/ORM/product_image.yaml
  tests/Api/Responses/Expected/admin/get_product_image_response.json
  tests/Api/Responses/Expected/admin/get_product_images_response.json
  tests/Api/Responses/Expected/shop/get_product_image_response.json
  tests/Api/Shop/ProductImageTest.php
Labels: API

#12776 [Docs][Plus] Modify plus installation guide
  docs/book/installation/sylius_plus_installation.rst
Labels: Documentation

#12777 [Docs][Plus] Change steps order
  docs/book/installation/sylius_plus_installation.rst
Labels: Documentation

#12766 [Locale]Available locales in channel by api
  adr/2021_07_05_api_providing_locales_available_in_active_channel.md
  features/locale/getting_available_locales_in_current_channel.feature
  src/Sylius/Behat/Context/Api/Shop/LocaleContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/locale/locales.yaml
  src/Sylius/Bundle/ApiBundle/DataProvider/LocaleCollectionDataProvider.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Locale.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Locale.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/LocaleCollectionDataProviderSpec.php
  tests/Api/Admin/LocalesTest.php
  tests/Api/DataFixtures/ORM/cart.yaml
  tests/Api/Responses/Expected/admin/get_locales_response.json
  tests/Api/Responses/Expected/shop/get_locales_response.json
  tests/Api/Shop/LocalesTest.php
Labels: API, Maintenance

#12785 [API] Remove customer and serialize posted address
  UPGRADE-1.11.md
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Address.xml
  tests/Api/DataFixtures/ORM/authentication/customer.yaml
  tests/Api/Responses/Expected/shop/post_addresses_response.json
  tests/Api/Shop/AddressesPostTest.php
Labels: API, Maintenance

#12780 [Locale ][Api] Get locale refactor api
  adr/2021_07_05_api_providing_locales_available_in_active_channel.md
  features/locale/getting_available_locales_in_current_channel.feature
  psalm.xml
  src/Sylius/Behat/Context/Api/Shop/LocaleContext.php
  src/Sylius/Behat/Resources/config/suites/api/locale/locales.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Locale.xml
  tests/Api/Admin/LocalesTest.php
  tests/Api/Responses/Expected/shop/get_locale_response.json
  tests/Api/Shop/LocalesTest.php
Labels: API, Maintenance

#12784 [Documentation][Cookbook] How to add another type of refund?
  docs/cookbook/index.rst
  docs/cookbook/payments/custom-type-of-refund.rst
  docs/cookbook/payments/map.rst.inc
Labels: Documentation

#12771 [API] Turn on/off api endpoints with parameter
  UPGRADE-1.9.md
  config/packages/_sylius.yaml
  config/packages/test/_sylius.yaml
  config/packages/test_cached/_sylius.yaml
  docs/api/unified_api/introduction.rst
  psalm.xml
  src/Sylius/Bundle/ApiBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/ApiBundle/DependencyInjection/SyliusApiExtension.php
  src/Sylius/Bundle/ApiBundle/EventSubscriber/KernelRequestEventSubscriber.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/event_subscribers.xml
  src/Sylius/Bundle/ApiBundle/spec/EventSubscriber/KernelRequestEventSubscriberSpec.php
  src/Sylius/Bundle/ApiBundle/test/config/config.yaml
  src/Sylius/Bundle/ApiBundle/test/src/Tests/DisablingApiTest.php
  src/Sylius/Bundle/ApiBundle/test/src/Tests/SetUpTestsTrait.php
Labels: API, Documentation, Maintenance

#12768 [Docs] Update release cycle after 1.10 release
  docs/book/organization/release-cycle.rst
Labels: Documentation

#12789 [API] Disable API by default
  UPGRADE-1.9.md
  src/Sylius/Bundle/ApiBundle/DependencyInjection/Configuration.php
Labels: API, Maintenance

#12790 [ENH][API] Fixing naming issues after PR for serializing post on address
  tests/Api/DataFixtures/ORM/authentication/customer.yaml
  tests/Api/Responses/Expected/shop/create_address_response.json
  tests/Api/Responses/Expected/shop/post_addresses_response.json
  tests/Api/Shop/AddressesPostTest.php
Labels: API, Documentation, Enhancement

#12801 [Documentation] Update Plus installation guide for Sylius 1.9
  docs/book/installation/sylius_plus_installation.rst
Labels: Documentation, Maintenance

#12800 [Documentation] Update Plus installation guide for Sylius 1.10
  docs/book/installation/sylius_plus_installation.rst
Labels: Documentation, Maintenance

#12805 [Behat][API][Taxes] Turn on chunk of taxation related scenarios
  features/shipping/applying_shipping_fee/applying_correct_shipping_fee_on_order.feature
  features/shipping/applying_shipping_fee/applying_correct_shipping_fee_with_product_taxes_on_order.feature
  features/shipping/applying_shipping_fee/applying_correct_shipping_fee_with_taxes_on_order.feature
  features/taxation/applying_taxes/applying_correct_taxes_based_on_customer_data.feature
  features/taxation/applying_taxes/applying_correct_taxes_for_items_with_different_tax_rates.feature
  features/taxation/applying_taxes/applying_correct_taxes_for_items_with_the_same_tax_rate.feature
  features/taxation/applying_taxes/applying_correct_taxes_for_order_with_discount_for_an_item_in_order.feature
  features/taxation/applying_taxes/applying_correct_taxes_for_order_with_discount_for_shipping.feature
  features/taxation/applying_taxes/applying_correct_taxes_for_order_with_discount_for_whole_order.feature
  features/taxation/applying_taxes/applying_correct_taxes_on_visitor_cart.feature
  features/taxation/applying_taxes/not_applying_taxes_for_products_without_tax_category.feature
  features/taxation/applying_taxes/rounding_taxes_on_order_item_level.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/taxation/applying_taxes.yml
Labels: API, Feature

#12806 [Behat][API][Promotion] Turn on chunk of promotion scenarios
  features/promotion/applying_promotion_coupon/applying_promotion_coupon_with_per_customer_usage_limit.feature
  features/promotion/receiving_discount/receiving_fixed_discount_on_cart.feature
  features/promotion/receiving_discount/receiving_fixed_discount_on_items_on_price_range.feature
  features/promotion/receiving_discount/receiving_fixed_discount_on_products_from_specific_taxon.feature
  features/promotion/receiving_discount/receiving_fixed_discount_on_specific_products.feature
  features/promotion/receiving_discount/receiving_percentage_discount_on_items_on_price_range.feature
  features/promotion/receiving_discount/receiving_percentage_discount_on_products_from_specific_taxon.feature
  features/promotion/receiving_discount/receiving_percentage_discount_on_shipping.feature
  features/promotion/receiving_discount/receiving_percentage_discount_on_specific_products.feature
  features/promotion/receiving_discount/receiving_percentage_discount_promotion_on_order.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Resources/config/suites/api/promotion/receiving_discount.yml
Labels: API, Feature

#12804 Enable API by default in dev environment
  config/packages/dev/_sylius.yaml
Labels: API, DX, Enhancement

#12808 [API] Add missing note about enabling API to UPGRADE-1.10 file
  UPGRADE-1.10.md
Labels: API, Maintenance

#12816 [Maintenance] Fix 1.8 build
  .github/workflows/application.yml
  features/account/customer_account/editing_customer_profile.feature
  src/Sylius/Behat/Context/Ui/Shop/LoginContext.php
  src/Sylius/Behat/Context/Ui/Shop/RegistrationContext.php
  src/Sylius/Component/Core/Formatter/StringInflector.php
Labels: Maintenance

#12814 [Documentation] API docs reorganisation
  docs/api/map.rst.inc
  docs/api/unified_api/index.rst
  docs/api/unified_api/map.rst.inc
  docs/book/api/authorization.rst
  docs/book/api/index.rst
  docs/book/api/introduction.rst
  docs/book/api/map.rst.inc
  docs/book/api/sylius_api_paths.rst
  docs/book/architecture/architecture.rst
  docs/book/contributing/documentation/overview.rst
  docs/book/index.rst
  docs/book/map.rst.inc
  docs/cookbook/api/add_to_cart_product_chosen_by_product_options.rst
  docs/cookbook/api/map.rst.inc
  docs/cookbook/index.rst
  docs/getting-started-with-sylius/custom-business-logic.rst
  docs/index.rst
Labels: Documentation

#12811 [API] Test not providing required fields during registration
  features/account/registering_validation.feature
  src/Sylius/Behat/Context/Api/Shop/RegistrationContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/CommandDenormalizer.php
  src/Sylius/Bundle/ApiBundle/Serializer/CommandNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/CommandDenormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/CommandNormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/test/config/api_resources/Foo.xml
  src/Sylius/Bundle/ApiBundle/test/config/config.yaml
  src/Sylius/Bundle/ApiBundle/test/src/Command/FooCommand.php
  src/Sylius/Bundle/ApiBundle/test/src/CommandHandler/FooHandler.php
  src/Sylius/Bundle/ApiBundle/test/src/Tests/FooApiCommandTest.php
Labels: API, Bug, DX

#12817 [Taxation] Add scenarios for applying proper taxes for shipping
  features/taxation/applying_taxes/applying_correct_taxes_for_shipping.feature
  features/taxation/applying_taxes/applying_correct_taxes_for_shipping_with_tax_rate_included_in_price.feature
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPage.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPageInterface.php
  src/Sylius/Bundle/ShopBundle/Resources/views/Cart/Summary/_totals.html.twig
Labels: Behat, Shop

#12823 [API] Allow creation of commands with no arguments with a default value
  src/Sylius/Bundle/ApiBundle/Serializer/CommandDenormalizer.php
Labels: API, Bug

#12825 [API] Do not check command arguments if there is an object to populate
  src/Sylius/Bundle/ApiBundle/Serializer/CommandDenormalizer.php
  src/Sylius/Bundle/ApiBundle/Serializer/CommandNormalizer.php
  src/Sylius/Bundle/ApiBundle/Tests/ApiPlatform/Bridge/Symfony/Routing/CachedRouteNameResolverTest.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/CommandDenormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/test/config/config.yaml
Labels: API, Bug

#12769 [API] Refactor converting arguments of commands from IRIs to identifiers
  UPGRADE-1.11.md
  src/Sylius/Bundle/ApiBundle/Command/Account/ChangePaymentMethod.php
  src/Sylius/Bundle/ApiBundle/Command/AddProductReview.php
  src/Sylius/Bundle/ApiBundle/Command/Cart/AddItemToCart.php
  src/Sylius/Bundle/ApiBundle/Command/Checkout/ChoosePaymentMethod.php
  src/Sylius/Bundle/ApiBundle/Command/Checkout/ChooseShippingMethod.php
  src/Sylius/Bundle/ApiBundle/Command/IriToIdentifierConversionAwareInterface.php
  src/Sylius/Bundle/ApiBundle/Command/RequestResetPasswordToken.php
  src/Sylius/Bundle/ApiBundle/Command/ResendVerificationEmail.php
  src/Sylius/Bundle/ApiBundle/Converter/IriToIdentifierConverter.php
  src/Sylius/Bundle/ApiBundle/Converter/IriToIdentifierConverterInterface.php
  src/Sylius/Bundle/ApiBundle/Exception/NoRouteMatchesException.php
  src/Sylius/Bundle/ApiBundle/Map/CommandItemIriArgumentToIdentifierMap.php
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/CommandArgumentsDenormalizer.php
  src/Sylius/Bundle/ApiBundle/Tests/Converter/IriToIdentifierConverterTest.php
  src/Sylius/Bundle/ApiBundle/spec/Map/CommandItemIriArgumentToIdentifierMapSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/CommandArgumentsDenormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/test/src/Tests/DisablingApiTest.php
Labels: API, Feature, Maintenance

#12820 [Documentation] Chapter about legacy APIs
  docs/book/api/index.rst
  docs/book/api/legacy_api.rst
  docs/book/api/map.rst.inc
Labels: API, Documentation

#12819 [API] 1.8 api as opt
  UPGRADE-1.8.md
  config/packages/_sylius.yaml
  config/packages/test/_sylius.yaml
  config/packages/test_cached/_sylius.yaml
  docs/api/unified_api/introduction.rst
  psalm.xml
  src/Sylius/Bundle/ApiBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/ApiBundle/DependencyInjection/SyliusApiExtension.php
  src/Sylius/Bundle/ApiBundle/EventSubscriber/KernelRequestEventSubscriber.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/event_subscribers.xml
  src/Sylius/Bundle/ApiBundle/spec/EventSubscriber/KernelRequestEventSubscriberSpec.php
Labels: API, Documentation, Maintenance

#12826 [Documentation] New API described in architecture chapter
  docs/_images/api_platform.png
  docs/book/architecture/architecture.rst
Labels: Documentation

#12830 [API] Exclude meaningless scenarios
  features/channel/products_accessibility_in_multiple_channels/products_accessibility_in_multiple_channels.feature
  features/channel/theming/displaying_themed_channel_website.feature
  features/channel/theming/managing_themes_per_channel.feature
  features/channel/theming/overriding_plugin_template_with_theme.feature
  features/currency/handling_different_currencies_on_multiple_channels.feature
  features/currency/switching_current_currency.feature
  features/inventory/displaying_inventory_tab_on_simple_product_edit_page.feature
Labels: API, Enhancement

#12833 [API] Disable API by default
  UPGRADE-1.8.md
  src/Sylius/Bundle/ApiBundle/DependencyInjection/Configuration.php
Labels: API, Maintenance

#12828 [Docs] split api customization docs
  docs/customization/api/adding_and_removing_endpoints.rst
  docs/customization/api/index.rst
  docs/customization/api/map.rst.inc
  docs/customization/api/modifying_endpoints.rst
  docs/customization/api/serialization_customization.rst
  docs/customization/index.rst
  docs/customization/map.rst.inc
Labels: Documentation

#12834 [Docs] Customization docs + yaml customization
  docs/customization/api/customizing_endpoints_using_yaml.rst
  docs/customization/api/index.rst
  docs/customization/api/map.rst.inc
Labels: Documentation

#12750 [ApiBundle] Small CS fixes
  src/Sylius/Bundle/ApiBundle/ApiPlatform/ApiResourceConfigurationMerger.php
  src/Sylius/Bundle/ApiBundle/ApiPlatform/Factory/MergingExtractorResourceMetadataFactory.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/ChoosePaymentMethodHandler.php
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendAccountRegistrationEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendAccountVerificationEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/spec/ApiPlatform/ApiResourceConfigurationMergerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/ApiPlatform/ResourceMetadataPropertyValueResolverSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/CartPaymentMethodsSubresourceDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ChosenShippingMethodEligibilityValidatorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/PromotionCouponEligibilityValidatorSpec.php
  src/Sylius/Bundle/ApiBundle/test/src/Tests/SyliusConfigMergeTest.php
Labels: API, DX

#12839 [UI] Add bottom scroll to the order summary table
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/_summary.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/_summaryWidget.html.twig
Labels: Admin, UX

#12837 [UPGRADE] Split API and non API upgrade files
  UPGRADE-1.8.md
  UPGRADE-API-1.8.md
Labels: API, Enhancement, Maintenance

#12840 [UPGRADE] Split API and non API upgrade files
  UPGRADE-1.10.md
  UPGRADE-API-1.10.md
Labels: API, Enhancement, Maintenance

#12841 [UPGRADE] Split API and non API upgrade files
  UPGRADE-1.11.md
  UPGRADE-API-1.11.md
Labels: API, Enhancement, Maintenance

#12844 [API][PHPSpec] Improve spec for CommandNormalizer
  src/Sylius/Bundle/ApiBundle/spec/Serializer/CommandNormalizerSpec.php
Labels: API, DX, Enhancement

#12845 Quick Typo update :)
  docs/book/orders/checkout.rst
Labels: Documentation

#12838 [UPGRADE] Split API and non API upgrade files
  UPGRADE-1.9.md
  UPGRADE-API-1.9.md
Labels: API, Enhancement, Maintenance

#12846 [API] Unification of filtration namespaces
  UPGRADE-API-1.11.md
  src/Sylius/Bundle/ApiBundle/Doctrine/Filter/ExchangeRateFilter.php
  src/Sylius/Bundle/ApiBundle/Doctrine/Filter/TranslationOrderNameAndLocaleFilter.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
Labels: API, BC Break, Enhancement, Maintenance

#12847 [API]Product image handling
  UPGRADE-API-1.11.md
  src/Sylius/Behat/Context/Api/Admin/ManagingProductsContext.php
  src/Sylius/Bundle/ApiBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/ApiBundle/DependencyInjection/SyliusApiExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/ProductImageNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductImageNormalizerSpec.php
  tests/Api/DataFixtures/ORM/product_image.yaml
  tests/Api/Responses/Expected/admin/get_product_image_response.json
  tests/Api/Responses/Expected/admin/get_product_images_response.json
  tests/Api/Responses/Expected/shop/get_product_image_response.json
Labels: API, Maintenance
