Repository Sylius/Sylius, pull requests merged in 2021-05, with the labels that each got.

#12581 [Api]Fix isAllowedProperty return type in ReflectionExtractor
  src/Sylius/Bundle/ApiBundle/PropertyInfo/Extractor/ReflectionExtractor.php
Labels: API, Bug

#12429 Use 4-Byte UTF-8 Unicode Encoding
  config/packages/doctrine.yaml
Labels: RFC

#12092 Resource layer tip - English corrections
  docs/book/architecture/resource_layer.rst
Labels: Documentation

#12569 Bugfix | Filter out not enabled products in API collection
  features/product/viewing_products/viewing_enabled_products_only.feature
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/ProductsWithEnableFlagExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryCollectionExtension/ProductsWithEnableFlagExtensionSpec.php
Labels: API

#12592 Include just one MySQL 5.7 build
  .github/workflows/application.yml
Labels: Maintenance

#12562 [DOC] update theme structure documentation
  docs/book/themes/themes.rst
Labels: Documentation

#12579 [API] Validate if product or variant is enabled
  features/checkout/preventing_adding_to_cart_disabled_products.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/AddItemToCart.xml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ProductOrVariantEnabled.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ProductOrVariantEnabledValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ProductOrVariantEnabledValidatorSpec.php
Labels: API

#12600 [Api]Add customers id next to token
  features/customer/seeing_myself_while_login.feature
  src/Sylius/Behat/Context/Api/Shop/LoginContext.php
  src/Sylius/Behat/Context/Setup/CustomerContext.php
  src/Sylius/Behat/Context/Setup/UserContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites/api/account/login.yml
  src/Sylius/Bundle/ApiBundle/EventListener/AuthenticationSuccessListener.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/spec/EventListener/AuthenticationSuccessListenerSpec.php
Labels: API, Feature

#12599 [Docs] Add and improve new api docs
  docs/api/unified_api/index.rst
  docs/api/unified_api/map.rst.inc
  docs/api/unified_api/sylius_api_paths.rst
  docs/customization/api.rst
  docs/customization/index.rst
  docs/customization/map.rst.inc
Labels: API, Documentation

#12604 [API] Cherry pick commits on 1.9 branch for validating if product is enabled during adding to cart
  features/checkout/preventing_adding_to_cart_disabled_products.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/AddItemToCart.xml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ProductOrVariantEnabled.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ProductOrVariantEnabledValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ProductOrVariantEnabledValidatorSpec.php
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
Labels: API, Bug

#12610 Fixes after upmerge
  features/checkout/preventing_adding_to_cart_disabled_products.feature
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ProductOrVariantEnabled.php
Labels: API

#12617 [API][PHPSpec] Fix validator after upmerge
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ProductAvailableInChannelValidatorSpec.php
Labels: API, Bug

#12613 [API] Adding inexistent variant
  features/checkout/preventing_adding_to_cart_inexistent_variant.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/AddItemToCart.xml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/AddingEligibleProductVariantToCart.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/AddingEligibleProductVariantToCartValidator.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ProductOrVariantEnabled.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ProductOrVariantEnabledValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/AddingEligibleProductVariantToCartValidatorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ProductAvailableInChannelValidatorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ProductOrVariantEnabledValidatorSpec.php
Labels: API

#12612 [Documentation] Update cookbook about Facebook login
  docs/cookbook/shop/facebook-login.rst
Labels: Documentation

#12621 [API] sorting product by position in taxon
  features/product/viewing_products/viewing_product_from_specific_taxon_sorted_by_position.feature
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Bundle/ApiBundle/Filter/TaxonFilter.php
  src/Sylius/Bundle/ApiBundle/spec/Filter/TaxonFilterSpec.php
Labels: API

#12623 [API] Revert locale to localeCode in pickup cart
  UPGRADE-1.10.md
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Cart/PickupCart.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
Labels: API, Maintenance

#12632 [Docs] Mention localhost exposure for easier Facebook login
  docs/cookbook/shop/facebook-login.rst
Labels: Documentation, Enhancement

#12602 [Refactor] Unification of buses
  UPGRADE-1.10.md
  adr/2021_05_06_command_bus_unification.md
  src/Sylius/Behat/Resources/config/services/contexts/setup.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/event_handlers.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/messenger.yaml
Labels: API, Maintenance

#12627 [DOCS] API custom logic example
  docs/getting-started-with-sylius/custom-business-logic.rst
Labels: Documentation

#12634 [DOCS] Change response codeblocks to be more clarified
  docs/getting-started-with-sylius/custom-business-logic.rst
Labels: Documentation

#12626 [Api] Adding product to cart with proper product price per channel
  features/cart/shopping_cart/adding_product_to_cart_with_prices_dependent_on_channel.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Setup/ChannelContext.php
  src/Sylius/Behat/Resources/config/suites/api/cart/shopping_cart.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/OrderItem.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/OrderItem.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductVariantTranslation.xml
Labels: API

#12639 [API]Add inStock serialization to productVariant
  features/inventory/cart_inventory/inability_of_adding_a_product_with_insufficient_stock.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/inventory/cart_inventory.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Serializer/ProductVariantSerializer.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/AddingEligibleProductVariantToCart.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/AddingEligibleProductVariantToCartValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductVariantSerializerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/AddingEligibleProductVariantToCartValidatorSpec.php
Labels: API

#12643 [README] Fix link to plugin list
  docs/book/plugins/index.rst
Labels: Documentation

#12619 [Docs] Add docs for custom entity with access per admin channel
  docs/cookbook/entities/custom-model-accessible-for-channel-admin.rst
  docs/cookbook/entities/map.rst.inc
  docs/cookbook/index.rst
Labels: Documentation

#12647 Improve API Platform customisation guide
  docs/customization/api.rst
Labels: Documentation

#12649 [API][Product] Expose default variant on product show and index
  features/product/viewing_products/viewing_different_price_for_different_product_variants.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Resources/config/suites/api/product/viewing_products.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/swagger.xml
  src/Sylius/Bundle/ApiBundle/Serializer/ProductNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/ProductDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductNormalizerSpec.php
Labels: API

#12650 [API][ProductVariant] Fix product variant response by using proper normalizer
  UPGRADE-1.9.md
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/ProductVariantNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductVariantNormalizerSpec.php
Labels: API, Bug

#12651 [API][ProductVariant] Add additional specs for product variant normalizer
  src/Sylius/Bundle/ApiBundle/Serializer/ProductVariantNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductVariantNormalizerSpec.php
Labels: API

#12652 [API][Product] Add additional specs for product normalizer
  src/Sylius/Bundle/ApiBundle/Serializer/ProductNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductNormalizerSpec.php
Labels: API

#12655 [Documentation][Plus] Minor improvements in cookbook for accessing to entities by channel admins
  docs/cookbook/entities/custom-model-accessible-for-channel-admin.rst
Labels: Documentation

#12642 [Documentation] Fix Customizing API doc headers inconsistency
  docs/customization/api.rst
Labels: Documentation

#12648 [Api] Prevent product more than in stock
  features/inventory/cart_inventory/prevent_buying_more_products_than_available_in_a_stock.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Resources/config/suites/api/inventory/cart_inventory.yml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/AddingEligibleProductVariantToCartValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/AddingEligibleProductVariantToCartValidatorSpec.php
Labels: API, Feature

#12660 [API] Preventing from choosing unavailable shipping method during checkout
  features/checkout/shipping_order/preventing_not_available_shipping_method_selection.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Setup/ProductContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/ChooseShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ChosenShippingMethodEligibility.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ChosenShippingMethodEligibilityValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ChosenShippingMethodEligibilityValidatorSpec.php
Labels: API

#12644 [README] Supported versions update
  .github/PULL_REQUEST_TEMPLATE.md
  docs/book/organization/release-cycle.rst
Labels: Documentation, Maintenance

#12653 [API] Add missing inStock field to swagger
  src/Sylius/Bundle/ApiBundle/Swagger/ProductVariantDocumentationNormalizer.php
Labels: API

#12658 add validation on complete order
  features/inventory/checkout_inventory/validating_product_quantity_on_checkout_complete.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Ui/Shop/Checkout/CheckoutCompleteContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/inventory/checkout_inventory.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/CompleteOrder.xml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/OrderItemAvailability.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/OrderItemAvailabilityValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/OrderItemAvailabilityValidatorSpec.php
Labels: API

#12654 [Api] Check stock sufficient while cart update
  features/inventory/cart_inventory/verify_inventory_quantity_when_updating_cart_summary.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Resources/config/suites/api/inventory/cart_inventory.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/ChangeItemQuantityInCart.xml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ChangedItemQuantityInCart.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ChangedItemQuantityInCartValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ChangedItemQuantityInCartValidatorSpec.php
Labels: API

#12657 [API] Adding inexistent payment method
  features/checkout/paying_for_order/preventing_not_available_payment_method_selection.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Bundle/ApiBundle/Command/Checkout/ChoosePaymentMethod.php
  src/Sylius/Bundle/ApiBundle/Command/PaymentMethodCodeAwareInterface.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/ChoosePaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ChosenPaymentMethodEligibility.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ChosenPaymentMethodEligibilityValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ChosenPaymentMethodEligibilityValidatorSpec.php
Labels: API

#12666 [API] Prevent from using inexistent shipping method
  features/checkout/shipping_order/preventing_not_available_shipping_method_selection.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ChosenShippingMethodEligibility.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ChosenShippingMethodEligibilityValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ChosenShippingMethodEligibilityValidatorSpec.php
Labels: API

#12661 [API] Add itemsTotal field to order resource
  features/cart/shopping_cart/seeing_detailed_information_about_cart.feature
  features/cart/shopping_cart/seeing_order_items_in_cart.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/OrderContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/OrderItem.xml
Labels: API

#12663 [Api] Customer see description of a product
  features/product/viewing_products/viewing_product.feature
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
  src/Sylius/Behat/Page/Shop/Product/ShowPageInterface.php
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductTranslation.xml
Labels: API

#12640 [DOCS] Modify serialization fields in api
  docs/customization/api.rst
Labels: Documentation

#12669 [API] short description on product index
  features/product/viewing_products/viewing_product_short_description_on_product_list.feature
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductTranslation.xml
Labels: API

#12667 [Documentation] Customizing CreditMemo entity by adding a new field
  docs/cookbook/payments/customizing-credit-memo.rst
Labels: Documentation

#12668 [API] write order email send test in api bundle
  src/Sylius/Bundle/ApiBundle/CommandHandler/SendOrderConfirmationHandler.php
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendOrderConfirmationEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/SendOrderConfirmationHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/test/config/config.yaml
Labels: API

#12672 Fix for build of Sylius Standard
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
Labels: API

#12665 Add Validation to chose payment method
  features/checkout/paying_for_order/preventing_not_available_payment_method_selection.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/ChoosePaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ChosenPaymentMethodEligibility.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ChosenPaymentMethodEligibilityValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ChosenPaymentMethodEligibilityValidatorSpec.php
Labels: API

#12578 [API][Shop] Remove channel pricing from shop
  UPGRADE-1.10.md
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ChannelPricing.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ChannelPricing.xml
Labels: API, Maintenance

#12674 [Minor] Return shop user after registration command to improve extendibility
  src/Sylius/Bundle/ApiBundle/CommandHandler/RegisterShopUserHandler.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/RegisterShopUserHandlerSpec.php
Labels: API, DX, Enhancement

#12673 [API][Address] Remove account prefix from addresses endpoints
  UPGRADE-1.10.md
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Bundle/ApiBundle/DataPersister/AddressDataPersister.php
  src/Sylius/Bundle/ApiBundle/DataProvider/AddressCollectionDataProvider.php
  src/Sylius/Bundle/ApiBundle/DataProvider/AddressItemDataProvider.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/AddressesExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Address.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_persisters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/spec/DataPersister/AddressDataPersisterSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/AddressCollectionDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/AddressItemDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryCollectionExtension/AddressesExtensionSpec.php
Labels: API, Maintenance

#12675 Add missing return value
  src/Sylius/Bundle/ApiBundle/CommandHandler/RegisterShopUserHandler.php
Labels: API

#12671 [Api] Tests adding incorrect county code to address order
  features/checkout/addressing_order/order_address_validation.feature
  src/Sylius/Behat/Client/ResponseChecker.php
  src/Sylius/Behat/Client/ResponseCheckerInterface.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/CorrectAddressOrder.xml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/CorrectOrderAddress.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/CorrectOrderAddressValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/CorrectOrderAddressValidatorSpec.php
Labels: API

#12618 [Docs] Fix cookbook for custom entity
  docs/cookbook/entities/custom-model.rst
Labels: Documentation
