Repository Sylius/Sylius, pull requests merged in 2021-11, with the labels that each got.

#13271 Fix composer.json file after rebase
  composer.json
Labels: Bug

#13255 [Docs][The Book] Update the Core Team members
  docs/book/organization/team.rst
  docs/requirements.txt
Labels: Documentation

#13256 [CatalogPromotion] dates are editable and validated
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_in_proper_time_range.feature
  features/promotion/managing_catalog_promotions/editing_catalog_promotion.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Page/Admin/CatalogPromotion/CreatePage.php
  src/Sylius/Behat/Page/Admin/CatalogPromotion/UpdatePage.php
  src/Sylius/Behat/Page/Admin/CatalogPromotion/UpdatePageInterface.php
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/CatalogPromotion.xml
  src/Sylius/Bundle/PromotionBundle/Form/Type/CatalogPromotionType.php
  src/Sylius/Bundle/PromotionBundle/Resources/config/validation/CatalogPromotion.xml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.en.yml
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/Responses/Expected/admin/catalog_promotion/post_catalog_promotion_with_invalid_dates_response.json
Labels: API

#13275 [Maintenance] Add note about doctrine/dbal requirement
  CONFLICTS.md
Labels: Maintenance

#13273 [CatalogPromotion] Add "for products" scope
  docs/book/products/catalog_promotions.rst
  docs/cookbook/promotions/custom-catalog-promotion-scope.rst
  features/promotion/applying_catalog_promotions/applying_all_available_types_catalog_promotions.feature
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_for_product.feature
  features/promotion/applying_catalog_promotions/reapplying_catalog_promotions_after_editing_their_scopes.feature
  features/promotion/managing_catalog_promotions/creating_catalog_promotion.feature
  features/promotion/managing_catalog_promotions/editing_catalog_promotion.feature
  features/promotion/managing_catalog_promotions/seeing_catalog_promotion_details.feature
  features/promotion/managing_catalog_promotions/validating_catalog_promotion_creation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FormElement.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FormElementInterface.php
  src/Sylius/Behat/Page/Admin/CatalogPromotion/ShowPage.php
  src/Sylius/Behat/Page/Admin/CatalogPromotion/ShowPageInterface.php
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
  src/Sylius/Behat/Page/Shop/Product/ShowPageInterface.php
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/Scope/default.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/Scope/for_products.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/Show/Scope/for_products.html.twig
  src/Sylius/Bundle/CoreBundle/Form/Type/CatalogPromotionScope/ForProductsScopeConfigurationType.php
  src/Sylius/Bundle/CoreBundle/Provider/ForProductsScopeVariantsProvider.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/validators.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/CoreBundle/Validator/CatalogPromotionScope/ForProductsScopeValidator.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/CatalogPromotionScope.php
  src/Sylius/Bundle/CoreBundle/spec/Provider/ForProductsScopeVariantsProviderSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Validator/CatalogPromotionScope/ForProductsScopeValidatorSpec.php
  src/Sylius/Bundle/ShopBundle/Resources/private/js/sylius-variants-prices.js
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Show/_price.html.twig
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
  src/Sylius/Component/Core/Model/CatalogPromotionScopeInterface.php
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/Responses/Expected/admin/catalog_promotion/post_catalog_promotion_with_invalid_scopes_response.json
Labels: Feature, Documentation, Admin, API

#13282 [API] Revert changes of checked keys in cart and checkout responses to fix the build
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
Labels: Documentation, Maintenance, API, Bug

#13260 [CatalogPromotions] Add priorities
  features/promotion/applying_catalog_promotions/applying_catalog_promotion_with_proper_priorities.feature
  features/promotion/managing_catalog_promotions/browsing_catalog_promotions.feature
  features/promotion/managing_catalog_promotions/creating_catalog_promotion.feature
  features/promotion/managing_catalog_promotions/seeing_catalog_promotion_details.feature
  features/promotion/managing_catalog_promotions/validating_catalog_promotion_creation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FormElement.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FormElementInterface.php
  src/Sylius/Behat/Page/Admin/CatalogPromotion/ShowPage.php
  src/Sylius/Behat/Page/Admin/CatalogPromotion/ShowPageInterface.php
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
  src/Sylius/Behat/Page/Shop/Product/ShowPageInterface.php
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/catalog_promotion.yaml
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/Show/_details.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/_form.html.twig
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CatalogPromotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/CatalogPromotion.xml
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CatalogPromotionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20211028150911.php
  src/Sylius/Bundle/PromotionBundle/Doctrine/ORM/CatalogPromotionRepository.php
  src/Sylius/Bundle/PromotionBundle/Form/Type/CatalogPromotionType.php
  src/Sylius/Bundle/PromotionBundle/Resources/config/doctrine/model/CatalogPromotion.orm.xml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/messages.en.yml
  src/Sylius/Component/Promotion/Model/CatalogPromotion.php
  src/Sylius/Component/Promotion/Model/CatalogPromotionInterface.php
  src/Sylius/Component/Promotion/spec/Model/CatalogPromotionSpec.php
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/Responses/Expected/admin/catalog_promotion/get_catalog_promotion_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/get_catalog_promotions_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/post_catalog_promotion_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/put_catalog_promotion_response.json
Labels: Feature, Admin, Shop, API

#13290 Maintain | Drop support for Symfony 5.2
  .github/workflows/application.yml
  .github/workflows/packages.yml
  composer.json
Labels: Maintenance

#13295 [Github] clear cache before phpunit
  .github/workflows/application.yml
Labels: Maintenance

#13287 List of channel currencies endpoint
  features/currency/switching_current_currency.feature
  src/Sylius/Behat/Context/Api/Shop/CurrencyContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites/api/currency/currencies.yml
  src/Sylius/Bundle/ApiBundle/DataProvider/CurrencyCollectionDataProvider.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Currency.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/CurrencyCollectionDataProviderSpec.php
Labels: Feature, API

#13297 [Actions] disable xdebug for actions
  .github/workflows/application.yml
Labels: Maintenance

#13280 Get products by slug api endpoint
  features/product/viewing_products/accessing_product_page_via_permalink.feature
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Bundle/ApiBundle/Controller/GetProductBySlugAction.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/swagger.xml
  src/Sylius/Bundle/ApiBundle/Swagger/ProductSlugDocumentationNormalizer.php
  tests/Api/Shop/ProductsTest.php
Labels: Maintenance, Admin, API

#13206 [API][UI] Sort products by their discounted price
  features/product/viewing_products/viewing_products_sorted_by_their_discounted_price.feature
  features/product/viewing_products/viewing_sorted_products.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Behat/Resources/config/suites/api/product/viewing_products.yml
  src/Sylius/Behat/Resources/config/suites/ui/product/viewing_products.yml
  src/Sylius/Bundle/ApiBundle/Doctrine/Filter/ProductPriceOrderFilter.php
  src/Sylius/Bundle/ApiBundle/Filter/TaxonFilter.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/spec/Filter/TaxonFilterSpec.php
Labels: Feature, API

#13266 Specify minimum price of product and apply it on catalogPromotions
  features/product/managing_product_variants/adding_product_variant.feature
  features/product/managing_product_variants/autocomplete_product_variant_descriptor.feature
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_with_minimum_price.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductVariantsContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Behat/Context/Setup/ProductContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductVariantsContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Page/Admin/ProductVariant/CreatePage.php
  src/Sylius/Behat/Page/Admin/ProductVariant/CreatePageInterface.php
  src/Sylius/Behat/Page/Admin/ProductVariant/UpdatePage.php
  src/Sylius/Behat/Page/Admin/ProductVariant/UpdatePageInterface.php
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
  src/Sylius/Behat/Page/Shop/Product/ShowPageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/product/managing_product_variants.yml
  src/Sylius/Behat/Resources/config/suites/api/product/managing_product_variants_ajax.yml
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Tab/_channelPricings.html.twig
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ChannelPricing.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductVariant.xml
  src/Sylius/Bundle/CoreBundle/Applicator/CatalogPromotionApplicator.php
  src/Sylius/Bundle/CoreBundle/Form/Type/Product/ChannelPricingType.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20211025082311.php
  src/Sylius/Bundle/CoreBundle/Resources/config/doctrine/model/ChannelPricing.orm.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/ChannelPricing.xml
  src/Sylius/Bundle/CoreBundle/spec/Applicator/CatalogPromotionApplicatorSpec.php
  src/Sylius/Component/Core/Model/ChannelPricing.php
  src/Sylius/Component/Core/Model/ChannelPricingInterface.php
  tests/Api/Admin/ProductVariantsTest.php
  tests/Api/Responses/Expected/admin/get_product_variants_response.json
  tests/Api/Responses/Expected/admin/post_product_variant_response.json
  tests/Api/Responses/Expected/admin/put_product_variant_response.json
Labels: Admin, API

#13307 [Docs] Drop 1.9 bug support
  .github/PULL_REQUEST_TEMPLATE.md
  docs/book/organization/release-cycle.rst
Labels: Documentation

#13299 [Adr] Fix customization api documentation url
  adr/2021_06_15_api_platform_config_customization.md
Labels: Bug

#13322 [Spec] change username to runtime exception
  src/Sylius/Bundle/ApiBundle/composer.json
  src/Sylius/Bundle/UserBundle/spec/Provider/UsernameOrEmailProviderSpec.php
Labels: Maintenance, API

#13303 [CatalogPromotion] Add exclusiveness flag
  docs/book/products/catalog_promotions.rst
  features/promotion/applying_catalog_promotions/applying_only_exclusive_catalog_promotion.feature
  features/promotion/applying_catalog_promotions/reapplying_catalog_promotions_after_editing_their_scopes.feature
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/_form.html.twig
  src/Sylius/Bundle/CoreBundle/Applicator/CatalogPromotionApplicator.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CatalogPromotionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Formatter/AppliedPromotionInformationFormatter.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20211122104644.php
  src/Sylius/Bundle/CoreBundle/Processor/AllCatalogPromotionsProcessor.php
  src/Sylius/Bundle/CoreBundle/spec/Applicator/CatalogPromotionApplicatorSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Formatter/AppliedPromotionInformationFormatterSpec.php
  src/Sylius/Bundle/PromotionBundle/Doctrine/ORM/CatalogPromotionRepository.php
  src/Sylius/Bundle/PromotionBundle/Form/Type/CatalogPromotionType.php
  src/Sylius/Bundle/PromotionBundle/Resources/config/doctrine/model/CatalogPromotion.orm.xml
  src/Sylius/Bundle/ShopBundle/Resources/private/js/sylius-variants-prices.js
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Box/_content.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Show/_price.html.twig
  src/Sylius/Component/Core/Model/ChannelPricing.php
  src/Sylius/Component/Core/Model/ChannelPricingInterface.php
  src/Sylius/Component/Core/spec/Model/ChannelPricingSpec.php
  src/Sylius/Component/Promotion/Model/CatalogPromotion.php
  src/Sylius/Component/Promotion/Model/CatalogPromotionInterface.php
Labels: Documentation, Admin, Shop

#13311 Code cleanup - user password reset
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/ResetPasswordHandler.php
Labels: API

#13325 [CatalogPromotion][API][UI] Fixed discount action
  docs/book/products/catalog_promotions.rst
  features/promotion/applying_catalog_promotions/applying_all_available_types_catalog_promotions.feature
  features/promotion/applying_catalog_promotions/applying_all_available_types_of_catalog_promotions.feature
  features/promotion/applying_catalog_promotions/applying_catalog_promotion_with_proper_priorities.feature
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_with_fixed_discount_action.feature
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_with_minimum_price.feature
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_with_taking_minimum_price_into_account.feature
  features/promotion/managing_catalog_promotions/creating_catalog_promotion.feature
  features/promotion/managing_catalog_promotions/editing_catalog_promotion.feature
  features/promotion/managing_catalog_promotions/validating_catalog_promotion_creation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Behat/Context/Setup/ProductContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FormElement.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FormElementInterface.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/CatalogPromotionActionTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/CatalogPromotionScopeTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/AdminBundle/Resources/private/js/app.js
  src/Sylius/Bundle/AdminBundle/Resources/private/js/sylius-catalog-promotion-actions.js
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/_action.html.twig
  src/Sylius/Bundle/CoreBundle/Applicator/CatalogPromotionApplicator.php
  src/Sylius/Bundle/CoreBundle/Calculator/ActionBasedPriceCalculatorInterface.php
  src/Sylius/Bundle/CoreBundle/Calculator/CatalogPromotionPriceCalculator.php
  src/Sylius/Bundle/CoreBundle/Calculator/CatalogPromotionPriceCalculatorInterface.php
  src/Sylius/Bundle/CoreBundle/Calculator/FixedDiscountPriceCalculator.php
  src/Sylius/Bundle/CoreBundle/Calculator/PercentageDiscountPriceCalculator.php
  src/Sylius/Bundle/CoreBundle/Form/Type/CatalogPromotionAction/ChannelBasedFixedDiscountActionConfigurationType.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/calculators.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/validators.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/CoreBundle/Validator/CatalogPromotionAction/FixedDiscountActionValidator.php
  src/Sylius/Bundle/CoreBundle/spec/Applicator/CatalogPromotionApplicatorSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Calculator/CatalogPromotionPriceCalculatorSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Calculator/FixedDiscountPriceCalculatorSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Calculator/PercentageDiscountPriceCalculatorSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Validator/CatalogPromotionAction/FixedDiscountActionValidatorSpec.php
  src/Sylius/Bundle/PromotionBundle/Form/Type/CatalogPromotionAction/FixedDiscountActionConfigurationType.php
  src/Sylius/Bundle/PromotionBundle/Form/Type/CatalogPromotionAction/PercentageDiscountActionConfigurationType.php
  src/Sylius/Bundle/PromotionBundle/Form/Type/CatalogPromotionActionType.php
  src/Sylius/Bundle/PromotionBundle/Resources/config/services/forms.xml
  src/Sylius/Bundle/PromotionBundle/Resources/config/services/validators.xml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/PromotionBundle/Validator/CatalogPromotionAction/ActionValidatorInterface.php
  src/Sylius/Bundle/PromotionBundle/Validator/CatalogPromotionAction/PercentageDiscountActionValidator.php
  src/Sylius/Bundle/PromotionBundle/Validator/CatalogPromotionActionValidator.php
  src/Sylius/Bundle/PromotionBundle/spec/Validator/CatalogPromotionAction/PercentageDiscountActionValidatorSpec.php
  src/Sylius/Bundle/PromotionBundle/spec/Validator/CatalogPromotionActionValidatorSpec.php
  src/Sylius/Component/Core/Exception/ActionBasedPriceCalculatorNotFoundException.php
  src/Sylius/Component/Promotion/Model/CatalogPromotionActionInterface.php
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/Responses/Expected/admin/catalog_promotion/post_catalog_promotion_with_invalid_actions_response.json
Labels: Feature, Documentation, Admin, API

#13306 [Minor][Behat] Style and type refactor
  src/Sylius/Behat/Context/Api/Shop/CurrencyContext.php
Labels: Enhancement, Behat

#13335 [Minor] Removal of additional spaces and deprecation version fix
  src/Sylius/Bundle/CoreBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/AdminUserExampleFactory.php
Labels: Enhancement

#13305 [Behat] Skip ui based checkout steps in api coverage
  features/checkout/addressing_order/changing_address_during_checkout.feature
  features/checkout/being_able_to_modify_remaining_steps.feature
  features/checkout/preventing_starting_checkout_with_empty_cart.feature
  features/checkout/shipping_order/returning_from_shipping_step_to_addressing_step.feature
  features/checkout/skipping_shipping_and_payment_step_when_order_does_not_require_any_shipping_and_its_total_is_zero.feature
Labels: Behat, API

#13338 Drop support for PHP 7.4
  .github/workflows/application.yml
  .github/workflows/packages.yml
  UPGRADE-1.11.md
  composer.json
  src/Sylius/Bundle/AddressingBundle/composer.json
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/ApiBundle/composer.json
  src/Sylius/Bundle/AttributeBundle/composer.json
  src/Sylius/Bundle/ChannelBundle/composer.json
  src/Sylius/Bundle/CoreBundle/composer.json
  src/Sylius/Bundle/CurrencyBundle/composer.json
  src/Sylius/Bundle/CustomerBundle/composer.json
  src/Sylius/Bundle/InventoryBundle/composer.json
  src/Sylius/Bundle/LocaleBundle/composer.json
  src/Sylius/Bundle/MoneyBundle/composer.json
  src/Sylius/Bundle/OrderBundle/composer.json
  src/Sylius/Bundle/PaymentBundle/composer.json
  src/Sylius/Bundle/PayumBundle/composer.json
  src/Sylius/Bundle/ProductBundle/composer.json
  src/Sylius/Bundle/PromotionBundle/composer.json
  src/Sylius/Bundle/ReviewBundle/composer.json
  src/Sylius/Bundle/ShippingBundle/composer.json
  src/Sylius/Bundle/ShopBundle/composer.json
  src/Sylius/Bundle/TaxationBundle/composer.json
  src/Sylius/Bundle/TaxonomyBundle/composer.json
  src/Sylius/Bundle/UiBundle/composer.json
  src/Sylius/Bundle/UserBundle/composer.json
  src/Sylius/Component/Addressing/composer.json
  src/Sylius/Component/Attribute/composer.json
  src/Sylius/Component/Channel/composer.json
  src/Sylius/Component/Core/composer.json
  src/Sylius/Component/Currency/composer.json
  src/Sylius/Component/Customer/composer.json
  src/Sylius/Component/Inventory/composer.json
  src/Sylius/Component/Locale/composer.json
  src/Sylius/Component/Order/composer.json
  src/Sylius/Component/Payment/composer.json
  src/Sylius/Component/Product/composer.json
  src/Sylius/Component/Promotion/composer.json
  src/Sylius/Component/Review/composer.json
  src/Sylius/Component/Shipping/composer.json
  src/Sylius/Component/Taxation/composer.json
  src/Sylius/Component/Taxonomy/composer.json
  src/Sylius/Component/User/composer.json
Labels: Maintenance, Admin, Shop, API

#13320 Remove swagger decorators when docs are disabled
  src/Sylius/Bundle/ApiBundle/DependencyInjection/SyliusApiExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/integrations/swagger.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/test/config/config.yaml
  src/Sylius/Bundle/ApiBundle/test/src/Tests/DisablingDocumentationTest.php
Labels: API, Bug

#13343 [Documentation] Update required version of PHP
  docs/book/installation/requirements.rst
Labels: Documentation

#13333 Replace data providers with doctrine extensions
  src/Sylius/Bundle/ApiBundle/DataProvider/AddressItemDataProvider.php
  src/Sylius/Bundle/ApiBundle/DataProvider/CountryCollectionDataProvider.php
  src/Sylius/Bundle/ApiBundle/DataProvider/CurrencyCollectionDataProvider.php
  src/Sylius/Bundle/ApiBundle/DataProvider/LocaleCollectionDataProvider.php
  src/Sylius/Bundle/ApiBundle/DataProvider/TaxonCollectionDataProvider.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/CountryCollectionExtension.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/CurrencyCollectionExtension.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/LocaleCollectionExtension.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/TaxonCollectionExtension.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryItemExtension/AddressItemExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/AddressItemDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/CountryCollectionDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/CurrencyCollectionDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/LocaleCollectionDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/TaxonCollectionDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryCollectionExtension/CountryCollectionExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryCollectionExtension/CurrencyCollectionExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryCollectionExtension/LocaleCollectionExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryCollectionExtension/TaxonCollectionExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryItemExtension/AddressItemExtensionSpec.php
  tests/Api/Shop/CountriesTest.php
Labels: API
