Repository Sylius/Sylius, pull requests merged in 2021-04, with the labels that each got.

#12499 [API][Shop] Add validation for adding a product review
  features/product/adding_product_reviews/product_review_validation.feature
  src/Sylius/Behat/Client/ResponseChecker.php
  src/Sylius/Behat/Client/ResponseCheckerInterface.php
  src/Sylius/Behat/Context/Api/Shop/ProductReviewContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductReviewContext.php
  src/Sylius/Bundle/ApiBundle/Command/AddProductReview.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/AddProductReview.xml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/UniqueReviewerEmail.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/UniqueReviewerEmailValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/UniqueReviewerEmailValidatorSpec.php
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
Labels: API

#12501 [BUG] Product options null value returns 400 instead of 500
  src/Sylius/Component/Product/Model/ProductVariant.php
  src/Sylius/Component/Product/Model/ProductVariantInterface.php
  tests/Controller/ProductVariantApiTest.php
  tests/DataFixtures/ORM/resources/product_variants.yml
  tests/Responses/product_variant/create_response.json
  tests/Responses/product_variant/create_tracked_response.json
  tests/Responses/product_variant/create_with_channel_pricings_response.json
  tests/Responses/product_variant/create_with_product_option_response.json
  tests/Responses/product_variant/create_with_shipping_category_response.json
  tests/Responses/product_variant/create_with_tax_category_response.json
  tests/Responses/product_variant/create_with_translations_response.json
  tests/Responses/product_variant/index_response.json
  tests/Responses/product_variant/paginated_index_response.json
  tests/Responses/product_variant/sorted_index_response.json
Labels: API, Bug

#12493 Update model.rst
  docs/customization/model.rst
Labels: Documentation

#12497 [API] Validating shipment that was shipped
  UPGRADE-1.10.md
  features/shipping/managing_shipments/shipping_a_shipment_from_shipment_list.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingShipmentsContext.php
  src/Sylius/Bundle/AdminBundle/Resources/views/Email/shipmentConfirmation.html.twig
  src/Sylius/Bundle/ApiBundle/Command/Checkout/ShipShipment.php
  src/Sylius/Bundle/ApiBundle/Command/SendShipmentConfirmationEmail.php
  src/Sylius/Bundle/ApiBundle/Command/ShipmentIdAwareInterface.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/ShipShipmentHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/SendShipmentConfirmationEmailHandler.php
  src/Sylius/Bundle/ApiBundle/DataTransformer/ShipmentIdAwareInputCommandDataTransformer.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Shipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Checkout/ShipShipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Shipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/ShipShipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ShipmentAlreadyShipped.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ShipmentAlreadyShippedValidator.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/ShipShipmentHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/SendShipmentConfirmationEmailHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataTransformer/ShipmentIdAwareInputCommandDataTransformerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ShipmentAlreadyShippedValidatorSpec.php
  src/Sylius/Bundle/CoreBundle/Resources/config/app/sylius/sylius_mailer.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/CoreBundle/Resources/views/Email/shipmentConfirmation.html.twig
Labels: API, Admin, Maintenance

#12496 fixed find files in yaml standards
  config/packages/twig.yaml
  src/Sylius/Behat/Resources/config/suites/api/account/login.yml
  src/Sylius/Behat/Resources/config/suites/api/promotion/receiving_discount.yml
  src/Sylius/Behat/Resources/config/suites/api/shipping/managing_shipments.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/product_attribute.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/fixtures/dress.yaml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/fixtures/shop_configuration.yaml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/messenger.yaml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  yaml-standards.yaml
Labels: Admin, Shop

#12509 [API] Add admin and shop section resolvers
  src/Sylius/Bundle/AdminBundle/spec/SectionResolver/AdminUriBasedSectionResolverSpec.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/SectionResolver/AdminApiSection.php
  src/Sylius/Bundle/ApiBundle/SectionResolver/AdminApiUriBasedSectionResolver.php
  src/Sylius/Bundle/ApiBundle/SectionResolver/ShopApiSection.php
  src/Sylius/Bundle/ApiBundle/SectionResolver/ShopApiUriBasedSectionResolver.php
  src/Sylius/Bundle/ApiBundle/spec/SectionResolver/AdminApiUriBasedSectionResolverSpec.php
  src/Sylius/Bundle/ApiBundle/spec/SectionResolver/ShopApiUriBasedSectionResolverSpec.php
Labels: API, Admin

#12510 Update to api platform v2.6
  UPGRADE-1.10.md
  composer.json
  psalm.xml
  src/Sylius/Behat/Context/Api/Shop/AddressContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Api/Shop/CustomerContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductReviewContext.php
  src/Sylius/Behat/Context/Api/Shop/PromotionContext.php
  src/Sylius/Behat/Context/Api/Shop/RegistrationContext.php
  src/Sylius/Bundle/ApiBundle/ApiPlatform/Bridge/Doctrine/ORM/SubresourceDataProvider.php
  src/Sylius/Bundle/ApiBundle/ApiPlatform/Bridge/Symfony/Routing/RouteNameResolver.php
  src/Sylius/Bundle/ApiBundle/ApiPlatform/Metadata/Property/Factory/ExtractorPropertyMetadataFactory.php
  src/Sylius/Bundle/ApiBundle/Context/TokenValueBasedCartContext.php
  src/Sylius/Bundle/ApiBundle/Controller/DeleteOrderItemAction.php
  src/Sylius/Bundle/ApiBundle/DataProvider/CartPaymentMethodsSubresourceDataProvider.php
  src/Sylius/Bundle/ApiBundle/DataProvider/CartShippingMethodsSubresourceDataProvider.php
  src/Sylius/Bundle/ApiBundle/DataProvider/OrderAdjustmentsSubresourceDataProvider.php
  src/Sylius/Bundle/ApiBundle/DataProvider/OrderItemAdjustmentsSubresourceDataProvider.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Channel.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Country.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Currency.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOption.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOptionValue.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ResetPassword.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Taxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/VerifyCustomerAccount.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/views/SwaggerUi/index.html.twig
  src/Sylius/Bundle/ApiBundle/Tests/ApiPlatform/Bridge/Symfony/Routing/RouteNameResolverTest.php
  src/Sylius/Bundle/ApiBundle/composer.json
  src/Sylius/Bundle/ApiBundle/spec/Context/TokenValueBasedCartContextSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/CartPaymentMethodsSubresourceDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/CartShippingMethodsSubresourceDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/OrderAdjustmentsSubresourceDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/OrderItemAdjustmentsSubresourceDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/test/config/api_resources/Taxon.xml
Labels: API, Maintenance

#12512 [API] Fix cart blaming
  UPGRADE-1.10.md
  src/Sylius/Bundle/ApiBundle/EventListener/ApiCartBlamerListener.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/SectionResolver/ShopApiOrdersSubSection.php
  src/Sylius/Bundle/ApiBundle/SectionResolver/ShopApiUriBasedSectionResolver.php
  src/Sylius/Bundle/ApiBundle/spec/SectionResolver/ShopApiUriBasedSectionResolverSpec.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/ShopBundle/EventListener/ShopCartBlamerListener.php
  src/Sylius/Bundle/ShopBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/ShopBundle/spec/EventListener/ShopCartBlamerListenerSpec.php
Labels: API, Admin, Maintenance, Shop

#12529 Cleanup resend verification email handler
  src/Sylius/Bundle/ApiBundle/CommandHandler/ResendVerificationEmailHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/ResendVerificationEmailHandlerSpec.php
Labels: API, Enhancement

#12525 Move note from UPGRADE-1.8 to UPGRADE-1.9 file
  UPGRADE-1.8.md
  UPGRADE-1.9.md
Labels: API, Maintenance

#12528 Refactor cart blaming
  UPGRADE-1.10.md
  src/Sylius/Bundle/ApiBundle/Command/BlameCart.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/BlameCartHandler.php
  src/Sylius/Bundle/ApiBundle/EventListener/ApiCartBlamerListener.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/BlameCartHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/EventListener/ApiCartBlamerListenerSpec.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/ShopBundle/EventListener/UserCartRecalculationListener.php
  src/Sylius/Bundle/ShopBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/ShopBundle/spec/EventListener/UserCartRecalculationListenerSpec.php
Labels: API, Maintenance, Shop

#12533 Minor fixes for cart blaming command
  src/Sylius/Bundle/ApiBundle/Command/BlameCart.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/BlameCartHandler.php
Labels: API, Enhancement

#12458 [Locale] Current locale set on request
  features/admin/browsing_administration_panel_in_proper_language.feature
  src/Sylius/Behat/Context/Ui/Admin/LocaleContext.php
  src/Sylius/Behat/Page/Admin/DashboardPage.php
  src/Sylius/Behat/Page/Admin/DashboardPageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/CoreBundle/EventListener/LocaleAwareListener.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/LocaleBundle/.gitignore
Labels: Admin, Bug

#12532 [API] Serialization groups unified
  UPGRADE-1.10.md
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductAssociationType.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOption.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOptionValue.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductTaxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/TaxonTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductAssociationType.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductAssociationTypeTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductOption.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductOptionTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductOptionValue.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductOptionValueTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductTaxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductVariantTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/TaxonTranslation.xml
Labels: API, Maintenance

#12530 [API]Unify change quantity endpoint with other orders endpoints
  UPGRADE-1.10.md
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Bundle/ApiBundle/Command/Cart/ChangeItemQuantityInCart.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Cart/ChangeItemQuantityInCartHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Cart/ChangeItemQuantityInCart.xml
Labels: API, Maintenance

#12542 Upgrade release cycle dates for 1.9 and 1.10
  docs/book/organization/release-cycle.rst
Labels: Documentation

#12545 [API][Promotion] Test applying promotion rules
  features/promotion/applying_promotion_rules/receiving_discount_based_on_cart_quantity.feature
  features/promotion/applying_promotion_rules/receiving_discount_based_on_chosen_product.feature
  features/promotion/applying_promotion_rules/receiving_discount_based_on_customer_group.feature
  features/promotion/applying_promotion_rules/receiving_discount_based_on_items_from_specific_taxons.feature
  features/promotion/applying_promotion_rules/receiving_discount_based_on_items_total.feature
  features/promotion/applying_promotion_rules/receiving_discount_based_on_nth_order_for_guest_customer.feature
  features/promotion/applying_promotion_rules/receiving_discount_based_on_total_of_items_from_specific_taxon.feature
  features/promotion/complex_promotions.feature
  features/promotion/reverting_discount/reverting_previously_applied_discount_on_cart.feature
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/promotion/applying_promotion_rules.yml
Labels: API, Feature

#12544 [API][Checkout] Add tag to promotion scenario
  features/checkout/order_promotion/order_promotion_integrity_validation.feature
Labels: API, Feature

#12535 [API] Add prefix to subresource endpoint of order item's adjustments
  UPGRADE-1.9.md
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/OrderItem.xml
Labels: API, Maintenance

#12516 Fix CustomerComponent Typo
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ShopUserExampleFactory.php
Labels: Bug

#12546 [Minor] Use explicit bus instead of the default one
  src/Sylius/Bundle/ApiBundle/Resources/config/services/event_handlers.xml
Labels: API, Bug

#12547 Remove Admin API Bundle from the default Sylius installation
  composer.json
  config/bundles.php
  config/packages/_sylius.yaml
  config/packages/security.yaml
  config/routes/sylius_admin_api.yaml
  src/Sylius/Bundle/ApiBundle/DataTransformer/LoggedInShopUserEmailAwareCommandDataTransformer.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/UniqueReviewerEmailValidator.php
  src/Sylius/Bundle/CoreBundle/DependencyInjection/SyliusCoreExtension.php
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.AdminUser.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.Channel.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.ChannelPricing.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.Customer.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.Image.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.Order.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.OrderItem.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.OrderItemUnit.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.Payment.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.PaymentMethod.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.Product.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.ProductImage.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.ProductTaxon.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.ProductVariant.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.Promotion.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.PromotionCoupon.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.Property.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.Shipment.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.ShippingMethod.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.ShopUser.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.TaxRate.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serializer/Model.Taxon.yml
  symfony.lock
  tests/Responses/ajax/product/index_response.json
Labels: API

#12557 update Plus installation guide
  docs/book/installation/sylius_plus_installation.rst
Labels: Documentation

#12558 [Order] Fix race condition problem with multiple order recalculations
  src/Sylius/Bundle/CoreBundle/Migrations/Version20210422105530.php
  src/Sylius/Bundle/CoreBundle/Resources/config/doctrine/model/OrderItem.orm.xml
  src/Sylius/Component/Core/Model/OrderItem.php
  src/Sylius/Component/Core/Model/OrderItemInterface.php
  src/Sylius/Component/Core/spec/Model/OrderItemSpec.php
  src/Sylius/Component/Order/Model/Order.php
  src/Sylius/Component/Order/Model/OrderItem.php
  src/Sylius/Component/Order/Model/OrderItemUnit.php
  src/Sylius/Component/Order/spec/Model/OrderSpec.php
Labels: Bug

#12564 [Docs] add minor improvement to Plus installation guide
  docs/book/installation/sylius_plus_installation.rst
Labels: Documentation

#12534 [Api] upgrade taxon filter on product
  features/product/viewing_products/viewing_products_from_specific_taxon.feature
  features/product/viewing_products/viewing_products_from_taxon_and_children.feature
  features/product/viewing_products/viewing_products_from_taxon_children.feature
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites/api/product/viewing_products.yml
  src/Sylius/Bundle/ApiBundle/Filter/TaxonFilter.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/spec/Filter/TaxonFilterSpec.php
Labels: API

#12565 [API][Order] Fix possibility to limit orders by refactoring from data provider to extension
  UPGRADE-1.9.md
  features/account/customer_account/viewing_orders_history/seeing_customer_orders_placed_as_guest.feature
  features/order/managing_orders/order_filtration/limiting_the_number_of_orders.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingOrdersContext.php
  src/Sylius/Behat/Context/Setup/OrderContext.php
  src/Sylius/Behat/Context/Transform/OrderContext.php
  src/Sylius/Bundle/ApiBundle/DataProvider/OrderCollectionDataProvider.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/OrdersByLoggedInUserExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/OrderCollectionDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryCollectionExtension/OrdersByLoggedInUserExtensionSpec.php
Labels: API, Bug, Maintenance

#12568 [API] channel based product collection
  features/product/viewing_products/viewing_products_from_specific_taxon_and_channel.feature
  src/Sylius/Behat/Context/Api/Shop/ChannelContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Setup/ChannelContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Bundle/ApiBundle/Filter/TaxonFilter.php
  src/Sylius/Bundle/ApiBundle/spec/Filter/TaxonFilterSpec.php
Labels: API

#12571 [API] remove productCode from addToCart
  UPGRADE-1.10.md
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Setup/CartContext.php
  src/Sylius/Bundle/ApiBundle/Command/Cart/AddItemToCart.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Cart/AddItemToCartHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Cart/AddItemToCart.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Cart/AddItemToCartHandlerSpec.php
Labels: API, Maintenance

#12487 [Api][POC]Convert iri to code in command
  UPGRADE-1.10.md
  adr/2021_04_15_using_iri_as_api_resource_identifier_in_request_instead_of_code_id.md
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Api/Shop/LoginContext.php
  src/Sylius/Behat/Context/Api/Shop/OrderContext.php
  src/Sylius/Behat/Context/Setup/PaymentContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Bundle/ApiBundle/Converter/ItemIriToIdentifierConverter.php
  src/Sylius/Bundle/ApiBundle/Converter/ItemIriToIdentifierConverterInterface.php
  src/Sylius/Bundle/ApiBundle/Map/CommandItemIriArgumentToIdentifierMap.php
  src/Sylius/Bundle/ApiBundle/Map/CommandItemIriArgumentToIdentifierMapInterface.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Locale.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/PaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Account/ChangePaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Account/RequestResetPasswordToken.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Account/ResendVerificationEmail.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Cart/AddItemToCart.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Cart/PickupCart.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Checkout/ChoosePaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Checkout/ChooseShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Serializer/CommandFieldItemIriToIdentifierDenormalizer.php
  src/Sylius/Bundle/ApiBundle/Tests/Converter/ItemIriToIdentifierConverterTest.php
  src/Sylius/Bundle/ApiBundle/spec/Map/CommandItemIriArgumentToIdentifierMapSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/CommandFieldItemIriToIdentifierDenormalizerSpec.php
Labels: API, Maintenance
