Repository Sylius/Sylius, pull requests merged in 2021-09, with the labels that each got.

#13029 Catalog promotions action
  features/promotion/managing_catalog_promotions/creating_catalog_promotion.feature
  features/promotion/managing_catalog_promotions/editing_catalog_promotion.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CatalogPromotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/CatalogPromotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/CatalogPromotionAction.xml
  src/Sylius/Bundle/CoreBundle/Migrations/Version20210826063828.php
  src/Sylius/Bundle/PromotionBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/PromotionBundle/Resources/config/doctrine/model/CatalogPromotion.orm.xml
  src/Sylius/Bundle/PromotionBundle/Resources/config/doctrine/model/CatalogPromotionAction.orm.xml
  src/Sylius/Component/Core/Model/CatalogPromotionInterface.php
  src/Sylius/Component/Promotion/Model/CatalogPromotion.php
  src/Sylius/Component/Promotion/Model/CatalogPromotionAction.php
  src/Sylius/Component/Promotion/Model/CatalogPromotionActionInterface.php
  src/Sylius/Component/Promotion/Model/CatalogPromotionInterface.php
  src/Sylius/Component/Promotion/spec/Model/CatalogPromotionActionSpec.php
  src/Sylius/Component/Promotion/spec/Model/CatalogPromotionSpec.php
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/Responses/Expected/admin/catalog_promotion/get_catalog_promotion_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/get_catalog_promotions_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/post_catalog_promotion_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/put_catalog_promotion_response.json
Labels: API

#13036 [CatalogPromotions] Use actions for discount application
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_for_variant.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Behat/Resources/config/services/contexts/setup.xml
  src/Sylius/Bundle/CoreBundle/EventListener/CatalogPromotionEventListener.php
  src/Sylius/Bundle/CoreBundle/Processor/CatalogPromotionProcessor.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/spec/EventListener/CatalogPromotionEventListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Processor/CatalogPromotionProcessorSpec.php
Labels: Feature, API

#13041 [CartPromotion][Admin] Change label of promotion to cart promotion
  src/Sylius/Bundle/AdminBundle/Menu/MainMenuBuilder.php
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
Labels: Admin

#13035 [CatalogPromotions] Inform about promotions applied on variants
  features/promotion/applying_catalog_promotions/seeing_applied_catalog_promotions_on_variants_list.feature
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Behat/Resources/config/suites/api/promotion/applying_catalog_promotions.yml
  src/Sylius/Bundle/ApiBundle/Serializer/ProductVariantNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductVariantNormalizerSpec.php
  src/Sylius/Bundle/CoreBundle/Applicator/CatalogPromotionApplicator.php
  src/Sylius/Bundle/CoreBundle/Applicator/CatalogPromotionApplicatorInterface.php
  src/Sylius/Bundle/CoreBundle/Formatter/AppliedPromotionInformationFormatter.php
  src/Sylius/Bundle/CoreBundle/Formatter/AppliedPromotionInformationFormatterInterface.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20210830193340.php
  src/Sylius/Bundle/CoreBundle/Processor/CatalogPromotionProcessor.php
  src/Sylius/Bundle/CoreBundle/Resources/config/doctrine/model/ChannelPricing.orm.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/spec/Applicator/CatalogPromotionApplicatorSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Formatter/AppliedPromotionInformationFormatterSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Processor/CatalogPromotionProcessorSpec.php
  src/Sylius/Component/Core/Model/ChannelPricing.php
  src/Sylius/Component/Core/Model/ChannelPricingInterface.php
  src/Sylius/Component/Core/Model/ProductVariant.php
  src/Sylius/Component/Core/Model/ProductVariantInterface.php
  src/Sylius/Component/Core/spec/Model/ChannelPricingSpec.php
  src/Sylius/Component/Core/spec/Model/ProductVariantSpec.php
Labels: Feature, API

#13030 Add validation for Catalog Promotion Rules
  features/promotion/managing_catalog_promotions/creating_catalog_promotion.feature
  features/promotion/managing_catalog_promotions/validating_catalog_promotion_creation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/validators.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/CatalogPromotion.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/CatalogPromotionRules.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/CatalogPromotionRulesValidator.php
  src/Sylius/Bundle/CoreBundle/spec/Validator/Constraints/CatalogPromotionRulesValidatorSpec.php
Labels: Feature

#12222 logo path corrected
  docs/cookbook/frontend/webpack.rst
Labels: Documentation

#12849 [Docs] Webpack - Display logo on login page
  docs/cookbook/frontend/webpack.rst
Labels: Documentation

#12982 [Docs] Fix link to token generation for API
  composer.json
  docs/book/api/index.rst
Labels: Documentation

#12637 Missing Behat directory on the path to be excluded
  docs/book/plugins/guide/naming.rst
Labels: Documentation

#13064 [Behat] move actions redirect to different step
  features/promotion/managing_catalog_promotions/creating_catalog_promotion.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
Labels: Behat, Admin, Bug

#12452 [Doc] Customizing admin routes prefix
  docs/cookbook/configuration/admin-prefix.rst
  docs/cookbook/configuration/map.rst.inc
  docs/cookbook/index.rst
Labels: Documentation

#12892 [DOCS] Add note about docker builder
  docs/book/contributing/documentation/overview.rst
Labels: Documentation

#12786 [Documentation] Fixed Incorrect Theme Directory And Incorrect Import Paths
  docs/book/themes/themes.rst
Labels: Documentation

#13060 [CP] Add scenario for `Inform about promotions applied on variant`
  features/promotion/applying_catalog_promotions/seeing_applied_catalog_promotion_on_variant.feature
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
Labels: API

#13061 [UI][Behat] tests for editing catalog promotion with rule and action
  features/promotion/managing_catalog_promotions/editing_catalog_promotion.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
Labels: Behat, Admin

#13055 [CatalogPromotions] Add fixtures for catalog promotions rules and actions
  src/Sylius/Bundle/CoreBundle/Fixture/CatalogPromotionFixture.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CatalogPromotionActionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CatalogPromotionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CatalogPromotionRuleExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Resources/config/app/fixtures/shop_configuration.yaml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/fixtures_factories.xml
  src/Sylius/Bundle/CoreBundle/Tests/Fixture/CatalogPromotionFixtureTest.php
Labels: Enhancement

#13066 [CatalogPromotion] refactor cp rule to be consistent with cp action
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/theme.html.twig
  src/Sylius/Bundle/CoreBundle/Form/Extension/CatalogPromotionRuleTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Type/CatalogRule/VariantRuleConfigurationType.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/CatalogPromotionRulesValidator.php
  src/Sylius/Bundle/CoreBundle/spec/Validator/Constraints/CatalogPromotionRulesValidatorSpec.php
  src/Sylius/Bundle/PromotionBundle/Form/Type/CatalogPromotionRuleType.php
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/Responses/Expected/admin/catalog_promotion/post_catalog_promotion_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/put_catalog_promotion_response.json
Labels: Enhancement, Admin

#13072 [CatalogPromotion] Improve names and namespaces of catalog promotion rule form types
  src/Sylius/Bundle/CoreBundle/Form/Extension/CatalogPromotionRuleTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Type/CatalogPromotionRule/ForVariantsRuleConfigurationType.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/form.xml
Labels: Enhancement

#13067 Fix persisting of Catalog Promotion data on create
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_for_variant.feature
  features/promotion/applying_catalog_promotions/seeing_applied_catalog_promotion_on_variant.feature
  features/promotion/applying_catalog_promotions/seeing_applied_catalog_promotions_on_variants_list.feature
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Bundle/CoreBundle/Applicator/CatalogPromotionApplicator.php
  src/Sylius/Bundle/CoreBundle/EventListener/CatalogPromotionEventListener.php
Labels: Bug

#13071 [CatalogPromotion][API] Add validation for creating catalog promotion with actions
  features/promotion/managing_catalog_promotions/creating_catalog_promotion.feature
  features/promotion/managing_catalog_promotions/validating_catalog_promotion_creation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/CatalogPromotionRulesValidator.php
  src/Sylius/Bundle/PromotionBundle/Resources/config/services.xml
  src/Sylius/Bundle/PromotionBundle/Resources/config/services/validators.xml
  src/Sylius/Bundle/PromotionBundle/Resources/config/validation/CatalogPromotion.xml
  src/Sylius/Bundle/PromotionBundle/Resources/config/validation/CatalogPromotionAction.xml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/PromotionBundle/Validator/CatalogPromotionActionValidator.php
  src/Sylius/Bundle/PromotionBundle/Validator/Constraints/CatalogPromotionAction.php
  src/Sylius/Bundle/PromotionBundle/spec/Validator/CatalogPromotionActionValidatorSpec.php
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/Responses/Expected/admin/catalog_promotion/post_catalog_promotion_with_invalid_actions_response.json
Labels: Feature, API

#13075 [CatalogPromotion][API] Refactor validation of rules
  features/promotion/managing_catalog_promotions/creating_catalog_promotion.feature
  features/promotion/managing_catalog_promotions/validating_catalog_promotion_creation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/validators.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/CatalogPromotionRule.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/CatalogPromotionRule.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/CatalogPromotionRuleValidator.php
  src/Sylius/Bundle/CoreBundle/spec/Validator/Constraints/CatalogPromotionRuleValidatorSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Validator/Constraints/CatalogPromotionRulesValidatorSpec.php
  src/Sylius/Bundle/PromotionBundle/Resources/config/validation/CatalogPromotion.xml
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/Responses/Expected/admin/catalog_promotion/post_catalog_promotion_with_invalid_rules_response.json
Labels: Enhancement, API

#13073 [CatalogPromotion][Behat] Improve steps names
  features/promotion/managing_catalog_promotions/creating_catalog_promotion.feature
  features/promotion/managing_catalog_promotions/editing_catalog_promotion.feature
  features/promotion/managing_catalog_promotions/validating_catalog_promotion_creation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
Labels: Behat

#13077 [CatalogPromotion] Fix configuration of fixtures for actions and rules
  src/Sylius/Bundle/CoreBundle/Resources/config/app/fixtures/shop_configuration.yaml
Labels: Bug

#12824 [Documentation] Fixed logo customization
  docs/getting-started-with-sylius/shop-customizations.rst
Labels: Documentation

#13080 [Catalog Promotions] Fixing issues with multiple variants
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_for_variant.feature
  features/promotion/applying_catalog_promotions/seeing_applied_catalog_promotion_on_variant.feature
  features/promotion/applying_catalog_promotions/seeing_applied_catalog_promotions_on_variants_list.feature
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Bundle/CoreBundle/Provider/CatalogPromotionVariantsProvider.php
  src/Sylius/Bundle/CoreBundle/spec/Provider/CatalogPromotionVariantsProviderSpec.php
  src/Sylius/Component/Core/Model/ChannelPricing.php
Labels: Bug

#13079 [DOCS] Rename promotions to cart promotions
  docs/book/orders/adjustments.rst
  docs/book/orders/cart-promotions.rst
  docs/book/orders/coupons.rst
  docs/book/orders/index.rst
  docs/book/orders/map.rst.inc
  docs/components_and_bundles/bundles/SyliusPromotionBundle/action_applicator.rst
  docs/components_and_bundles/bundles/SyliusPromotionBundle/index.rst
  docs/components_and_bundles/components/Promotion/index.rst
Labels: Documentation

#13068 [CatalogPromotions][Api] Add test for creation rule
  features/promotion/managing_catalog_promotions/validating_catalog_promotion_creation.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FormElement.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FormElementInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/_form.html.twig
Labels: Admin

#13082 [API] [Catalog Promotion] validate action amount
  features/promotion/managing_catalog_promotions/validating_catalog_promotion_creation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/PromotionBundle/Validator/CatalogPromotionActionValidator.php
  src/Sylius/Bundle/PromotionBundle/Validator/Constraints/CatalogPromotionAction.php
  src/Sylius/Bundle/PromotionBundle/spec/Validator/CatalogPromotionActionValidatorSpec.php
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/Responses/Expected/admin/catalog_promotion/post_catalog_promotion_with_invalid_actions_response.json
Labels: Enhancement, API

#13081 [CatalogPromotion][API] Apply catalog promotion in proper channels
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_for_variant.feature
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_in_proper_channels.feature
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Behat/Context/Setup/ProductContext.php
  src/Sylius/Behat/Resources/config/suites/api/promotion/applying_catalog_promotions.yml
  src/Sylius/Bundle/CoreBundle/Applicator/CatalogPromotionApplicator.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CatalogPromotionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Provider/CatalogPromotionVariantsProvider.php
  src/Sylius/Bundle/CoreBundle/spec/Applicator/CatalogPromotionApplicatorSpec.php
Labels: Feature, API

#13086 [CatalogPromotion][API] Add examples of rules and actions to Swagger
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CatalogPromotion.xml
Labels: DX, API

#13069 [API] Fix command denormalizer to not throw exception if command does not have constructor
  src/Sylius/Bundle/ApiBundle/Serializer/CommandDenormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/CommandDenormalizerSpec.php
Labels: API, Bug

#13084 [DOCS]Add Catalog Promotion documentation
  docs/book/products/catalog_promotions.rst
  docs/book/products/index.rst
  docs/book/products/map.rst.inc
Labels: Documentation

#13091 [CatalogPromotions] Add api behat for multiple catalog promotions
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_for_variant.feature
Labels: Feature

#13092 [CatalogPromotion][Behat] Add scenarios for reapplying catalog promotions after editing its channels
  features/promotion/applying_catalog_promotions/reapplying_catalog_promotions_after_editing_its_channels.feature
  src/Sylius/Behat/Client/ApiClientInterface.php
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Client/Request.php
  src/Sylius/Behat/Client/RequestInterface.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites/api/promotion/applying_catalog_promotions.yml
Labels: Feature, Behat

#12863 Add yaml configuration examples to the "Custom Payment Gateway" cookbook
  docs/cookbook/payments/custom-payment-gateway.rst
Labels: Documentation

#13096 [DOCS] Fix catalog promotions docs reference
  docs/book/products/catalog_promotions.rst
Labels: Documentation

#13094 [Catalog Promotions][Docs] Add a section about how promotions are applied
  docs/book/products/catalog_promotions.rst
Labels: Documentation

#13093 [CatalogPromotions][Validation] add validation to catalog promotion, …
  features/promotion/managing_catalog_promotions/validating_catalog_promotion_creation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Bundle/PromotionBundle/Form/Type/CatalogAction/PercentageDiscountActionConfigurationType.php
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/PromotionBundle/Validator/CatalogPromotionActionValidator.php
  src/Sylius/Bundle/PromotionBundle/Validator/Constraints/CatalogPromotionAction.php
  src/Sylius/Bundle/PromotionBundle/spec/Validator/CatalogPromotionActionValidatorSpec.php
  tests/Api/Responses/Expected/admin/catalog_promotion/post_catalog_promotion_with_invalid_actions_response.json
Labels: Admin

#13098 [CatalogPromotions] Add product to cart with discounted catalog price
  features/cart/shopping_cart/adding_product_with_discounted_catalog_price_to_cart.feature
  features/cart/shopping_cart/adding_product_with_variants_with_discounted_catalog_price_to_cart.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Resources/config/suites/api/cart/shopping_cart.yml
  src/Sylius/Behat/Resources/config/suites/ui/cart/shopping_cart.yml
Labels: Feature

#13103 [UI][Catalog Promotion] Add discounted product to cart
  features/cart/shopping_cart/adding_product_with_discounted_catalog_price_to_cart.feature
  features/cart/shopping_cart/adding_product_with_variants_with_discounted_catalog_price_to_cart.feature
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPage.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPageInterface.php
  src/Sylius/Behat/Resources/config/suites/ui/cart/shopping_cart.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig.xml
  src/Sylius/Bundle/ShopBundle/Resources/views/Cart/Summary/_item.html.twig
  src/Sylius/Bundle/ShopBundle/Twig/OrderItemOriginalPriceToDisplayExtension.php
Labels: Shop, API

#13101 [CatalogPromotions] Showing catalog promotions in Products index and show page
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_for_variant.feature
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_in_proper_channels.feature
  features/promotion/applying_catalog_promotions/seeing_applied_catalog_promotion_on_variant.feature
  features/promotion/applying_catalog_promotions/seeing_applied_catalog_promotions_on_products_list.feature
  features/promotion/applying_catalog_promotions/seeing_applied_catalog_promotions_on_variants_list.feature
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Page/Shop/Product/IndexPage.php
  src/Sylius/Behat/Page/Shop/Product/IndexPageInterface.php
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
  src/Sylius/Behat/Page/Shop/Product/ShowPageInterface.php
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/ui/promotion/applying_catalog_promotions.yml
  src/Sylius/Bundle/ShopBundle/Resources/private/js/sylius-variants-prices.js
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Box/_content.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Show/_price.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Show/_priceWidget.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Show/_variantSelection.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Show/_variants.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Show/_variantsPricing.html.twig
  src/Sylius/Component/Core/Provider/ProductVariantsPricesProvider.php
  src/Sylius/Component/Core/spec/Provider/ProductVariantsPricesProviderSpec.php
Labels: UX, Shop

#13110 [Fixtures] Extract promotions to a separate file to fix applying catalog promotions
  src/Sylius/Bundle/CoreBundle/Resources/config/app/fixtures.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/fixtures/promotion.yaml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/fixtures/shop_configuration.yaml
Labels: Bug

#13111 [ChannelPricing] Improve query for finding discounted pricings
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/ChannelPricingRepository.php
Labels: Enhancement

#13088 [Docs][Customization Guide][API] Headlines fix
  docs/customization/api/index.rst
  docs/customization/controller.rst
  docs/customization/factory.rst
  docs/customization/flash.rst
  docs/customization/form.rst
  docs/customization/grid.rst
  docs/customization/index.rst
  docs/customization/map.rst.inc
  docs/customization/menu.rst
  docs/customization/model.rst
  docs/customization/plugins.rst
  docs/customization/repository.rst
  docs/customization/state_machine.rst
  docs/customization/template.rst
  docs/customization/translation.rst
  docs/customization/validation.rst
Labels: Documentation

#13107 [Api] Customer add product with discounted catalog price
  features/cart/shopping_cart/adding_product_with_discounted_catalog_price_to_cart.feature
  features/cart/shopping_cart/adding_product_with_variants_with_discounted_catalog_price_to_cart.feature
  features/checkout/placing_order_on_multi_channel/placing_an_order_on_multiple_channels_with_different_currency.feature
  features/checkout/shipping_order/seeing_shipping_fee_on_multiple_channels.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
  src/Sylius/Behat/Resources/config/suites/api/cart/shopping_cart.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/OrderItem.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/OrderItemNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/OrderItemNormalizerSpec.php
  tests/Api/Responses/Expected/shop/get_order_response.json
Labels: Feature, API

#13114 [CatalogPromotions] Do not display applied promotion description in label if not set
  src/Sylius/Bundle/ShopBundle/Resources/private/js/sylius-variants-prices.js
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Show/_price.html.twig
Labels: UX, Shop, Bug

#13102 Check if the form is submitted before validation
  src/Sylius/Bundle/OrderBundle/Controller/OrderController.php
Labels: Bug

#13117 [API] Remove phoneNumber from Customer command and handler
  src/Sylius/Bundle/ApiBundle/Command/Account/RegisterShopUser.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/RegisterShopUserHandler.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/RegisterShopUserHandlerSpec.php
  tests/Api/Shop/CustomersTest.php
Labels: API, Bug

#13104 [API] Use POST action to add new item to cart
  UPGRADE-API-1.11.md
  src/Sylius/Behat/Client/Request.php
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  tests/Api/Responses/Expected/shop/add_item_response.json
  tests/Api/Shop/OrdersTest.php
Labels: Maintenance, API

#12202 Feat: Add breadcrumb var in CRUD template for AdminBundle
  src/Sylius/Bundle/AdminBundle/Resources/views/Crud/Create/_breadcrumb.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Crud/Index/_breadcrumb.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Crud/Update/_breadcrumb.html.twig
Labels: Feature, Admin, Stale

#13124 [CatalogPromotion][API] Reapplying catalog promotions after update its channel
  features/promotion/applying_catalog_promotions/reapplying_multiple_catalog_promotions_after_editing_their_channels.feature
  features/promotion/applying_catalog_promotions/reapplying_single_catalog_promotion_after_editing_its_channels.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Behat/Resources/config/suites/api/promotion/applying_catalog_promotions.yml
  src/Sylius/Bundle/CoreBundle/Listener/CatalogPromotionUpdateListener.php
  src/Sylius/Bundle/CoreBundle/spec/Listener/CatalogPromotionUpdateListenerSpec.php
Labels: API

#12880 [Maintenance] Configure builds on postgressql & mariadb
  .github/workflows/application.yml
Labels: Maintenance

#13105 [Catalog Promotions] Reapplying Catalog Promotion on Action Edit
  features/promotion/applying_catalog_promotions/reapplying_catalog_promotions_after_editing_its_action.feature
  features/promotion/managing_catalog_promotions/creating_catalog_promotion.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites/api/promotion/applying_catalog_promotions.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CatalogPromotionAction.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/swagger.xml
  src/Sylius/Bundle/ApiBundle/Swagger/PathHiderDocumentationNormalizer.php
  src/Sylius/Bundle/CoreBundle/EventListener/CatalogPromotionEventListener.php
  src/Sylius/Bundle/CoreBundle/Listener/CatalogPromotionCreateListener.php
  src/Sylius/Bundle/CoreBundle/Listener/CatalogPromotionUpdateListener.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/CoreBundle/spec/EventListener/CatalogPromotionEventListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Listener/CatalogPromotionCreateListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Listener/CatalogPromotionUpdateListenerSpec.php
  src/Sylius/Component/Promotion/Event/CatalogPromotionCreated.php
Labels: API

#13133 Reorganize flushes in Catalog Promotions processing
  src/Sylius/Bundle/CoreBundle/Listener/CatalogPromotionUpdateListener.php
  src/Sylius/Bundle/CoreBundle/Processor/CatalogPromotionClearer.php
  src/Sylius/Bundle/CoreBundle/Processor/CatalogPromotionProcessor.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/CoreBundle/spec/Listener/CatalogPromotionUpdateListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Processor/CatalogPromotionClearerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Processor/CatalogPromotionProcessorSpec.php
Labels: DX, Bug

#13138 [Build] ignore string inflector phpstan
  phpstan.neon.dist
Labels: Maintenance

#13132 [API][UI] Toggle catalog promotion
  features/promotion/managing_catalog_promotions/creating_catalog_promotion.feature
  features/promotion/managing_catalog_promotions/editing_catalog_promotion.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FormElement.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FormElementInterface.php
  src/Sylius/Behat/Resources/config/suites/api/promotion/managing_catalog_promotions.yml
  src/Sylius/Behat/Resources/config/suites/ui/promotion/managing_catalog_promotions.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/catalog_promotion.yaml
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/_form.html.twig
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CatalogPromotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/CatalogPromotion.xml
  src/Sylius/Bundle/CoreBundle/Migrations/Version20210921093619.php
  src/Sylius/Bundle/CoreBundle/Processor/CatalogPromotionProcessor.php
  src/Sylius/Bundle/CoreBundle/spec/Processor/CatalogPromotionProcessorSpec.php
  src/Sylius/Bundle/PromotionBundle/Form/Type/CatalogPromotionType.php
  src/Sylius/Bundle/PromotionBundle/Resources/config/doctrine/model/CatalogPromotion.orm.xml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/messages.en.yml
  src/Sylius/Component/Promotion/Model/CatalogPromotion.php
  src/Sylius/Component/Promotion/Model/CatalogPromotionInterface.php
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/DataFixtures/ORM/catalog_promotion.yaml
  tests/Api/Responses/Expected/admin/catalog_promotion/get_catalog_promotion_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/get_catalog_promotions_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/post_catalog_promotion_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/put_catalog_promotion_response.json
Labels: Admin, API

#13130 [CatalogPromotion][Behat] Cover scenarios for reapplying catalog promotions
  features/promotion/applying_catalog_promotions/reapplying_catalog_promotions_after_editing_its_action.feature
  features/promotion/applying_catalog_promotions/reapplying_multiple_catalog_promotions_after_editing_their_channels.feature
  features/promotion/applying_catalog_promotions/reapplying_single_catalog_promotion_after_editing_its_channels.feature
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FormElement.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FormElementInterface.php
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/suites/ui/promotion/applying_catalog_promotions.yml
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Show/_price.html.twig
  src/Sylius/Component/Core/Model/ChannelPricing.php
Labels: Feature, Shop

#13135 [GUS] Update gus url
  src/Sylius/Bundle/AdminBundle/Resources/config/services/controller.xml
Labels: Admin

#13141 [UI][CatalogPromotion] Reapplying catalog promotion on variant once its data changes
  features/promotion/applying_catalog_promotions/reapplying_catalog_promotions_on_variant_once_its_data_changes.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductVariantsPricesContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Page/Admin/ProductVariant/UpdatePage.php
  src/Sylius/Behat/Page/Admin/ProductVariant/UpdatePageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/suites/ui/promotion/applying_catalog_promotions.yml
  src/Sylius/Bundle/CoreBundle/EventListener/ProductVariantEventListener.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/CoreBundle/spec/EventListener/ProductVariantEventListenerSpec.php
Labels: Feature, API

#13147 [API] Fix admin path in swagger
  src/Sylius/Bundle/ApiBundle/Resources/config/services/swagger.xml
  src/Sylius/Bundle/ApiBundle/Swagger/PathHiderDocumentationNormalizer.php
Labels: API, Bug

#13145 [API][CatalogPromotion] refactor Variants Provider to strategy Pattern
  src/Sylius/Bundle/CoreBundle/Provider/CatalogPromotionVariantsProvider.php
  src/Sylius/Bundle/CoreBundle/Provider/ForVariantsRuleVariantsProvider.php
  src/Sylius/Bundle/CoreBundle/Provider/VariantsProviderInterface.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/spec/Provider/CatalogPromotionVariantsProviderSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Provider/ForVariantsRuleVariantsProviderSpec.php
  src/Sylius/Component/Core/Model/CatalogPromotionRuleInterface.php
Labels: Enhancement, DX

#13131 [CatalogPromotions][API] Reapply promotions after action removal
  features/promotion/applying_catalog_promotions/reapplying_catalog_promotions_after_editing_its_action.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Bundle/ApiBundle/EventSubscriber/CatalogPromotionEventSubscriber.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/event_subscribers.xml
  src/Sylius/Bundle/ApiBundle/spec/EventSubscriber/CatalogPromotionEventSubscriberSpec.php
  src/Sylius/Bundle/CoreBundle/Listener/CatalogPromotionUpdateListener.php
  src/Sylius/Bundle/CoreBundle/Processor/AllCatalogPromotionsProcessor.php
  src/Sylius/Bundle/CoreBundle/Processor/AllCatalogPromotionsProcessorInterface.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/CoreBundle/spec/Listener/CatalogPromotionUpdateListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Processor/AllCatalogPromotionsProcessorSpec.php
Labels: API

#13129 [API][CatalogPromotion] Reapplying catalog promotions on rule update
  features/promotion/applying_catalog_promotions/reapplying_catalog_promotions_after_editing_their_actions.feature
  features/promotion/applying_catalog_promotions/reapplying_catalog_promotions_after_editing_their_rules.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CatalogPromotionRule.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/ChannelPricingRepository.php
  src/Sylius/Bundle/CoreBundle/EventListener/CatalogPromotionEventListener.php
  src/Sylius/Bundle/CoreBundle/Provider/CatalogPromotionVariantsProvider.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/CatalogPromotionEventListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Provider/CatalogPromotionVariantsProviderSpec.php
Labels: API

#13150 [API] Refactor path removal with (unset)
  adr/2021_06_15_api_platform_config_customization.md
  docs/customization/api/customizing_endpoints_using_yaml.rst
  src/Sylius/Bundle/ApiBundle/ApiPlatform/ApiResourceConfigurationMerger.php
  src/Sylius/Bundle/ApiBundle/spec/ApiPlatform/ApiResourceConfigurationMergerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/ApiPlatform/ResourceMetadataPropertyValueResolverSpec.php
  src/Sylius/Bundle/ApiBundle/test/config/api_platform/config.yaml
Labels: Enhancement, Documentation, DX, Maintenance, API

#13137 [CatalogPromotions] Add behats for CatalogPromotions based on taxon
  features/promotion/applying_catalog_promotions/applying_all_available_types_catalog_promotions.feature
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_for_taxon.feature
  features/promotion/managing_catalog_promotions/creating_catalog_promotion.feature
  features/promotion/managing_catalog_promotions/editing_catalog_promotion.feature
  features/promotion/managing_catalog_promotions/validating_catalog_promotion_creation.feature
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Setup/ChannelContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Resources/config/suites/api/promotion/managing_catalog_promotions.yml
  src/Sylius/Behat/Resources/config/suites/ui/promotion/managing_catalog_promotions.yml
Labels: Feature, Behat

#13152 [CatalogPromotion] Refactor to not listen on Doctrine events
  features/checkout/seeing_order_summary/seeing_current_prices_of_products_after_catalog_promotion_becomes_ineligible.feature
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Behat/Resources/config/services/contexts/setup.xml
  src/Sylius/Bundle/ApiBundle/EventSubscriber/CatalogPromotionEventSubscriber.php
  src/Sylius/Bundle/ApiBundle/spec/EventSubscriber/CatalogPromotionEventSubscriberSpec.php
  src/Sylius/Bundle/CoreBundle/EventListener/CatalogPromotionEventListener.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CatalogPromotionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/fixtures_factories.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/CoreBundle/spec/EventListener/CatalogPromotionEventListenerSpec.php
Labels: Enhancement, API

#13146 [Api] CatalogPromotionRule per taxon
  features/promotion/applying_catalog_promotions/applying_all_available_types_catalog_promotions.feature
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_for_taxon.feature
  features/promotion/managing_catalog_promotions/creating_catalog_promotion.feature
  features/promotion/managing_catalog_promotions/editing_catalog_promotion.feature
  features/promotion/managing_catalog_promotions/validating_catalog_promotion_creation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Behat/Context/Setup/ChannelContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites/api/promotion/managing_catalog_promotions.yml
  src/Sylius/Behat/Resources/config/suites/ui/promotion/managing_catalog_promotions.yml
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/ProductVariantRepository.php
  src/Sylius/Bundle/CoreBundle/Provider/CatalogPromotionVariantsProvider.php
  src/Sylius/Bundle/CoreBundle/Provider/ForTaxonsRuleVariantsProvider.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/validators.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/CatalogPromotionRule.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/CatalogPromotionRuleValidator.php
  src/Sylius/Bundle/CoreBundle/spec/Provider/ForTaxonsRuleVariantsProviderSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Validator/Constraints/CatalogPromotionRuleValidatorSpec.php
  src/Sylius/Component/Core/Model/CatalogPromotionRuleInterface.php
  src/Sylius/Component/Core/Repository/ProductVariantRepositoryInterface.php
Labels: Feature, Documentation, Maintenance, API

#13153 [UI][CatalogPromotion] Reapply catalog promotions after editing their rules and actions
  features/promotion/applying_catalog_promotions/reapplying_catalog_promotions_after_editing_their_actions.feature
  features/promotion/applying_catalog_promotions/reapplying_catalog_promotions_after_editing_their_rules.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FormElement.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FormElementInterface.php
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
  src/Sylius/Bundle/CoreBundle/EventListener/CatalogPromotionEventListener.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/CoreBundle/spec/EventListener/CatalogPromotionEventListenerSpec.php
Labels: Feature, Shop

#13155 [Documentation][CatalogPromotion] Adjust docs after removing usage of Doctrine events
  docs/book/products/catalog_promotions.rst
Labels: Documentation

#13156 [CatalogPromotion] change change channel with toggle in UI
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/_form.html.twig
Labels: Admin

#13154 [API] Do not allow to address empty cart
  features/checkout/addressing_order/order_address_validation.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/AddressOrder.xml
Labels: API, Bug

#13159 [Build][Hot-fix] Ignore PHPStan analysis for StringInflector
  phpstan.neon.dist
Labels: Bug
