Repository Sylius/Sylius, pull requests merged in 2021-08, with the labels that each got.

#12851 [Order] Protect processors from execution if the order is in a state different than cart
  src/Sylius/Component/Core/OrderProcessing/OrderAdjustmentsClearer.php
  src/Sylius/Component/Core/OrderProcessing/OrderPricesRecalculator.php
  src/Sylius/Component/Core/OrderProcessing/OrderPromotionProcessor.php
  src/Sylius/Component/Core/OrderProcessing/OrderShipmentProcessor.php
  src/Sylius/Component/Core/OrderProcessing/OrderTaxesProcessor.php
  src/Sylius/Component/Core/OrderProcessing/ShippingChargesProcessor.php
  src/Sylius/Component/Core/spec/OrderProcessing/OrderAdjustmentsClearerSpec.php
  src/Sylius/Component/Core/spec/OrderProcessing/OrderPricesRecalculatorSpec.php
  src/Sylius/Component/Core/spec/OrderProcessing/OrderPromotionProcessorSpec.php
  src/Sylius/Component/Core/spec/OrderProcessing/OrderShipmentProcessorSpec.php
  src/Sylius/Component/Core/spec/OrderProcessing/OrderTaxesProcessorSpec.php
  src/Sylius/Component/Core/spec/OrderProcessing/ShippingChargesProcessorSpec.php
  tests/DataFixtures/ORM/resources/year_sales.yml
Labels: Enhancement

#12852 [API] Do not check command arguments if there is an object to populate
  src/Sylius/Bundle/ApiBundle/Serializer/CommandDenormalizer.php
Labels: API, Bug

#12855 [API][Country] Improve endpoints serialization
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Country.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Country.xml
  tests/Api/Responses/Expected/shop/get_countries_response.json
  tests/Api/Responses/Expected/shop/get_country_response.json
  tests/Api/Shop/CountriesTest.php
Labels: API

#12858 [Core] Wrap resource update operation with a transaction
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/Handler/ResourceUpdateHandler.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/spec/Doctrine/ORM/Handler/ResourceUpdateHandlerSpec.php
Labels: Enhancement

#12854 [SM] Change priorities of State Machine callbacks
  UPGRADE-1.11.md
  docs/customization/state_machine.rst
  src/Sylius/Bundle/CoreBundle/Resources/config/app/state_machine/sylius_order.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/state_machine/sylius_order_checkout.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/state_machine/sylius_order_payment.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/state_machine/sylius_order_shipping.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/state_machine/sylius_payment.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/state_machine/sylius_product_review.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/state_machine/sylius_shipment.yml
Labels: Documentation, Maintenance

#12856 [API] reduce customer update serialization
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Customer.xml
  tests/Api/Responses/Expected/shop/update_customer_response.json
  tests/Api/Shop/CustomersTest.php
Labels: API

#12782 [API] Check payment amount
  features/account/customer_account/viewing_orders_history/seeing_right_payment_amount_for_an_order.feature
  features/order/managing_orders/browsing_orders/seeing_orders_payment_amount_including_all_fees.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingOrdersContext.php
  src/Sylius/Behat/Context/Api/Shop/OrderContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites/api/checkout/checkout.yml
  src/Sylius/Behat/Resources/config/suites/api/order/managing_orders.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/OrderItem.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Shipment.xml
  src/Sylius/Bundle/ApiBundle/test/src/Tests/DisablingApiTest.php
  tests/Api/Admin/OrdersTest.php
  tests/Api/Admin/PaymentsTest.php
  tests/Api/Responses/Expected/admin/get_order_response.json
  tests/Api/Responses/Expected/admin/get_payment_response.json
  tests/Api/Responses/Expected/shop/get_payment_response.json
  tests/Api/Shop/PaymentsTest.php
  tests/Api/Utils/AdminUserLoginTrait.php
  tests/Api/Utils/OrderPlacerTrait.php
  tests/Api/Utils/ShopUserLoginTrait.php
Labels: API

#12862 [API] Add liip image filters to API
  src/Sylius/Bundle/ApiBundle/Provider/LiipProductImageFilterProvider.php
  src/Sylius/Bundle/ApiBundle/Provider/ProductImageFilterProviderInterface.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/swagger.xml
  src/Sylius/Bundle/ApiBundle/Serializer/ProductImageNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/ProductImageDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Provider/LiipProductImageFilterProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductImageNormalizerSpec.php
  tests/Api/Responses/Expected/shop/get_filtered_product_image_response.json
  tests/Api/Shop/ProductImageTest.php
Labels: API

#12866 Update release-cycle.rst
  docs/book/organization/release-cycle.rst
Labels: Documentation

#12877 [API] add original price to product variant
  features/product/viewing_products/viewing_different_discounted_price_for_different_product_variants.feature
  features/product/viewing_products/viewing_products_discounted_price.feature
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites/api/product/viewing_products.yml
  src/Sylius/Bundle/ApiBundle/Serializer/ProductVariantNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductVariantNormalizerSpec.php
  tests/Api/DataFixtures/ORM/product_variant_with_original_price.yaml
  tests/Api/Responses/Expected/shop/get_product_variant_with_original_price_response.json
  tests/Api/Responses/Expected/shop/get_product_variant_with_price_response.json
  tests/Api/Shop/ProductTest.php
Labels: API

#12879 [DOCS] How to modify invoices
  docs/_images/cookbook/custom-invoice/pdf_after.png
  docs/_images/cookbook/custom-invoice/pdf_before.png
  docs/_images/cookbook/custom-invoice/pdf_phone.png
  docs/_images/cookbook/custom-invoice/pdf_total.png
  docs/cookbook/index.rst
  docs/cookbook/invoices/custom-invoice.rst
  docs/cookbook/invoices/map.rst.inc
Labels: Documentation

#12876 [Minor] Add missing license blocks
  src/Sylius/Bundle/ApiBundle/Checker/AppliedCouponEligibilityCheckerInterface.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/BlameCartHandler.php
  src/Sylius/Bundle/ApiBundle/DependencyInjection/Compiler/ReflectionExtractorHotfixPass.php
  src/Sylius/Bundle/ApiBundle/PropertyInfo/Extractor/ReflectionExtractor.php
  src/Sylius/Bundle/ApiBundle/Serializer/ProductNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/ProductDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/ProductVariantDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/ApiPlatform/ApiResourceConfigurationMergerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/ApiPlatform/ResourceMetadataPropertyValueResolverSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/RequestResetPasswordTokenHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/ResendVerificationEmailHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/ChannelAwareItemDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/ResetPasswordItemDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/test/src/Command/FooCommand.php
  src/Sylius/Bundle/ApiBundle/test/src/CommandHandler/FooHandler.php
  src/Sylius/Bundle/ApiBundle/test/src/Tests/SetUpTestsTrait.php
  src/Sylius/Bundle/ApiBundle/test/src/Tests/SyliusConfigMergeTest.php
  src/Sylius/Bundle/CoreBundle/EventListener/LocaleAwareListener.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20201104085538.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20210408131321.php
  src/Sylius/Bundle/PayumBundle/DependencyInjection/Compiler/InjectContainerIntoControllersPass.php
  src/Sylius/Bundle/PayumBundle/DependencyInjection/Compiler/UseTweakedDoctrineStoragePass.php
  src/Sylius/Bundle/PayumBundle/Storage/DoctrineStorage.php
Labels: Enhancement

#12885 [Minor][Docs] Bump requirements version
  docs/book/installation/requirements.rst
Labels: Enhancement, Documentation

#12883 [API] Rename original_price to originalPrice in api responses
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Bundle/ApiBundle/Serializer/ProductVariantNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductVariantNormalizerSpec.php
  tests/Api/Responses/Expected/shop/get_product_variant_with_original_price_response.json
  tests/Api/Responses/Expected/shop/get_product_variant_with_price_response.json
Labels: API

#12888 [API] Fix formating for list in invoice cookbook
  docs/cookbook/invoices/custom-invoice.rst
Labels: Documentation

#12890 Fix to ordered list
  docs/cookbook/invoices/custom-invoice.rst
Labels: Documentation

#12177 [Behat][API] Programitically generate API autorization token
  src/Sylius/Behat/Context/Api/Shop/OrderContext.php
  src/Sylius/Behat/Context/Setup/CartContext.php
  src/Sylius/Behat/Resources/config/services.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/services/contexts/setup.xml
  src/Sylius/Behat/Service/ApiSecurityService.php
  src/Sylius/Bundle/ApiBundle/Command/Cart/PickupCart.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/PickupCartHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/PickupCartHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataTransformer/LoggedInShopUserIdAwareCommandDataTransformerSpec.php
  symfony.lock
  tests/Api/Admin/OrdersTest.php
  tests/Api/Admin/PaymentsTest.php
  tests/Api/Shop/PaymentsTest.php
  tests/Api/Utils/AdminUserLoginTrait.php
  tests/Api/Utils/OrderPlacerTrait.php
  tests/Api/Utils/ShopUserLoginTrait.php
Labels: DX, API

#12889 Original price behat fix
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
Labels: Documentation, API

#12963 Update swagger docs with product variants originalPrice
  src/Sylius/Bundle/ApiBundle/Swagger/ProductVariantDocumentationNormalizer.php
Labels: API

#12967 [API] Log in contract tests + minor fixes
  src/Sylius/Behat/Context/Setup/CartContext.php
  tests/Api/Admin/AdminUsersTest.php
  tests/Api/Responses/Expected/admin/log_in_admin_response.json
  tests/Api/Responses/Expected/shop/log_in_customer_response.json
  tests/Api/Shop/CustomersTest.php
  tests/Api/Shop/PaymentsTest.php
Labels: API, Bug

#12887 [DOCS] Generating invoice after payment
  docs/_images/cookbook/generating-invoice-after-payment/before_payment.png
  docs/cookbook/index.rst
  docs/cookbook/invoices/generating-invoice-after-payment.rst
  docs/cookbook/invoices/map.rst.inc
Labels: Documentation

#12873 [Docs] sylius performance boost
  docs/index.rst
  docs/performance/database-indexes.rst
  docs/performance/index.rst
  docs/performance/map.rst.inc
  docs/performance/query-optimization.rst
Labels: Documentation, API

#12875 [Admin] Fix shipping totals in order summary
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Summary/_totals.html.twig
Labels: Admin

#12969 [Maintenance] Dead code removal
  UPGRADE-API-1.11.md
  src/Sylius/Bundle/ApiBundle/Applicator/ShipmentStateMachineTransitionApplicator.php
  src/Sylius/Bundle/ApiBundle/Applicator/ShipmentStateMachineTransitionApplicatorInterface.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/applicators.xml
  src/Sylius/Bundle/ApiBundle/spec/Applicator/ShipmentStateMachineTransitionApplicatorSpec.php
Labels: Maintenance, API

#12970 [DX] Add sylius prefixes to normalizers ALREADY_CALLED consts values to avoid name collision
  src/Sylius/Bundle/ApiBundle/Serializer/CommandNormalizer.php
  src/Sylius/Bundle/ApiBundle/Serializer/ProductImageNormalizer.php
  src/Sylius/Bundle/ApiBundle/Serializer/ProductNormalizer.php
  src/Sylius/Bundle/ApiBundle/Serializer/ProductVariantNormalizer.php
  src/Sylius/Bundle/ApiBundle/Serializer/ShippingMethodNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/CommandNormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductImageNormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductNormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductVariantNormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ShippingMethodNormalizerSpec.php
Labels: Enhancement, DX, API

#12968 [API] AddressOrderHandler refactored to use customer provider
  UPGRADE-API-1.11.md
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/AddressOrderHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/providers.xml
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/ChangeAddressOrderHandlerTest.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/AddressOrderHandlerSpec.php
Labels: Enhancement, Maintenance, API

#12881 [Documentation] Note about changes related to upgrade to GridBundle 1.10
  docs/customization/grid.rst
Labels: Documentation

#12975 [Docs] fix annotations
  docs/performance/database-indexes.rst
Labels: Documentation

#12976 [Documentation] Minor fix in grids docs
  docs/customization/grid.rst
Labels: Documentation

#12973 Fix borders in order - show - addresses
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/_addresses.html.twig
Labels: Admin

#12884 [Docs] add registration/login examples
  docs/_images/sylius_api/api_platform_post_shop_token.png
  docs/_images/sylius_api/api_platform_shop_customer_post.png
  docs/_images/sylius_api/api_platform_shop_orders_addressing.png
  docs/_images/sylius_api/api_platform_shop_orders_addressing_response.png
  docs/_images/sylius_api/api_platform_shop_orders_change_quantity.png
  docs/_images/sylius_api/api_platform_shop_orders_change_quantity_response.png
  docs/_images/sylius_api/api_platform_shop_orders_choose_shipping.png
  docs/_images/sylius_api/api_platform_shop_orders_completed.png
  docs/_images/sylius_api/api_platform_shop_orders_items_patch.png
  docs/_images/sylius_api/api_platform_shop_orders_post.png
  docs/getting-started-with-sylius/index.rst
  docs/getting-started-with-sylius/map.rst.inc
  docs/getting-started-with-sylius/using-api.rst
Labels: Documentation

#12977 [Docs] add prefix to sylius customer table
  docs/performance/database-indexes.rst
Labels: Documentation

#12983 [Documentation] Change the order of pages in Getting Started section
  docs/getting-started-with-sylius/index.rst
  docs/getting-started-with-sylius/map.rst.inc
Labels: Documentation, API

#12984 [Documentation] Move invoice cookbooks to payments section
  docs/cookbook/index.rst
  docs/cookbook/invoices/map.rst.inc
  docs/cookbook/payments/custom-invoice.rst
  docs/cookbook/payments/generating-invoice-after-payment.rst
  docs/cookbook/payments/map.rst.inc
Labels: Documentation

#12971 [DX] Adjust service names in ApiBundle
  UPGRADE-API-1.11.md
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/AvatarImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ExchangeRate.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Payment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/applicators.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/context_builders.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/contexts.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_persisters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/event_subscribers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/payments.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/swagger.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/UniqueShopUserEmail.php
Labels: Maintenance, API

#12979 [Minor] Adjust test class names to follow emerged convention
  tests/Api/Admin/ProductImagesTest.php
  tests/Api/Admin/ProductVariantsTest.php
  tests/Api/Shop/ProductImagesTest.php
  tests/Api/Shop/ProductVariantsTest.php
Labels: Maintenance

#12980 [API] Expose taxon children as IRI in menu endpoint
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Taxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Taxon.xml
  tests/Api/DataFixtures/ORM/taxonomy.yaml
  tests/Api/Responses/Expected/shop/get_taxonomy_response.json
  tests/Api/Shop/TaxonsTest.php
Labels: Feature, API

#12978 [API] Resend verification email refactor to take current user from the security context
  UPGRADE-API-1.11.md
  src/Sylius/Bundle/ApiBundle/Command/Account/ResendVerificationEmail.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/ResendVerificationEmailHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/VerifyCustomerAccount.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Account/ResendVerificationEmail.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/ResendVerificationEmail.xml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ShopUserExists.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ShopUserExistsValidator.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ShopUserNotVerifiedValidator.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/ResendVerificationEmailHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ShopUserExistsValidatorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ShopUserNotVerifiedValidatorSpec.php
  tests/Api/Shop/VerifyCustomerAccountsTest.php
Labels: Maintenance, API

#12974 [Maintenance] Make all API Bundle services public and unify public notation
  src/Sylius/Bundle/ApiBundle/Resources/config/services/api_payment_methods.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/applicators.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_persisters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/event_handlers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/event_subscribers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/payments.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/resolver.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/swagger.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
Labels: Enhancement, API

#12972 [DOCS] Update images in api authorization book
  docs/_images/sylius_api/api_platform_authentication_endpoint.png
  docs/_images/sylius_api/api_platform_authorized.png
  docs/_images/sylius_api/api_platform_not_authorized.png
  docs/book/api/authorization.rst
Labels: Documentation

#12988 [Docs] Specify Sylius 1.11 release date
  docs/book/organization/release-cycle.rst
Labels: Documentation, Maintenance

#11623 Fix #11603, Update documentation to replace use of removed function
  docs/book/products/product_associations.rst
Labels: Documentation, Bug

#12981 [API] Refactor current customer email aware commands
  UPGRADE-API-1.11.md
  src/Sylius/Behat/Context/Setup/CartContext.php
  src/Sylius/Bundle/ApiBundle/Command/Cart/PickupCart.php
  src/Sylius/Bundle/ApiBundle/Command/Catalog/AddProductReview.php
  src/Sylius/Bundle/ApiBundle/Command/CustomerEmailAwareInterface.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Cart/PickupCartHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Catalog/AddProductReviewHandler.php
  src/Sylius/Bundle/ApiBundle/DataTransformer/LoggedInCustomerEmailAwareCommandDataTransformer.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Cart/PickupCartHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataTransformer/LoggedInCustomerEmailAwareCommandDataTransformerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataTransformer/LoggedInShopUserEmailAwareCommandDataTransformerSpec.php
Labels: Maintenance, API

#12993 [Build] Force symfony flex in github actions
  .github/workflows/application.yml
  .github/workflows/packages.yml
Labels: Maintenance

#12986 [CatalogPromotion] Creating simple catalog promotion only with code and name
  features/promotion/managing_catalog_promotions/managing_catalog_promotions.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/promotion/managing_catalog_promotions.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CatalogPromotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/CatalogPromotion.xml
  src/Sylius/Bundle/CoreBundle/Migrations/Version20210819203611.php
  src/Sylius/Bundle/PromotionBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/PromotionBundle/Resources/config/doctrine/model/CatalogPromotion.orm.xml
  src/Sylius/Component/Promotion/Model/CatalogPromotion.php
  src/Sylius/Component/Promotion/Model/CatalogPromotionInterface.php
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/DataFixtures/ORM/catalog_promotion.yaml
  tests/Api/Responses/Expected/admin/get_catalog_promotions_admin_response.json
Labels: Feature, API

#12998 [CatalogPromotion][API] Minor fixes to creating simple catalog promotion
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Bundle/PromotionBundle/DependencyInjection/Configuration.php
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/DataFixtures/ORM/catalog_promotion.yaml
  tests/Api/Responses/Expected/admin/get_catalog_promotions_response.json
Labels: API

#12994 Get, Update, Post and delete catalog promotions
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CatalogPromotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/CatalogPromotion.xml
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/Responses/Expected/admin/catalog_promotion/get_catalog_promotion_admin_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/get_catalog_promotions_admin_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/post_catalog_promotion_admin_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/put_catalog_promotion_admin_response.json
Labels: API

#13003 Fixes to endpoints and contract tests of CP
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CatalogPromotion.xml
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/Responses/Expected/admin/catalog_promotion/get_catalog_promotion_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/get_catalog_promotions_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/post_catalog_promotion_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/put_catalog_promotion_response.json
Labels: API

#12990 [CatalogPromotions] Catalog promotion event
  config/packages/test_cached/web_profiler.yaml
  features/promotion/managing_catalog_promotions/managing_catalog_promotions.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Bundle/CoreBundle/EventListener/CatalogPromotionEventListener.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/CoreBundle/spec/EventListener/CatalogPromotionEventListenerSpec.php
  src/Sylius/Bundle/PromotionBundle/.gitignore
  src/Sylius/Component/Promotion/Event/CatalogPromotionUpdated.php
Labels: Feature, API

#13018 [Bug] Fix default sylius config file path in Sylius 1.8
  UPGRADE-1.8.md
  UPGRADE-API-1.8.md
  docs/api/unified_api/introduction.rst
Labels: Documentation, Maintenance, Bug

#13020 [Bug] Fix default sylius config file path in Sylius 1.10
  UPGRADE-1.10.md
  UPGRADE-API-1.10.md
Labels: Maintenance, Bug

#13022 [Bug] Fix default sylius config file path in Sylius master branch
  UPGRADE-API-1.11.md
  docs/cookbook/taxation/customize-tax-by-address.rst
Labels: Documentation, Maintenance, Bug

#13017 [CatalogPromotion][API] Add scenarios for browsing catalog promotions
  features/promotion/managing_catalog_promotions/browsing_catalog_promotions.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Behat/Resources/config/services/contexts/setup.xml
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CatalogPromotionExampleFactory.php
Labels: Behat, API

#13027 Remove serialization moved to admin api bundle
  src/Sylius/Bundle/AddressingBundle/Resources/config/serializer/Model.Country.yml
  src/Sylius/Bundle/AddressingBundle/Resources/config/serializer/Model.Province.yml
  src/Sylius/Bundle/AddressingBundle/Resources/config/serializer/Model.Zone.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/config/serializer/Model.Currency.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/config/serializer/Model.ExchangeRate.yml
  src/Sylius/Bundle/LocaleBundle/Resources/config/serializer/Model.Locale.yml
  src/Sylius/Bundle/ProductBundle/Resources/config/serializer/Model.ProductAssociationType.yml
  src/Sylius/Bundle/ProductBundle/Resources/config/serializer/Model.ProductAttribute.yml
  src/Sylius/Bundle/ProductBundle/Resources/config/serializer/Model.ProductOption.yml
  src/Sylius/Bundle/ShippingBundle/Resources/config/serializer/Model.ShipmentUnit.yml
  src/Sylius/Bundle/ShippingBundle/Resources/config/serializer/Model.ShippingCategory.yml
  src/Sylius/Bundle/TaxationBundle/Resources/config/serializer/Model.TaxCategory.yml
Labels: Admin, API, Bug

#13001 [Catalog Promotions] add rule to catalog promotion
  features/promotion/managing_catalog_promotions/creating_catalog_promotion.feature
  features/promotion/managing_catalog_promotions/editing_catalog_promotion.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Behat/Resources/config/suites/api/promotion/managing_catalog_promotions.yml
  src/Sylius/Bundle/ApiBundle/DataPersister/CatalogPromotionDataPersister.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CatalogPromotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/CatalogPromotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/CatalogPromotionRule.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_persisters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/CatalogPromotionNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/DataPersister/CatalogPromotionDataPersisterSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/CatalogPromotionNormalizerSpec.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20210824132538.php
  src/Sylius/Bundle/PromotionBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/PromotionBundle/Resources/config/doctrine/model/CatalogPromotion.orm.xml
  src/Sylius/Bundle/PromotionBundle/Resources/config/doctrine/model/CatalogPromotionRule.orm.xml
  src/Sylius/Component/Promotion/Model/CatalogPromotion.php
  src/Sylius/Component/Promotion/Model/CatalogPromotionInterface.php
  src/Sylius/Component/Promotion/Model/CatalogPromotionRule.php
  src/Sylius/Component/Promotion/Model/CatalogPromotionRuleInterface.php
  src/Sylius/Component/Promotion/spec/Model/CatalogPromotionRuleSpec.php
  src/Sylius/Component/Promotion/spec/Model/CatalogPromotionSpec.php
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/Responses/Expected/admin/catalog_promotion/get_catalog_promotion_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/get_catalog_promotions_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/post_catalog_promotion_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/put_catalog_promotion_response.json
Labels: API

#13026 [CatalogPromotion][Admin] Add browsing catalog promotions
  features/promotion/managing_catalog_promotions/browsing_catalog_promotions.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/services/pages/admin.xml
  src/Sylius/Behat/Resources/config/services/pages/admin/catalog_promotion.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/ui/promotion/managing_catalog_promotions.yml
  src/Sylius/Bundle/AdminBundle/Menu/MainMenuBuilder.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/catalog_promotion.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/catalog_promotion.yaml
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
Labels: Feature, Admin

#13032 [Docs] Choosing the right branch - fix
  docs/book/contributing/documentation/overview.rst
Labels: Documentation

#13033 [Catalog Promotion] refactor rule configuration change iri with code
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Bundle/ApiBundle/DataPersister/CatalogPromotionDataPersister.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_persisters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/CatalogPromotionNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/DataPersister/CatalogPromotionDataPersisterSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/CatalogPromotionNormalizerSpec.php
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/Responses/Expected/admin/catalog_promotion/post_catalog_promotion_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/put_catalog_promotion_response.json
Labels: API

#13014 [CatalogPromotion] Use Catalog Promotion rule during application
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_for_taxons.feature
  features/promotion/applying_catalog_promotions/applying_catalog_promotions_for_variant.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Behat/Resources/config/suites/api/promotion/applying_catalog_promotions.yml
  src/Sylius/Bundle/CoreBundle/Applicator/CatalogPromotionApplicator.php
  src/Sylius/Bundle/CoreBundle/Applicator/CatalogPromotionApplicatorInterface.php
  src/Sylius/Bundle/CoreBundle/EventListener/CatalogPromotionEventListener.php
  src/Sylius/Bundle/CoreBundle/Listener/CatalogPromotionUpdateListener.php
  src/Sylius/Bundle/CoreBundle/Processor/CatalogPromotionProcessorInterface.php
  src/Sylius/Bundle/CoreBundle/Processor/DummyCatalogPromotionProcessor.php
  src/Sylius/Bundle/CoreBundle/Provider/CatalogPromotionVariantsProvider.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/spec/Applicator/CatalogPromotionApplicatorSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/CatalogPromotionEventListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Listener/CatalogPromotionUpdateListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Processor/DummyCatalogPromotionProcessorSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Provider/CatalogPromotionVariantsProviderSpec.php
  src/Sylius/Component/Core/Provider/CatalogPromotionVariantsProviderInterface.php
  src/Sylius/Component/Promotion/Model/CatalogPromotionRuleInterface.php
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/Responses/Expected/admin/catalog_promotion/post_catalog_promotion_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/put_catalog_promotion_response.json
Labels: Feature, API

#13028 [CatalogPromotion][Admin] Add creating catalog promotion
  features/promotion/managing_catalog_promotions/creating_catalog_promotion.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Page/Admin/CatalogPromotion/CreatePage.php
  src/Sylius/Behat/Page/Admin/CatalogPromotion/CreatePageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/services/pages/admin/catalog_promotion.xml
  src/Sylius/Behat/Resources/config/suites/api/promotion/managing_catalog_promotions.yml
  src/Sylius/Behat/Resources/config/suites/ui/promotion/managing_catalog_promotions.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/catalog_promotion.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/catalog_promotion.yaml
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/_form.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Grid/Field/_channels.html.twig
  src/Sylius/Bundle/CoreBundle/Form/Extension/CatalogPromotionTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/PromotionBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/PromotionBundle/Form/Type/CatalogPromotionTranslationType.php
  src/Sylius/Bundle/PromotionBundle/Form/Type/CatalogPromotionType.php
  src/Sylius/Bundle/PromotionBundle/Resources/config/services/forms.xml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
Labels: Feature, Admin
