Repository Sylius/Sylius, pull requests merged in 2022-09, with the labels that each got.

#14272 Refresh readme image
  README.md
Labels: Maintenance

#14273 [CatalogPromotion][UI] Fix promotion labels while changing variants on the product page
  src/Sylius/Bundle/ShopBundle/Resources/private/js/sylius-variants-prices.js
Labels: UX, Shop, Bug

#14277 [ProductAttributes] Change translatable status to yes/no in ProductAttributes grid
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/product_attribute.yml
Labels: UX, Admin

#14285 [Symfony 6][ShopBundle] Fix spec tests
  src/Sylius/Bundle/ShopBundle/spec/EventListener/ShopCartBlamerListenerSpec.php
  src/Sylius/Bundle/ShopBundle/spec/EventListener/ShopUserLogoutHandlerSpec.php
Labels: Shop, Bug

#14288 [Config] Marked SenderInterface as excluded in psalm.xml
  psalm.xml
Labels: Maintenance

#14284 [Symfony 6] Fix ApiBundle package
  .github/workflows/packages.yml
  src/Sylius/Bundle/AdminBundle/Tests/MessageHandler/Admin/SendResetPasswordEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/Context/TokenBasedUserContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/ApiBundle/Tests/ApiPlatform/Bridge/Symfony/Routing/CachedRouteNameResolverTest.php
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendAccountRegistrationEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendAccountVerificationEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendContactRequestHandlerTest.php
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendOrderConfirmationEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendResetPasswordEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/Tests/MessageHandler/Admin/SendResetPasswordEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/spec/Context/TokenBasedUserContextSpec.php
  src/Sylius/Bundle/ApiBundle/spec/EventListener/ApiCartBlamerListenerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/EventSubscriber/ProductVariantEventSubscriberSpec.php
  src/Sylius/Bundle/ApiBundle/test/.env.test_with_swiftmailer
  src/Sylius/Bundle/ApiBundle/test/config/api_platform/config.yaml
  src/Sylius/Bundle/ApiBundle/test/config/api_resources/Promotion.xml
  src/Sylius/Bundle/ApiBundle/test/config/bundles.php
  src/Sylius/Bundle/ApiBundle/test/config/config.yaml
  src/Sylius/Bundle/ApiBundle/test/config/packages/test/sylius_mailer.yaml
  src/Sylius/Bundle/ApiBundle/test/config/packages/test_with_swiftmailer/filesystem.yaml
  src/Sylius/Bundle/ApiBundle/test/config/packages/test_with_swiftmailer/swiftmailer.yaml
  src/Sylius/Bundle/ApiBundle/test/config/packages/test_with_swiftmailer/sylius_mailer.yaml
  src/Sylius/Bundle/ApiBundle/test/config/services.php
  src/Sylius/Bundle/ApiBundle/test/src/Kernel.php
Labels: Maintenance, Admin, API, Bug

#14292 Refactor customer provider
  UPGRADE-API-1.12.md
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/RegisterShopUserHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Catalog/AddProductReviewHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/UpdateCartHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/providers.xml
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/ChangeAddressOrderHandlerTest.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/RegisterShopUserHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Catalog/AddProductReviewHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/UpdateCartHandlerSpec.php
  src/Sylius/Bundle/CoreBundle/Resolver/CustomerResolver.php
  src/Sylius/Bundle/CoreBundle/Resolver/CustomerResolverInterface.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/spec/Resolver/CustomerResolverSpec.php
Labels: Maintenance, API

#14295 [Config] Mark SenderInterface as excluded in psalm.xml
  psalm.xml
Labels: Bug

#14250 [docs]Recommend cron jobs values
  docs/cookbook/deployment/cron-jobs.rst
Labels: Documentation

#14294 [Maintenance] Add conflict with jms/serializer-bundle 4.1.0
  CONFLICTS.md
  composer.json
Labels: Maintenance

#14236 [API] Remove problematic mapping path
  config/api_platform/config.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/ApiBundle/test/config/api_platform/Foo.xml
  src/Sylius/Bundle/ApiBundle/test/config/api_platform/FooSyliusResource.xml
  src/Sylius/Bundle/ApiBundle/test/config/api_platform/Promotion.xml
  src/Sylius/Bundle/ApiBundle/test/config/api_platform/Taxon.xml
  src/Sylius/Bundle/ApiBundle/test/config/config.yaml
Labels: API, Bug

#14126 [API] Fix TaxonFilter default order behavior
  src/Sylius/Bundle/ApiBundle/Filter/Doctrine/TaxonFilter.php
  src/Sylius/Bundle/ApiBundle/spec/Filter/Doctrine/TaxonFilterSpec.php
Labels: API

#14290 [Catalog Promotions] Introduce the "processing" state and drop the unused "failed" step
  UPGRADE-1.12.md
  features/promotion/managing_catalog_promotions/editing_catalog_promotion.feature
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Bundle/CoreBundle/CatalogPromotion/Listener/CatalogPromotionCreatedListener.php
  src/Sylius/Bundle/CoreBundle/CatalogPromotion/Listener/CatalogPromotionEndedListener.php
  src/Sylius/Bundle/CoreBundle/CatalogPromotion/Listener/CatalogPromotionFailedListener.php
  src/Sylius/Bundle/CoreBundle/CatalogPromotion/Listener/CatalogPromotionUpdateFailedMessageListener.php
  src/Sylius/Bundle/CoreBundle/CatalogPromotion/Listener/CatalogPromotionUpdatedListener.php
  src/Sylius/Bundle/CoreBundle/CatalogPromotion/Processor/CatalogPromotionStateProcessor.php
  src/Sylius/Bundle/CoreBundle/Resources/config/app/state_machine/sylius_catalog_promotion.yaml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/catalog_promotion/listeners.xml
  src/Sylius/Bundle/CoreBundle/spec/CatalogPromotion/Listener/CatalogPromotionCreatedListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/CatalogPromotion/Listener/CatalogPromotionEndedListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/CatalogPromotion/Listener/CatalogPromotionFailedListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/CatalogPromotion/Listener/CatalogPromotionUpdateFailedMessageListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/CatalogPromotion/Listener/CatalogPromotionUpdatedListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/CatalogPromotion/Processor/CatalogPromotionStateProcessorSpec.php
  src/Sylius/Component/Promotion/Event/CatalogPromotionFailed.php
  src/Sylius/Component/Promotion/Model/CatalogPromotionStates.php
  src/Sylius/Component/Promotion/Model/CatalogPromotionTransitions.php
  tests/DataFixtures/ORM/resources/catalog_promotions.yml
  tests/DataFixtures/ORM/resources/scheduled_catalog_promotions.yml
  tests/Functional/AbstractWebTestCase.php
  tests/Functional/CatalogPromotionAnnouncerTest.php
  tests/Functional/EligibleCatalogPromotionsProcessorTest.php
  tests/Functional/app/AppKernel.php
  tests/Functional/app/CatalogPromotionProcessingState/config.yml
Labels: Feature, Maintenance

#14274 [AdminPasswordReset][Behat] Missed steps implementation
  src/Sylius/Behat/Context/Api/Admin/ResettingPasswordContext.php
  src/Sylius/Behat/Context/Ui/Admin/ResettingPasswordContext.php
  src/Sylius/Behat/Page/Admin/Account/ResetPasswordPage.php
  src/Sylius/Behat/Page/Admin/Account/ResetPasswordPageInterface.php
Labels: Behat

#14301 [Behat][Fix] Check notification expectation in JavaScriptTestHelper
  src/Sylius/Behat/Context/Ui/Admin/NotificationContext.php
  src/Sylius/Behat/Service/Helper/JavaScriptTestHelper.php
Labels: Behat

#14270 [CatalogPromotions][API] Removal of catalog promotions
  features/promotion/removing_catalog_promotions/removing_catalog_promotions.feature
  src/Sylius/Behat/Client/ResponseChecker.php
  src/Sylius/Behat/Client/ResponseCheckerInterface.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/promotion/removing_catalog_promotions.yml
  src/Sylius/Bundle/ApiBundle/Controller/RemoveCatalogPromotionAction.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CatalogPromotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/CatalogPromotion/Command/RemoveInactiveCatalogPromotion.php
  src/Sylius/Bundle/CoreBundle/CatalogPromotion/CommandHandler/RemoveInactiveCatalogPromotionHandler.php
  src/Sylius/Bundle/CoreBundle/CatalogPromotion/Processor/CatalogPromotionRemovalProcessor.php
  src/Sylius/Bundle/CoreBundle/CatalogPromotion/Processor/CatalogPromotionRemovalProcessorInterface.php
  src/Sylius/Bundle/CoreBundle/Resources/config/app/messenger.yaml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/catalog_promotion/command_handlers.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/catalog_promotion/processors.xml
  src/Sylius/Bundle/CoreBundle/spec/CatalogPromotion/CommandHandler/RemoveInactiveCatalogPromotionHandlerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/CatalogPromotion/Processor/CatalogPromotionRemovalProcessorSpec.php
  src/Sylius/Component/Promotion/Exception/CatalogPromotionNotFoundException.php
  src/Sylius/Component/Promotion/Exception/InvalidCatalogPromotionStateException.php
Labels: Feature, Maintenance, API

#14309 Conflict api-platform/core 2.7.0
  CONFLICTS.md
  composer.json
  src/Sylius/Bundle/ApiBundle/composer.json
Labels: Maintenance, API

#14283 [Symfony 6] Enable authenticator manager
  UPGRADE-1.12.md
  config/packages/security.yaml
  src/Sylius/Bundle/ApiBundle/Context/TokenBasedUserContext.php
  src/Sylius/Bundle/ApiBundle/EventListener/ApiCartBlamerListener.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/spec/Context/TokenBasedUserContextSpec.php
  src/Sylius/Bundle/ApiBundle/spec/EventListener/ApiCartBlamerListenerSpec.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/UniqueReviewerEmailValidator.php
  src/Sylius/Bundle/CoreBundle/spec/Validator/Constraints/UniqueReviewerEmailValidatorSpec.php
  src/Sylius/Bundle/ShopBundle/EventListener/CustomerEmailUpdaterListener.php
  src/Sylius/Bundle/ShopBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/ShopBundle/spec/EventListener/CustomerEmailUpdaterListenerSpec.php
Labels: Maintenance, Shop, API

#14311 [CatalogPromotions][Swagger] HTTP Response statuses documented for CatalogPromotion removing
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CatalogPromotion.xml
Labels: API

#14291 [CatalogPromotions][UI] Removal of catalog promotions
  features/promotion/removing_catalog_promotions/removing_catalog_promotions.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Admin/NotificationContext.php
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/ui/promotion/removing_catalog_promotions.yml
  src/Sylius/Bundle/AdminBundle/Controller/RemoveCatalogPromotionAction.php
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/catalog_promotion.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/catalog_promotion.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/controller.xml
  src/Sylius/Bundle/AdminBundle/Resources/views/Grid/deleteCatalogPromotion.html.twig
  src/Sylius/Bundle/PromotionBundle/Resources/translations/flashes.en.yml
Labels: Feature, Admin, API

#14314 [CatalogPromotions][Docs] Removing of catalog promotions documented
  docs/book/products/catalog_promotions.rst
Labels: Documentation

#14278 chore: remove unused Customer/Show/_menu.html.twig template
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/_menu.html.twig
Labels: Admin

#14310 [Docs] Release cycle changes
  docs/book/organization/release-cycle.rst
Labels: Documentation

#14298 [Maintenance] Introduce Flysystem and use it in place of Gaufrette by default
  CONFLICTS.md
  UPGRADE-1.12.md
  composer-require-checker.json
  composer.json
  config/bundles.php
  docs/book/architecture/architecture.rst
  docs/cookbook/images/images-on-aws-s3.rst
  src/Sylius/Bundle/AdminBundle/Tests/TestKernel.php
  src/Sylius/Bundle/ApiBundle/test/config/bundles.php
  src/Sylius/Bundle/CoreBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/CoreBundle/DependencyInjection/SyliusCoreExtension.php
  src/Sylius/Bundle/CoreBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/Tests/DependencyInjection/SyliusCoreConfigurationTest.php
  src/Sylius/Bundle/CoreBundle/Tests/DependencyInjection/SyliusCoreExtensionTest.php
  src/Sylius/Bundle/CoreBundle/Tests/TestKernel.php
  src/Sylius/Bundle/CoreBundle/composer.json
  src/Sylius/Component/Core/Filesystem/Adapter/FilesystemAdapterInterface.php
  src/Sylius/Component/Core/Filesystem/Adapter/FlysystemFilesystemAdapter.php
  src/Sylius/Component/Core/Filesystem/Adapter/GaufretteFilesystemAdapter.php
  src/Sylius/Component/Core/Filesystem/Exception/FileNotFoundException.php
  src/Sylius/Component/Core/Uploader/ImageUploader.php
  src/Sylius/Component/Core/composer.json
  src/Sylius/Component/Core/spec/Filesystem/Adapter/FlysystemFilesystemAdapterSpec.php
  src/Sylius/Component/Core/spec/Filesystem/Adapter/GaufretteFilesystemAdapterSpec.php
  src/Sylius/Component/Core/spec/Uploader/ImageUploaderSpec.php
  symfony.lock
Labels: Feature, Documentation, DX, Maintenance

#14315 [Maintenance] Improve note in UPGRADE file about changes in security.yaml
  UPGRADE-1.12.md
Labels: Maintenance

#14319 [Maintenance] Update JS dependencies
  .babelrc
  .github/workflows/application.yml
  package.json
  src/Sylius/Bundle/AdminBundle/Resources/private/js/shim/shim-polyfill.js
  src/Sylius/Bundle/AdminBundle/gulpfile.babel.js
  src/Sylius/Bundle/ShopBundle/Resources/private/js/shim/shim-polyfill.js
  src/Sylius/Bundle/ShopBundle/gulpfile.babel.js
  yarn.lock
Labels: Maintenance, Admin, Shop

#14302 [maintenance]Do not continue-on-error pipeline
  .github/workflows/application.yml
Labels: Maintenance

#14313 [docs]Mention to clone Sylius-Standard repository to start the project
  docs/book/installation/installation_with_docker.rst
Labels: Documentation

#14325 [UI] removed important flag from the button class
  src/Sylius/Bundle/ShopBundle/Resources/private/scss/theme.scss
Labels: Shop

#14335 [Symfony 6][Maintenance][Admin] Add FlysystemBundle to the test app
  src/Sylius/Bundle/AdminBundle/test/config/bundles.php
Labels: Admin

#14324 [Admin] Improve highlighting menu items
  src/Sylius/Bundle/AdminBundle/Menu/MainMenuBuilder.php
Labels: UX, Admin, Bug

#14336 Enable Behat tests in PostgreSQL workflow
  .github/workflows/application.yml
  features/addressing/managing_zones/deleting_zone.feature
  features/product/managing_product_variants/autocomplete_product_variant_descriptor.feature
  features/product/managing_products/sorting_products.feature
  features/promotion/removing_catalog_promotions/removing_catalog_promotions.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingZonesContext.php
  src/Sylius/Behat/Context/Setup/ChannelContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingPaymentMethodsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductVariantsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingPromotionCouponsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingShippingMethodsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingTaxonsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingZonesContext.php
  src/Sylius/Behat/Context/Ui/Admin/NotificationContext.php
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/Handler/ResourceDeleteHandler.php
  src/Sylius/Bundle/CoreBundle/spec/Doctrine/ORM/Handler/ResourceDeleteHandlerSpec.php
Labels: DX, Maintenance

#13663 Admin update form action configurable
  src/Sylius/Bundle/AdminBundle/Resources/views/Crud/Update/_content.html.twig
Labels: Enhancement, DX, Admin

#14344 [Behat][PostgreSQL] Fix removing items from cart
  features/cart/shopping_cart/seeing_shipping_costs_only_when_required.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
Labels: Behat, Bug

#14339 [GitHub Actions] Bump up PostgreSQL version in workflow to the current one
  .github/workflows/application.yml
Labels: Maintenance

#14322 [Symfony 6] Fix application configuration
  composer.json
  config/packages/prod/doctrine.yaml
  config/packages/test/framework.yaml
  config/packages/test_cached/doctrine.yaml
  src/Kernel.php
  src/Sylius/Behat/Context/Api/Admin/AjaxContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingTaxonsContext.php
  src/Sylius/Behat/Resources/config/services.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Service/SecurityService.php
  src/Sylius/Behat/spec/Service/SecurityServiceSpec.php
  src/Sylius/Bundle/AdminBundle/Resources/config/services/integrations/shop.xml
  src/Sylius/Bundle/CoreBundle/Security/UserImpersonator.php
  src/Sylius/Bundle/CoreBundle/Storage/CartSessionStorage.php
  src/Sylius/Bundle/CoreBundle/spec/Storage/CartSessionStorageSpec.php
  src/Sylius/Bundle/ShopBundle/EventListener/CustomerEmailUpdaterListener.php
  src/Sylius/Bundle/ShopBundle/Resources/config/services.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/ShopBundle/spec/EventListener/CustomerEmailUpdaterListenerSpec.php
Labels: Admin, Shop, Bug

#14331 [Docs] Add conventions for Template Events
  docs/book/contributing/code/conventions.rst
Labels: Documentation

#14326 [Symfony 6] Fix static checks
  composer-require-checker.json
  phpstan.neon.dist
  psalm.xml
  src/Sylius/Bundle/AttributeBundle/Tests/Form/Type/AttributeType/SelectAttributeTypeTest.php
  src/Sylius/Bundle/CoreBundle/CatalogPromotion/Listener/CatalogPromotionCreatedListener.php
  src/Sylius/Bundle/CoreBundle/CatalogPromotion/Listener/CatalogPromotionEndedListener.php
  src/Sylius/Bundle/CoreBundle/CatalogPromotion/Listener/CatalogPromotionUpdatedListener.php
  src/Sylius/Bundle/CoreBundle/Controller/ProductTaxonController.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/AddressExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductExampleFactory.php
  src/Sylius/Bundle/CurrencyBundle/Form/Type/ExchangeRateType.php
  src/Sylius/Bundle/ProductBundle/Controller/ProductSlugController.php
  src/Sylius/Bundle/ProductBundle/Form/EventSubscriber/GenerateProductVariantsSubscriber.php
  src/Sylius/Bundle/ProductBundle/spec/Form/EventSubscriber/GenerateProductVariantsSubscriberSpec.php
  src/Sylius/Bundle/UserBundle/Command/AbstractRoleCommand.php
  src/Sylius/Bundle/UserBundle/Controller/SecurityController.php
  src/Sylius/Bundle/UserBundle/Provider/UserProviderInterface.php
  src/Sylius/Bundle/UserBundle/Security/UserLogin.php
  src/Sylius/Bundle/UserBundle/Security/UserPasswordEncoder.php
  src/Sylius/Component/Addressing/Checker/CountryProvincesDeletionChecker.php
  src/Sylius/Component/Core/Test/Services/EmailChecker.php
Labels: DX, Maintenance

#14346 [Maintenance] Bump doctrine/orm minimal version to 2.13
  composer.json
Labels: Maintenance, Dependencies

#14351 [Catalog Promotions] Add `_sylius.alias` to the routings
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/catalog_promotion.yaml
Labels: DX, Admin

#14330 [Maintenance] Allow to choose whether use Webpack or Gulp
  .github/workflows/application.yml
  .gitignore
  Makefile
  UPGRADE-1.12.md
  composer.json
  config/bundles.php
  package.json
  src/Sylius/Bundle/AdminBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/AdminBundle/Resources/views/Layout/_logo.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Layout/_scripts.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Layout/_styles.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Security/_content.html.twig
  src/Sylius/Bundle/AdminBundle/Tests/TestKernel.php
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/ApiBundle/composer.json
  src/Sylius/Bundle/ApiBundle/test/config/bundles.php
  src/Sylius/Bundle/CoreBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/CoreBundle/Tests/TestKernel.php
  src/Sylius/Bundle/CoreBundle/composer.json
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/Resources/views/Layout/Header/_logo.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/_scripts.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/_styles.html.twig
  src/Sylius/Bundle/ShopBundle/composer.json
  src/Sylius/Bundle/UiBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/UiBundle/DependencyInjection/SyliusUiExtension.php
  src/Sylius/Bundle/UiBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/UiBundle/Tests/Functional/Kernel.php
  src/Sylius/Bundle/UiBundle/composer.json
  symfony.lock
Labels: Maintenance, Admin, Shop, API

#14352 [Maintenance] Fix RedirectPathExtensionTest
  tests/Twig/RedirectPathExtensionTest.php
Labels: Bug

#14357 [Maintenance] Add missing images to the Webpack's build process
  .github/workflows/packages.yml
  src/Sylius/Bundle/AdminBundle/Resources/private/entry.js
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/_mainImage.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/_media.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/_mainImage.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Security/_logo.html.twig
  src/Sylius/Bundle/CoreBundle/Resources/views/Email/adminPasswordReset.html.twig
  src/Sylius/Bundle/CoreBundle/Resources/views/Email/layout.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/private/entry.js
  src/Sylius/Bundle/ShopBundle/Resources/views/Checkout/_header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Homepage/_banner.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Layout/Footer/Grid/_plus.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Show/_images.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/_mainImage.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/error.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/error403.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/error404.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/error500.html.twig
Labels: Maintenance, Admin, Shop

#14349 [Admin][CatalogPromotion] Browsing affected product variants
  features/promotion/managing_catalog_promotions/browsing_variants_affected_by_catalog_promotions.feature
  src/Sylius/Behat/Context/Api/Admin/BrowsingCatalogPromotionProductVariantsContext.php
  src/Sylius/Behat/Context/Ui/Admin/BrowsingCatalogPromotionProductVariantsContext.php
  src/Sylius/Behat/Page/Admin/CatalogPromotion/ProductVariant/IndexPage.php
  src/Sylius/Behat/Page/Admin/CatalogPromotion/ProductVariant/IndexPageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/services/pages/admin/catalog_promotion.xml
  src/Sylius/Behat/Resources/config/suites/api/promotion/managing_catalog_promotions.yml
  src/Sylius/Behat/Resources/config/suites/ui/promotion/managing_catalog_promotions.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/events.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/catalog_promotion.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/product_variant_with_catalog_promotion.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/catalog_promotion.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/partial.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/partial/catalog_promotion.yml
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/ProductVariant/Index/Header/_breadcrumb.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/ProductVariant/Index/Header/_content.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/ProductVariant/Index/_catalogPromotionHeader.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/ProductVariant/Index/_header.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/ProductVariant/Index/_headerWidget.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/ProductVariant/index.html.twig
  src/Sylius/Bundle/ApiBundle/Filter/Doctrine/ProductVariantCatalogPromotionFilter.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/ProductVariantRepository.php
  src/Sylius/Component/Core/Repository/ProductVariantRepositoryInterface.php
Labels: Feature, Admin, API

#14361 [Maintenance] Fix setting sylius_ui.use_webpack parameter
  src/Sylius/Bundle/UiBundle/DependencyInjection/SyliusUiExtension.php
  src/Sylius/Bundle/UiBundle/Tests/DependencyInjection/SyliusUiExtensionTest.php
Labels: Maintenance, Bug

#14360 [Maintenance] Sticky pull request comment removed
  .github/workflows/application.yml
Labels: Maintenance

#14327 [Symfony 6] Specs fix
  psalm.xml
  src/Sylius/Bundle/ProductBundle/spec/Form/EventSubscriber/GenerateProductVariantsSubscriberSpec.php
  src/Sylius/Bundle/UserBundle/Resources/config/services.xml
  src/Sylius/Bundle/UserBundle/Security/UserPasswordEncoder.php
  src/Sylius/Bundle/UserBundle/Security/UserPasswordHasher.php
  src/Sylius/Bundle/UserBundle/spec/Security/UserPasswordEncoderSpec.php
  src/Sylius/Bundle/UserBundle/spec/Security/UserPasswordHasherSpec.php
  src/Sylius/Component/User/Security/PasswordUpdater.php
  src/Sylius/Component/User/Security/UserPasswordEncoderInterface.php
  src/Sylius/Component/User/spec/Security/PasswordUpdaterSpec.php
Labels: Maintenance, Admin, API

#14373 [Docs] Add Context Providers to the template customization guide
  docs/_images/sylius_template_events_greeting.png
  docs/customization/template.rst
Labels: Documentation

#14378 [Products][CatalogPromotions] Catalog promotion details on both simple and configurable products
  features/product/viewing_product_in_admin_panel/viewing_applied_catalog_promotions_details_for_a_simple_product.feature
  features/product/viewing_product_in_admin_panel/viewing_applied_catalog_promotions_details_within_variant.feature
  features/product/viewing_product_in_admin_panel/viewing_details_of_product_with_variants.feature
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Behat/Context/Ui/Admin/ProductShowPageContext.php
  src/Sylius/Behat/Element/Product/ShowPage/PricingElement.php
  src/Sylius/Behat/Element/Product/ShowPage/PricingElementInterface.php
  src/Sylius/Behat/Element/Product/ShowPage/VariantsElement.php
  src/Sylius/Behat/Element/Product/ShowPage/VariantsElementInterface.php
  src/Sylius/Behat/Page/Admin/Product/ShowPage.php
  src/Sylius/Behat/Page/Admin/Product/ShowPageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/suites/ui/product/viewing_products.yml
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/_appliedPromotions.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/_pricing.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/_variantContentPricing.html.twig
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
Labels: Feature, Admin

#14377 [Products][Admin][UI] Display the channel name instead of the channel code in the variant list
  features/product/viewing_product_in_admin_panel/viewing_details_of_product_with_variants.feature
  src/Sylius/Behat/Context/Ui/Admin/ProductShowPageContext.php
  src/Sylius/Behat/Element/Product/ShowPage/VariantsElement.php
  src/Sylius/Behat/Element/Product/ShowPage/VariantsElementInterface.php
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/_variantContentPricing.html.twig
Labels: Admin, Bug

#14374 [UI] Remove experimental tag from template events related services
  src/Sylius/Bundle/UiBundle/Command/DebugTemplateEventCommand.php
  src/Sylius/Bundle/UiBundle/ContextProvider/ContextProviderInterface.php
  src/Sylius/Bundle/UiBundle/ContextProvider/DefaultContextProvider.php
  src/Sylius/Bundle/UiBundle/DataCollector/TemplateBlockDataCollector.php
  src/Sylius/Bundle/UiBundle/DataCollector/TemplateBlockRenderingHistory.php
  src/Sylius/Bundle/UiBundle/DataCollector/TraceableTemplateBlockRenderer.php
  src/Sylius/Bundle/UiBundle/DataCollector/TraceableTemplateEventRenderer.php
  src/Sylius/Bundle/UiBundle/DependencyInjection/Compiler/LegacySonataBlockPass.php
  src/Sylius/Bundle/UiBundle/DependencyInjection/SyliusUiExtension.php
  src/Sylius/Bundle/UiBundle/Registry/TemplateBlock.php
  src/Sylius/Bundle/UiBundle/Registry/TemplateBlockRegistry.php
  src/Sylius/Bundle/UiBundle/Registry/TemplateBlockRegistryInterface.php
  src/Sylius/Bundle/UiBundle/Renderer/DelegatingTemplateEventRenderer.php
  src/Sylius/Bundle/UiBundle/Renderer/HtmlDebugTemplateBlockRenderer.php
  src/Sylius/Bundle/UiBundle/Renderer/HtmlDebugTemplateEventRenderer.php
  src/Sylius/Bundle/UiBundle/Renderer/TemplateBlockRendererInterface.php
  src/Sylius/Bundle/UiBundle/Renderer/TemplateEventRendererInterface.php
  src/Sylius/Bundle/UiBundle/Renderer/TwigTemplateBlockRenderer.php
  src/Sylius/Bundle/UiBundle/Twig/LegacySonataBlockExtension.php
  src/Sylius/Bundle/UiBundle/Twig/TemplateEventExtension.php
Labels: Maintenance

#14333 [Docs] Remove migrating to webpack page from docs
  UPGRADE-1.12.md
  docs/book/frontend/index.rst
  docs/book/frontend/managing-assets.rst
  docs/book/frontend/map.rst.inc
  docs/book/frontend/overview.rst
  docs/book/index.rst
  docs/book/installation/installation.rst
  docs/book/map.rst.inc
  docs/book/themes/bootstrap-theme.rst
  docs/cookbook/deployment/cloudways.rst
  docs/cookbook/deployment/platform-sh.rst
  docs/cookbook/deployment/symfonycloud.rst
  docs/cookbook/frontend/admin-js-and-css.rst
  docs/cookbook/frontend/map.rst.inc
  docs/cookbook/frontend/migrating-to-webpack.rst
  docs/cookbook/frontend/staying-with-gulp.rst
  docs/cookbook/frontend/webpack.rst
  docs/cookbook/index.rst
  docs/customization/template.rst
  docs/getting-started-with-sylius/shop-customizations.rst
  docs/redirection_map
Labels: Documentation, Maintenance, Docker

#14385 [Docs] Refactor example Context Provider
  docs/customization/template.rst
Labels: Documentation
