Repository Sylius/Sylius, pull requests merged in 2022-08, with the labels that each got.

#14207 [UI] Change cart button to display items count, not products count
  features/cart/viewing_total_quantity_of_the_cart.feature
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
  src/Sylius/Behat/Element/Shop/CartWidgetElement.php
  src/Sylius/Behat/Element/Shop/CartWidgetElementInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/services/elements/shop.xml
  src/Sylius/Behat/Resources/config/suites/ui/homepage/viewing_products.yml
  src/Sylius/Bundle/ShopBundle/Resources/views/Cart/Widget/_button.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Cart/_widget.html.twig
Labels: UX, Shop

#14211 [Behat] Extract javascript driver check
  src/Sylius/Behat/Page/Admin/Channel/UpdatePage.php
  src/Sylius/Behat/Page/Admin/Product/CreateConfigurableProductPage.php
  src/Sylius/Behat/Page/Admin/Product/CreateSimpleProductPage.php
  src/Sylius/Behat/Page/Admin/Product/UpdateSimpleProductPage.php
  src/Sylius/Behat/Page/Admin/ShippingMethod/CreatePage.php
  src/Sylius/Behat/Page/Admin/Taxon/CreatePage.php
  src/Sylius/Behat/Page/Admin/Taxon/UpdatePage.php
  src/Sylius/Behat/Page/Shop/Checkout/AddressPage.php
  src/Sylius/Behat/Page/Shop/Checkout/CompletePage.php
  src/Sylius/Behat/Page/Shop/Checkout/SelectPaymentPage.php
  src/Sylius/Behat/Page/Shop/Checkout/SelectShippingPage.php
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
  src/Sylius/Behat/Service/DriverHelper.php
  src/Sylius/Behat/Service/SlugGenerationHelper.php
Labels: Enhancement, DX, Behat

#14213 [bug]Send request to GUS with https
  src/Sylius/Bundle/AdminBundle/Resources/config/services/controller.xml
Labels: Admin, Bug

#14200 [Checkout] Add possibility to choose the required address in the checkout
  UPGRADE-API-1.12.md
  features/channel/managing_channels/choosing_required_address_in_checkout_for_channel.feature
  features/checkout/addressing_order/addressing_order_with_shipping_address_when_it_is_required_one_for_channel.feature
  features/checkout/seeing_order_summary/seeing_addresses_on_order_summary_page_when_shipping_is_required_one_in_checkout.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingChannelsContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Setup/ChannelContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingChannelsContext.php
  src/Sylius/Behat/Context/Ui/Shop/Checkout/CheckoutAddressingContext.php
  src/Sylius/Behat/Element/Admin/Channel/ShippingAddressInCheckoutRequiredElement.php
  src/Sylius/Behat/Element/Admin/Channel/ShippingAddressInCheckoutRequiredElementInterface.php
  src/Sylius/Behat/Page/Shop/Checkout/AddressPage.php
  src/Sylius/Behat/Page/Shop/Checkout/AddressPageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/services/elements/admin.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/events.yaml
  src/Sylius/Bundle/AdminBundle/Resources/views/Channel/Form/_shippingAddressInCheckoutRequired.html.twig
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/UpdateCartHandler.php
  src/Sylius/Bundle/ApiBundle/Modifier/OrderAddressModifier.php
  src/Sylius/Bundle/ApiBundle/Modifier/OrderAddressModifierInterface.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Channel.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Channel.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/UpdateCartHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Modifier/OrderAddressModifierSpec.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/ChannelTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Type/Checkout/AddressType.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20220728115129.php
  src/Sylius/Bundle/CoreBundle/Resources/config/doctrine/model/Channel.orm.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/ShopBundle/Resources/views/Checkout/Address/_billingAddressRequired.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Checkout/Address/_form.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Checkout/Address/_shippingAddressRequired.html.twig
  src/Sylius/Component/Core/Model/Channel.php
  src/Sylius/Component/Core/Model/ChannelInterface.php
  src/Sylius/Component/Core/spec/Model/ChannelSpec.php
  tests/Api/Admin/ChannelsTest.php
  tests/Api/DataFixtures/ORM/currency.yaml
  tests/Api/DataFixtures/ORM/locale.yaml
  tests/Api/Responses/Expected/admin/post_channel_response.json
  tests/Api/Responses/Expected/admin/put_channel_response.json
Labels: Feature, Maintenance, Admin, Shop, API

#14117 [DX] Removing duplicate attribute iteration
  src/Sylius/Component/Product/Model/Product.php
Labels: Enhancement, DX

#14215 [API] Rename OrderPromotionCodeAssigner
  UPGRADE-API-1.12.md
  src/Sylius/Bundle/ApiBundle/Assigner/OrderPromotionCodeAssigner.php
  src/Sylius/Bundle/ApiBundle/Assigner/OrderPromotionCodeAssignerInterface.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/UpdateCartHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/ChangeAddressOrderHandlerTest.php
  src/Sylius/Bundle/ApiBundle/spec/Assigner/OrderPromotionCodeAssignerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/UpdateCartHandlerSpec.php
Labels: DX, Maintenance, API

#14214 [API] Remove redundant validation config for the command that does not exist
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/AddressOrder.xml
Labels: API

#14196 [Documentation] Add naming conventions to contributing section
  docs/book/contributing/code/conventions.rst
  docs/book/contributing/code/index.rst
  docs/book/contributing/code/map.rst.inc
Labels: Documentation

#14223 [Maintenance] Use getObject instead of getEntity on doctrine events
  src/Sylius/Bundle/CoreBundle/EventListener/CanonicalizerListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/DefaultUsernameORMListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/ImagesRemoveListener.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/CanonicalizerListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/DefaultUsernameORMListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/ImagesRemoveListenerSpec.php
  src/Sylius/Bundle/ProductBundle/EventListener/SelectProductAttributeChoiceRemoveListener.php
  src/Sylius/Bundle/ProductBundle/spec/EventListener/SelectProductAttributeChoiceRemoveListenerSpec.php
  src/Sylius/Bundle/UserBundle/EventListener/PasswordUpdaterListener.php
  src/Sylius/Bundle/UserBundle/spec/EventListener/PasswordUpdaterListenerSpec.php
Labels: Maintenance, Bug

#14202 [Bundle][Attribute]It will also listen on the product attribute objec…
  features/product/managing_product_attributes/remove_product_attribute.feature
  src/Sylius/Behat/Context/Ui/Admin/NotificationContext.php
  src/Sylius/Behat/Resources/config/suites/ui/product/managing_product_attributes.yml
  src/Sylius/Bundle/AttributeBundle/Doctrine/ORM/Subscriber/LoadMetadataSubscriber.php
  src/Sylius/Bundle/AttributeBundle/spec/Doctrine/ORM/Subscriber/LoadMetadataSubscriberSpec.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20220803125615.php
Labels: Admin, Bug

#14222 [Maintenance] Bump JMS/Serializer-Bundle dependency
  composer.json
Labels: Maintenance

#14216 [Documentation] Minor fixes to naming conventions page
  docs/book/contributing/code/conventions.rst
Labels: Documentation, Bug

#14226 [Behat] Improve scenarios to work with case sensitive PostgreSQL
  features/cart/shopping_cart/clearing_cart_after_logging_out.feature
  features/currency/viewing_exchange_rates/viewing_exchange_rates_based_on_current_channel.feature
  features/product/managing_products/viewing_non_translatable_attributes.feature
  features/promotion/complex_promotions.feature
Labels: Behat

#14228 [Shop][UI] Update cart on checkout
  features/cart/shopping_cart/updating_cart_on_checkout.feature
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
  src/Sylius/Behat/Element/Shop/CheckoutSubtotalElement.php
  src/Sylius/Behat/Element/Shop/CheckoutSubtotalElementInterface.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPage.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/services/elements/shop.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/cart.yml
  src/Sylius/Bundle/ShopBundle/Resources/views/Cart/Summary/_checkout.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Checkout/_summary.html.twig
Labels: Shop

#14230 [Admin][CatalogPromotion] Add filters
  features/promotion/managing_catalog_promotions/catalog_promotion_filtration/filtering_catalog_promotions_by_channel.feature
  features/promotion/managing_catalog_promotions/catalog_promotion_filtration/filtering_catalog_promotions_by_end_date.feature
  features/promotion/managing_catalog_promotions/catalog_promotion_filtration/filtering_catalog_promotions_by_search.feature
  features/promotion/managing_catalog_promotions/catalog_promotion_filtration/filtering_catalog_promotions_by_start_date.feature
  features/promotion/managing_catalog_promotions/catalog_promotion_filtration/filtering_catalog_promotions_by_status.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Setup/CatalogPromotionContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FilterElement.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FilterElementInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/services/elements/admin.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/catalog_promotion.yaml
  src/Sylius/Bundle/ApiBundle/Filter/Doctrine/CatalogPromotionChannelFilter.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CatalogPromotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  tests/Api/Responses/Expected/admin/catalog_promotion/get_catalog_promotions_response.json
Labels: Feature, Admin, API

#14237 Add coupon channel eligibility checker
  .github/workflows/application.yml
  features/promotion/applying_promotion_coupon/receiving_no_discount_if_coupon_promotion_is_not_eligible.feature
  src/Sylius/Bundle/CoreBundle/Resources/config/services/checkers.xml
  src/Sylius/Bundle/PromotionBundle/Resources/config/services/eligibility_checkers.xml
  src/Sylius/Component/Core/Checker/Eligibility/PromotionCouponChannelEligibilityChecker.php
  src/Sylius/Component/Core/spec/Checker/Eligibility/PromotionCouponChannelEligibilityCheckerSpec.php
Labels: Maintenance, Bug

#14242 [API][Shop] List only orders from current channel
  features/account/customer_account/viewing_orders_history/viewing_order_only_from_current_channel.feature
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/OrdersByChannelExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryCollectionExtension/OrdersByChannelExtensionSpec.php
Labels: Feature, API

#14240 [Checkout][Addressing] Fix duplicated email validation errors
  src/Sylius/Bundle/ShopBundle/Resources/views/Common/Form/_login.html.twig
Labels: Shop

#14249 [Behat] Scenarios for removing catalog promotions
  features/promotion/removing_catalog_promotions/removing_catalog_promotions.feature
Labels: Feature, Behat

#14245 [DOCS] How to run async task added in installation
  docs/book/installation/installation.rst
Labels: Documentation

#14257 [DOCS] How to get currencies for channel
  docs/book/configuration/currencies.rst
Labels: Documentation

#14256 [Symfony 6] Fix getting criteria
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Index/_sorting.html.twig
  src/Sylius/Bundle/UiBundle/Resources/views/Grid/_content.html.twig
Labels: Shop

#14258 [Symfony 6] Fix getting route params
  src/Sylius/Bundle/ApiBundle/Resources/views/SwaggerUi/index.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Index/_pagination.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Index/_sorting.html.twig
  src/Sylius/Bundle/UiBundle/Resources/views/Grid/_content.html.twig
  src/Sylius/Bundle/UiBundle/Resources/views/Macro/pagination.html.twig
  src/Sylius/Bundle/UiBundle/Resources/views/Macro/sorting.html.twig
Labels: Shop, API

#14248 [UI] Fix autocomplete empty value
  src/Sylius/Bundle/UiBundle/Resources/private/js/sylius-auto-complete.js
Labels: JavaScript, Bug

#14231 [Sf6] Add UserBundle mappings to Symfony6 support
  src/Sylius/Bundle/UserBundle/SyliusUserBundle.php
Labels: Maintenance, Bug

#14255 [Admin][Order] Filter by product/variant
  features/order/managing_orders/order_filtration/filtering_orders_by_products.feature
  features/order/managing_orders/order_filtration/filtering_orders_by_variants.feature
  src/Sylius/Behat/Context/Setup/OrderContext.php
  src/Sylius/Behat/Context/Setup/ProductContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingOrdersContext.php
  src/Sylius/Behat/Page/Admin/Order/IndexPage.php
  src/Sylius/Behat/Page/Admin/Order/IndexPageInterface.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/order.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/ajax/product.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/OrderRepository.php
  src/Sylius/Bundle/CoreBundle/Form/Type/Grid/Filter/ResourceAutocompleteFilterType.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/ProductBundle/Doctrine/ORM/ProductRepository.php
  src/Sylius/Bundle/ProductBundle/Resources/config/serializer/Model.Product.yml
  src/Sylius/Bundle/UiBundle/Resources/views/Grid/Filter/resourceAutocomplete.html.twig
  src/Sylius/Component/Core/Grid/Filter/ResourceAutocompleteFilter.php
  src/Sylius/Component/Core/Repository/OrderRepositoryInterface.php
  src/Sylius/Component/Product/Model/Product.php
  src/Sylius/Component/Product/Model/ProductInterface.php
  src/Sylius/Component/Product/Repository/ProductRepositoryInterface.php
  src/Sylius/Component/Product/spec/Model/ProductSpec.php
Labels: Feature, Admin
