Repository Sylius/Sylius, pull requests merged in 2022-07, with the labels that each got.

#13874 [Product] Render disabled main taxon without link in breadcrumb
  features/product/viewing_products/viewing_product_with_disabled_main_taxon.feature
  src/Sylius/Behat/Context/Setup/ProductTaxonContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
  src/Sylius/Behat/Page/Shop/Product/ShowPageInterface.php
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Show/_breadcrumb.html.twig
Labels: Documentation, Maintenance, Shop

#14116 [Docs] Fix logo customization guide
  docs/getting-started-with-sylius/shop-customizations.rst
Labels: Documentation

#14120 [Docs] Drop security support for Sylius 1.9
  docs/book/organization/release-cycle.rst
Labels: Documentation, Maintenance

#13918 Changing templates with Sylius Event
  docs/_images/sylius_event_debug.png
  docs/_images/sylius_logo_locate.png
  docs/_images/sylius_template_events_metrics.png
  docs/customization/template.rst
Labels: Documentation

#14124 [Admin][Behat] Cover scenarios for admin password reset
  features/admin/resetting_password.feature
  features/admin/resetting_password_validation.feature
Labels: Feature

#14051 [docker][docs]Deploy Sylius with Docker
  docs/book/installation/index.rst
  docs/book/installation/installation_with_docker.rst
  docs/book/installation/map.rst.inc
  docs/cookbook/deployment/docker.rst
  docs/cookbook/deployment/map.rst.inc
  docs/cookbook/index.rst
  docs/getting-started-with-sylius/deployment.rst
  docs/getting-started-with-sylius/installation.rst
Labels: Documentation, Maintenance, Docker

#14121 [docker]Define BLACKFIRE_DISABLE_LEGACY_PORT env as 1 instead of true
  docker-compose.yml
Labels: Bug, Docker

#14128 [Admin][API] Sending administrator's password reset email
  config/packages/security.yaml
  features/admin/resetting_password.feature
  src/Sylius/Behat/Context/Api/Admin/LoginContext.php
  src/Sylius/Behat/Context/Api/EmailContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites/api/admin/login.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ResetPassword.xml
  src/Sylius/Bundle/CoreBundle/Mailer/Emails.php
  src/Sylius/Bundle/CoreBundle/Message/Admin/Account/RequestResetPasswordEmail.php
  src/Sylius/Bundle/CoreBundle/Message/Admin/Account/SendResetPasswordEmail.php
  src/Sylius/Bundle/CoreBundle/MessageHandler/Admin/Account/RequestResetPasswordEmailHandler.php
  src/Sylius/Bundle/CoreBundle/MessageHandler/Admin/Account/SendResetPasswordEmailHandler.php
  src/Sylius/Bundle/CoreBundle/Resources/config/app/sylius/sylius_mailer.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/serialization/Messages/Admin/Account/RequestResetPasswordEmail.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/message_handlers.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/CoreBundle/Resources/views/Email/adminPasswordReset.html.twig
  src/Sylius/Bundle/CoreBundle/spec/MessageHandler/Admin/Account/RequestResetPasswordEmailHandlerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/MessageHandler/Admin/Account/SendResetPasswordEmailHandlerSpec.php
  tests/Api/Admin/AdminUsersTest.php
Labels: Admin, API

#14134 Fix Percent float to localized string transformer
  src/Sylius/Bundle/PromotionBundle/Form/DataTransformer/PercentFloatToLocalizedStringTransformer.php
Labels: Maintenance, Bug

#14114 Move login events on Ui bundle
  src/Sylius/Bundle/AdminBundle/Resources/config/app/events.yaml
  src/Sylius/Bundle/UiBundle/Resources/config/app/events.yaml
Labels: Admin, Bug

#14123 Removed version specification
  docs/getting-started-with-sylius/installation.rst
Labels: Documentation

#14135 Fix data transformers for SF6
  src/Sylius/Bundle/PromotionBundle/Form/DataTransformer/MoneyIntToLocalizedStringTransformer.php
  src/Sylius/Bundle/PromotionBundle/Form/DataTransformer/PercentFloatToLocalizedStringTransformer.php
Labels: Maintenance, Bug

#14149 [Upgrade] A note about changes to the `access_control` configuration of `security.yaml`
  UPGRADE-API-1.12.md
Labels: Maintenance

#14138 [Admin][UI] Sending administrator's password reset email
  UPGRADE-1.12.md
  config/packages/security.yaml
  features/admin/resetting_password.feature
  src/Sylius/Behat/Context/Api/EmailContext.php
  src/Sylius/Behat/Context/Ui/Admin/LoginContext.php
  src/Sylius/Behat/Context/Ui/EmailContext.php
  src/Sylius/Behat/Page/Admin/Account/RequestPasswordResetPage.php
  src/Sylius/Behat/Page/Admin/Account/RequestPasswordResetPageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/services/pages/admin/account.xml
  src/Sylius/Behat/Resources/config/suites/ui/admin/login.yml
  src/Sylius/Bundle/AdminBundle/.gitignore
  src/Sylius/Bundle/AdminBundle/Action/Account/RenderRequestPasswordResetPageAction.php
  src/Sylius/Bundle/AdminBundle/Action/Account/RequestPasswordResetAction.php
  src/Sylius/Bundle/AdminBundle/Form/Model/PasswordResetRequest.php
  src/Sylius/Bundle/AdminBundle/Form/RequestPasswordResetType.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/events.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/security.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/controller.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/validation/PasswordResetRequest.xml
  src/Sylius/Bundle/AdminBundle/Resources/translations/flashes.en.yml
  src/Sylius/Bundle/AdminBundle/Resources/views/Security/Form/_requestPasswordResetButton.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Security/RequestPasswordReset/_email.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Security/RequestPasswordReset/_form.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Security/RequestPasswordReset/_submit.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Security/_logo.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Security/requestPasswordReset.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/_divider.html.twig
  src/Sylius/Bundle/AdminBundle/Tests/MessageHandler/Admin/SendResetPasswordEmailHandlerTest.php
  src/Sylius/Bundle/AdminBundle/Tests/TestKernel.php
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/AdminBundle/phpunit.xml.dist
  src/Sylius/Bundle/AdminBundle/spec/Action/Account/RequestPasswordResetActionSpec.php
  src/Sylius/Bundle/ApiBundle/Tests/MessageHandler/Admin/SendResetPasswordEmailHandlerTest.php
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/CoreBundle/Resources/views/Email/adminPasswordReset.html.twig
  src/Sylius/Bundle/UiBundle/Resources/config/app/events.yaml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
Labels: Feature, Maintenance, Admin

#14155 [BUG] The hostname resolver does not check for the channel status
  UPGRADE-1.11.md
  features/channel/filtering_out_disabled_channels.feature
  src/Sylius/Behat/Context/Api/Shop/HomepageContext.php
  src/Sylius/Behat/Context/Ui/Shop/HomepageContext.php
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/channel/channels.yml
  src/Sylius/Behat/Resources/config/suites/ui/channel/channels.yml
  src/Sylius/Bundle/ChannelBundle/Doctrine/ORM/ChannelRepository.php
  src/Sylius/Component/Channel/Context/RequestBased/HostnameBasedRequestResolver.php
  src/Sylius/Component/Channel/Repository/ChannelRepositoryInterface.php
  src/Sylius/Component/Channel/spec/Context/RequestBased/HostnameBasedRequestResolverSpec.php
Labels: Maintenance, Bug

#14151 Fixed the way an unknown email is treated when requesting a password reset
  features/account/resetting_password.feature
  features/admin/resetting_password.feature
  src/Sylius/Behat/Context/Api/EmailContext.php
  src/Sylius/Behat/Context/Ui/EmailContext.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/RequestResetPasswordTokenHandler.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/RequestResetPasswordTokenHandlerSpec.php
  src/Sylius/Bundle/CoreBundle/MessageHandler/Admin/Account/RequestResetPasswordEmailHandler.php
  src/Sylius/Bundle/CoreBundle/spec/MessageHandler/Admin/Account/RequestResetPasswordEmailHandlerSpec.php
  src/Sylius/Component/Core/Test/Services/EmailChecker.php
Labels: Maintenance, Admin, API

#14136 [Symfony 6] Fix deletion listeners
  src/Sylius/Behat/Context/Api/Shop/HomepageContext.php
  src/Sylius/Bundle/CoreBundle/EventListener/TaxonDeletionListener.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/CoreBundle/spec/EventListener/TaxonDeletionListenerSpec.php
  src/Sylius/Bundle/UserBundle/DependencyInjection/SyliusUserExtension.php
  src/Sylius/Bundle/UserBundle/EventListener/UserDeleteListener.php
  src/Sylius/Bundle/UserBundle/spec/EventListener/UserDeleteListenerSpec.php
Labels: Bug

#13163 [UX][Attribute] Use single_text widget for Date&DateTime attribute form type
  src/Sylius/Bundle/AttributeBundle/Form/Type/AttributeType/DateAttributeType.php
  src/Sylius/Bundle/AttributeBundle/Form/Type/AttributeType/DatetimeAttributeType.php
Labels: UX, Admin

#12773 [API][FIX] Remove code attribute of OrderItem in API serialization
  UPGRADE-1.11.md
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/OrderItem.xml
Labels: Maintenance, API

#14158 [Admin][UI] Unified ChannelCollection template
  features/promotion/managing_promotions/seeing_errors_in_promotion_channel_based_configuration.feature
  features/shipping/managing_shipping_methods/seeing_errors_in_shipping_method_charges.feature
  src/Sylius/Behat/Behaviour/CountsChannelBasedErrors.php
  src/Sylius/Behat/Behaviour/SessionAccessor.php
  src/Sylius/Behat/Context/Setup/PromotionContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingShippingMethodsContext.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FormElement.php
  src/Sylius/Behat/Page/Admin/CatalogPromotion/CreatePage.php
  src/Sylius/Behat/Page/Admin/Product/CreateSimpleProductPage.php
  src/Sylius/Behat/Page/Admin/ProductVariant/CreatePage.php
  src/Sylius/Behat/Page/Admin/ProductVariant/GeneratePage.php
  src/Sylius/Behat/Page/Admin/ProductVariant/UpdatePage.php
  src/Sylius/Behat/Page/Admin/Promotion/CreatePage.php
  src/Sylius/Behat/Page/Admin/Promotion/CreatePageInterface.php
  src/Sylius/Behat/Page/Admin/Promotion/UpdatePage.php
  src/Sylius/Behat/Page/Admin/Promotion/UpdatePageInterface.php
  src/Sylius/Behat/Page/Admin/ShippingMethod/CreatePage.php
  src/Sylius/Behat/Page/Admin/ShippingMethod/CreatePageInterface.php
  src/Sylius/Behat/Page/Admin/ShippingMethod/UpdatePage.php
  src/Sylius/Behat/Page/Admin/ShippingMethod/UpdatePageInterface.php
  src/Sylius/Behat/Service/TabsHelper.php
  src/Sylius/Bundle/AdminBundle/Resources/private/js/app.js
  src/Sylius/Bundle/AdminBundle/Resources/views/Form/theme.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ShippingMethod/_form.html.twig
  src/Sylius/Bundle/CoreBundle/Form/Type/ChannelCollectionType.php
Labels: Admin

#14167 [UPGRADE] Mentioning about adding test services in every test env
  UPGRADE-1.12.md
Labels: Maintenance

#14170 [UI] Fix theme.scss for webpack
  .github/workflows/application.yml
  src/Sylius/Bundle/ShopBundle/Resources/private/scss/theme.scss
Labels: DX, Maintenance, Shop, Bug, Frontend

#14159 [UI] Redirect to previous filtered page after perform any action from index resource page
  features/admin/being_redirected_to_previous_filtered_page.feature
  src/Sylius/Behat/Context/Setup/ProductContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Page/Admin/Crud/UpdatePage.php
  src/Sylius/Behat/Page/Admin/Crud/UpdatePageInterface.php
  src/Sylius/Behat/Page/Admin/Product/CreateSimpleProductPage.php
  src/Sylius/Behat/Page/Admin/Product/CreateSimpleProductPageInterface.php
  src/Sylius/Behat/Page/Admin/Product/IndexPage.php
  src/Sylius/Behat/Page/Admin/Product/IndexPageInterface.php
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/ui/admin/panel.yml
  src/Sylius/Bundle/AdminBundle/Controller/RedirectHandler.php
  src/Sylius/Bundle/AdminBundle/EventListener/AdminFilterSubscriber.php
  src/Sylius/Bundle/AdminBundle/Resources/config/services.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/controller.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/listener.xml
  src/Sylius/Bundle/AdminBundle/Resources/views/Crud/Update/_content.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Update/_content.html.twig
  src/Sylius/Bundle/AdminBundle/Storage/FilterStorage.php
  src/Sylius/Bundle/AdminBundle/Storage/FilterStorageInterface.php
  src/Sylius/Bundle/AdminBundle/Twig/RedirectPathExtension.php
  src/Sylius/Bundle/AdminBundle/spec/Controller/RedirectHandlerSpec.php
  src/Sylius/Bundle/AdminBundle/spec/EventListener/AdminFilterSubscriberSpec.php
  src/Sylius/Bundle/AdminBundle/spec/Storage/FilterStorageSpec.php
  src/Sylius/Bundle/UiBundle/Resources/views/Form/Buttons/_cancel.html.twig
  src/Sylius/Bundle/UiBundle/Resources/views/Form/Buttons/_create.html.twig
  tests/Twig/RedirectPathExtensionTest.php
Labels: Feature, Admin

#14178 [Hot?-fix] Fix redirect on parametrized create pages
  features/payment/managing_payment_methods/being_redirected_to_previous_filtered_page.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingPaymentMethodsContext.php
  src/Sylius/Behat/Page/Admin/Crud/IndexPage.php
  src/Sylius/Behat/Page/Admin/Crud/IndexPageInterface.php
  src/Sylius/Behat/Page/Admin/PaymentMethod/CreatePage.php
  src/Sylius/Behat/Page/Admin/PaymentMethod/CreatePageInterface.php
  src/Sylius/Behat/Page/Admin/Product/IndexPage.php
  src/Sylius/Behat/Page/Admin/Product/IndexPageInterface.php
  src/Sylius/Behat/Resources/config/suites/ui/admin/panel.yml
  src/Sylius/Bundle/UiBundle/Resources/views/Form/Buttons/_create.html.twig
Labels: Bug

#14180 [CS] ECS configuration updated
  ecs.php
Labels: Enhancement, Maintenance

#14040 [maintenance]Define charset in database url
  .env
  .github/workflows/application.yml
Labels: Maintenance

#14175 [docker]Hot Fix - Create database via doctrine command and minor Docker Pipeline improvements
  .github/workflows/docker.yml
  Makefile
  docker-compose.test.yml
Labels: Maintenance, Docker

#14179 [bug]Check if last_error variable in twig exists and is not null
  src/Sylius/Bundle/UiBundle/Resources/views/Security/_error.html.twig
Labels: Bug

#14166 [frontend]Create gulp watch script
  gulpfile.babel.js
  package.json
Labels: Frontend

#14161 [Core] Remove the "experimental" tag from Message* namespaces
  src/Sylius/Bundle/CoreBundle/Message/Admin/Account/RequestResetPasswordEmail.php
  src/Sylius/Bundle/CoreBundle/Message/Admin/Account/SendResetPasswordEmail.php
  src/Sylius/Bundle/CoreBundle/MessageHandler/Admin/Account/RequestResetPasswordEmailHandler.php
  src/Sylius/Bundle/CoreBundle/MessageHandler/Admin/Account/SendResetPasswordEmailHandler.php
Labels: Maintenance

#14181 [Maintenance][Admin] Slight password reset cleanup
  src/Sylius/Behat/Context/Api/Admin/ResettingPasswordContext.php
  src/Sylius/Behat/Context/Ui/Admin/ResettingPasswordContext.php
  src/Sylius/Behat/Element/Admin/Account/ResetElement.php
  src/Sylius/Behat/Page/Admin/Account/ResetPasswordPage.php
  src/Sylius/Behat/Page/Admin/Account/ResetPasswordPageInterface.php
  src/Sylius/Bundle/AdminBundle/Action/Account/RenderResetPasswordPageAction.php
  src/Sylius/Bundle/AdminBundle/Resources/config/services/controller.xml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/AdminResetPasswordTokenNonExpired.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/AdminResetPasswordTokenNonExpiredValidator.php
Labels: Admin, API

#14182 [Symfony 6] Fix Payum Bundle
  composer.json
  src/Sylius/Bundle/PayumBundle/composer.json
Labels: Enhancement, Maintenance

#14186 [Symfony 6][ShopBundle] Fix order customer ip listener
  src/Sylius/Bundle/ShopBundle/EventListener/OrderCustomerIpListener.php
  src/Sylius/Bundle/ShopBundle/spec/EventListener/OrderCustomerIpListenerSpec.php
Labels: Maintenance, Shop, Bug

#14192 [Symfony 6] Fix notification controller
  src/Sylius/Bundle/AdminBundle/Controller/NotificationController.php
Labels: Admin

#14191 [Symfony 6] Fix request password reset action spec
  src/Sylius/Bundle/AdminBundle/spec/Action/Account/RequestPasswordResetActionSpec.php
Labels: Admin

#14187 [Symfony 6][Shop bundle] Fix shop user logout handler
  src/Sylius/Bundle/ShopBundle/EventListener/ShopUserLogoutHandler.php
  src/Sylius/Bundle/ShopBundle/Resources/config/services.xml
  src/Sylius/Bundle/ShopBundle/spec/EventListener/ShopUserLogoutHandlerSpec.php
Labels: Admin, Shop

#14193 Rename tag tagged to tagged_iterator
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
Labels: Maintenance, API

#14199 [UI][Continuation] Minor fixes
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
  src/Sylius/Bundle/AdminBundle/Resources/private/js/sylius-chart.js
  src/Sylius/Bundle/AdminBundle/Resources/private/sass/_ui.scss
  src/Sylius/Bundle/ShopBundle/Resources/private/scss/theme.scss
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/AddressBook/_defaultAddress.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/AddressBook/_item.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/AddressBook/index.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/Order/Show/_header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Show/_catalogPromotionLabels.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Show/_price.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Show/_priceWidget.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/show.html.twig
Labels: Admin, Shop
