Repository Sylius/Sylius, pull requests merged in 2022-04, with the labels that each got.

#13817 [Admin] Clean up and refactor new template events
  src/Sylius/Bundle/AdminBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/events.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/form/events.yaml
  src/Sylius/Bundle/AdminBundle/Resources/views/AdminUser/Form/_content.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/AdminUser/Form/_firstColumn.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/AdminUser/Form/_form.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/AdminUser/Form/_secondColumn.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/AdminUser/_form.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Channel/Form/_content.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Channel/Form/_firstColumn.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Channel/Form/_secondColumn.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Channel/_form.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Channel/_formContent.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Form/_columns.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Form/_content.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Form/_firstColumn.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Form/_form.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Form/_formContent.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Form/_formFirstColumn.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Form/_formSecondColumn.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Form/_secondColumn.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/_form.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Dashboard/_channelSwitch.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Layout/_logo.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Layout/_logoContent.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Payment/_completeTransition.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Payment/_refundTransition.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Shipment/_shipTransition.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/_payment.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/_shipment.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/_shipments.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/_configurableProduct.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/_variantContent.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/_variantItem.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shipment/Grid/Action/shipWithTrackingCode.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shipment/Grid/_ship.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shipment/Partial/_ship.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shipment/Show/_headerWidget.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shipment/show.html.twig
Labels: DX, Admin

#13818 [Maintenance] Bump copyright year in docs and license files
  docs/book/contributing/code/license.rst
  docs/conf.py
  src/Sylius/Bundle/AddressingBundle/LICENSE
  src/Sylius/Bundle/AdminBundle/LICENSE
  src/Sylius/Bundle/AttributeBundle/LICENSE
  src/Sylius/Bundle/ChannelBundle/LICENSE
  src/Sylius/Bundle/CurrencyBundle/LICENSE
  src/Sylius/Bundle/CustomerBundle/LICENSE
  src/Sylius/Bundle/InventoryBundle/LICENSE
  src/Sylius/Bundle/LocaleBundle/LICENSE
  src/Sylius/Bundle/MoneyBundle/LICENSE
  src/Sylius/Bundle/OrderBundle/LICENSE
  src/Sylius/Bundle/PaymentBundle/LICENSE
  src/Sylius/Bundle/PayumBundle/LICENSE
  src/Sylius/Bundle/ProductBundle/LICENSE
  src/Sylius/Bundle/PromotionBundle/LICENSE
  src/Sylius/Bundle/ReviewBundle/LICENSE
  src/Sylius/Bundle/ShippingBundle/LICENSE
  src/Sylius/Bundle/ShopBundle/LICENSE
  src/Sylius/Bundle/TaxationBundle/LICENSE
  src/Sylius/Bundle/TaxonomyBundle/LICENSE
  src/Sylius/Bundle/UiBundle/LICENSE
  src/Sylius/Bundle/UserBundle/LICENSE
  src/Sylius/Component/Addressing/LICENSE
  src/Sylius/Component/Attribute/LICENSE
  src/Sylius/Component/Core/LICENSE
  src/Sylius/Component/Currency/LICENSE
  src/Sylius/Component/Customer/LICENSE
  src/Sylius/Component/Inventory/LICENSE
  src/Sylius/Component/Locale/LICENSE
  src/Sylius/Component/Order/LICENSE
  src/Sylius/Component/Payment/LICENSE
  src/Sylius/Component/Product/LICENSE
  src/Sylius/Component/Promotion/LICENSE
  src/Sylius/Component/Shipping/LICENSE
  src/Sylius/Component/Taxation/LICENSE
  src/Sylius/Component/Taxonomy/LICENSE
  src/Sylius/Component/User/LICENSE
Labels: Documentation, Maintenance, Admin, Shop

#13811 [Documentation][Plus] Adjust installation guide after entities refactor
  docs/book/installation/sylius_plus_installation.rst
  docs/book/installation/sylius_plus_upgrading.rst
Labels: Documentation, Maintenance

#13779 [Documentation][Plus] Update cookbook about restricting access to the entity
  docs/cookbook/entities/custom-model-accessible-for-channel-admin.rst
Labels: Documentation

#13828 [Maintenance] Fix a misleading description
  CHANGELOG-1.11.md
Labels: Maintenance

#13822 Add images to the Readme file
  README.md
Labels: Maintenance

#13837 [Maintenance] Upgrade Symfony Flex, PHPStan and drop support of Symfony 5.2 to fix the build
  .github/workflows/application.yml
  .github/workflows/packages.yml
  composer.json
  src/Sylius/Behat/Context/Setup/OrderContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingTaxonsContext.php
Labels: Maintenance, Dependencies, Bug

#13839 Limit the number of packages build run on 1.10
  .github/workflows/packages.yml
Labels: Maintenance, Bug

#13840 [GitHub Actions] Fix symfony/flex in workflows and invalid EngineInterface namespace
  .github/workflows/application.yml
  src/Sylius/Bundle/AdminBundle/Controller/CustomerStatisticsController.php
  src/Sylius/Bundle/AdminBundle/Controller/Dashboard/StatisticsController.php
  src/Sylius/Bundle/AdminBundle/Controller/DashboardController.php
  src/Sylius/Bundle/ShopBundle/Controller/ContactController.php
  src/Sylius/Bundle/ShopBundle/Controller/CurrencySwitchController.php
  src/Sylius/Bundle/ShopBundle/Controller/HomepageController.php
  src/Sylius/Bundle/ShopBundle/Controller/LocaleSwitchController.php
  src/Sylius/Bundle/ShopBundle/Controller/SecurityWidgetController.php
  src/Sylius/Bundle/UiBundle/Controller/SecurityController.php
Labels: Maintenance, Admin, Shop, Bug

#13767 Change sylius.behat.context.ui.email context to sylius.behat.context.api.email
  src/Sylius/Behat/Context/Api/EmailContext.php
  src/Sylius/Behat/Context/Ui/EmailContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/email.xml
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/suites/api/checkout/checkout.yml
  src/Sylius/Behat/Resources/config/suites/api/order/managing_orders.yml
  src/Sylius/Behat/Resources/config/suites/api/shipping/managing_shipments.yml
Labels: Behat

#13830 [API] Use the Calendar component in command handlers
  UPGRADE-API-1.12.md
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/RequestResetPasswordTokenHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/VerifyCustomerAccountHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/RequestResetPasswordTokenHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/VerifyCustomerAccountHandlerSpec.php
Labels: Maintenance, API

#13841 [Maintenance] Add note to UPGRADE file about dropping Symfony 5.2 support
  UPGRADE-1.10.md
Labels: Maintenance

#13825 [API][Shop] Channel endpoint that returns current channel created
  src/Sylius/Behat/Context/Api/Shop/ChannelContext.php
  src/Sylius/Bundle/ApiBundle/DataProvider/ChannelsCollectionDataProvider.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Channel.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Channel.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Currency.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/ChannelsCollectionDataProviderSpec.php
  tests/Api/Responses/Expected/shop/get_channel_by_code_response.json
  tests/Api/Responses/Expected/shop/get_channels_response.json
  tests/Api/Shop/ChannelsTest.php
Labels: DX, Shop, API

#13857 [DOC] Bump minimal PHP version needed to install Sylius
  docs/book/installation/installation.rst
Labels: Documentation

#13848 [DOCS] Update index tip
  docs/index.rst
Labels: Documentation

#13843 [Cart] move locale from body to header
  UPGRADE-API-1.12.md
  features/checkout/picking_up_the_cart_with_the_locale_other_than_the_default.feature
  src/Sylius/Behat/Client/Request.php
  src/Sylius/Behat/Client/RequestInterface.php
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/OrderContext.php
  src/Sylius/Bundle/ApiBundle/Command/Cart/PickupCart.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Cart/PickupCart.xml
  tests/Api/Responses/Expected/shop/create_cart_response.json
  tests/Api/Responses/Expected/shop/create_cart_with_default_locale_response.json
  tests/Api/Shop/OrdersTest.php
Labels: Maintenance, API

#13859 Fix mistake after rebase
  UPGRADE-API-1.12.md
Labels: Maintenance

#13844 [API][Swagger] Accept language header in SwaggerUI
  src/Sylius/Bundle/ApiBundle/Resources/config/integrations/swagger.xml
  src/Sylius/Bundle/ApiBundle/Swagger/AcceptLanguageHeaderDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Swagger/AcceptLanguageHeaderDocumentationNormalizerSpec.php
Labels: API

#13823 [Behat][API] Browsing channels using their default locales
  features/locale/handling_different_locales_on_multiple_channels.feature
  features/locale/redirect_to_default_locale.feature
  features/locale/switching_current_locale.feature
  src/Sylius/Behat/Context/Api/Shop/ChannelContext.php
  src/Sylius/Behat/Context/Api/Shop/LocaleContext.php
  src/Sylius/Behat/Context/Transform/LocaleContext.php
  src/Sylius/Behat/Context/Ui/ChannelContext.php
  src/Sylius/Behat/Context/Ui/Shop/LocaleContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/services/contexts/transform.xml
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/suites/api/locale/locales.yaml
Labels: Documentation, Maintenance, Admin, Shop

#13861 [API][Shop][Behat] Implement scenarios for switching and handling multiple locales
  features/locale/browsing_shop_in_different_than_default_locale.feature
  features/locale/handling_different_locales_on_multiple_channels.feature
  features/locale/redirecting_to_default_locale.feature
  features/locale/switching_current_locale.feature
  features/product/viewing_products/viewing_product_variants_names.feature
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Context/Api/Shop/ChannelContext.php
  src/Sylius/Behat/Context/Api/Shop/LocaleContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Transform/LocaleContext.php
  src/Sylius/Behat/Context/Ui/ChannelContext.php
  src/Sylius/Behat/Context/Ui/Shop/LocaleContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites/api/locale/locales.yaml
  src/Sylius/Behat/Resources/config/suites/api/product/viewing_products.yml
  src/Sylius/Behat/Service/SharedStorage.php
  src/Sylius/Behat/Service/SharedStorageInterface.php
  src/Sylius/Behat/spec/Service/SharedStorageSpec.php
Labels: Feature, Behat, Shop, API

#13862 [API] Sorting products by date
  features/product/viewing_products/viewing_sorted_products.feature
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Bundle/ApiBundle/Filter/Doctrine/TaxonFilter.php
  src/Sylius/Bundle/ApiBundle/spec/Filter/Doctrine/TaxonFilterSpec.php
Labels: API

#13865 [Cart] Add Validator for localeCode
  features/checkout/picking_up_the_cart_with_the_locale_other_than_the_default.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/PickupCart.xml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/PickupCartLocale.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/PickupCartLocaleValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/PickupCartLocaleValidatorSpec.php
Labels: API, Bug

#13832 [Behat] Refactor API clients
  src/Sylius/Behat/Client/ApiClientInterface.php
  src/Sylius/Behat/Client/ApiIriClientInterface.php
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Client/ApiPlatformIriClient.php
  src/Sylius/Behat/Context/Api/Admin/ManagingAdministratorsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingChannelsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCountriesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCurrenciesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCustomerGroupsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingExchangeRatesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingLocalesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingOrdersContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingPaymentsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductAssociationTypesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductOptionsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductReviewsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductVariantsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingPromotionsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShipmentsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingCategoriesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingMethodsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingTaxCategoriesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingZonesContext.php
  src/Sylius/Behat/Context/Api/Shop/AddressContext.php
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/ChannelContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Api/Shop/CurrencyContext.php
  src/Sylius/Behat/Context/Api/Shop/CustomerContext.php
  src/Sylius/Behat/Context/Api/Shop/HomepageContext.php
  src/Sylius/Behat/Context/Api/Shop/LocaleContext.php
  src/Sylius/Behat/Context/Api/Shop/LoginContext.php
  src/Sylius/Behat/Context/Api/Shop/OrderContext.php
  src/Sylius/Behat/Context/Api/Shop/OrderItemContext.php
  src/Sylius/Behat/Context/Api/Shop/PaymentContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductReviewContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Behat/Context/Api/Shop/PromotionContext.php
  src/Sylius/Behat/Context/Api/Shop/RegistrationContext.php
  src/Sylius/Behat/Context/Api/Shop/ShipmentContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
Labels: Behat, API

#13866 [Maintenance] Relax conflict on liip imagine bundle - rebased version
  composer.json
  src/Sylius/Bundle/CoreBundle/Twig/FilterExtension.php
Labels: Bug

#13867 [Template][Events] Sylius template events - improvements
  src/Sylius/Bundle/AdminBundle/Resources/config/app/events.yaml
  src/Sylius/Bundle/AdminBundle/Resources/views/AdminUser/Form/_additionalInformation.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/AdminUser/Form/_personals.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/_variants.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/_variantsContent.html.twig
Labels: Admin

#13868 [API] Remove validation from locale, add step with wrong locale in header
  features/checkout/picking_up_the_cart_with_the_locale_other_than_the_default.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/PickupCart.xml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/PickupCartLocale.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/PickupCartLocaleValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/PickupCartLocaleValidatorSpec.php
Labels: API

#13869 [Behat][API] Extract resources names from contexts to a separate class
  src/Sylius/Behat/Context/Api/Admin/ManagingAdministratorsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingChannelsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCountriesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCurrenciesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCustomerGroupsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingExchangeRatesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingLocalesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingOrdersContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingPaymentsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductAssociationTypesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductOptionsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductReviewsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductVariantsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingPromotionsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShipmentsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingCategoriesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingMethodsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingTaxCategoriesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingZonesContext.php
  src/Sylius/Behat/Context/Api/Resources.php
  src/Sylius/Behat/Context/Api/Shop/AddressContext.php
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/ChannelContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Api/Shop/CurrencyContext.php
  src/Sylius/Behat/Context/Api/Shop/CustomerContext.php
  src/Sylius/Behat/Context/Api/Shop/LocaleContext.php
  src/Sylius/Behat/Context/Api/Shop/OrderContext.php
  src/Sylius/Behat/Context/Api/Shop/OrderItemContext.php
  src/Sylius/Behat/Context/Api/Shop/PaymentContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductReviewContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Behat/Context/Api/Shop/PromotionContext.php
  src/Sylius/Behat/Context/Api/Shop/RegistrationContext.php
  src/Sylius/Behat/Context/Api/Shop/ShipmentContext.php
Labels: Behat, API

#13863 [API][Shop] Viewing only the enabled variants of a product
  UPGRADE-API-1.12.md
  features/product/viewing_products/viewing_product_enabled_variants_only.feature
  features/product/viewing_products/viewing_product_enabled_variants_options_only.feature
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/EnabledProductVariantsExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/Serializer/ProductNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryCollectionExtension/EnabledProductVariantsExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductNormalizerSpec.php
  tests/Api/Admin/ProductTest.php
  tests/Api/Responses/Expected/admin/get_product_response.json
  tests/Api/Responses/Expected/admin/get_products_collection_response.json
  tests/Api/Responses/Expected/shop/product/get_products_collection_response.json
  tests/Api/Shop/ProductsTest.php
Labels: Maintenance, Shop, API

#13849 [API] Fix sorting products by price of their first variant
  features/product/viewing_products/sorting_products_by_first_variant_price.feature
  features/product/viewing_products/sorting_products_by_their_discounted_price.feature
  features/product/viewing_products/viewing_products_with_multiple_variants_sorted_by_price.feature
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Bundle/ApiBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/ApiBundle/DependencyInjection/SyliusApiExtension.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/FilterEagerLoadingExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/Tests/DependencyInjection/SyliusApiExtensionTest.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryCollectionExtension/FilterEagerLoadingExtensionSpec.php
Labels: API, Bug

#13878 [Template] Variant name instead of product name
  features/product/viewing_product_in_admin_panel/viewing_details_of_product_with_variants.feature
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/VariantItem/_item.html.twig
Labels: Admin, Bug

#13879 [HotFix][Behat][API] Fix suddenly failing tests
  src/Sylius/Behat/Client/ApiClientInterface.php
  src/Sylius/Behat/Client/ApiPlatformClient.php
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
Labels: API, Bug

#13876 [API] Refactor FilterEagerLoadingExtension
  src/Sylius/Bundle/ApiBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/ApiBundle/DependencyInjection/SyliusApiExtension.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/RestrictingFilterEagerLoadingExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/Tests/DependencyInjection/SyliusApiExtensionTest.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryCollectionExtension/RestrictingFilterEagerLoadingExtensionSpec.php
Labels: Enhancement, API

#13852 [Maintenance] Run the build on tags rather than on releases
  .github/workflows/application.yml
Labels: Maintenance

#13855 [UI][Swagger] AutoAuthorize on sending admin credentials
  src/Sylius/Bundle/ApiBundle/Resources/views/SwaggerUi/index.html.twig
Labels: UX, API

#13601 Use the Gaufrette FilesystemInterface instead of a concrete implementation
  src/Sylius/Component/Core/Uploader/ImageUploader.php
  src/Sylius/Component/Core/spec/Uploader/ImageUploaderSpec.php
Labels: Maintenance

#13888 [Documentation] Fix the description of items total shipping rules
  docs/book/orders/shipments.rst
Labels: Documentation

#13891 [maintenance]Run ECS in parallel
  ecs.php
Labels: Maintenance

#13890 [maintenance]Fix ECS HeaderCommentFixer
  ecs.php
Labels: Maintenance

#13875 [Swagger] Enum with available locale codes in Accept-Language header
  src/Sylius/Bundle/ApiBundle/Resources/config/integrations/swagger.xml
  src/Sylius/Bundle/ApiBundle/Swagger/AcceptLanguageHeaderDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Swagger/AcceptLanguageHeaderDocumentationNormalizerSpec.php
Labels: API

#13881 Use api route prefix parameter instead of `/api/v2`
  src/Sylius/Bundle/ApiBundle/Resources/config/integrations/swagger.xml
  src/Sylius/Bundle/ApiBundle/Swagger/ProductImageDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/ProductSlugDocumentationNormalizer.php
Labels: Enhancement, DX, API

#13898 [maintenance][mailer]Assert that email is not null
  src/Sylius/Bundle/AdminBundle/EmailManager/OrderEmailManager.php
  src/Sylius/Bundle/AdminBundle/EmailManager/ShipmentEmailManager.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/SendOrderConfirmationHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/SendShipmentConfirmationEmailHandler.php
  src/Sylius/Bundle/CoreBundle/EventListener/MailerListener.php
  src/Sylius/Bundle/CoreBundle/Mailer/OrderEmailManager.php
  src/Sylius/Bundle/ShopBundle/EmailManager/OrderEmailManager.php
  src/Sylius/Bundle/UserBundle/EventListener/MailerListener.php
Labels: Admin, Shop, API

#13903 [Documentation] Improve and fix the release cycle documentation
  docs/book/organization/release-cycle.rst
Labels: Documentation, Maintenance

#13894 Using Sylius template event to change logo
  docs/getting-started-with-sylius/shop-customizations.rst
Labels: Documentation

#13907 [Docs] Updated Sylius Plus installation guide - optional PDF Generator
  docs/book/installation/sylius_plus_installation.rst
Labels: Documentation

#13897 [docker]Run Catalog Promotion via SYNC messenger transport
  .docker/test/php.ini
  .github/workflows/docker.yml
  Makefile
  docker-compose.test.yml
Labels: Enhancement, Maintenance, Docker

#13914 Revert "[docker]Run Catalog Promotion via SYNC messenger transport"
  .docker/test/php.ini
  .github/workflows/docker.yml
  Makefile
  docker-compose.test.yml
Labels: Maintenance

#13882 [maintenance]Unify markdown tables
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Maintenance

#13901 Use API Url prefix on sylius.api.paths_to_hide
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
Labels: API, Bug
