Repository Sylius/Sylius, pull requests merged in 2023-11, with the labels that each got.

#15457 [API] Add Customer resources
  features/user/managing_customers/adding_customer.feature
  features/user/managing_customers/adding_customer_account.feature
  features/user/managing_customers/adding_customer_account_after_failed_creation_action.feature
  features/user/managing_customers/being_able_to_create_account_for_existing_customer.feature
  features/user/managing_customers/browsing_customers.feature
  features/user/managing_customers/browsing_orders_of_customer.feature
  features/user/managing_customers/changing_customer_email.feature
  features/user/managing_customers/customer_filtration/filtering_customers_by_groups.feature
  features/user/managing_customers/customer_unique_email_validation.feature
  features/user/managing_customers/customer_validation.feature
  features/user/managing_customers/editing_customer.feature
  features/user/managing_customers/seeing_customer_details.feature
  features/user/managing_customers/seeing_province_created_manually_on_customer_details_page.feature
  features/user/managing_customers/toggling_customer_account.feature
  features/user/managing_customers/verifying_customer_account.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCustomersContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCustomersContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/user/managing_customers.yml
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/CustomerDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShopUser.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/integrations/swagger.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ShopUser.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/Customer.xml
  src/Sylius/Bundle/ApiBundle/Serializer/CustomerDenormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/CustomerDenormalizerSpec.php
  tests/Api/Admin/CustomersTest.php
  tests/Api/Admin/OrdersTest.php
  tests/Api/DataFixtures/ORM/customer.yaml
  tests/Api/DataFixtures/ORM/customer_order.yaml
  tests/Api/Responses/Expected/admin/customer/get_customer_response.json
  tests/Api/Responses/Expected/admin/customer/get_customers_response.json
  tests/Api/Responses/Expected/admin/customer/post_customer_response.json
  tests/Api/Responses/Expected/admin/customer/post_customer_with_invalid_email_response.json
  tests/Api/Responses/Expected/admin/customer/post_customer_with_invalid_gender_response.json
  tests/Api/Responses/Expected/admin/customer/post_customer_with_invalid_name_response.json
  tests/Api/Responses/Expected/admin/customer/post_customer_with_user_response.json
  tests/Api/Responses/Expected/admin/customer/update_customer_response.json
  tests/Api/Responses/Expected/admin/customer/update_customer_with_invalid_gender_response.json
  tests/Api/Responses/Expected/admin/order/get_order_response.json
  tests/Api/Responses/Expected/admin/order/gets_orders_for_customer_response.json
Labels: API

#15500 Replace sylius calendar
  disabledTests/Api/Admin/CustomersTest.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Serializer/CustomerDenormalizer.php
  src/Sylius/Bundle/ApiBundle/disabledSpec/Serializer/CustomerDenormalizerSpec.php
Labels: API

#15499 Replace sylius calendar
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/CustomerDenormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/CustomerDenormalizerSpec.php
Labels: Maintenance, API

#15484 [API] Remove ItemNormalizer class
  composer.json
  src/Sylius/Bundle/ApiBundle/ApiPlatform/JsonLd/Serializer/ItemNormalizer.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Tests/ApiPlatform/JsonLd/Serializer/ItemNormalizerTest.php
Labels: API

#15466 Add symfony workflow configuration for order
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/Order/AssignOrderNumberListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/Order/AssignOrderTokenListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/Order/CancelOrderPaymentListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/Order/CancelOrderShippingListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/Order/CancelPaymentListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/Order/CancelShipmentListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/Order/CreatePaymentListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/Order/CreateShipmentListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/Order/DecrementPromotionUsagesListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/Order/GiveBackInventoryListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/Order/HoldInventoryListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/Order/IncrementPromotionUsagesListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/Order/RequestOrderPaymentListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/Order/RequestOrderShippingListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/Order/SaveCustomerAddressesListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/Order/SetImmutableNamesListener.php
  src/Sylius/Bundle/CoreBundle/Resources/config/app/workflow/sylius_order.yaml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners/workflow/order.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners/workflow/order_checkout.xml
  src/Sylius/Bundle/CoreBundle/Tests/Functional/StateMachine/OrderWorkflowTest.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/Order/AssignOrderNumberListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/Order/AssignOrderTokenListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/Order/CancelOrderPaymentListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/Order/CancelOrderShippingListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/Order/CancelPaymentListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/Order/CancelShipmentListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/Order/DecrementPromotionUsagesListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/Order/GiveBackInventoryListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/Order/HoldInventoryListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/Order/IncrementPromotionUsagesListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/Order/RequestOrderPaymentListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/Order/RequestOrderShippingListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/Order/SaveCustomerAddressesListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/Order/SetImmutableNamesListenerSpec.php
  src/Sylius/Bundle/OrderBundle/Resources/config/workflow/state_machine.yaml
Labels: API

#15495 Swiftmailer removal
  UPGRADE-2.0.md
  composer-require-checker.json
  src/Sylius/Bundle/AdminBundle/Tests/MessageHandler/Admin/SendResetPasswordEmailHandlerTest.php
  src/Sylius/Bundle/AdminBundle/test/config/bundles.php
  src/Sylius/Bundle/AdminBundle/test/config/packages/test_with_swiftmailer/filesystem.yaml
  src/Sylius/Bundle/AdminBundle/test/config/packages/test_with_swiftmailer/swiftmailer.yaml
  src/Sylius/Bundle/AdminBundle/test/config/packages/test_with_swiftmailer/sylius_mailer.yaml
  src/Sylius/Bundle/ApiBundle/Tests/Application/.env.test_with_swiftmailer
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/bundles.php
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/packages/test_with_swiftmailer/filesystem.yaml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/packages/test_with_swiftmailer/swiftmailer.yaml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/packages/test_with_swiftmailer/sylius_mailer.yaml
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendAccountRegistrationEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendAccountVerificationEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendContactRequestHandlerTest.php
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendOrderConfirmationEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendResetPasswordEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/Tests/MessageHandler/Admin/SendResetPasswordEmailHandlerTest.php
  src/Sylius/Bundle/CoreBundle/Tests/Mailer/OrderEmailManagerTest.php
  src/Sylius/Bundle/CoreBundle/test/config/bundles.php
  src/Sylius/Bundle/CoreBundle/test/config/packages/test_with_swiftmailer/filesystem.yaml
  src/Sylius/Bundle/CoreBundle/test/config/packages/test_with_swiftmailer/swiftmailer.yaml
  src/Sylius/Bundle/CoreBundle/test/config/packages/test_with_swiftmailer/sylius_mailer.yaml
  src/Sylius/Component/Core/Test/SwiftmailerAssertionTrait.php
  src/Sylius/Component/User/Model/User.php
Labels: DX, Maintenance, Admin, API

#15497 [UserBundle] Implement TTL validation for password reset tokens
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ShopUserResetPasswordTokenExistsValidatorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ShopUserResetPasswordTokenNotExpiredValidatorSpec.php
  src/Sylius/Bundle/UserBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/UserBundle/Tests/DependencyInjection/ConfigurationTest.php
Labels: DX, API

#15512 [Maintenance] Fix request parameters accessing
  src/Sylius/Bundle/AdminBundle/Action/Account/RenderResetPasswordPageAction.php
  src/Sylius/Bundle/AdminBundle/Action/Account/RequestPasswordResetAction.php
  src/Sylius/Bundle/AdminBundle/Action/Account/ResetPasswordAction.php
  src/Sylius/Bundle/AdminBundle/Action/RemoveAvatarAction.php
  src/Sylius/Bundle/AdminBundle/Action/ResendOrderConfirmationEmailAction.php
  src/Sylius/Bundle/AdminBundle/Action/ResendShipmentConfirmationEmailAction.php
  src/Sylius/Bundle/AdminBundle/Controller/RemoveCatalogPromotionAction.php
  src/Sylius/Bundle/AdminBundle/EventListener/AdminFilterSubscriber.php
  src/Sylius/Bundle/AdminBundle/EventListener/ResourceDeleteSubscriber.php
  src/Sylius/Bundle/AdminBundle/spec/Action/Account/RequestPasswordResetActionSpec.php
  src/Sylius/Bundle/AdminBundle/spec/EventListener/AdminFilterSubscriberSpec.php
  src/Sylius/Bundle/ApiBundle/Controller/DeleteOrderItemAction.php
  src/Sylius/Bundle/ApiBundle/Controller/Payment/GetPaymentConfiguration.php
  src/Sylius/Bundle/ApiBundle/Controller/RemoveCatalogPromotionAction.php
  src/Sylius/Bundle/CoreBundle/Checkout/CheckoutRedirectListener.php
  src/Sylius/Bundle/ShopBundle/Controller/ContactController.php
  src/Sylius/Bundle/UiBundle/Controller/SecurityController.php
  src/Sylius/Bundle/UiBundle/spec/Controller/SecurityControllerSpec.php
  src/Sylius/Bundle/UserBundle/Controller/SecurityController.php
  src/Sylius/Bundle/UserBundle/Controller/UserController.php
Labels: Maintenance, Admin, Shop, API, Bug

#15482 Fix index pages in the marketing section
  src/Sylius/Bundle/AdminBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/catalog_promotion.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/product_review.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/promotion.yml
  src/Sylius/Bundle/AdminBundle/Resources/views/CatalogPromotion/Grid/Field/priority.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductReview/Grid/Field/rating.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductReview/Grid/Field/state.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Promotion/Grid/Action/deleteCatalogPromotion.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Promotion/Grid/Field/priority.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Promotion/Grid/Field/state.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Promotion/Grid/Field/usage.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Grid/Field/channels.html.twig
Labels: Admin, Frontend

#15498 [ApiBundle] Change normalization group of AvatarImage
  src/Sylius/Bundle/ApiBundle/Controller/UploadAvatarImageAction.php
Labels: API

#15507 Fix cart styles after form submission (data-route="sylius_shop_cart_c…
  src/Sylius/Bundle/ShopBundle/Resources/private/scss/theme.scss
Labels: Shop

#15517 [API] Disallow removing the translation in default locale
  src/Sylius/Bundle/ApiBundle/DataPersister/TranslatableDataPersister.php
  src/Sylius/Bundle/ApiBundle/Exception/TranslationInDefaultLocaleCannotBeRemoved.php
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_persisters.xml
  src/Sylius/Bundle/ApiBundle/spec/DataPersister/TranslatableDataPersisterSpec.php
  tests/Api/Admin/ProductAssociationTypesTest.php
  tests/Api/Admin/ProductVariantsTest.php
  tests/Api/Admin/ProductsTest.php
  tests/Api/Responses/Expected/admin/product/post_product_with_invalid_translation_locale.json
  tests/Api/Responses/Expected/admin/product_association_type/put_product_association_type_response.json
  tests/Api/Responses/Expected/admin/product_variant/post_product_variant_enabled_by_default_with_translation_in_default_locale_response.json
  tests/Api/Responses/Expected/admin/product_variant/put_product_variant_response.json
  tests/Api/Responses/Expected/admin/product_variant/put_product_variant_without_translation_in_default_locale_response.json
Labels: API

#15503 Introduce Repository classes for `Addressing`, `Attribute`& `Currency`
  UPGRADE-2.0.md
  src/Sylius/Bundle/AddressingBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/AddressingBundle/Doctrine/ORM/AddressRepository.php
  src/Sylius/Bundle/AddressingBundle/Doctrine/ORM/CountryRepository.php
  src/Sylius/Bundle/AddressingBundle/Doctrine/ORM/ProvinceRepository.php
  src/Sylius/Bundle/AddressingBundle/Doctrine/ORM/ZoneMemberRepository.php
  src/Sylius/Bundle/AttributeBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/AttributeBundle/Doctrine/ORM/AttributeRepository.php
  src/Sylius/Bundle/AttributeBundle/Doctrine/ORM/AttributeTranslationRepository.php
  src/Sylius/Bundle/AttributeBundle/Doctrine/ORM/AttributeValueRepository.php
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/AddressRepository.php
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/AttributeRepository.php
  src/Sylius/Bundle/CurrencyBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/CurrencyBundle/Doctrine/ORM/CurrencyRepository.php
  src/Sylius/Component/Addressing/Repository/AddressRepositoryInterface.php
  src/Sylius/Component/Addressing/Repository/CountryRepositoryInterface.php
  src/Sylius/Component/Addressing/Repository/ProvinceRepositoryInterface.php
  src/Sylius/Component/Addressing/Repository/ZoneMemberRepositoryInterface.php
  src/Sylius/Component/Attribute/Repository/AttributeRepositoryInterface.php
  src/Sylius/Component/Attribute/Repository/AttributeTranslationRepositoryInterface.php
  src/Sylius/Component/Attribute/Repository/AttributeValueRepositoryInterface.php
  src/Sylius/Component/Core/Repository/AddressRepositoryInterface.php
  src/Sylius/Component/Currency/Repository/CurrencyRepositoryInterface.php
  src/Sylius/Component/Product/Repository/ProductAttributeValueRepositoryInterface.php
Labels: DX, Maintenance, API

#15527 Disable check for security vulnerabilites step
  .github/workflows/ci_static-checks.yaml
  CONFLICTS.md
  composer.json
Labels: Maintenance

#15531 Add ignore-parse-errors to composer require checker
  .github/workflows/ci_static-checks.yaml
  CONFLICTS.md
  composer.json
Labels: Maintenance

#15535 [ApiBundle] Unification of locale in translations
  UPGRADE-API-1.13.md
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductAssociationTypesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductAttributesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductOptionsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductVariantsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingMethodsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingTaxonsContext.php
  src/Sylius/Bundle/ApiBundle/Exception/TranslationLocaleMismatchException.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CatalogPromotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductAssociationType.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductAttribute.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductOptionValue.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Promotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Taxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductAttributeTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductVariantTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/TaxonTranslation.xml
  src/Sylius/Bundle/ApiBundle/Serializer/TranslatableLocaleKeyDenormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/TranslatableLocaleKeyDenormalizerSpec.php
  tests/Api/Admin/CatalogPromotionsTest.php
  tests/Api/Admin/ProductAssociationTypesTest.php
  tests/Api/Admin/ProductAttributesTest.php
  tests/Api/Admin/ProductVariantsTest.php
  tests/Api/Admin/ProductsTest.php
  tests/Api/Admin/PromotionsTest.php
  tests/Api/Admin/TaxonsTest.php
  tests/Api/Responses/Expected/admin/product/post_product_when_locale_differs_from_key.json
  tests/Api/Responses/Expected/admin/product_attribute/get_product_attribute_response.json
  tests/Api/Responses/Expected/admin/product_attribute/get_product_attributes_response.json
  tests/Api/Responses/Expected/admin/product_attribute/post_checkbox_product_attribute_response.json
  tests/Api/Responses/Expected/admin/product_attribute/post_date_product_attribute_response.json
  tests/Api/Responses/Expected/admin/product_attribute/post_datetime_product_attribute_response.json
  tests/Api/Responses/Expected/admin/product_attribute/post_float_product_attribute_response.json
  tests/Api/Responses/Expected/admin/product_attribute/post_integer_product_attribute_response.json
  tests/Api/Responses/Expected/admin/product_attribute/post_percent_product_attribute_response.json
  tests/Api/Responses/Expected/admin/product_attribute/post_select_product_attribute_response.json
  tests/Api/Responses/Expected/admin/product_attribute/post_text_product_attribute_response.json
  tests/Api/Responses/Expected/admin/product_attribute/post_textarea_product_attribute_response.json
  tests/Api/Responses/Expected/admin/product_attribute/put_product_attribute_response.json
  tests/Api/Responses/Expected/admin/product_attribute/put_product_attribute_with_code_and_type_response.json
  tests/Api/Responses/Expected/admin/product_variant/get_product_variant_response.json
  tests/Api/Responses/Expected/admin/product_variant/get_product_variants_response.json
  tests/Api/Responses/Expected/admin/product_variant/post_product_variant_enabled_by_default_with_translation_in_default_locale_response.json
  tests/Api/Responses/Expected/admin/product_variant/post_product_variant_response.json
  tests/Api/Responses/Expected/admin/product_variant/put_product_variant_response.json
  tests/Api/Responses/Expected/admin/taxon/get_taxon_response.json
  tests/Api/Responses/Expected/admin/taxon/get_taxons_response.json
  tests/Api/Responses/Expected/admin/taxon/post_taxon_response.json
  tests/Api/Responses/Expected/admin/taxon/put_taxon_response.json
Labels: Maintenance, API

#15515 Update catalog_promotions.rst, fix links to BatchedApplyCatalogPromotionsOnVariantsCommandDispatcher and ApplyCatalogPromotionsOnVariants
  docs/book/products/catalog_promotions.rst
Labels: Documentation

#15513 Update BootstrapTheme install doc
  docs/book/themes/bootstrap-theme.rst
Labels: Documentation

#15487 Update taxation.rst
  docs/book/orders/taxation.rst
Labels: Documentation

#15287 Make the User class compatible with Symfony 6 to use encoder_name
  UPGRADE-1.12.md
  src/Sylius/Component/User/Model/User.php
  src/Sylius/Component/User/Model/UserInterface.php
Labels: Maintenance

#15176 Add if_array check in ProductAttributeValueNormalizer.php
  src/Sylius/Bundle/ApiBundle/Serializer/ProductAttributeValueNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductAttributeValueNormalizerSpec.php
Labels: API

#15538 Update README.md
  README.md
Labels: Maintenance

#15504 [API][Admin] Managing taxon images
  features/taxonomy/managing_taxons/adding_images_to_existing_taxon.feature
  features/taxonomy/managing_taxons/adding_taxon_with_images.feature
  features/taxonomy/managing_taxons/changing_images_of_taxon.feature
  features/taxonomy/managing_taxons/removing_images_of_taxon.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingTaxonImagesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingTaxonsContext.php
  src/Sylius/Behat/Context/Api/Resources.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingTaxonsContext.php
  src/Sylius/Behat/Context/Ui/Admin/NotificationContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites/api/taxon/managing_taxons.yml
  src/Sylius/Bundle/ApiBundle/Controller/UploadTaxonImageAction.php
  src/Sylius/Bundle/ApiBundle/Exception/NoFileUploadedException.php
  src/Sylius/Bundle/ApiBundle/Exception/TaxonImageNotFoundException.php
  src/Sylius/Bundle/ApiBundle/Exception/TaxonNotFoundException.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Taxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/TaxonImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Taxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/TaxonImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/uploaders.xml
  src/Sylius/Bundle/ApiBundle/Uploader/ImageUploaderInterface.php
  src/Sylius/Bundle/ApiBundle/Uploader/TaxonImageUploader.php
  src/Sylius/Bundle/ApiBundle/spec/Uploader/TaxonImageUploaderSpec.php
  src/Sylius/Bundle/CoreBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/TaxonImageRepository.php
  src/Sylius/Component/Core/Repository/TaxonImageRepositoryInterface.php
  tests/Api/Admin/TaxonImagesTest.php
  tests/Api/DataFixtures/ORM/taxon_image.yaml
  tests/Api/DataFixtures/ORM/taxonomy.yaml
  tests/Api/JsonApiTestCase.php
  tests/Api/Responses/Expected/admin/taxon/get_taxon_response.json
  tests/Api/Responses/Expected/admin/taxon/get_taxons_response.json
  tests/Api/Responses/Expected/admin/taxon/post_taxon_response.json
  tests/Api/Responses/Expected/admin/taxon/put_taxon_response.json
  tests/Api/Responses/Expected/admin/taxon_image/get_taxon_image_response.json
  tests/Api/Responses/Expected/admin/taxon_image/get_taxon_images_for_given_taxon_response.json
  tests/Api/Responses/Expected/admin/taxon_image/get_taxon_images_response.json
  tests/Api/Responses/Expected/admin/taxon_image/post_taxon_image_response.json
  tests/Api/Responses/Expected/admin/taxon_image/post_taxon_image_with_type_response.json
  tests/Api/Responses/Expected/admin/taxon_image/put_taxon_image_response.json
Labels: Feature, Admin, API

#15540 Add note to UPGRADE file about introducing TaxonImageRepository
  UPGRADE-1.13.md
Labels: Maintenance

#15546 [API][Admin] Revert changing taxon image file
  UPGRADE-1.13.md
  features/taxonomy/managing_taxons/changing_images_of_taxon.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingTaxonImagesContext.php
  src/Sylius/Bundle/ApiBundle/Controller/UploadTaxonImageAction.php
  src/Sylius/Bundle/ApiBundle/Creator/TaxonImageCreator.php
  src/Sylius/Bundle/ApiBundle/Creator/TaxonImageCreatorInterface.php
  src/Sylius/Bundle/ApiBundle/Exception/TaxonImageNotFoundException.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/TaxonImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/creators.xml
  src/Sylius/Bundle/ApiBundle/Uploader/ImageUploaderInterface.php
  src/Sylius/Bundle/ApiBundle/spec/Creator/TaxonImageCreatorSpec.php
  src/Sylius/Bundle/CoreBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/TaxonImageRepository.php
  src/Sylius/Component/Core/Repository/TaxonImageRepositoryInterface.php
  tests/Api/Admin/TaxonImagesTest.php
  tests/Api/Responses/Expected/admin/taxon_image/put_taxon_image_response.json
Labels: Maintenance, Admin, API, Bug

#15542 Update README.md
  README.md
Labels: Maintenance

#15528 Add repository classes for Product
  UPGRADE-2.0.md
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/ProductAssociationRepository.php
  src/Sylius/Bundle/CoreBundle/Resources/config/app/sylius/sylius_product.yml
  src/Sylius/Bundle/ProductBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/ProductBundle/Doctrine/ORM/ProductAssociationRepository.php
  src/Sylius/Bundle/ProductBundle/Doctrine/ORM/ProductAssociationTypeTranslationRepository.php
  src/Sylius/Bundle/ProductBundle/Doctrine/ORM/ProductAttributeRepository.php
  src/Sylius/Bundle/ProductBundle/Doctrine/ORM/ProductAttributeTranslationRepository.php
  src/Sylius/Bundle/ProductBundle/Doctrine/ORM/ProductOptionTranslationRepository.php
  src/Sylius/Bundle/ProductBundle/Doctrine/ORM/ProductOptionValueRepository.php
  src/Sylius/Bundle/ProductBundle/Doctrine/ORM/ProductOptionValueTranslationRepository.php
  src/Sylius/Bundle/ProductBundle/Doctrine/ORM/ProductTranslationRepository.php
  src/Sylius/Bundle/ProductBundle/Doctrine/ORM/ProductVariantTranslationRepository.php
  src/Sylius/Component/Product/Repository/ProductAssociationRepositoryInterface.php
  src/Sylius/Component/Product/Repository/ProductAssociationTypeTranslationRepositoryInterface.php
  src/Sylius/Component/Product/Repository/ProductAttributeRepositoryInterface.php
  src/Sylius/Component/Product/Repository/ProductAttributeTranslationRepositoryInterface.php
  src/Sylius/Component/Product/Repository/ProductOptionTranslationRepositoryInterface.php
  src/Sylius/Component/Product/Repository/ProductOptionValueRepositoryInterface.php
  src/Sylius/Component/Product/Repository/ProductOptionValueTranslationRepositoryInterface.php
  src/Sylius/Component/Product/Repository/ProductTranslationRepositoryInterface.php
  src/Sylius/Component/Product/Repository/ProductVariantTranslationRepositoryInterface.php
Labels: DX, Maintenance

#15548 [FIX] Default variant
  UPGRADE-1.12.md
  features/product/viewing_products/viewing_product_price_on_products_list.feature
  src/Sylius/Behat/Context/Setup/ProductContext.php
  src/Sylius/Component/Product/Resolver/DefaultProductVariantResolver.php
  src/Sylius/Component/Product/spec/Resolver/DefaultProductVariantResolverSpec.php
Labels: Maintenance, Bug

#15552 Cover "Browsing order" scenarios in API
  features/order/managing_orders/browsing_orders/seeing_orders_currency_on_index.feature
  features/order/managing_orders/browsing_orders/seeing_orders_with_different_currency_on_index.feature
  features/order/managing_orders/browsing_orders/sequential_order_number_generation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingOrdersContext.php
  src/Sylius/Behat/Context/Setup/CartContext.php
  src/Sylius/Behat/Resources/config/services.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/services/contexts/setup.xml
  src/Sylius/Behat/Resources/config/suites/api/order/managing_orders.yml
Labels: API

#15525 [Maintenance] Add more separation rules to arkitect
  phparkitect.php
  src/Sylius/Bundle/ApiBundle/Tests/Application/src/Tests/DisablingApiTest.php
  src/Sylius/Bundle/ApiBundle/Tests/Application/src/Tests/DisablingDocumentationTest.php
  src/Sylius/Bundle/ApiBundle/Tests/Listener/PostgreSQLDriverExceptionListenerTest.php
  src/Sylius/Bundle/ChannelBundle/Tests/DependencyInjection/Compiler/CompositeChannelContextPassTest.php
  src/Sylius/Bundle/ChannelBundle/Tests/DependencyInjection/Compiler/CompositeRequestResolverPassTest.php
  src/Sylius/Bundle/CoreBundle/Tests/DependencyInjection/Compiler/BackwardsCompatibility/CancelOrderStateMachineCallbackPassTest.php
  src/Sylius/Bundle/OrderBundle/Tests/DependencyInjection/Compiler/RegisterOrderProcessorPassTest.php
  src/Sylius/Bundle/PromotionBundle/Tests/Command/GenerateCouponsCommandTest.php
  src/Sylius/Bundle/UserBundle/Tests/DependencyInjection/ConfigurationTest.php
  tests/Controller/AdminProductAjaxTest.php
  tests/Controller/AdminProductVariantAjaxTest.php
  tests/Controller/AdminTaxonAjaxTest.php
  tests/Controller/SessionAwareAjaxTestCase.php
  tests/Functional/EligibleCatalogPromotionsProcessorTest.php
  tests/Functional/OrderByIdentifierSqlWalkerTest.php
Labels: DX, Maintenance, API

#15472 [API][Addressing] Enhance Country code validation
  UPGRADE-1.13.md
  features/addressing/managing_countries/country_unique_code_validation.feature
  features/addressing/managing_countries/country_validation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCountriesContext.php
  src/Sylius/Bundle/AddressingBundle/Resources/config/validation/Country.xml
  src/Sylius/Bundle/AddressingBundle/Resources/translations/validators.en.yml
Labels: Enhancement, Maintenance, API

#15569 Update README.md
  README.md
Labels: Maintenance
