Repository Sylius/Sylius, pull requests merged in 2023-10, with the labels that each got.

#15402 Fix failing phpspec scenario on Symfony 6.3.5 and above
  src/Sylius/Bundle/ApiBundle/spec/DataPersister/MessengerDataPersisterSpec.php
Labels: Maintenance, API, CI

#15407 [API][Maintenance] Remove usage of deprecated IriConverter
  UPGRADE-API-1.13.md
  ecs.php
  psalm.xml
  src/Sylius/Behat/Context/Api/Admin/BrowsingCatalogPromotionProductVariantsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingAdministratorsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingChannelPriceHistoryConfigsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingChannelsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCountriesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingOrdersContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingPaymentsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductTaxonsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductVariantsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShipmentsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShippingMethodsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingTaxRatesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingTaxonsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingZonesContext.php
  src/Sylius/Behat/Context/Api/Shop/AddressContext.php
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Api/Shop/HomepageContext.php
  src/Sylius/Behat/Context/Api/Shop/LoginContext.php
  src/Sylius/Behat/Context/Api/Shop/OrderContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductReviewContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductVariantContext.php
  src/Sylius/Behat/Context/Api/Shop/TaxonContext.php
  src/Sylius/Behat/Resources/config/services.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Service/Converter/IriConverter.php
  src/Sylius/Behat/Service/Converter/SectionAwareIriConverter.php
  src/Sylius/Behat/Service/Converter/SectionAwareIriConverterInterface.php
  src/Sylius/Bundle/ApiBundle/Controller/GetProductBySlugAction.php
  src/Sylius/Bundle/ApiBundle/Controller/UploadAvatarImageAction.php
  src/Sylius/Bundle/ApiBundle/EventListener/AdminAuthenticationSuccessListener.php
  src/Sylius/Bundle/ApiBundle/EventListener/AuthenticationSuccessListener.php
  src/Sylius/Bundle/ApiBundle/Filter/Doctrine/CatalogPromotionChannelFilter.php
  src/Sylius/Bundle/ApiBundle/Filter/Doctrine/ProductVariantCatalogPromotionFilter.php
  src/Sylius/Bundle/ApiBundle/Filter/Doctrine/ProductVariantOptionValueFilter.php
  src/Sylius/Bundle/ApiBundle/Filter/Doctrine/TaxonFilter.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/ChannelPriceHistoryConfigDenormalizer.php
  src/Sylius/Bundle/ApiBundle/Serializer/ProductNormalizer.php
  src/Sylius/Bundle/ApiBundle/Serializer/ProductVariantNormalizer.php
  src/Sylius/Bundle/ApiBundle/Serializer/ZoneDenormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/EventListener/AdminAuthenticationSuccessListenerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/EventListener/AuthenticationSuccessListenerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Filter/Doctrine/TaxonFilterSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ChannelPriceHistoryConfigDenormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductNormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductVariantNormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ZoneDenormalizerSpec.php
Labels: Maintenance, API

#15341 Set up Admin Bundle frontend
  .github/workflows/ci_e2e-mysql.yaml
  package.json
  src/Sylius/Bundle/AdminBundle/Resources/assets/entrypoint.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/scripts/apexcharts.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/scripts/choices.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_flags.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/main.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/ui/_flags.scss
  src/Sylius/Bundle/AdminBundle/index.js
  src/Sylius/Bundle/AdminBundle/package.json
  webpack.config.js
Labels: Maintenance, Admin, Frontend

#15420 [API] Upgrade Country and Province API resources to APIP 3
  src/Sylius/Behat/Context/Api/Admin/ManagingCountriesContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/common.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/addressing/managing_countries.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/Country.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/Province.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Country.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Province.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_processors.xml
  src/Sylius/Bundle/ApiBundle/StateProcessor/CountryProcessor.php
  tests/Api/Admin/CountriesTest.php
  tests/Api/Admin/ProvincesTest.php
  tests/Api/Responses/Expected/admin/country/post_country_response.json
Labels: API

#15387 Add symfony workflow configuration for order checkout
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/OrderCheckout/ApplyCreateTransitionOnOrderListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/OrderCheckout/ProcessCartListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/OrderCheckout/ResolveOrderCheckoutStateListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/OrderCheckout/ResolveOrderPaymentStateListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/OrderCheckout/ResolveOrderShippingStateListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/OrderCheckout/SaveCheckoutCompletionDateListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/Workflow/OrderShipping/ResolveOrderStateListener.php
  src/Sylius/Bundle/CoreBundle/Resources/config/app/workflow/sylius_order_checkout.yaml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/workflow/sylius_order_shipping.yaml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners/workflow/order_checkout.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners/workflow/order_shipping.xml
  src/Sylius/Bundle/CoreBundle/Tests/Functional/StateMachine/OrderCheckoutWorkflowTest.php
  src/Sylius/Bundle/CoreBundle/Tests/Functional/StateMachine/OrderShippingWorkflowTest.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/OrderCheckout/ApplyCreateTransitionOnOrderListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/OrderCheckout/ProcessCartListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/OrderCheckout/ResolveOrderCheckoutStateListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/OrderCheckout/ResolveOrderPaymentStateListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/OrderCheckout/ResolveOrderShippingStateListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/OrderCheckout/SaveCheckoutCompletionDateListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/Workflow/OrderShipping/ResolveOrderStateListenerSpec.php
Labels: API

#15422 [PaymentBundle] Rename void to unknown in sylius_payment state machine
  UPGRADE-1.13.md
  src/Sylius/Bundle/PaymentBundle/Resources/config/app/state_machine.yml
Labels: Maintenance, Docker

#15393 [API] Upgrade ContactRequest resource with API Platform 3
  features/contact/requesting_contact.feature
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Bundle/ApiBundle/ApiPlatform/StateProcessor/MessengerProcessor.php
  src/Sylius/Bundle/ApiBundle/DataTransformer/ChannelCodeAwareInputCommandDataTransformer.php
  src/Sylius/Bundle/ApiBundle/DataTransformer/LocaleCodeAwareInputCommandDataTransformer.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/.gitkeep
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ContactRequest.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/ContactRequest.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/contexts.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_processors.xml
  src/Sylius/Bundle/ApiBundle/StateProcessor/Input/ChannelCodeAwareInputDataProcessor.php
  src/Sylius/Bundle/ApiBundle/StateProcessor/Input/InputDataProcessorInterface.php
  src/Sylius/Bundle/ApiBundle/StateProcessor/Input/LocaleCodeAwareInputDataProcessor.php
  src/Sylius/Bundle/ApiBundle/StateProcessor/Input/LoggedInCustomerEmailIfNotSetAwareInputDataProcessor.php
  src/Sylius/Bundle/ApiBundle/disabledSpec/DataTransformer/CommandAwareInputDataTransformerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/.gitignore
  src/Sylius/Bundle/ApiBundle/spec/ApiPlatform/StateProcessor/MessengerProcessorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProcessor/Input/ChannelCodeAwareInputDataProcessorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProcessor/Input/LocaleCodeAwareInputDataProcessorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProcessor/Input/LoggedInCustomerEmailIfNotSetAwareInputDataProcessorSpec.php
  tests/Api/Shop/SendContactRequestTest.php
Labels: API

#15425 [PostgreSQL] Sylius installation fix
  UPGRADE-1.13.md
  src/Sylius/Behat/Service/Converter/IriConverter.php
  src/Sylius/Bundle/CoreBundle/EventListener/PostgreSQLDefaultSchemaListener.php
  src/Sylius/Bundle/CoreBundle/Installer/Provider/DatabaseSetupCommandsProvider.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20220407131547.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/installer.xml
  src/Sylius/Bundle/CoreBundle/spec/EventListener/PostgreSQLDefaultSchemaListenerSpec.php
Labels: Maintenance, Bug

#15273 [Issue 15271] - Get product variant by id
  src/Sylius/Behat/Context/Setup/ProductContext.php
  src/Sylius/Bundle/ProductBundle/Form/EventSubscriber/ProductOptionFieldSubscriber.php
  src/Sylius/Bundle/ProductBundle/Resources/config/services.xml
  src/Sylius/Component/Product/Resolver/DefaultProductVariantResolver.php
  src/Sylius/Component/Product/spec/Resolver/DefaultProductVariantResolverSpec.php
Labels: Performance

#15389 [FIX] Restrict NonChannelLocaleListener to the routes having _locale attribut
  src/Sylius/Bundle/ShopBundle/EventListener/NonChannelLocaleListener.php
  src/Sylius/Bundle/ShopBundle/spec/EventListener/NonChannelLocaleListenerSpec.php
Labels: Shop

#15408 [Documentation]Updated links that were redirecting to 404
  docs/book/orders/checkout.rst
Labels: Documentation

#15427 [PostgreSQL] Sylius installation fix amend
  src/Sylius/Bundle/CoreBundle/Installer/Provider/DatabaseSetupCommandsProvider.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/installer.xml
Labels: Enhancement, DX

#13902 [API] Reset password : add validations to produce 422 instead of 500 status code
  features/account/resetting_password.feature
  src/Sylius/Behat/Context/Api/Shop/LoginContext.php
  src/Sylius/Behat/Context/Setup/UserContext.php
  src/Sylius/Behat/Context/Ui/Shop/LoginContext.php
  src/Sylius/Behat/Resources/config/services/contexts/setup.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/AccountResetPassword.xml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ShopUserResetPasswordTokenExists.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ShopUserResetPasswordTokenExistsValidator.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ShopUserResetPasswordTokenNotExpired.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ShopUserResetPasswordTokenNotExpiredValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ShopUserResetPasswordTokenExistsValidatorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ShopUserResetPasswordTokenNotExpiredValidatorSpec.php
Labels: Documentation, Maintenance, API, Docker

#15429 [Maintenance][Core] Update payment state machine
  UPGRADE-1.13.md
  phpstan-baseline.neon
  src/Sylius/Bundle/CoreBundle/Resources/config/app/state_machine/sylius_payment.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/workflow/sylius_payment.yaml
  src/Sylius/Bundle/CoreBundle/Tests/Functional/StateMachine/PaymentWorkflowTest.php
  src/Sylius/Component/Product/spec/Resolver/DefaultProductVariantResolverSpec.php
Labels: Maintenance

#15430 [Fix] Early return in CartCollector on stateless requests
  src/Sylius/Bundle/CoreBundle/Collector/CartCollector.php
  tests/Functional/CartCollectorTest.php
Labels: API, Bug

#15449 [Behat] Set a LocaleCode via the HTTP Accept-Language header
  src/Sylius/Behat/Context/Api/Shop/LoginContext.php
Labels: Enhancement, Behat, API, Bug

#15441 [API] Upgrade AvatarImage resources to APIP 3
  UPGRADE-API-2.0.md
  features/user/managing_administrators/adding_avatar_to_administrator.feature
  features/user/managing_administrators/changing_administrator_avatar.feature
  features/user/managing_administrators/removing_administrator_avatar.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingAdministratorsContext.php
  src/Sylius/Behat/Context/Api/Resources.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/user/managing_administrators.yml
  src/Sylius/Bundle/ApiBundle/Controller/UploadAvatarImageAction.php
  src/Sylius/Bundle/ApiBundle/Exception/AdminUserNotFoundException.php
  src/Sylius/Bundle/ApiBundle/Exception/NoFileUploadedException.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/AvatarImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/AvatarImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/CatalogPromotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/spec/StateProcessor/Input/LocaleCodeAwareInputDataProcessorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProcessor/Input/LoggedInCustomerEmailIfNotSetAwareInputDataProcessorSpec.php
  tests/Api/Admin/AvatarImageTest.php
  tests/Api/DataFixtures/ORM/avatar_image.yaml
  tests/Api/JsonApiTestCase.php
  tests/Api/Responses/Expected/admin/avatar_image/get_avatar_image.json
  tests/Api/Responses/Expected/admin/avatar_image/post_avatar_image.json
Labels: Maintenance, API

#15440 [API][Shop] Update `ResetPassword` to the new metadata
  UPGRADE-API-2.0.md
  src/Sylius/Behat/Context/Api/Shop/LoginContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/account/login.yaml
  src/Sylius/Behat/Service/Checker/EmailChecker.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/RequestResetPasswordTokenHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/ResetPasswordHandler.php
  src/Sylius/Bundle/ApiBundle/DataProvider/AccountResetPasswordItemDataProvider.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ShopUserResetPassword.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/AccountResetPassword.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/StateProcessor/CountryProcessor.php
  src/Sylius/Bundle/ApiBundle/StateProcessor/Input/LocaleCodeAwareInputDataProcessor.php
  src/Sylius/Bundle/ApiBundle/StateProvider/ShopUserResetPasswordProvider.php
  src/Sylius/Bundle/ApiBundle/disabledSpec/DataProvider/AccountResetPasswordItemDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProcessor/CountryProcessorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProcessor/Input/LocaleCodeAwareInputDataProcessorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProvider/ShopUserResetPasswordProviderSpec.php
  src/Sylius/Bundle/CoreBundle/Security/UserPasswordResetter.php
  tests/Api/DataFixtures/ORM/authentication/shop_user.yaml
  tests/Api/DataFixtures/ORM/authentication/shop_user_with_expired_reset_password_token.yaml
  tests/Api/DataFixtures/ORM/authentication/shop_user_with_reset_password_token.yaml
  tests/Api/Shop/SendContactRequestTest.php
  tests/Api/Shop/ShopUsersTest.php
Labels: Maintenance, Shop, API

#15399 [API][Admin] Managing products
  features/product/managing_products/accessing_variants_management_from_product_edit_page.feature
  features/product/managing_products/adding_multiple_product_attributes_at_once.feature
  features/product/managing_products/adding_product.feature
  features/product/managing_products/adding_product_with_date_attribute.feature
  features/product/managing_products/adding_product_with_datetime_attribute.feature
  features/product/managing_products/adding_product_with_float_attribute.feature
  features/product/managing_products/adding_product_with_integer_attribute.feature
  features/product/managing_products/adding_product_with_percent_attribute.feature
  features/product/managing_products/adding_product_with_select_attribute.feature
  features/product/managing_products/adding_product_with_text_attribute.feature
  features/product/managing_products/adding_select_attribute_in_different_locales.feature
  features/product/managing_products/adding_text_attribute_in_different_locales.feature
  features/product/managing_products/adding_text_attributes_to_existing_product.feature
  features/product/managing_products/checking_products_in_the_shop_while_editing_them.feature
  features/product/managing_products/editing_product.feature
  features/product/managing_products/editing_product_attributes.feature
  features/product/managing_products/editing_product_slug.feature
  features/product/managing_products/editing_product_slug_in_multiple_locales.feature
  features/product/managing_products/preventing_deletion_of_purchased_product.feature
  features/product/managing_products/product_validation.feature
  features/product/managing_products/removing_product_price_after_channel_deletion.feature
  features/product/managing_products/removing_product_price_from_obsolete_channel.feature
  features/product/managing_products/toggling_inventory_on_product.feature
  features/product/managing_products/toggling_product.feature
  features/product/managing_products/viewing_non_translatable_attributes.feature
  phpstan-baseline.neon
  src/Sylius/Behat/Context/Api/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Context/Setup/ProductAttributeContext.php
  src/Sylius/Behat/Context/Transform/ProductAttributeContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Page/Admin/Product/CreateConfigurableProductPage.php
  src/Sylius/Behat/Page/Admin/Product/CreateConfigurableProductPageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/services/contexts/transform.xml
  src/Sylius/Behat/Resources/config/suites/api/product/managing_products.yml
  src/Sylius/Bundle/ApiBundle/DataPersister/ProductDataPersister.php
  src/Sylius/Bundle/ApiBundle/Exception/InvalidProductAttributeValueTypeException.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductAttributeValue.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductAttributeValue.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_persisters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/ProductAttributeValueDenormalizer.php
  src/Sylius/Bundle/ApiBundle/Serializer/ProductDenormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/DataPersister/ProductDataPersisterSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductAttributeValueDenormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductDenormalizerSpec.php
  tests/Api/Admin/ProductsTest.php
  tests/Api/DataFixtures/ORM/product/product.yaml
  tests/Api/DataFixtures/ORM/product/product_option.yaml
  tests/Api/Responses/Expected/admin/get_product_response.json
  tests/Api/Responses/Expected/admin/get_products_collection_response.json
  tests/Api/Responses/Expected/admin/product/delete_product_in_use_response.json
  tests/Api/Responses/Expected/admin/product/get_product_response.json
  tests/Api/Responses/Expected/admin/product/get_products_response.json
  tests/Api/Responses/Expected/admin/product/post_product_response.json
  tests/Api/Responses/Expected/admin/product/put_product_response.json
Labels: Feature, Admin, API

#15444 [API] Update VerifyCustomerAccount to the new metadata
  UPGRADE-API-2.0.md
  disabledTests/Api/Shop/CustomersTest.php
  features/account/registering_validation.feature
  features/account/verification/verifying_email_address.feature
  src/Sylius/Behat/Context/Api/Shop/CustomerContext.php
  src/Sylius/Behat/Context/Api/Shop/RegistrationContext.php
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Bundle/ApiBundle/Command/Account/RequestShopUserVerification.php
  src/Sylius/Bundle/ApiBundle/Command/Account/SendShopUserVerificationEmail.php
  src/Sylius/Bundle/ApiBundle/Command/Account/VerifyShopUser.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/RegisterShopUserHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/RequestShopUserVerificationHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/SendShopUserVerificationEmailHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/VerifyShopUserHandler.php
  src/Sylius/Bundle/ApiBundle/DataProvider/VerifyCustomerAccountItemDataProvider.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/.gitkeep
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Command/SendContactRequest.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Command/VerifyShopUser.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/VerifyCustomerAccount.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Account/RequestShopUserVerification.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Account/VerifyShopUser.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_processors.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/RequestShopUserVerification.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/VerifyShopUser.xml
  src/Sylius/Bundle/ApiBundle/StateProcessor/Input/LoggedInShopUserIdAwareInputDataProcessor.php
  src/Sylius/Bundle/ApiBundle/StateProvider/Input/VerifyShopUserStateProvider.php
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendAccountVerificationEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ShopUserVerificationTokenEligibility.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ShopUserVerificationTokenEligibilityValidator.php
  src/Sylius/Bundle/ApiBundle/disabledSpec/DataProvider/VerifyCustomerAccountItemDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/disabledSpec/DataTransformer/LoggedInShopUserIdAwareCommandDataTransformerSpec.php
  src/Sylius/Bundle/ApiBundle/disabledSpec/Serializer/CommandDenormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/RegisterShopUserHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/RequestShopUserVerificationHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/VerifyShopUserHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProcessor/Input/LoggedInShopUserIdAwareInputDataProcessorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProvider/Input/VerifyShopUserStateProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ShopUserVerificationTokenEligibilityValidatorSpec.php
  tests/Api/Shop/CustomersTest.php
  tests/Api/Shop/VerifyShopUsersTest.php
  tests/Functional/Bundles/ApiBundle/CommandHandler/SendAccountVerificationEmailHandlerTest.php
Labels: Enhancement, Maintenance, Shop, API

#15439 Upgrade AdminResetPassword resource to API Platform 3
  UPGRADE-API-2.0.md
  config/packages/security.yaml
  disabledTests/Api/Admin/AdminUsersTest.php
  src/Sylius/Behat/Context/Api/Admin/ResettingPasswordContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Bundle/ApiBundle/DataProvider/AdminResetPasswordItemDataProvider.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/AdminResetPassword.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/AdminResetPassword.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/StateProvider/Admin/ResetPasswordProvider.php
  src/Sylius/Bundle/ApiBundle/disabledSpec/DataProvider/AdminResetPasswordItemDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProvider/Admin/ResetPasswordProviderSpec.php
  tests/Api/Admin/AdminResetPasswordTest.php
  tests/Api/DataFixtures/ORM/authentication/api_administrator.yaml
Labels: Maintenance, API

#15469 [API][Maintenance] Enable ShopUserNotVerified validator
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/RequestShopUserVerification.xml
Labels: Maintenance, API

#15465 [API] Enable behat tests for CatalogPromotions
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/CatalogPromotionAction.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/CatalogPromotionScope.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/CatalogPromotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/CatalogPromotionAction.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/CatalogPromotionScope.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/CatalogPromotionTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/ProductVariantNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ProductVariantNormalizerSpec.php
  tests/Api/Responses/Expected/admin/catalog_promotion/post_catalog_promotion_response.json
  tests/Api/Responses/Expected/admin/catalog_promotion/put_catalog_promotion_response.json
Labels: API
