Repository Sylius/Sylius, pull requests merged in 2023-07, with the labels that each got.

#15132 Add joins on the orders list query builder conditionally
  UPGRADE-1.13.md
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/customer_order.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/order.yml
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/OrderRepository.php
  src/Sylius/Component/Core/Repository/OrderRepositoryInterface.php
Labels: Enhancement, Maintenance, Admin

#15072 [API] Validate endpoints that uses commands
  UPGRADE-API-1.13.md
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Bundle/ApiBundle/Command/Account/ChangePaymentMethod.php
  src/Sylius/Bundle/ApiBundle/Command/Account/ChangeShopUserPassword.php
  src/Sylius/Bundle/ApiBundle/Command/Cart/AddItemToCart.php
  src/Sylius/Bundle/ApiBundle/Command/Cart/BlameCart.php
  src/Sylius/Bundle/ApiBundle/Command/Cart/ChangeItemQuantityInCart.php
  src/Sylius/Bundle/ApiBundle/Command/Cart/PickupCart.php
  src/Sylius/Bundle/ApiBundle/Command/Cart/RemoveItemFromCart.php
  src/Sylius/Bundle/ApiBundle/Command/Catalog/AddProductReview.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Catalog/AddProductReviewHandler.php
  src/Sylius/Bundle/ApiBundle/Exception/ProductNotFoundException.php
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/AddItemToCart.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/AddProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/ChangeItemQuantityInCart.xml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/AddingEligibleProductVariantToCartValidator.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ChangedItemQuantityInCartValidator.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Catalog/AddProductReviewHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/AddingEligibleProductVariantToCartValidatorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ChangedItemQuantityInCartValidatorSpec.php
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/validators.en.yml
  tests/Api/Shop/OrdersTest.php
  tests/Api/Shop/ProductReviewsTest.php
Labels: Maintenance, Admin, API

#15138 [Bunnyshell] Adjust the workflows for Fork PRs
  .bunnyshell/docker/nginx/Dockerfile
  .bunnyshell/docker/nginx/default.conf.template
  .bunnyshell/docker/php/Dockerfile
  .bunnyshell/docker/php/entrypoints/migrations-entrypoint
  .bunnyshell/docker/php/entrypoints/php-entrypoint
  .bunnyshell/docker/php/files/crontab
  .bunnyshell/docker/php/prod/opcache.ini
  .bunnyshell/docker/php/prod/php.ini
  .bunnyshell/templates/preview/bunnyshell.yaml
  .dockerignore
  .github/workflows/bunnyshell_cleanup-envs.yaml
  .github/workflows/bunnyshell_delete-preview-env.yaml
  .github/workflows/bunnyshell_deploy-preview-env.yaml
  .github/workflows/bunnyshell_prepare-preview-env.yaml
  .github/workflows/bunnyshell_start-preview-env.yaml
  .github/workflows/bunnyshell_stop-preview-env.yaml
  config/packages/prod/monolog.yaml
Labels: Maintenance, Docker

#13824 Calculate tax with decimal precision and distribute proportionally across order items
  docs/book/orders/taxation.rst
  features/taxation/applying_taxes/applying_correct_taxes_for_product_with_tax_rate_included_in_price.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Setup/TaxationContext.php
  src/Sylius/Behat/Resources/config/suites/api/taxation/applying_taxes.yml
  src/Sylius/Behat/Resources/config/suites/ui/taxation/applying_taxes.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/taxation.xml
  src/Sylius/Bundle/TaxationBundle/Resources/config/services.xml
  src/Sylius/Component/Core/Taxation/Applicator/OrderItemsTaxesApplicator.php
  src/Sylius/Component/Core/Test/Tests/Taxation/Applicator/OrderItemsTaxesApplicatorTest.php
  src/Sylius/Component/Core/spec/Taxation/Applicator/OrderItemsTaxesApplicatorSpec.php
  src/Sylius/Component/Taxation/Calculator/DecimalCalculator.php
Labels: Potential Bug, RFC, Documentation

#15143 Upmerge adjustments
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ChangedItemQuantityInCartValidator.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/CheckoutCompletionValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/ChangedItemQuantityInCartValidatorSpec.php
  src/Sylius/Component/Core/Taxation/Applicator/OrderItemsTaxesApplicator.php
  src/Sylius/Component/Core/Test/Tests/Taxation/Applicator/OrderItemsTaxesApplicatorTest.php
  src/Sylius/Component/Core/spec/Taxation/Applicator/OrderItemsTaxesApplicatorSpec.php
  src/Sylius/Component/Taxation/Calculator/DecimalCalculator.php
  tests/Api/Responses/Expected/shop/order_completion/order_with_free_non_shippable_items_response.json
  tests/Api/Responses/Expected/shop/order_completion/order_with_non_shippable_items_response.json
  tests/Api/Responses/Expected/shop/order_completion/order_with_shippable_and_non_shippable_items_response.json
Labels: Maintenance, API

#15137 [Maintenance] Improve ProportionalIntegerDistributor to keep original index
  src/Sylius/Component/Core/Distributor/ProportionalIntegerDistributor.php
  src/Sylius/Component/Core/spec/Distributor/ProportionalIntegerDistributorSpec.php
Labels: Enhancement

#15145 [Bunnyshell] Adjust the workflows for Fork PRs
  .bunnyshell/docker/nginx/Dockerfile
  .bunnyshell/docker/nginx/default.conf.template
  .bunnyshell/docker/php/Dockerfile
  .bunnyshell/docker/php/entrypoints/migrations-entrypoint
  .bunnyshell/docker/php/entrypoints/php-entrypoint
  .bunnyshell/docker/php/files/crontab
  .bunnyshell/docker/php/prod/opcache.ini
  .bunnyshell/docker/php/prod/php.ini
  .bunnyshell/templates/preview/bunnyshell.yaml
  .dockerignore
  .github/workflows/bunnyshell_cleanup-envs.yaml
  .github/workflows/bunnyshell_delete-preview-env.yaml
  .github/workflows/bunnyshell_deploy-preview-env.yaml
  .github/workflows/bunnyshell_prepare-preview-env.yaml
  .github/workflows/bunnyshell_start-preview-env.yaml
  .github/workflows/bunnyshell_stop-preview-env.yaml
  config/packages/prod/monolog.yaml
Labels: Maintenance, Docker, CI

#15139 Fix "Show product in the shop page" button
  features/product/managing_product_variants/checking_products_in_the_shop_while_editing_their_product_variants.feature
  features/product/managing_products/accessing_stores_product_page.feature
  features/product/viewing_product_in_admin_panel/checking_products_in_the_shop_while_viewing_them.feature
  src/Sylius/Behat/Context/Setup/ChannelContext.php
  src/Sylius/Behat/Context/Setup/ProductContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Page/Admin/Product/UpdateSimpleProductPage.php
  src/Sylius/Behat/Page/Admin/Product/UpdateSimpleProductPageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/setup.xml
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/_showInShopButton.html.twig
  src/Sylius/Bundle/CoreBundle/Provider/ChannelBasedProductTranslationProvider.php
  src/Sylius/Bundle/CoreBundle/Provider/ChannelBasedProductTranslationProviderInterface.php
  src/Sylius/Bundle/CoreBundle/Resources/config/app/messenger.yaml
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/providers.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/templating.xml
  src/Sylius/Bundle/CoreBundle/Tests/Provider/ChannelBasedProductTranslationProviderTest.php
  src/Sylius/Bundle/CoreBundle/Twig/ProductTranslationExtension.php
  src/Sylius/Component/Core/Test/Services/DefaultChannelFactory.php
  src/Sylius/Component/Core/Test/Services/DefaultChannelFactoryInterface.php
  src/Sylius/Component/Core/Test/Services/DefaultUnitedStatesChannelFactory.php
Labels: Admin, Bug

#15161 [API] Product filter no longer crashes when using multiple taxons
  features/product/viewing_products/viewing_products_from_specific_taxon.feature
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Transform/TaxonContext.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/ProductsByTaxonExtension.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryCollectionExtension/ProductsByTaxonExtensionSpec.php
Labels: API

#15165 [API] Fix CommandDenormalizer ignoring custom property names
  phpstan.neon.dist
  psalm.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/CommandDenormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/CommandDenormalizerSpec.php
Labels: API, Bug

#15111 [API] Allow command IRI denormalization in arrays
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/CommandArgumentsDenormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/CommandArgumentsDenormalizerSpec.php
Labels: Maintenance, API

#15157 [Issue 15151] - Check manager before refreshing object
  features/cart/shopping_cart/viewing_cart_summary.feature
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
  src/Sylius/Behat/Element/BrowserElement.php
  src/Sylius/Behat/Element/BrowserElementInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/suites/ui/cart/shopping_cart.yml
  src/Sylius/Bundle/OrderBundle/Controller/OrderController.php
Labels: Bug

#15186 Add a conflict for doctrine/orm:2.15.4
  CONFLICTS.md
  composer.json
Labels: Maintenance, Bug

#15128 [Docs] Sylius Plus installation guide update
  docs/book/installation/sylius_plus_installation.rst
Labels: Documentation

#15185 Avoid displaying taxon names inside of autocomplete in different locales than the store
  features/product/managing_products/selecting_main_taxons_for_product_in_a_different_locales.feature
  src/Sylius/Behat/Context/Setup/LocaleContext.php
  src/Sylius/Behat/Context/Setup/TaxonomyContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Page/Admin/Product/UpdateSimpleProductPage.php
  src/Sylius/Behat/Page/Admin/Product/UpdateSimpleProductPageInterface.php
  src/Sylius/Behat/Service/AutocompleteHelper.php
  src/Sylius/Bundle/TaxonomyBundle/Doctrine/ORM/TaxonRepository.php
Labels: Bug

#15148 Fix rendering admin creation form with errors
  features/user/managing_administrators/adding_avatar_to_administrator.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingAdministratorsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingAdministratorsContext.php
  src/Sylius/Behat/Page/Admin/Administrator/CreatePage.php
  src/Sylius/Behat/Page/Admin/Administrator/CreatePageInterface.php
  src/Sylius/Bundle/AdminBundle/Resources/views/AdminUser/Form/_avatar.html.twig
Labels: Admin, Bug

#15158 [API] Replace Swagger with OpenAPI
  UPGRADE-API-1.13.md
  phpstan-baseline.neon
  psalm.xml
  src/Sylius/Bundle/ApiBundle/ApiPlatform/Bridge/Symfony/Bundle/Action/SwaggerUiAction.php
  src/Sylius/Bundle/ApiBundle/DependencyInjection/SyliusApiExtension.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/AcceptLanguageHeaderDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/AdminAuthenticationTokenDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/DocumentationModifierInterface.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/PathHiderDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/ProductDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/ProductImageDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/ProductSlugDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/ProductVariantDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/ShippingMethodDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/ShopAuthenticationTokenDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Factory/OpenApiFactory.php
  src/Sylius/Bundle/ApiBundle/Resources/config/integrations/swagger.xml
  src/Sylius/Bundle/ApiBundle/Resources/views/index.html.twig
  src/Sylius/Bundle/ApiBundle/Swagger/AcceptLanguageHeaderDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/AdminAuthenticationTokenDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/PathHiderDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/ProductDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/ProductImageDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/ProductSlugDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/ProductVariantDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/ShippingMethodDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/ShopAuthenticationTokenDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/Tests/DependencyInjection/SyliusApiExtensionTest.php
  src/Sylius/Bundle/ApiBundle/spec/Swagger/AcceptLanguageHeaderDocumentationNormalizerSpec.php
  templates/bundles/ApiPlatformBundle/SwaggerUi/index.html.twig
Labels: Maintenance, API
