Repository Sylius/Sylius, pull requests merged in 2023-04, with the labels that each got.

#14905 [Conflict] Add conflict with symfony/framework-bundle:6.2.8
  CONFLICTS.md
  composer.json
Labels: Maintenance

#14910 Change the ApiPlatform Mapping prepend path
  src/Sylius/Bundle/ApiBundle/DependencyInjection/SyliusApiExtension.php
  src/Sylius/Bundle/ApiBundle/Tests/DependencyInjection/SyliusApiExtensionTest.php
Labels: API, Bug

#14902 [Order] Prevent paying with a disabled method
  .github/workflows/ci_static-checks.yaml
  features/account/customer_account/viewing_orders_history/changing_payment_method.feature
  features/checkout/paying_for_order/changing_offline_payment_method_after_order_confirmation.feature
  features/checkout/paying_for_order/preventing_not_available_payment_method_selection.feature
  src/Sylius/Behat/Context/Setup/PaymentContext.php
  src/Sylius/Behat/Context/Ui/Shop/Checkout/CheckoutOrderDetailsContext.php
  src/Sylius/Behat/Page/Shop/Order/ShowPage.php
  src/Sylius/Behat/Page/Shop/Order/ShowPageInterface.php
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/Payment.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/order.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig.xml
  src/Sylius/Bundle/ShopBundle/Resources/views/Order/show.html.twig
  src/Sylius/Bundle/ShopBundle/Twig/OrderPaymentsExtension.php
  src/Sylius/Bundle/ShopBundle/spec/Twig/OrderPaymentsExtensionSpec.php
Labels: Maintenance, Shop, Bug

#14912 [Maintenance][CI] Allow manually dispatching unstable workflow
  .github/workflows/ci__unstable.yaml
Labels: Maintenance, CI

#14825 Update sylius-chart.js
  src/Sylius/Bundle/AdminBundle/Resources/private/js/sylius-chart.js
Labels: Admin, Frontend

#14914 [Orders][API] OrderItem removal validation
  src/Sylius/Bundle/ApiBundle/Controller/DeleteOrderItemAction.php
  src/Sylius/Bundle/ApiBundle/Exception/OrderItemNotFoundException.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  tests/Api/Shop/OrdersTest.php
Labels: API

#12344 [Product][Association] Fix attaching association with numeric code
  features/product/managing_products/adding_product_with_associations.feature
  src/Sylius/Behat/Context/Setup/ProductAssociationContext.php
  src/Sylius/Bundle/ProductBundle/Form/DataTransformer/ProductsToProductAssociationsTransformer.php
Labels: Maintenance, Admin, Bug

#14916 [API][ProductTaxon] Add unique combination validation
  features/product/managing_products/modifying_taxons_assigned_to_an_existing_product.feature
  features/product/managing_products/product_validation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductTaxonsContext.php
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/ProductTaxon.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
Labels: API, Bug

#14900 [UpgradeFile] Introduce upgrade from Sylius 1.12 with PriceHistoryPlugin to Sylius 1.13
  UPGRADE-1.13.md
  UPGRADE-FROM-1.12-WITH-PRICE-HISTORY-PLUGIN-TO-1.13-LEGACY.md
  UPGRADE-FROM-1.12-WITH-PRICE-HISTORY-PLUGIN-TO-1.13.md
Labels: Feature, Maintenance

#14918 [Tasks] Improve Robo task
  RoboFile.php
Labels: Maintenance

#14911 [PriceHistory] Add Compiler Pass for upgrade between Sylius 1.12 and Sylius 1.13 version
  src/Sylius/Bundle/ApiBundle/DependencyInjection/Compiler/SyliusPriceHistoryLegacyAliasesPass.php
  src/Sylius/Bundle/ApiBundle/SyliusApiBundle.php
  src/Sylius/Bundle/ApiBundle/Tests/DependencyInjection/Compiler/SyliusPriceHistoryLegacyAliasesPassTest.php
  src/Sylius/Bundle/CoreBundle/DependencyInjection/Compiler/SyliusPriceHistoryLegacyAliasesPass.php
  src/Sylius/Bundle/CoreBundle/SyliusCoreBundle.php
  src/Sylius/Bundle/CoreBundle/Tests/DependencyInjection/Compiler/SyliusPriceHistoryLegacyAliasesPassTest.php
Labels: Feature, DX, Maintenance, API

#14929 Add conflict for doctrine/orm:2.14.2
  CONFLICTS.md
  composer.json
Labels: Maintenance

#14928 [Maintenance] Add missing Spec for HasEnabledEntityValidator
  UPGRADE-1.13.md
  src/Sylius/Bundle/CoreBundle/Resources/config/services/validators.xml
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/HasEnabledEntityValidator.php
  src/Sylius/Bundle/CoreBundle/spec/Validator/Constraints/HasEnabledEntityValidatorSpec.php
Labels: Enhancement, Maintenance

#14930 [Maintenance] Fix schema update with longer UserOAuth tokens
  src/Sylius/Bundle/CoreBundle/Migrations/Version20230327121633.php
  src/Sylius/Bundle/UserBundle/Resources/config/doctrine/model/UserOAuth.orm.xml
Labels: DX, Maintenance, Bug

#14931 [Behat][API] Checking out as guest with a registered email
  features/checkout/ability_to_checkout_as_guest_with_a_registered_email.feature
Labels: API

#14935 [DX] Do not hardcode order state in order processors
  src/Sylius/Component/Core/OrderProcessing/OrderAdjustmentsClearer.php
  src/Sylius/Component/Core/OrderProcessing/OrderPricesRecalculator.php
  src/Sylius/Component/Core/OrderProcessing/OrderPromotionProcessor.php
  src/Sylius/Component/Core/OrderProcessing/OrderShipmentProcessor.php
  src/Sylius/Component/Core/OrderProcessing/OrderTaxesProcessor.php
  src/Sylius/Component/Core/OrderProcessing/ShippingChargesProcessor.php
  src/Sylius/Component/Core/spec/Model/OrderSpec.php
  src/Sylius/Component/Core/spec/OrderProcessing/OrderAdjustmentsClearerSpec.php
  src/Sylius/Component/Core/spec/OrderProcessing/OrderPricesRecalculatorSpec.php
  src/Sylius/Component/Core/spec/OrderProcessing/OrderPromotionProcessorSpec.php
  src/Sylius/Component/Core/spec/OrderProcessing/OrderShipmentProcessorSpec.php
  src/Sylius/Component/Core/spec/OrderProcessing/OrderTaxesProcessorSpec.php
  src/Sylius/Component/Core/spec/OrderProcessing/ShippingChargesProcessorSpec.php
  src/Sylius/Component/Order/Model/Order.php
  src/Sylius/Component/Order/Model/OrderInterface.php
Labels: Enhancement, DX

#14934 Cover accessing non-existing product via API scenario
  features/product/viewing_products/accessing_product_wich_does_not_exist.feature
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
Labels: Behat

#14938 Revert "Add conflict for doctrine/orm:2.14.2"
  CONFLICTS.md
  composer.json
Labels: Maintenance

#14941 Fix build
  psalm.xml
Labels: Bug

#14939 [Behat][API] Add "no-api" tag to the changing payment method page scenario
  features/checkout/paying_for_order/accessing_order_right_after_completing_checkout.feature
Labels: API

#14937 Add calculating OrderItemsSubtotal to the Order model
  UPGRADE-1.13.md
  src/Sylius/Bundle/ShopBundle/Calculator/OrderItemsSubtotalCalculator.php
  src/Sylius/Component/Core/Model/Order.php
  src/Sylius/Component/Core/Model/OrderInterface.php
  src/Sylius/Component/Core/spec/Model/OrderSpec.php
Labels: DX, Maintenance, Shop

#14926 [API] API Platform's default exception mappings
  phpunit.xml.dist
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  tests/Api/JsonApiGenericRequestValidationTestCase.php
  tests/Api/Responses/Expected/malformed_json_response.json
Labels: API, Bug

#14942 Cover applying correct taxes for shipping with tax rate included in price scenarios
  features/taxation/applying_taxes/applying_correct_taxes_for_shipping_with_tax_rate_included_in_price.feature
Labels: Behat, Maintenance, Shop

#14947 Cover reapplying promotion on cart changes scenarios in API
  features/promotion/applying_promotion_rules/reapplying_promotion_on_cart_change.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
Labels: Behat

#14953 Update BuildTestApp actions within workflows
  .github/workflows/ci_e2e-custom.yaml
  .github/workflows/ci_e2e-mariadb.yaml
  .github/workflows/ci_e2e-mysql.yaml
  .github/workflows/ci_e2e-pgsql.yaml
  .github/workflows/ci_e2e-unstable.yaml
Labels: Maintenance, CI

#14957 Ignore push event on upmerge
  .github/workflows/ci__minimal.yaml
Labels: Maintenance, CI

#14920 [Admin][Shipment] fix english word and add shipment state in admin show shipment
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/AdminBundle/Resources/views/Shipment/Show/_header.html.twig
Labels: Admin

#14951 Cover Api steps in paying offline during checkout scenario
  features/checkout/paying_for_order/paying_offline_during_checkout.feature
Labels: Behat, API

#14962 [ApiBundle][Maintenance] Remove conflict with `doctrine/dbal:3.*`
  src/Sylius/Bundle/ApiBundle/composer.json
Labels: Maintenance, API

#14963 Upmerge 1.12 into 1.13
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/AdminBundle/Resources/views/Shipment/Show/_header.html.twig
  src/Sylius/Bundle/ApiBundle/composer.json
Labels: Admin, API

#14961 [API] Remove invalid enum value from ProductImage resource
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductImage.xml
  src/Sylius/Bundle/ApiBundle/Swagger/ProductImageDocumentationNormalizer.php
Labels: API

#14959 [Behat][API] Retrying the payment with different Offline payment
  features/checkout/paying_for_order/changing_offline_payment_method_after_order_confirmation.feature
  src/Sylius/Behat/Context/Api/Shop/Checkout/CheckoutCompleteContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites/api/checkout/paying_for_order.yml
Labels: API

#14948 Cover reverting previously applied discount on cart scenarios in API
  features/promotion/reverting_discount/reverting_previously_applied_discount_on_cart.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
Labels: Behat

#14932 [Admin][Promotion] Remove leftover rules after their assigned product gets deleted
  features/promotion/managing_promotions/accessing_promotion_with_rule_that_contains_removed_product.feature
  src/Sylius/Behat/Context/Setup/PromotionContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Admin/RemovingProductContext.php
  src/Sylius/Behat/Context/Ui/Admin/RemovingTaxonContext.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/suites/ui/admin/panel.yml
  src/Sylius/Behat/Resources/config/suites/ui/product/managing_products.yml
  src/Sylius/Behat/Resources/config/suites/ui/promotion/managing_promotions.yml
  src/Sylius/Bundle/CoreBundle/EventListener/ProductDeletionListener.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/promotion.xml
  src/Sylius/Bundle/CoreBundle/spec/EventListener/ProductDeletionListenerSpec.php
  src/Sylius/Component/Core/Promotion/Updater/Rule/ContainsProductRuleUpdater.php
  src/Sylius/Component/Core/Promotion/Updater/Rule/ProductAwareRuleUpdaterInterface.php
  src/Sylius/Component/Core/spec/Promotion/Updater/Rule/ContainsProductRuleUpdaterSpec.php
Labels: Admin, Bug

#14956 [Shop] Add request matching to LocaleStrippingRouter
  src/Sylius/Bundle/ShopBundle/Router/LocaleStrippingRouter.php
  src/Sylius/Bundle/ShopBundle/spec/Router/LocaleStrippingRouterSpec.php
Labels: Shop

#14885 [DX] Ease adding more data to variant options map
  UPGRADE-1.13.md
  psalm.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/product_variant_map.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/templating.xml
  src/Sylius/Bundle/CoreBundle/Templating/Helper/ProductVariantsMapHelper.php
  src/Sylius/Bundle/CoreBundle/Templating/Helper/ProductVariantsPricesHelper.php
  src/Sylius/Bundle/CoreBundle/Twig/ProductVariantsMapExtension.php
  src/Sylius/Bundle/CoreBundle/Twig/ProductVariantsPricesExtension.php
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Show/_variantSelection.html.twig
  src/Sylius/Component/Core/Provider/ProductVariantMap/ProductVariantAppliedPromotionsMapProvider.php
  src/Sylius/Component/Core/Provider/ProductVariantMap/ProductVariantLowestPriceMapProvider.php
  src/Sylius/Component/Core/Provider/ProductVariantMap/ProductVariantMapProviderInterface.php
  src/Sylius/Component/Core/Provider/ProductVariantMap/ProductVariantOptionsMapProvider.php
  src/Sylius/Component/Core/Provider/ProductVariantMap/ProductVariantOriginalPriceMapProvider.php
  src/Sylius/Component/Core/Provider/ProductVariantMap/ProductVariantPriceMapProvider.php
  src/Sylius/Component/Core/Provider/ProductVariantMap/ProductVariantsMapProvider.php
  src/Sylius/Component/Core/Provider/ProductVariantMap/ProductVariantsMapProviderInterface.php
  src/Sylius/Component/Core/Provider/ProductVariantsPricesProvider.php
  src/Sylius/Component/Core/Provider/ProductVariantsPricesProviderInterface.php
  src/Sylius/Component/Core/spec/Provider/ProductVariantMap/ProductVariantAppliedPromotionsMapProviderSpec.php
  src/Sylius/Component/Core/spec/Provider/ProductVariantMap/ProductVariantLowestPriceMapProviderSpec.php
  src/Sylius/Component/Core/spec/Provider/ProductVariantMap/ProductVariantOptionsMapProviderSpec.php
  src/Sylius/Component/Core/spec/Provider/ProductVariantMap/ProductVariantOriginalPriceMapProviderSpec.php
  src/Sylius/Component/Core/spec/Provider/ProductVariantMap/ProductVariantPriceMapProviderSpec.php
  src/Sylius/Component/Core/spec/Provider/ProductVariantMap/ProductVariantsMapProviderSpec.php
Labels: DX, Maintenance, Shop

#14973 [UI][Swagger] Update link to API Introduction section
  src/Sylius/Bundle/ApiBundle/Resources/views/SwaggerUi/index.html.twig
Labels: UX, API, Bug

#14952 [DX] Improve ChannelCollector customizability and performance
  src/Sylius/Bundle/ChannelBundle/Collector/ChannelCollector.php
  src/Sylius/Bundle/ChannelBundle/Doctrine/ORM/ChannelRepository.php
  src/Sylius/Component/Channel/Repository/ChannelRepositoryInterface.php
Labels: Enhancement, DX

#14950 [Migrations] Support PostgreSQL migrations
  .github/workflows/ci_e2e-custom.yaml
  .github/workflows/ci_e2e-mariadb.yaml
  .github/workflows/ci_e2e-mysql.yaml
  .github/workflows/ci_e2e-pgsql.yaml
  .github/workflows/ci_e2e-unstable.yaml
  src/Sylius/Bundle/CoreBundle/Doctrine/Migrations/AbstractMigration.php
  src/Sylius/Bundle/CoreBundle/Doctrine/Migrations/AbstractPostgreSQLMigration.php
  src/Sylius/Bundle/CoreBundle/EventListener/PostgreSQLDefaultSchemaListener.php
  src/Sylius/Bundle/CoreBundle/EventListener/ProductDeletionListener.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20220803125615.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20220926113252.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20230327121633.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20230331091850.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20230419092354.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20230420151332.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/CoreBundle/spec/EventListener/PostgreSQLDefaultSchemaListenerSpec.php
Labels: Documentation, Maintenance, Bug, Docker

#14991 [Unstable][Maintenance] Fix DisablingApiTest on unstable symfony
  src/Sylius/Bundle/ApiBundle/Tests/Application/src/Tests/DisablingApiTest.php
  src/Sylius/Bundle/ApiBundle/Tests/Application/src/Tests/SetUpTestsTrait.php
Labels: Maintenance, API

#14964 Clean up conflicts for sylius/sylius
  .github/workflows/ci_e2e-mariadb.yaml
  .github/workflows/ci_e2e-mysql.yaml
  .github/workflows/matrix.json
  CONFLICTS.md
  composer.json
  src/Sylius/Bundle/AddressingBundle/composer.json
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/ApiBundle/composer.json
  src/Sylius/Bundle/AttributeBundle/composer.json
  src/Sylius/Bundle/ChannelBundle/composer.json
  src/Sylius/Bundle/CoreBundle/composer.json
  src/Sylius/Bundle/CurrencyBundle/composer.json
  src/Sylius/Bundle/CustomerBundle/composer.json
  src/Sylius/Bundle/InventoryBundle/composer.json
  src/Sylius/Bundle/LocaleBundle/composer.json
  src/Sylius/Bundle/MoneyBundle/composer.json
  src/Sylius/Bundle/OrderBundle/composer.json
  src/Sylius/Bundle/PaymentBundle/composer.json
  src/Sylius/Bundle/PayumBundle/composer.json
  src/Sylius/Bundle/ProductBundle/composer.json
  src/Sylius/Bundle/PromotionBundle/composer.json
  src/Sylius/Bundle/ReviewBundle/composer.json
  src/Sylius/Bundle/ShippingBundle/composer.json
  src/Sylius/Bundle/ShopBundle/composer.json
  src/Sylius/Bundle/TaxationBundle/composer.json
  src/Sylius/Bundle/TaxonomyBundle/composer.json
  src/Sylius/Bundle/UiBundle/composer.json
  src/Sylius/Bundle/UserBundle/composer.json
  src/Sylius/Component/Addressing/composer.json
  src/Sylius/Component/Attribute/composer.json
  src/Sylius/Component/Channel/composer.json
  src/Sylius/Component/Core/composer.json
  src/Sylius/Component/Currency/composer.json
  src/Sylius/Component/Locale/composer.json
  src/Sylius/Component/Shipping/composer.json
  src/Sylius/Component/User/composer.json
Labels: Maintenance, Admin, Shop, API

#14989 [ProductTaxon][Product] Improve validation
  features/product/managing_products/modifying_taxons_assigned_to_an_existing_product.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductTaxonsContext.php
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/Product.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/ProductTaxon.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
Labels: API, Bug

#14999 [CI] Change outdated GitHub action
  .github/workflows/ci_e2e-mysql.yaml
  src/Sylius/Behat/Context/Api/Admin/ManagingProductTaxonsContext.php
Labels: Maintenance, CI

#14967 [GRID] Avoid double label translation on date filter
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/UiBundle/Resources/views/Grid/Filter/date.html.twig
  src/Sylius/Bundle/UiBundle/Resources/views/Grid/Filter/exists.html.twig
  src/Sylius/Bundle/UiBundle/Resources/views/Grid/Filter/money.html.twig
Labels: DX

#14919 Use Symfony HTTP Client in place of Guzzle 6 by default and provide Guzzle 7 support
  UPGRADE-1.13.md
  composer-require-checker.json
  composer.json
  config/packages/nyholm_psr7.yaml
  src/Sylius/Behat/spec/Service/Mocker/MockerSpec.php
  src/Sylius/Bundle/AdminBundle/Controller/NotificationController.php
  src/Sylius/Bundle/AdminBundle/Resources/config/services.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/controller.xml
  src/Sylius/Bundle/AdminBundle/Tests/Controller/NotificationControllerTest.php
  src/Sylius/Bundle/ApiBundle/composer.json
  src/Sylius/Bundle/CoreBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/nyholm_psr7.yaml
  src/Sylius/Bundle/CoreBundle/composer.json
  src/Sylius/Bundle/PayumBundle/HttpClient/HttpClient.php
  src/Sylius/Bundle/PayumBundle/Resources/config/services.xml
  src/Sylius/Bundle/PayumBundle/composer.json
  src/Sylius/Bundle/PayumBundle/spec/HttpClient/HttpClientSpec.php
  src/Sylius/Bundle/UserBundle/composer.json
  src/Sylius/Component/Core/composer.json
  symfony.lock
Labels: Enhancement, Maintenance, Admin, API
