Repository Sylius/Sylius, pull requests merged in 2024-03, with the labels that each got.

#15682 Improve Product's show page performance
  composer.json
  src/Sylius/Behat/Context/Hook/CacheContext.php
  src/Sylius/Behat/Resources/config/services/contexts/hook.xml
  src/Sylius/Behat/Resources/config/suites/ui/product/managing_products.yml
  src/Sylius/Behat/Resources/config/suites/ui/user/managing_customers.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/product.yml
  src/Sylius/Bundle/AttributeBundle/Form/Type/AttributeValueType.php
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/ProductRepository.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/providers.xml
  src/Sylius/Bundle/LocaleBundle/Doctrine/EventListener/LocaleModificationListener.php
  src/Sylius/Bundle/LocaleBundle/Form/DataTransformer/LocaleToCodeTransformer.php
  src/Sylius/Bundle/LocaleBundle/Resources/config/services.xml
  src/Sylius/Bundle/LocaleBundle/composer.json
  src/Sylius/Bundle/LocaleBundle/spec/Doctrine/EventListener/LocaleModificationListenerSpec.php
  src/Sylius/Bundle/ProductBundle/Resources/config/services/form.xml
  src/Sylius/Component/Core/Provider/TranslationLocaleProvider.php
  src/Sylius/Component/Locale/Provider/CachedLocaleCollectionProvider.php
  src/Sylius/Component/Locale/Provider/LocaleCollectionProvider.php
  src/Sylius/Component/Locale/Provider/LocaleCollectionProviderInterface.php
  src/Sylius/Component/Locale/Provider/LocaleProvider.php
  src/Sylius/Component/Locale/spec/Provider/CachedLocaleCollectionProviderSpec.php
  src/Sylius/Component/Locale/spec/Provider/LocaleCollectionProviderSpec.php
  src/Sylius/Component/Locale/spec/Provider/LocaleProviderSpec.php
Labels: Admin, Performance

#15957 Update README.md remove info about forum
  README.md
Labels: Maintenance

#15963 [Maintenance] Update GHA
  .github/workflows/auto-merge.yaml
  .github/workflows/ci_e2e-custom.yaml
  .github/workflows/ci_e2e-mariadb.yaml
  .github/workflows/ci_e2e-mysql.yaml
  .github/workflows/ci_e2e-pgsql.yaml
  .github/workflows/ci_e2e-unstable.yaml
  .github/workflows/ci_frontend.yaml
  .github/workflows/ci_packages-unstable.yaml
  .github/workflows/ci_packages.yaml
  .github/workflows/ci_static-checks.yaml
  .github/workflows/documentation.yaml
  .github/workflows/refactor.yaml
  .github/workflows/social-media-notifications.yaml
  .github/workflows/upmerge_pr.yaml
Labels: Maintenance, CI

#15968 Remove info about forum from Admin panel and documentation
  docs/book/introduction/introduction.rst
  docs/getting-started-with-sylius/summary.rst
  src/Sylius/Bundle/AdminBundle/Resources/views/Layout/_support.html.twig
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
Labels: Documentation, Admin

#15970 [Order] Remove dead argument from OrderRepository::countByCustomerAndCoupon
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/OrderRepository.php
Labels: Maintenance

#15971 [Docs] Refactor information about GUS
  docs/book/installation/installation.rst
  docs/cookbook/configuration/disabling-admin-notifications.rst
Labels: Documentation

#15939 BUGFIX: #15938 [AdminBundle] add spacing between choose file button and uploaded image in image_widget
  src/Sylius/Bundle/AdminBundle/Resources/private/sass/_ui.scss
  src/Sylius/Bundle/UiBundle/Resources/views/Form/imagesTheme.html.twig
  src/Sylius/Bundle/UiBundle/Resources/views/Form/theme.html.twig
Labels: Admin

#15962 [Admin][TaxRate] Fix create and update page
  features/admin/taxation/managing_tax_rates/adding_tax_rate.feature
  features/admin/taxation/managing_tax_rates/deleting_tax_rate.feature
  features/admin/taxation/managing_tax_rates/editing_tax_rate.feature
  features/admin/taxation/managing_tax_rates/tax_rate_unique_code_validation.feature
  features/admin/taxation/managing_tax_rates/tax_rate_validation.feature
  features/admin/taxation/managing_tax_rates/tax_rates_filtration/filtering_tax_rates_by_end_date.feature
  features/admin/taxation/managing_tax_rates/tax_rates_filtration/filtering_tax_rates_by_start_date.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingTaxRateContext.php
  src/Sylius/Behat/Page/Admin/Crud/CreatePage.php
  src/Sylius/Behat/Page/Admin/Crud/UpdatePage.php
  src/Sylius/Behat/Page/Admin/TaxRate/CreatePage.php
  src/Sylius/Behat/Page/Admin/TaxRate/CreatePageInterface.php
  src/Sylius/Behat/Page/Admin/TaxRate/FormAwareInterface.php
  src/Sylius/Behat/Page/Admin/TaxRate/FormAwareTrait.php
  src/Sylius/Behat/Page/Admin/TaxRate/UpdatePage.php
  src/Sylius/Behat/Page/Admin/TaxRate/UpdatePageInterface.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/tax_rate/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/tax_rate/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/views/TaxRate/Form/Sections/Configuration/amount.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/TaxRate/Form/Sections/Configuration/calculator.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/TaxRate/Form/Sections/Configuration/category.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/TaxRate/Form/Sections/Configuration/end_date.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/TaxRate/Form/Sections/Configuration/included_in_price.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/TaxRate/Form/Sections/Configuration/start_date.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/TaxRate/Form/Sections/Configuration/zone.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/TaxRate/Form/Sections/Details/code.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/TaxRate/Form/Sections/Details/name.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/TaxRate/Form/Sections/configuration.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/TaxRate/Form/Sections/details.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/TaxRate/Form/sections.html.twig
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
Labels: Admin

#15696 [Admin] Do not disable channel base currency when none set
  src/Sylius/Bundle/CoreBundle/Form/EventSubscriber/AddBaseCurrencySubscriber.php
  src/Sylius/Bundle/CoreBundle/spec/Form/EventSubscriber/AddBaseCurrencySubscriberSpec.php
Labels: Admin, Bug

#15947 [Maintenance] Enhance and Reorganize Upgrade Files
  UPGRADE-1.13.md
  UPGRADE-API-1.13.md
Labels: Maintenance

#15982 [Upgrade] Note about Command and Console namespaces
  UPGRADE-1.13.md
Labels: Maintenance

#15961 [PaymentRequest] Add unit tests for the endpoints
  src/Sylius/Bundle/ApiBundle/Checker/UpdatePaymentRequestEligibilityChecker.php
  src/Sylius/Bundle/ApiBundle/Checker/UpdatePaymentRequestEligibilityCheckerInterface.php
  src/Sylius/Bundle/ApiBundle/DataProvider/PaymentRequestUpdateDataProvider.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Payment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/PaymentRequest.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/PaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/PaymentRequest.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/spec/Checker/UpdatePaymentRequestEligibilityCheckerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/PaymentRequestUpdateDataProviderSpec.php
  src/Sylius/Bundle/CoreBundle/PaymentRequest/Command/Offline/StatusPaymentRequest.php
  src/Sylius/Bundle/CoreBundle/PaymentRequest/CommandHandler/Offline/CapturePaymentRequestHandler.php
  src/Sylius/Bundle/CoreBundle/PaymentRequest/CommandProvider/Offline/StatusPaymentRequestCommandProvider.php
  src/Sylius/Bundle/CoreBundle/PaymentRequest/Processor/Offline/AfterCaptureProcessor.php
  src/Sylius/Bundle/CoreBundle/PaymentRequest/Processor/Offline/CaptureProcessor.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/payment_request/offline/command_handlers.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/payment_request/offline/command_providers.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/payment_request/offline/processors.xml
  src/Sylius/Bundle/CoreBundle/spec/PaymentRequest/CommandHandler/Offline/CapturePaymentRequestHandlerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/PaymentRequest/Processor/Offline/CaptureProcessorSpec.php
  src/Sylius/Bundle/PaymentBundle/Resources/config/doctrine/model/Payment.orm.xml
  src/Sylius/Component/Payment/Model/Payment.php
  src/Sylius/Component/Payment/Model/PaymentInterface.php
  tests/Api/Admin/PaymentRequestsTest.php
  tests/Api/DataFixtures/ORM/payment_request/order.yaml
  tests/Api/DataFixtures/ORM/payment_request/order_with_customer.yaml
  tests/Api/DataFixtures/ORM/payment_request/payment_request.yaml
  tests/Api/Responses/admin/payment/patch_complete_payment_response.json
  tests/Api/Responses/admin/payment_request/get_payment_request.json
  tests/Api/Responses/admin/payment_request/get_payment_requests_for_payment.json
  tests/Api/Responses/shop/payment_request/get_payment_request.json
  tests/Api/Responses/shop/payment_request/post_payment_request.json
  tests/Api/Responses/shop/payment_request/post_payment_request_without_required_data.json
  tests/Api/Responses/shop/payment_request/put_payment_request.json
  tests/Api/Shop/PaymentRequestsTest.php
Labels: API

#15949 [API] Administrator and Customer endpoints Reorganization
  UPGRADE-1.13.md
  UPGRADE-API-1.13.md
  config/packages/security.yaml
  docs/getting-started-with-sylius/using-api.rst
  src/Sylius/Behat/Client/ApiPlatformSecurityClient.php
  src/Sylius/Behat/Context/Api/Admin/ResettingPasswordContext.php
  src/Sylius/Behat/Context/Api/Resources.php
  src/Sylius/Behat/Context/Api/Shop/ContactContext.php
  src/Sylius/Behat/Context/Api/Shop/CustomerContext.php
  src/Sylius/Behat/Context/Api/Shop/LoginContext.php
  src/Sylius/Behat/Context/Api/Shop/RegistrationContext.php
  src/Sylius/Behat/Resources/config/services/api.xml
  src/Sylius/Bundle/ApiBundle/Command/Account/ResetPassword.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/ResetPasswordHandler.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/AdminAuthenticationTokenDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/AdministratorDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/CustomerDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/ShopAuthenticationTokenDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Address.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/AdminUserPassword.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Contact.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CustomerPassword.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CustomerVerification.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Payment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Promotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/PromotionCoupon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Shipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/integrations/swagger.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/routing.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/AccountResetPassword.xml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/AdminResetPasswordTokenNonExpiredValidator.php
  src/Sylius/Bundle/CoreBundle/Message/Admin/Account/ResetPassword.php
  src/Sylius/Bundle/CoreBundle/MessageHandler/Admin/Account/ResetPasswordHandler.php
  templates/bundles/ApiPlatformBundle/SwaggerUi/index.html.twig
  tests/Api/Admin/AdminUsersTest.php
  tests/Api/Admin/CustomersTest.php
  tests/Api/Admin/PaymentMethodsTest.php
  tests/Api/Admin/ProductAssociationTypesTest.php
  tests/Api/Shop/CustomersTest.php
  tests/Api/Shop/SendContactRequestTest.php
  tests/Api/Shop/VerifyCustomerAccountsTest.php
Labels: Documentation, Maintenance, API

#15988 Change the default NODE_VERSION to 18
  .bunnyshell/docker/php/Dockerfile
Labels: Maintenance, Docker

#15989 [Maintenance] Revert deprecating and aliasing PaymentFixture
  UPGRADE-1.13.md
  src/Sylius/Bundle/CoreBundle/Fixture/PaymentFixture.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/fixtures.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/fixtures_factories.xml
Labels: Maintenance

#15992 Provide some Bunnyshell images improvements
  .bunnyshell/docker/php/entrypoints/php-entrypoint
  .bunnyshell/docker/php/files/crontab
  .bunnyshell/docker/php/prod/php.ini
Labels: Maintenance, Docker

#15993 Bunnyshell improvements for 1.12
  .bunnyshell/docker/php/entrypoints/php-entrypoint
  .bunnyshell/docker/php/files/crontab
  .bunnyshell/docker/php/prod/php.ini
Labels: Maintenance, Docker

#15972 [API] Prevent documenation failing when some endpoints are disabled
  src/Sylius/Bundle/ApiBundle/Swagger/ProductDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/ProductImageDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/ProductSlugDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/ProductVariantDocumentationNormalizer.php
  src/Sylius/Bundle/ApiBundle/Swagger/ShippingMethodDocumentationNormalizer.php
Labels: API, Bug

#15997 [Upgrade] Fix State Machine Title Size
  UPGRADE-1.13.md
Labels: Maintenance

#16000 Fix the CODEOWNERS file
  .github/CODEOWNERS
Labels: Maintenance

#16003 Fix the CODEOWNERS file
  .github/CODEOWNERS
Labels: Maintenance

#16011 [Maintenance] Add conflict with api-platform/core 2.7.17
  CONFLICTS.md
  composer.json
  src/Sylius/Bundle/ApiBundle/composer.json
Labels: Maintenance, API

#16007 [API][Address] Add missing validations and improve endpoints
  UPGRADE-1.13.md
  UPGRADE-API-1.13.md
  src/Sylius/Bundle/AddressingBundle/Resources/config/validation/Address.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Address.xml
  src/Sylius/Component/Addressing/Model/Address.php
  src/Sylius/Component/Addressing/spec/Model/AddressSpec.php
  tests/Api/Admin/AddressesTest.php
  tests/Api/Admin/OrdersTest.php
  tests/Api/DataFixtures/ORM/order/fulfilled.yaml
  tests/Api/DataFixtures/ORM/order/new.yaml
  tests/Api/DataFixtures/ORM/order/new_in_different_currencies.yaml
  tests/Api/DataFixtures/ORM/order/order_with_item.yaml
  tests/Api/Responses/admin/address/get_address.json
  tests/Api/Responses/admin/address/put_address.json
  tests/Api/Responses/admin/order/get_billing_address_of_placed_order_response.json
  tests/Api/Responses/admin/order/get_shipping_address_of_placed_order_response.json
  tests/Api/Responses/admin/order/put_billing_address_of_placed_order_response.json
  tests/Api/Responses/admin/order/put_shipping_address_of_placed_order_response.json
  tests/Api/Shop/AddressesTest.php
Labels: Maintenance, API, Bug

#16013 Prepare Sylius\Behat to be installed as a separate package
  src/Sylius/Behat/LICENSE
  src/Sylius/Behat/composer.json
Labels: Maintenance

#16017 [Maintenance] Fix ci
  phpstan-baseline.neon
Labels: Maintenance

#16020 [ApiBundle] Allow override properties
  src/Sylius/Bundle/ApiBundle/ApiPlatform/Metadata/Merger/LegacyResourceMetadataMerger.php
  src/Sylius/Bundle/ApiBundle/spec/ApiPlatform/Metadata/Merger/LegacyResourceMetadataMergerSpec.php
Labels: API

#16012 Fix finding json by choice in the Postgres
  composer.json
  features/product/managing_product_attributes/editing_select_product_attribute.feature
  src/Sylius/Bundle/AttributeBundle/Resources/config/doctrine/model/AttributeValue.orm.xml
  src/Sylius/Bundle/CoreBundle/Migrations/Version20240318083808.php
  src/Sylius/Bundle/ProductBundle/Doctrine/ORM/ProductAttributeValueRepository.php
  src/Sylius/Bundle/ProductBundle/Doctrine/ORM/Query/AST/Function/AbstractJsonFunctionNode.php
  src/Sylius/Bundle/ProductBundle/Doctrine/ORM/Query/AST/Function/AbstractPostgresqlJsonFunctionNode.php
  src/Sylius/Bundle/ProductBundle/Doctrine/ORM/Query/AST/Function/JsonbArrayElementsText.php
  src/Sylius/Bundle/ProductBundle/Resources/config/app/config.yml
Labels: Admin, Bug

#16008 Replace DC2TYPE:array field types with JSON
  UPGRADE-1.13.md
  src/Sylius/Bundle/AddressingBundle/Resources/config/doctrine/model/AddressLogEntry.orm.xml
  src/Sylius/Bundle/AttributeBundle/Resources/config/doctrine/model/Attribute.orm.xml
  src/Sylius/Bundle/CoreBundle/Migrations/Version20240315112656.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20240318094743.php
  src/Sylius/Bundle/PromotionBundle/Resources/config/doctrine/model/CatalogPromotionAction.orm.xml
  src/Sylius/Bundle/PromotionBundle/Resources/config/doctrine/model/CatalogPromotionScope.orm.xml
  src/Sylius/Bundle/PromotionBundle/Resources/config/doctrine/model/PromotionAction.orm.xml
  src/Sylius/Bundle/PromotionBundle/Resources/config/doctrine/model/PromotionRule.orm.xml
  src/Sylius/Bundle/ShippingBundle/Resources/config/doctrine/model/ShippingMethod.orm.xml
  src/Sylius/Bundle/ShippingBundle/Resources/config/doctrine/model/ShippingMethodRule.orm.xml
  src/Sylius/Bundle/UserBundle/Resources/config/doctrine/model/User.orm.xml
Labels: Enhancement, Maintenance

#16028 [Currency][Locale][Country] Update intl-based validation and cleanup obsolete options
  UPGRADE-1.13.md
  features/currency/managing_currencies/currency_validation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCurrenciesContext.php
  src/Sylius/Bundle/AddressingBundle/Resources/config/validation/Country.xml
  src/Sylius/Bundle/AddressingBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/config/validation/Currency.xml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/LocaleBundle/Resources/config/validation/Locale.xml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/validators.en.yml
  tests/Api/Admin/CurrenciesTest.php
  tests/Api/Responses/admin/currency/post_currency_with_invalid_code_response.json
Labels: Maintenance, API

#16037 [Maintenance][API] Inform about removed configuration node
  UPGRADE-API-1.13.md
Labels: Maintenance, API

#16026 [DOC] Update an access Denied link
  docs/cookbook/taxation/customize-tax-by-address.rst
Labels: Documentation

#16039 [README] Improve visibility of Sylius Plus
  README.md
Labels: Documentation, Maintenance

#16040 [Behat][Maintenance] Split suites
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api.yml
  src/Sylius/Behat/Resources/config/suites/cli.yml
  src/Sylius/Behat/Resources/config/suites/domain.yml
  src/Sylius/Behat/Resources/config/suites/hybrid.yml
  src/Sylius/Behat/Resources/config/suites/ui.yml
Labels: Behat, Maintenance

#16038 [Docs] Improve visibility of Sylius Plus
  docs/_themes/sylius_rtd_theme/layout.html
  docs/_themes/sylius_rtd_theme/static/img/plus.png
  docs/book/index.rst
  docs/index.rst
Labels: Documentation

#16027 Validate Admin user
  features/user/managing_administrators/administrator_validation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingAdministratorsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingAdministratorsContext.php
  src/Sylius/Behat/Page/Admin/Administrator/CreatePage.php
  src/Sylius/Behat/Page/Admin/Administrator/CreatePageInterface.php
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/AdminUser.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
Labels: Admin, Bug

#16042 [Admin] Improve channel fields validation
  features/channel/managing_channels/channel_validation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingChannelsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingChannelsContext.php
  src/Sylius/Behat/Page/Admin/Channel/CreatePage.php
  src/Sylius/Bundle/ChannelBundle/Resources/config/validation/Channel.xml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/Channel.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
  tests/Api/Admin/ChannelsTest.php
  tests/Api/JsonApiTestCase.php
Labels: Admin, API

#16022 Validate out of range for channelPricing prices
  UPGRADE-1.13.md
  features/product/managing_product_variants/product_variant_validation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductVariantsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductVariantsContext.php
  src/Sylius/Bundle/CoreBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/CoreBundle/DependencyInjection/SyliusCoreExtension.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/validators.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/ChannelPricing.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/CoreBundle/Tests/DependencyInjection/SyliusCoreExtensionTest.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/MaxInteger.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/MaxIntegerValidator.php
  src/Sylius/Bundle/CoreBundle/spec/Validator/Constraints/MaxIntegerValidatorSpec.php
Labels: Maintenance, Bug

#16050 [API][Shop][ProductReview] Remove status and embed customer's name
  UPGRADE-API-1.13.md
  features/product/adding_product_reviews/adding_product_review_as_a_customer.feature
  features/product/adding_product_reviews/adding_product_review_as_a_guest.feature
  src/Sylius/Behat/Context/Api/Shop/ProductReviewContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductReviewContext.php
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
  src/Sylius/Behat/Page/Shop/ProductReview/IndexPage.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/suites/api/product/adding_product_review.yml
  src/Sylius/Behat/Resources/config/suites/ui/product/adding_product_review.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductReview.xml
  src/Sylius/Bundle/ShopBundle/Resources/views/ProductReview/_single.html.twig
  tests/Api/Responses/shop/product_review/create_product_review.json
  tests/Api/Responses/shop/product_review/get_product_review.json
  tests/Api/Responses/shop/product_review/get_product_reviews.json
  tests/Api/Shop/ProductReviewsTest.php
Labels: Maintenance, Shop, API

#16056 [Api][Admin] Allow using float for ratio in exchange rate
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/NumericToStringDenormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/NumericToStringDenormalizerSpec.php
  tests/Api/Admin/ExchangeRatesTest.php
Labels: API

#16044 [API] Expose TaxonImage resource in shop
  features/product/viewing_products/viewing_taxon_image.feature
  src/Sylius/Behat/Context/Api/Shop/TaxonContext.php
  src/Sylius/Behat/Context/Setup/TaxonomyContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Taxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/TaxonImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Taxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/TaxonImage.xml
  tests/Api/Responses/shop/taxon/get_taxon.json
  tests/Api/Responses/shop/taxon/get_taxons.json
  tests/Api/Responses/shop/taxon_image/get_taxon_image.json
  tests/Api/Responses/shop/taxon_image/get_taxon_image_with_image_filter.json
  tests/Api/Shop/ProductImagesTest.php
  tests/Api/Shop/TaxonImagesTest.php
  tests/Api/Shop/TaxonsTest.php
Labels: API

#16058 Validate all translatable objects for choosing unexisiting locales in the database
  features/payment/managing_payment_methods/payment_method_validation.feature
  features/product/managing_product_association_types/product_association_type_validation.feature
  features/product/managing_product_attributes/text_product_attribute_validation.feature
  features/product/managing_product_options/product_option_validation.feature
  features/product/managing_product_options/product_option_values_translation_validation.feature
  features/product/managing_product_variants/product_variant_validation.feature
  features/product/managing_products/product_validation.feature
  features/promotion/managing_catalog_promotions/validating_catalog_promotion_creation.feature
  features/promotion/managing_promotions/promotion_validation.feature
  features/shipping/managing_shipping_methods/shipping_method_validation.feature
  features/taxonomy/managing_taxons/taxon_validation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductOptionsContext.php
  src/Sylius/Behat/Context/Api/Admin/TranslationContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingTaxonsContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites/api/payment/managing_payment_methods.yaml
  src/Sylius/Behat/Resources/config/suites/api/product/managing_product_association_types.yml
  src/Sylius/Behat/Resources/config/suites/api/product/managing_product_attributes.yml
  src/Sylius/Behat/Resources/config/suites/api/product/managing_product_options.yml
  src/Sylius/Behat/Resources/config/suites/api/product/managing_product_variants.yml
  src/Sylius/Behat/Resources/config/suites/api/product/managing_products.yml
  src/Sylius/Behat/Resources/config/suites/api/promotion/managing_catalog_promotions.yml
  src/Sylius/Behat/Resources/config/suites/api/promotion/managing_promotions.yml
  src/Sylius/Behat/Resources/config/suites/api/shipping/managing_shipping_methods.yml
  src/Sylius/Behat/Resources/config/suites/api/taxon/managing_taxons.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/ProductVariant.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/Translatable.xml
  tests/Api/DataFixtures/ORM/taxonomy.yaml
Labels: API

#16051 Use Sylius State Machine Abstraction inside the Resource Controller State Machine
  src/Sylius/Bundle/CoreBundle/DependencyInjection/Compiler/OverrideResourceControllerStateMachinePass.php
  src/Sylius/Bundle/CoreBundle/Resource/StateMachine/Controller/CompositeStateMachine.php
  src/Sylius/Bundle/CoreBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/CoreBundle/SyliusCoreBundle.php
  src/Sylius/Bundle/CoreBundle/spec/Resource/StateMachine/Controller/CompositeStateMachineSpec.php
Labels: Maintenance

#16052 Add missing customer validation
  features/account/customer_account/customer_profile_validation.feature
  features/account/registering_validation.feature
  src/Sylius/Behat/Context/Api/Shop/CustomerContext.php
  src/Sylius/Behat/Context/Setup/CustomerContext.php
  src/Sylius/Behat/Context/Ui/Shop/AccountContext.php
  src/Sylius/Behat/Page/Shop/Account/ProfileUpdatePage.php
  src/Sylius/Behat/Page/Shop/Account/ProfileUpdatePageInterface.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/RequestResetPasswordToken.xml
  src/Sylius/Bundle/CustomerBundle/Resources/config/validation/Customer.xml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/validators.en.yml
  tests/Api/Responses/shop/customer/reset_password_validation_response.json
  tests/Api/Shop/CustomersTest.php
Labels: Shop, API

#16067 Add missing validation for the customers first and last name
  features/account/registering_validation.feature
  src/Sylius/Behat/Context/Api/Shop/RegistrationContext.php
  src/Sylius/Behat/Context/Ui/Shop/RegistrationContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/RegisterShopUser.xml
Labels: Shop, API

#16070 Display test attributes when debug mode is enabled
  src/Sylius/Bundle/UiBundle/Resources/config/services/twig.xml
  src/Sylius/Bundle/UiBundle/Twig/TestFormAttributeExtension.php
  src/Sylius/Bundle/UiBundle/Twig/TestHtmlAttributeExtension.php
Labels: Maintenance

#16074 [UI] Improve filters
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_choices.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_filters.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/main.scss
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Crud/Index/Content/Grid/_filters.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Grid/Filter/_date.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Grid/Filter/_money.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Grid/Filter/_string.html.twig
Labels: Admin
