Repository Sylius/Sylius, pull requests merged in 2024-06, with the labels that each got.

#16315 [Admin][Review] Cover product reviews management
  features/admin/product/managing_product_reviews/accepting_product_review.feature
  features/admin/product/managing_product_reviews/browsing_product_reviews.feature
  features/admin/product/managing_product_reviews/deleting_multiple_product_reviews.feature
  features/admin/product/managing_product_reviews/deleting_product_review.feature
  features/admin/product/managing_product_reviews/editing_product_review.feature
  features/admin/product/managing_product_reviews/filtering_product_reviews.feature
  features/admin/product/managing_product_reviews/product_review_validation.feature
  features/admin/product/managing_product_reviews/recalculating_product_average_rating.feature
  features/admin/product/managing_product_reviews/rejecting_product_review.feature
  features/admin/product/managing_product_reviews/sorting_product_reviews.feature
  src/Sylius/Behat/Context/Setup/ProductReviewContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductReviewsContext.php
  src/Sylius/Behat/Page/Admin/ProductReview/IndexPage.php
  src/Sylius/Behat/Page/Admin/ProductReview/IndexPageInterface.php
  src/Sylius/Behat/Page/Admin/ProductReview/UpdatePage.php
  src/Sylius/Behat/Resources/config/services/pages/admin/product_review.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_review/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/product_review.yml
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections/details.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections/details/comment.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections/details/rating.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections/details/title.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections/info.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections/info/author.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections/info/product.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections/info/status.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/form_theme.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/grid/field/state.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/grid/field/status.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/action/apply_transition.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/helper/icon.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/helper/product_image.html.twig
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
Labels: Behat, Admin

#16335 [Inventory] Adjust OrderInventoryOperator spec for exceptions changes
  src/Sylius/Component/Core/spec/Inventory/Operator/OrderInventoryOperatorSpec.php
Labels: Maintenance

#16333 [Inventory] Deprecate extending \InvalidArgumentException by inventory exceptions
  UPGRADE-1.14.md
Labels: Maintenance

#16332 [Admin][Review] Split product and author info into hooks
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_review/update.yaml
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections/info/author.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections/info/author/body.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections/info/author/footer.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections/info/author/header.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections/info/product.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections/info/product/body.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections/info/product/footer.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections/info/product/header.html.twig
Labels: Admin

#16325 [Admin][Review] Add stars for rating field
  src/Sylius/Behat/Context/Setup/ProductReviewContext.php
  src/Sylius/Behat/Page/Admin/ProductReview/UpdatePage.php
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_rating.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/main.scss
  src/Sylius/Bundle/AdminBundle/templates/product_review/form/sections/info/status.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_review/form_theme.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/helper/icon.html.twig
Labels: UX, Admin

#16344 [Inventory] Extract service for checking reserved stock availability for given order item
  UPGRADE-1.12.md
  src/Sylius/Bundle/CoreBundle/EventListener/PaymentPreCompleteListener.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/CoreBundle/spec/EventListener/PaymentPreCompleteListenerSpec.php
  src/Sylius/Component/Core/Inventory/Checker/OrderItemAvailabilityChecker.php
  src/Sylius/Component/Core/Inventory/Checker/OrderItemAvailabilityCheckerInterface.php
  src/Sylius/Component/Core/spec/Inventory/Checker/OrderItemAvailabilityCheckerSpec.php
Labels: DX, Maintenance

#16350 User login and register rework
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/security.yml
  src/Sylius/Bundle/ShopBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/forgotten-password.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/layout.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/login.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/login/forgot_password.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/login/form.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/login/header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/login/register_box.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/login/submit.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/register.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/register/credentials.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/register/header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/register/information.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/register/submit.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/requestPasswordReset.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/resetPassword.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Login/_form.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Login/_header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Login/_login.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Login/_register.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Register/_form.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Register/_header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/login.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/register.html.twig
Labels: Shop

#16321 Improve Order get endpoints
  features/promotion/receiving_discount/receiving_discounts_with_product_minimum_price_specified.feature
  src/Sylius/Bundle/ApiBundle/DataProvider/OrderAdjustmentsSubresourceDataProvider.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/OrderItemsByShopUserExtension.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/OrderItemsByVisitorExtension.php
  src/Sylius/Bundle/ApiBundle/Provider/AdjustmentOrderProvider.php
  src/Sylius/Bundle/ApiBundle/Provider/AdjustmentOrderProviderInterface.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Adjustment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/security.xml
  src/Sylius/Bundle/ApiBundle/Security/OrderAdjustmentsVoter.php
  src/Sylius/Bundle/ApiBundle/spec/DataProvider/OrderAdjustmentsSubresourceDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryCollectionExtension/OrderItemsByShopUserExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryCollectionExtension/OrderItemsByVisitorExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Provider/AdjustmentOrderProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Security/OrderAdjustmentsVoterSpec.php
  tests/Api/Responses/Expected/shop/get_empty_order_items_response.json
  tests/Api/Shop/OrdersTest.php
Labels: Shop, API

#16354 [Admin][UI] Fix filters overflow
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/index/content/grid/filters.html.twig
Labels: UX, Admin

#16356 [Admin][UI] Style autocomplete clear button
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_filters.scss
Labels: UX, Admin

#16358 [API] Adjust adjustments contract tests after upmerge
  tests/Api/Shop/OrderItemsTest.php
  tests/Api/Shop/OrdersTest.php
Labels: API

#16360 Add a note to UPGRADE file about changing PaymentPreCompleteListener's constructor
  UPGRADE-1.13.md
Labels: Maintenance

#16359 [API] Upgrade newly added extensions to APIP3
  disabledTests/Api/Shop/OrderItemsTest.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/OrderItemsByShopUserExtension.php
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/OrderItemsByVisitorExtension.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryCollectionExtension/OrderItemsByShopUserExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/QueryCollectionExtension/OrderItemsByVisitorExtensionSpec.php
  tests/Api/Shop/OrderItemsTest.php
Labels: API

#16366 User account rework
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/grids/account/order.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/account.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/account/address_book.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/security.yml
  src/Sylius/Bundle/ShopBundle/Resources/private/icons/check.svg
  src/Sylius/Bundle/ShopBundle/Resources/private/icons/lock.svg
  src/Sylius/Bundle/ShopBundle/Resources/private/icons/pencil.svg
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/AddressBook/_defaultAddress.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/AddressBook/_item.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/AddressBook/create.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/AddressBook/index.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/AddressBook/layout.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/AddressBook/update.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/Order/Index/_breadcrumb.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/Order/Index/_header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/Order/Label/State/cancelled.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/Order/Label/State/fulfilled.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/Order/Label/State/new.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/Order/Show/_breadcrumb.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/Order/Show/_header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/Order/index.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/Order/show.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/address_book/create.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/address_book/default_item.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/address_book/index.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/address_book/item.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/address_book/layout.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/address_book/set_as_default.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/address_book/update.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/changePassword.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/change_password.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/dashboard.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/forgotten_password.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/layout.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/menu/content.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/order/grid/action/pay.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/order/grid/field/address.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/order/grid/field/number.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/order/grid/field/total.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/order/index.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/order/index/content.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/order/label/state/cancelled.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/order/label/state/fulfilled.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/order/label/state/new.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/order/show.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/order/show/header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/profileUpdate.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/profile_update.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/reset_password.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Menu/simple.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Shared/breadcrumbs.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Shared/buttons.html.twig
Labels: Shop

#16369 [Admin][Shipment] Cover shipment's show page
  features/admin/shipping/managing_shipments/seeing_shipment_details.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingShipmentsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingShipmentsContext.php
  src/Sylius/Behat/Page/Admin/Shipment/ShowPage.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/shipment/show.yaml
  src/Sylius/Bundle/AdminBundle/templates/shipment/macro/state_label.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shipment/show/content/header/breadcrumbs.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shipment/show/content/header/title_block/title.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shipment/show/content/page_body.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shipment/show/content/page_body/items.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shipment/show/content/page_body/items/body.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shipment/show/content/page_body/items/body/product.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shipment/show/content/page_body/items/body/variant.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shipment/show/content/page_body/items/head.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shipment/show/content/page_body/items/head/product.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shipment/show/content/page_body/items/head/variant.html.twig
Labels: Admin

#16370 [Admin] Enable scenarios for placing an order as impersonated shop user
  features/admin/placing_order_as_impersonated_shop_users.feature
Labels: Behat, Admin

#16365 [Admin][CatalogPromotion] Add browsing variants and delete catalog promotion
  features/admin/promotion/managing_catalog_promotions/browsing_variants_affected_by_catalog_promotions.feature
  features/admin/promotion/managing_catalog_promotions/filtering_variants_affected_by_catalog_promotions.feature
  features/admin/promotion/removing_catalog_promotions/removing_catalog_promotions.feature
  src/Sylius/Behat/Context/Ui/Admin/BrowsingCatalogPromotionProductVariantsContext.php
  src/Sylius/Behat/Page/Admin/CatalogPromotion/ProductVariant/IndexPage.php
  src/Sylius/Behat/Page/Admin/CatalogPromotion/ProductVariant/IndexPageInterface.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/catalog_promotion/product_variant/index.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/product_variant_with_catalog_promotion.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/catalog_promotion.yaml
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/grid/action/delete.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/product_variant/index.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/product_variant/index/content/header/breadcrumbs.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/product_variant/index/content/header/title_block/title.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/action/show.html.twig
Labels: Admin

#16371 [SF7] Add Symfony 7 support for some components
  composer.json
  src/Sylius/Abstraction/StateMachine/composer.json
  src/Sylius/Bundle/AddressingBundle/composer.json
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/ApiBundle/composer.json
  src/Sylius/Bundle/AttributeBundle/composer.json
  src/Sylius/Bundle/ChannelBundle/composer.json
  src/Sylius/Bundle/CoreBundle/composer.json
  src/Sylius/Bundle/CurrencyBundle/composer.json
  src/Sylius/Bundle/CustomerBundle/composer.json
  src/Sylius/Bundle/InventoryBundle/composer.json
  src/Sylius/Bundle/LocaleBundle/composer.json
  src/Sylius/Bundle/MoneyBundle/composer.json
  src/Sylius/Bundle/OrderBundle/composer.json
  src/Sylius/Bundle/PaymentBundle/composer.json
  src/Sylius/Bundle/PayumBundle/composer.json
  src/Sylius/Bundle/ProductBundle/composer.json
  src/Sylius/Bundle/PromotionBundle/composer.json
  src/Sylius/Bundle/ReviewBundle/composer.json
  src/Sylius/Bundle/ShippingBundle/composer.json
  src/Sylius/Bundle/ShopBundle/composer.json
  src/Sylius/Bundle/TaxationBundle/composer.json
  src/Sylius/Bundle/TaxonomyBundle/composer.json
  src/Sylius/Bundle/UiBundle/composer.json
  src/Sylius/Bundle/UserBundle/composer.json
  src/Sylius/Component/Addressing/composer.json
  src/Sylius/Component/Attribute/composer.json
  src/Sylius/Component/Channel/composer.json
  src/Sylius/Component/Core/composer.json
  src/Sylius/Component/Currency/composer.json
  src/Sylius/Component/Customer/composer.json
  src/Sylius/Component/Inventory/composer.json
  src/Sylius/Component/Locale/composer.json
  src/Sylius/Component/Order/composer.json
  src/Sylius/Component/Payment/composer.json
  src/Sylius/Component/Product/composer.json
  src/Sylius/Component/Promotion/composer.json
  src/Sylius/Component/Review/composer.json
  src/Sylius/Component/Shipping/composer.json
  src/Sylius/Component/Taxation/composer.json
  src/Sylius/Component/Taxonomy/composer.json
  src/Sylius/Component/Taxonomy/spec/Model/TaxonSpec.php
  src/Sylius/Component/User/composer.json
Labels: Admin, Shop, API

#16376 Add styles for reviews
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/Resources/private/icons/star.svg
  src/Sylius/Bundle/ShopBundle/Resources/private/scss/_rating.scss
  src/Sylius/Bundle/ShopBundle/Resources/views/Form/theme.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/show/main/latest_reviews.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/ProductReview/actions.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/ProductReview/create.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/ProductReview/form.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/ProductReview/list.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/ProductReview/list/header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/ProductReview/product_card.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/ProductReview/single.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Shared/macro/rating.html.twig
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
Labels: Shop

#16378 [Admin][Product] Add required mark to required product attributes
  src/Sylius/Bundle/AdminBundle/templates/product/form/sections/attributes.html.twig
Labels: Admin

#16372 [SF7] Add Symfony 7 support for Taxonomy bundle
  .github/workflows/ci_static-checks.yaml
  src/Sylius/Bundle/TaxonomyBundle/.gitignore
  src/Sylius/Bundle/TaxonomyBundle/Tests/Functional/app/config/config.yml
  src/Sylius/Bundle/TaxonomyBundle/composer.json
Labels: Maintenance, API, Docker

#16382 [SF7] Add Symfony 7 support for Currency bundle
  src/Sylius/Bundle/CurrencyBundle/.gitignore
  src/Sylius/Bundle/CurrencyBundle/composer.json
  src/Sylius/Bundle/CurrencyBundle/test/app/config/config.yml
Labels: Maintenance

#16396 [Behat] Enable Deleting Multiple Tax Rates At Once Scenario
  features/admin/taxation/managing_tax_rates/deleting_multiple_tax_rates.feature
Labels: Admin

#16388 [SF7] Add Symfony 7 support for Payment bundle
  src/Sylius/Bundle/PaymentBundle/.gitignore
  src/Sylius/Bundle/PaymentBundle/composer.json
  src/Sylius/Bundle/PaymentBundle/test/app/config/config.yml
Labels: Maintenance, Docker

#16393 [User] Update the default tokens' length and the upper limit
  UPGRADE-1.12.md
  src/Sylius/Bundle/UserBundle/DependencyInjection/Configuration.php
Labels: Maintenance, Bug

#16401 [Maintenance][API] Remove WriteListener
  composer.json
  src/Sylius/Bundle/ApiBundle/ApiPlatform/Symfony/EventListener/WriteListener.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/composer.json
Labels: Maintenance, API

#16392 [Core] Add order token length to configuration
  UPGRADE-1.12.md
  src/Sylius/Bundle/ApiBundle/CommandHandler/Cart/PickupCartHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Cart/PickupCartHandlerSpec.php
  src/Sylius/Bundle/CoreBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/CoreBundle/DependencyInjection/SyliusCoreExtension.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Sylius/Component/Core/TokenAssigner/UniqueIdBasedOrderTokenAssigner.php
  src/Sylius/Component/Core/spec/TokenAssigner/UniqueIdBasedOrderTokenAssignerSpec.php
Labels: Maintenance, API, Bug

#16397 Refactor form_theme for ShopBundle
  src/Sylius/Bundle/ShopBundle/Resources/views/Form/theme.html.twig
Labels: Shop

#16395 [Admin][UI] Unify autocomplete styles
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers.json
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_filters.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_tom-select.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/main.scss
Labels: Admin

#16411 [Admin] Fix UI Building Process
  src/Sylius/Bundle/AdminBundle/package.json
Labels: Admin

#16416 [Behat] Enable Payment Method Removing Scenarios
  features/admin/payment/managing_payment_methods/deleting_payment_method.feature
  features/admin/payment/managing_payment_methods/preventing_deletion_of_used_payment_method.feature
Labels: Behat, Admin

#16415 Remove product search from side menu
  features/admin/searching_products_via_the_dashboard_search_field.feature
  src/Sylius/Behat/Context/Ui/Admin/DashboardContext.php
  src/Sylius/Behat/Page/Admin/DashboardPage.php
  src/Sylius/Behat/Page/Admin/DashboardPageInterface.php
  src/Sylius/Bundle/AdminBundle/Menu/MainMenuBuilder.php
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/sidebar/menu/menu.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/sidebar/search.html.twig
Labels: Admin

#16414 Add missing required field mark and error messages to product option value field
  src/Sylius/Bundle/AdminBundle/templates/product_option/form/sections/values/value/translations.html.twig
Labels: Admin

#16391 Change channel form layout in admin panel
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/channel/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/channel/update.yaml
  src/Sylius/Bundle/AdminBundle/templates/channel/form/sections.html.twig
  src/Sylius/Bundle/AdminBundle/templates/channel/form/sections/general.html.twig
  src/Sylius/Bundle/AdminBundle/templates/channel/form/sections/general/code.html.twig
  src/Sylius/Bundle/AdminBundle/templates/channel/form/sections/general/color.html.twig
  src/Sylius/Bundle/AdminBundle/templates/channel/form/sections/general/enabled.html.twig
  src/Sylius/Bundle/AdminBundle/templates/channel/form/sections/general/hostname.html.twig
  src/Sylius/Bundle/AdminBundle/templates/channel/form/sections/general/name.html.twig
  src/Sylius/Bundle/AdminBundle/templates/channel/form/sections/look_and_feel.html.twig
  src/Sylius/Bundle/AdminBundle/templates/channel/form/sections/money.html.twig
  src/Sylius/Bundle/AdminBundle/templates/channel/form/sections/omnibus.html.twig
  src/Sylius/Bundle/AdminBundle/templates/channel/form/sections/shop_billing_data.html.twig
Labels: Admin

#16421 [API] Disable uncovered managing options scenarios
  features/admin/product/managing_product_options/adding_product_option.feature
  features/admin/product/managing_product_options/editing_product_option.feature
  features/admin/product/managing_product_options/managing_values_of_product_option.feature
Labels: Behat, API

#16431 [CI] Change the version of Chrome
  .github/workflows/ci_e2e-mysql.yaml
Labels: Maintenance, CI

#16432 [CI] Change the version of Chrome from hardcoded one to stable
  .github/workflows/ci_e2e-mysql.yaml
Labels: Maintenance, CI

#16426 Fix typos in the product options twig hooks
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_option/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_option/update.yaml
  src/Sylius/Bundle/AdminBundle/Twig/Component/ProductOption/FormComponent.php
Labels: Admin

#16417 Bootstrap shop contact form
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/Resources/views/Contact/form.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Contact/header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Contact/request.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Contact/submit.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Layout/Footer/_menu.html.twig
Labels: Shop

#16438 [Behat] Temporarily disable scenario for creating catalog promotion with dates
  features/admin/promotion/managing_catalog_promotions/creating_catalog_promotion.feature
Labels: Behat, Admin

#16439 Correct wrong command in the platform's cron example docs
  docs/cookbook/deployment/advanced-sylius-cloud-configuration.rst
Labels: Documentation

#16441 Update README.md
  README.md
Labels: Maintenance

#16437 [Admin] Product Attributes View - Configurations
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductAttributesContext.php
  src/Sylius/Behat/Page/Admin/Crud/CreatePage.php
  src/Sylius/Behat/Page/Admin/ProductAttribute/CreatePage.php
  src/Sylius/Behat/Page/Admin/ProductAttribute/CreatePageInterface.php
  src/Sylius/Behat/Page/Admin/ProductAttribute/UpdatePage.php
  src/Sylius/Behat/Page/Admin/ProductAttribute/UpdatePageInterface.php
  src/Sylius/Behat/Resources/config/services/pages/admin/product_attribute.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_attribute/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_attribute/update.yaml
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/configuration.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/configuration/date/format.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/configuration/datetime/format.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/configuration/select/choices.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/configuration/select/max_entries.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/configuration/select/min_entries.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/configuration/select/multiple.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/configuration/text/max_length.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/configuration/text/min_length.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/details.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/details/code.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/details/position.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/details/translatable.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/details/type.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/translations.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form_theme.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/helper/translations.html.twig
Labels: Admin

#16436 Sylius Plus modular installation and upgrading
  docs/book/installation/sylius_plus_installation.rst
  docs/book/installation/sylius_plus_upgrading.rst
Labels: Documentation, Plus

#16435 [CI] Update Upmerge Strategy
  .github/workflows/upmerge_pr.yaml
Labels: Maintenance, CI

#16422 [Admin][UI] Fix autocomplete on the attributes tab
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_tom-select.scss
Labels: Admin

#16428 Add missing styles for category sidebar, fix layout for mobile
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/index.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/index/main/header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/index/sidebar/vertical_menu.html.twig
Labels: Shop

#16424 Styles for thank-you page
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/order.yml
  src/Sylius/Bundle/ShopBundle/Resources/views/Order/thankYou.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Order/thank_you.html.twig
Labels: Shop

#16440 Styles for user navigation
  src/Sylius/Bundle/ShopBundle/Controller/SecurityWidgetController.php
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/Resources/views/Layout/Header/_security.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Layout/Header/security.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Layout/Header/security_widget.html.twig
Labels: Shop

#16455 [Admin][UI] Reorganize navbar on mobile
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/common/component/navbar.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/common/component/sidebar.yaml
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/navbar.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/navbar/items.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/navbar/menu.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/sidebar/user.html.twig
Labels: Admin

#16459 Styles for changing payment method after checkout
  src/Sylius/Bundle/ShopBundle/Resources/views/Order/header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Order/show.html.twig
Labels: Shop

#16461 Fix accordion path
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/show/main/accordion.html.twig
Labels: Shop

#16456 Add taxon image to category page header
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/index/main/header_taxonomy.html.twig
Labels: Shop

#16465 Deprecate CustomerTypeExtension and AddUserFormSubscriber
  src/Sylius/Bundle/CoreBundle/Form/EventSubscriber/AddUserFormSubscriber.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/CustomerTypeExtension.php
  src/Sylius/UPGRADE-1.14.md
Labels: Maintenance

#16473 Fix template paths
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/show/accordion/attributes.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/show/accordion/reviews.html.twig
Labels: Shop

#16452 [Docs] Add a link to the database schema
  docs/book/installation/requirements.rst
  docs/cookbook/configuration/installation-commands.rst
  docs/customization/model.rst
Labels: Documentation

#16480 Changed sylius logo to svg
  src/Sylius/Bundle/ShopBundle/Resources/views/error404.html.twig
Labels: Shop

#16470 Styles for thank-you page after registration
  src/Sylius/Bundle/ShopBundle/Controller/RegistrationThankYouController.php
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/register/register_thank_you.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/registerThankYou.html.twig
Labels: Shop

#16467 Add styles for alerts
  src/Sylius/Bundle/ShopBundle/Resources/views/ProductReview/list.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Shared/flashes.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Shared/macro/messages.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Shared/messages.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/layout.html.twig
Labels: Shop

#16482 [Admin] Cover product options index
  features/admin/product/managing_product_options/filtering_product_options.feature
  features/admin/promotion/managing_catalog_promotions/catalog_promotion_filtration/filtering_catalog_promotions_by_search.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductOptionsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCustomersContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductOptionsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Context/Ui/Admin/SearchFilterContext.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FilterElement.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FilterElementInterface.php
  src/Sylius/Behat/Element/Admin/Crud/Index/SearchFilterElement.php
  src/Sylius/Behat/Element/Admin/Crud/Index/SearchFilterElementInterface.php
  src/Sylius/Behat/Page/Admin/Customer/IndexPage.php
  src/Sylius/Behat/Page/Admin/Customer/IndexPageInterface.php
  src/Sylius/Behat/Page/Admin/Product/IndexPage.php
  src/Sylius/Behat/Page/Admin/Product/IndexPageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/services/elements/admin.xml
  src/Sylius/Behat/Resources/config/suites/ui/product/managing_product_options.yml
  src/Sylius/Behat/Resources/config/suites/ui/product/managing_products.yml
  src/Sylius/Behat/Resources/config/suites/ui/promotion/managing_catalog_promotions.yml
  src/Sylius/Behat/Resources/config/suites/ui/user/managing_customers.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/product_option.yml
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/field/name.html.twig
Labels: DX, Behat, Admin

#16478 [Admin] Extract and cover ProductTaxon index
  features/admin/product/managing_products/sorting_products_within_a_taxon_by_position.feature
  src/Sylius/Behat/Page/Admin/Product/IndexPerTaxonPage.php
  src/Sylius/Behat/Resources/config/services/pages/admin/product.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/common/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_taxon/index.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/taxon/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/product_from_taxon.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/product_taxon.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/ajax/product_taxon.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/product.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/product_taxon.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/twig/component.xml
  src/Sylius/Bundle/AdminBundle/Twig/Component/Shared/RenderEntityWithTemplateComponent.php
  src/Sylius/Bundle/AdminBundle/templates/product_taxon/grid/action/update_positions.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_taxon/grid/field/position.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_taxon/index.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_taxon/index/content/header/breadcrumbs.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_taxon/index/content/header/title_block/title.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/components/render_entity_with_template.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/index.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/action/delete.html.twig
  src/Sylius/Bundle/AdminBundle/templates/taxon/helper/tree.html.twig
  src/Sylius/Bundle/AdminBundle/templates/taxon/update/content/header/title_block/actions/manage_product_positions.html.twig
  src/Sylius/Bundle/CoreBundle/Controller/ProductTaxonController.php
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/ProductRepository.php
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/ProductTaxonRepository.php
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
  src/Sylius/Component/Core/Repository/ProductRepositoryInterface.php
  src/Sylius/Component/Core/Repository/ProductTaxonRepositoryInterface.php
Labels: Feature, Admin
