Repository Sylius/Sylius, pull requests merged in 2024-09, with the labels that each got.

#16819 Fix static analysis to support both sylius/resource-bundle 1.11 and older versions
  phpstan.neon.dist
  src/Sylius/Component/Taxonomy/spec/Model/TaxonSpec.php
Labels: Maintenance, Bug

#16822 [PHPStan] Temporarily ignore errors with ResourceBundle 1.11 to fix static analysis
  phpstan.neon.dist
Labels: Maintenance, Bug

#16813 [Shop] Enable cart promotion scenarios
  features/shop/promotion/complex_promotions.feature
  features/shop/promotion/receiving_discount/applying_only_promotions_enabled_for_given_channel.feature
  features/shop/promotion/receiving_discount/applying_promotion_with_expiration_date.feature
  features/shop/promotion/receiving_discount/receiving_discount_from_promotion_with_multiple_actions.feature
  features/shop/promotion/receiving_discount/receiving_discount_in_order_of_promotions_priority.feature
  features/shop/promotion/receiving_discount/receiving_discounts_with_product_minimum_price_specified.feature
  features/shop/promotion/receiving_discount/receiving_fixed_discount_dependent_on_channel.feature
  features/shop/promotion/receiving_discount/receiving_fixed_discount_from_cart_promotions_only_on_non_discounted_products.feature
  features/shop/promotion/receiving_discount/receiving_fixed_discount_on_cart.feature
  features/shop/promotion/receiving_discount/receiving_fixed_discount_on_items_on_price_range.feature
  features/shop/promotion/receiving_discount/receiving_fixed_discount_on_products_from_specific_taxon.feature
  features/shop/promotion/receiving_discount/receiving_fixed_discount_on_specific_products.feature
  features/shop/promotion/receiving_discount/receiving_percentage_discount_from_cart_promotions_only_on_non_discounted_products.feature
  features/shop/promotion/receiving_discount/receiving_percentage_discount_on_items_on_price_range.feature
  features/shop/promotion/receiving_discount/receiving_percentage_discount_on_products_from_specific_taxon.feature
  features/shop/promotion/receiving_discount/receiving_percentage_discount_on_specific_products.feature
  features/shop/promotion/receiving_discount/receiving_percentage_discount_promotion_on_order.feature
  features/shop/promotion/receiving_discount/receiving_stacked_promotions_with_changing_context.feature
  features/shop/promotion/reverting_discount/reverting_previously_applied_discount_on_cart.feature
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPage.php
Labels: Behat, Shop

#16824 [API][Behat] Add missing contexts to suites to fix undefined steps
  src/Sylius/Behat/Resources/config/suites/api/promotion/applying_promotion_rules.yml
  src/Sylius/Behat/Resources/config/suites/api/promotion/receiving_discount.yml
Labels: Behat, API

#16827 [Behat] Switch random JS failed scenarios to Chromedriver
  features/addressing/managing_countries/managing_provinces_of_country.feature
  features/product/managing_product_reviews/editing_product_review.feature
  features/taxonomy/managing_taxons/removing_images_of_taxon.feature
Labels: Behat

#16828 [API] Rename resources configurations + enable remaining contract tests for Customer resource
  disabledTests/Api/Shop/ShopUsersTest.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Contact.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/CustomerPassword.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/CustomerVerification.xml
  tests/Api/DataFixtures/ORM/authentication/shop_user_with_expired_reset_password_token.yaml
  tests/Api/DataFixtures/ORM/authentication/shop_user_with_reset_password_token.yaml
  tests/Api/Shop/CustomersTest.php
Labels: API

#16830 [API] Enable contract tests for statistics (without validation)
  disabledTests/Api/Admin/StatisticsTest.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/query_handlers.xml
  tests/Api/Admin/StatisticsTest.php
Labels: API

#16825 [CI] Update Sylius branches in refactor workflow
  .github/workflows/refactor.yaml
Labels: Maintenance, CI

#16826 [API][Behat] Enable currency and exchange rate scenarios
  features/shop/currency/handling_different_currencies_on_multiple_channels.feature
  features/shop/currency/switching_current_currency.feature
  features/shop/currency/viewing_exchange_rates/viewing_exchange_rates_based_on_current_channel.feature
  src/Sylius/Behat/Context/Api/Shop/CurrencyContext.php
  src/Sylius/Behat/Context/Api/Shop/ExchangeRateContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Behat/Resources/config/suites/api.yml
Labels: Behat, API

#16814 [Maintenance] Enable non-api tests again
  .github/workflows/ci__minimal.yaml
  .github/workflows/ci_e2e-custom.yaml
  .github/workflows/ci_e2e-mariadb.yaml
  .github/workflows/ci_e2e-mysql.yaml
  .github/workflows/ci_e2e-pgsql.yaml
  features/admin/product/managing_product_options/managing_values_of_product_option.feature
  features/shop/checkout/not_seeing_payment_method_instructions_on_thank_you_page_if_order_total_is_zero.feature
  features/shop/currency/switching_current_currency.feature
  features/shop/shipping/applying_shipping_fee/applying_correct_shipping_fee_with_product_taxes_on_order.feature
  features/shop/shipping/applying_shipping_fee/applying_correct_shipping_fee_with_taxes_on_order.feature
  src/Sylius/Behat/Context/Ui/Shop/Checkout/CheckoutShippingContext.php
  src/Sylius/Behat/Context/Ui/Shop/CheckoutContext.php
Labels: Maintenance, CI

#16823 [Shop] Refactor Twig components structure
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/change_password.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/base.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/cart/index.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/homepage/index.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/product/show.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/product_review/create.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/product_review/index.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/services.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component/account.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component/cart.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component/product.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component/product_review.xml
  src/Sylius/Bundle/ShopBundle/Twig/Component/Account/ChangePasswordFormComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Account/FormComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Cart/WidgetComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Common/LatestDealsComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Common/LocaleSwitcherComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Product/CardComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Product/ListComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Product/PriceComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/ProductReview/CountComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/ProductReview/ListComponent.php
  src/Sylius/Bundle/ShopBundle/templates/common/latest_deals.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/common/list.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/products.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/show/page/product_listing/association.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/show/page/product_listing/associations.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/product/horizontal_list.html.twig
Labels: Shop

#16829 Make account address create/update and default address set a live components
  features/shop/account/customer_account/address_book/adding_address.feature
  features/shop/account/customer_account/address_book/adding_address_validation.feature
  features/shop/account/customer_account/address_book/address_province_validation.feature
  features/shop/account/customer_account/address_book/deleting_address.feature
  features/shop/account/customer_account/address_book/editing_address.feature
  features/shop/account/customer_account/address_book/preventing_not_logged_user_from_operations_on_address_book.feature
  features/shop/account/customer_account/address_book/preventing_xss_attack_during_updating_address.feature
  features/shop/account/customer_account/address_book/setting_default_address.feature
  features/shop/account/customer_account/address_book/viewing_addresses.feature
  features/shop/account/customer_account/address_book/viewing_empty_address_book.feature
  src/Sylius/Behat/Page/Shop/Account/AddressBook/CreatePage.php
  src/Sylius/Behat/Page/Shop/Account/AddressBook/IndexPage.php
  src/Sylius/Behat/Page/Shop/Account/AddressBook/UpdatePage.php
  src/Sylius/Bundle/ShopBundle/Form/Type/AddressType.php
  src/Sylius/Bundle/ShopBundle/Form/Type/CustomerDefaultAddressType.php
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/address_book/create.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/address_book/index.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/address_book/update.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/account/address_book.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component/account.xml
  src/Sylius/Bundle/ShopBundle/Twig/Component/Account/Address/DefaultFormComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Account/Address/FormComponent.php
  src/Sylius/Bundle/ShopBundle/templates/account/address_book/create/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/address_book/form/create/buttons/add.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/address_book/form/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/address_book/form/update/buttons/save.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/address_book/index/addresses/list/address.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/address_book/index/addresses/list/address/actions/set_default.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/address_book/set_as_default.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/address_book/update/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/account/address_book/index/address/actions/edit.html.twig
Labels: Shop

#16843 [Composer][CI] Minor clean up
  .github/workflows/matrix.json
  composer.json
  src/Sylius/Bundle/ApiBundle/composer.json
Labels: Maintenance, API, Dependencies, CI

#16844 [API] Minor clean up of UPGRADE files
  UPGRADE-1.14.md
  UPGRADE-2.0.md
  UPGRADE-API-2.0.md
Labels: Maintenance, API

#16767 [Admin][CatalogPromotion] Fix icon for show variants link
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/catalog_promotion.yml
Labels: Admin

#16839 [2.0] Fix data grid sorting when there are no defaults
  src/Sylius/Bundle/AdminBundle/templates/shared/helper/sorting.html.twig
Labels: Admin

#16852 Remove api-platform-3 and add payment-request to upmerge workflow
  .github/workflows/upmerge_pr.yaml
Labels: Maintenance, CI

#16846 [Shop][Checkout] Upgrade addressing form to a component
  features/shop/account/customer_account/address_book/deleting_address_created_after_checkout.feature
  features/shop/account/customer_account/address_book/viewing_addresses_created_after_checkout.feature
  features/shop/checkout/ability_to_change_email_during_checkout.feature
  features/shop/checkout/addressing_order/addressing_order_with_shipping_address_when_it_is_required_one_for_channel.feature
  features/shop/checkout/addressing_order/changing_address_during_checkout.feature
  features/shop/checkout/addressing_order/choosing_billing_and_shipping_address_from_address_book.feature
  features/shop/checkout/addressing_order/choosing_province_for_country.feature
  features/shop/checkout/addressing_order/filling_billing_and_shipping_address_details.feature
  features/shop/checkout/addressing_order/filling_shipping_address_details_as_guest_with_existing_account.feature
  features/shop/checkout/addressing_order/filling_shipping_and_billing_address_details_as_guest.feature
  features/shop/checkout/addressing_order/having_default_address_preselected.feature
  features/shop/checkout/addressing_order/having_only_possible_country_preselected.feature
  features/shop/checkout/addressing_order/order_address_validation.feature
  features/shop/checkout/addressing_order/preventing_xss_attack_during_checkout.feature
  features/shop/checkout/addressing_order/restricting_list_of_countries_available_for_addressing.feature
  features/shop/checkout/addressing_order/returning_from_addressing_step_to_shop_homepage.feature
  features/shop/checkout/addressing_order/returning_to_addressing_step_with_a_different_shipping_address.feature
  features/shop/checkout/addressing_order/shipping_and_billing_address_validation.feature
  features/shop/checkout/addressing_order/sign_in_during_addressing_step.feature
  features/shop/checkout/addressing_order/specifying_province_manually.feature
  features/shop/checkout/being_able_to_modify_remaining_steps.feature
  features/shop/checkout/preventing_starting_checkout_with_empty_cart.feature
  features/shop/checkout/prices_get_updated_throughout_checkout.feature
  src/Sylius/Behat/Context/Ui/Shop/Checkout/CheckoutAddressingContext.php
  src/Sylius/Behat/Page/Shop/Checkout/AddressPage.php
  src/Sylius/Behat/Page/Shop/Checkout/AddressPageInterface.php
  src/Sylius/Behat/Page/Shop/Checkout/CompletePage.php
  src/Sylius/Behat/Resources/config/services/pages/shop/checkout.xml
  src/Sylius/Bundle/ShopBundle/Form/Type/Checkout/AddressType.php
  src/Sylius/Bundle/ShopBundle/Resources/assets/bootstrap.js
  src/Sylius/Bundle/ShopBundle/Resources/assets/controllers/ApiLoginController.js
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/checkout/address.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/checkout/shared.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/checkout.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component/checkout.xml
  src/Sylius/Bundle/ShopBundle/Twig/Component/Checkout/Address/AddressBookComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Checkout/Address/FormComponent.php
  src/Sylius/Bundle/ShopBundle/templates/checkout/address.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/address/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/address/form/addresses.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/address/form/addresses/address.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/address/form/addresses/address/address_book.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/address/form/addresses/address/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/address/form/addresses/address/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/address/form/addresses/address_book.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/address/form/addresses/different_address.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/address/form/addresses/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/address/form/addresses/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/address/form/billing_address.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/address/form/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/address/form/shipping_address.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/address/form/user.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/shared/header/account.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/shared/layout.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/shared/sidebar/summary/items/item/subtotal.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/shared/sidebar/summary/total/shipping_total.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/shared/sidebar/summary/total/taxes_total.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/form/login.html.twig
Labels: Shop

#16857 [API] Remove obsolete `PostgreSQLDriverExceptionListener` class
  UPGRADE-2.0.md
  UPGRADE-API-2.0.md
  src/Sylius/Bundle/ApiBundle/EventListener/PostgreSQLDriverExceptionListener.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Tests/Listener/PostgreSQLDriverExceptionListenerTest.php
  tests/Api/Admin/ProductVariantsTest.php
  tests/Api/Responses/admin/product_variant/get_filtered_product_variants.json
Labels: Maintenance, API

#16855 [API] Enable dashboard and homepage suites
  features/admin/browsing_administration_panel_in_proper_language.feature
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites/api.yml
  src/Sylius/Behat/Resources/config/suites/api/admin/dashboard.yaml
Labels: Behat, API

#16845 [Shop][Behat] Enable missing scenarios
  features/shop/promotion/applying_promotion_rules/reapplying_promotion_on_cart_change.feature
  features/shop/promotion/applying_promotion_rules/receiving_discount_based_on_cart_quantity.feature
  features/shop/promotion/applying_promotion_rules/receiving_discount_based_on_chosen_product.feature
  features/shop/promotion/applying_promotion_rules/receiving_discount_based_on_customer_group.feature
  features/shop/promotion/applying_promotion_rules/receiving_discount_based_on_items_from_specific_taxons.feature
  features/shop/promotion/applying_promotion_rules/receiving_discount_based_on_items_total.feature
  features/shop/promotion/applying_promotion_rules/receiving_discount_based_on_nth_order.feature
  features/shop/promotion/applying_promotion_rules/receiving_discount_based_on_total_of_items_from_specific_taxon.feature
  src/Sylius/Bundle/ShopBundle/templates/cart/index/form/sections/general/summary/estimated_cost.html.twig
Labels: Shop

#16848 [API] Enable remaining Product tests
  features/shop/product/viewing_products/viewing_diagonal_variant_options.feature
  features/shop/product/viewing_products/viewing_product_attributes.feature
  features/shop/product/viewing_products/viewing_product_enabled_variants_options_only.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductOptionsContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ProductOptionValue.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductOptionValue.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductOptionValueTranslation.xml
  src/Sylius/Bundle/ProductBundle/Doctrine/ORM/ProductAttributeValueRepository.php
  tests/Api/Admin/ProductOptionValuesTest.php
  tests/Api/Admin/ProductOptionsTest.php
  tests/Api/Responses/admin/product_option/get_product_option.json
  tests/Api/Responses/admin/product_option/get_product_option_values.json
  tests/Api/Responses/admin/product_option/get_product_options.json
  tests/Api/Responses/admin/product_option/post_product_option_response.json
  tests/Api/Responses/admin/product_option/put_product_option_response.json
  tests/Api/Responses/admin/product_option_value/get_product_option_value.json
  tests/Api/Responses/shop/product_option/get_product_option.json
  tests/Api/Responses/shop/product_option_value/get_product_option_value.json
  tests/Api/Shop/ProductOptionValuesTest.php
Labels: API

#16840 [Behat] Refine Promotion Scenarios
  features/shop/checkout/order_promotion/order_promotion_integrity_validation.feature
  features/shop/checkout/seeing_order_summary/seeing_summary_order_with_free_product.feature
  features/shop/promotion/applying_promotion_coupon/applying_promotion_coupon.feature
  features/shop/promotion/applying_promotion_coupon/applying_promotion_coupon_with_expiration_date.feature
  features/shop/promotion/applying_promotion_coupon/applying_promotion_coupon_with_per_customer_usage_limit.feature
  features/shop/promotion/applying_promotion_coupon/applying_promotion_coupon_with_usage_limit.feature
  features/shop/promotion/applying_promotion_coupon/denying_usage_of_unexisting_promotion_coupon.feature
  features/shop/promotion/applying_promotion_coupon/receiving_no_discount_if_coupon_promotion_is_not_eligible.feature
  features/shop/promotion/applying_promotion_coupon/removing_promotion_coupon.feature
  features/shop/promotion/applying_promotion_rules/reapplying_promotion_on_cart_change.feature
  features/shop/promotion/applying_promotion_rules/receiving_discount_based_on_cart_quantity.feature
  features/shop/promotion/applying_promotion_rules/receiving_discount_based_on_chosen_product.feature
  features/shop/promotion/applying_promotion_rules/receiving_discount_based_on_customer_group.feature
  features/shop/promotion/applying_promotion_rules/receiving_discount_based_on_items_from_specific_taxons.feature
  features/shop/promotion/applying_promotion_rules/receiving_discount_based_on_items_total.feature
  features/shop/promotion/applying_promotion_rules/receiving_discount_based_on_nth_order.feature
  features/shop/promotion/applying_promotion_rules/receiving_discount_based_on_nth_order_for_guest_customer.feature
  features/shop/promotion/applying_promotion_rules/receiving_discount_based_on_total_of_items_from_specific_taxon.feature
  features/shop/promotion/receiving_discount/applying_only_promotions_enabled_for_given_channel.feature
  features/shop/promotion/receiving_discount/applying_promotion_with_expiration_date.feature
  features/shop/promotion/reverting_discount/reverting_previously_applied_discount_on_cart.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Setup/PromotionContext.php
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPage.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPageInterface.php
Labels: API

#16856 [Api] Cover sorting and filtering of resources
  features/admin/locale/managing_locales/filtering_locales.feature
  features/admin/payment/managing_payments/sorting_payments.feature
  features/admin/product/managing_products/filtering_products_by_search.feature
  features/admin/product/managing_products/filtering_products_by_taxons.feature
  features/admin/promotion/managing_catalog_promotions/filtering_variants_affected_by_catalog_promotions.feature
  features/admin/user/managing_customer_groups/filtering_customer_groups.feature
  features/admin/user/managing_customer_groups/sorting_customer_groups.feature
  features/admin/user/managing_customers/browsing_customers.feature
  features/admin/user/managing_customers/filtering_customers_by_groups.feature
  features/admin/user/managing_customers/filtering_customers_by_search.feature
  features/admin/user/managing_customers/sorting_customers.feature
  src/Sylius/Behat/Context/Api/Admin/BrowsingCatalogPromotionProductVariantsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCustomerGroupsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCustomersContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingLocalesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingPaymentsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingProductsContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/CatalogPromotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/CustomerGroup.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Locale.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Payment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/PaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  tests/Api/Responses/admin/customer/get_customers_response.json
  tests/Api/Responses/admin/customer_group/get_customer_groups_response.json
  tests/Api/Responses/admin/locale/get_locales_response.json
  tests/Api/Responses/admin/payment/get_payments.json
  tests/Api/Responses/admin/payment/get_payments_filtered_by_state.json
  tests/Api/Responses/admin/product/get_products_response.json
  tests/Api/Responses/admin/product/get_products_response_with_image_filter.json
  tests/Api/Responses/admin/product_variant/get_filtered_product_variants.json
  tests/Api/Responses/admin/product_variant/get_product_variants_response.json
  tests/Api/Responses/shop/product/get_products_collection_response.json
  tests/Api/Responses/shop/product/get_products_collection_with_associations_response.json
  tests/Api/Responses/shop/product/get_products_with_reviews.json
Labels: API

#16861 [Shop] Currency switcher
  features/shop/cart/shopping_cart/changing_display_currency_of_cart.feature
  features/shop/cart/shopping_cart/currency_rounding_edge_case.feature
  features/shop/currency/handling_different_currencies_on_multiple_channels.feature
  features/shop/currency/switching_current_currency.feature
  src/Sylius/Behat/Context/Ui/Shop/CurrencyContext.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPage.php
  src/Sylius/Bundle/ShopBundle/Controller/CurrencySwitchController.php
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/base.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/controller.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component/product.xml
  src/Sylius/Bundle/ShopBundle/Twig/Component/Common/CurrencySwitcherComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Common/LocaleSwitcherComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Common/ProductOriginalPriceComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Common/ProductPriceComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Product/PriceComponent.php
  src/Sylius/Bundle/ShopBundle/templates/cart/index/form/sections/general/summary/taxes_total.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/common/card.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/common/original_price.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/common/price.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/top_bar/currency_switch.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/top_bar/currency_switcher.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/top_bar/locale_switcher.html.twig
Labels: Shop

#16853 [API] Enable the remaining cart suites
  features/shop/cart/shopping_cart/allowing_access_only_for_correctly_logged_in_users.feature
  src/Sylius/Behat/Resources/config/services/contexts/hybrid.xml
  src/Sylius/Behat/Resources/config/suites/api.yml
  src/Sylius/Behat/Resources/config/suites/hybrid.yml
Labels: API

#16867 [Behat][Checkout] Enable shipping step tests
  features/shop/checkout/being_able_to_modify_remaining_steps.feature
  features/shop/checkout/picking_up_the_cart_with_the_locale_other_than_the_default.feature
  features/shop/checkout/prices_get_updated_throughout_checkout.feature
  features/shop/checkout/shipping_order/preventing_not_available_shipping_method_selection.feature
  features/shop/checkout/shipping_order/preventing_placing_order_with_disabled_shipping_method.feature
  features/shop/checkout/shipping_order/preventing_shipping_step_completion_without_a_selected_method.feature
  features/shop/checkout/shipping_order/returning_from_shipping_step_to_addressing_step.feature
  features/shop/checkout/shipping_order/seeing_default_shipping_method_selected_based_on_shipping_address.feature
  features/shop/checkout/shipping_order/seeing_shipping_fee.feature
  features/shop/checkout/shipping_order/seeing_shipping_fee_on_multiple_channels.feature
  features/shop/checkout/shipping_order/seeing_shipping_method_when_all_units_match_to_shipping_category.feature
  features/shop/checkout/shipping_order/seeing_shipping_method_when_at_least_one_unit_match_to_shipping_method.feature
  features/shop/checkout/shipping_order/seeing_shipping_method_when_no_units_match_to_shipping_category.feature
  features/shop/checkout/shipping_order/selecting_order_shipping_method.feature
  features/shop/checkout/shipping_order/shipping_method_integrity_validation.feature
  features/shop/checkout/shipping_order/sorting_shipping_method_selection.feature
  features/shop/checkout/skipping_shipping_and_payment_step_when_order_does_not_require_any_shipping_and_its_total_is_zero.feature
  features/shop/checkout/skipping_shipping_step_when_only_one_shipping_method_is_available.feature
  features/shop/checkout/skipping_shipping_step_when_order_does_not_require_any_shipping.feature
  features/shop/shipping/applying_shipping_fee/applying_correct_shipping_fee_on_order.feature
  features/shop/shipping/applying_shipping_fee/applying_correct_shipping_fee_with_product_taxes_on_order.feature
  features/shop/shipping/applying_shipping_fee/applying_correct_shipping_fee_with_taxes_on_order.feature
  features/shop/shipping/applying_shipping_method_rules/seeing_estimated_shipping_cost_based_on_items_total.feature
  features/shop/shipping/applying_shipping_method_rules/seeing_estimated_shipping_cost_based_on_total_weight.feature
  features/shop/shipping/applying_shipping_method_rules/viewing_available_shipping_methods_based_on_items_total.feature
  features/shop/shipping/applying_shipping_method_rules/viewing_available_shipping_methods_based_on_items_total_with_taxes_and_promotions.feature
  features/shop/shipping/applying_shipping_method_rules/viewing_available_shipping_methods_based_on_total_weight.feature
  features/shop/shipping/viewing_shipping_methods/viewing_available_shipping_methods_based_on_channel_as_a_shop_user.feature
  features/shop/shipping/viewing_shipping_methods/viewing_available_shipping_methods_based_on_channel_as_a_visitor.feature
  src/Sylius/Behat/Context/Ui/Shop/Checkout/CheckoutShippingContext.php
  src/Sylius/Behat/Page/Shop/Checkout/SelectShippingPage.php
Labels: Shop

#16868 Cover the scenario for allowing access for only correctly logged in users
  features/cart/shopping_cart/allowing_access_only_for_correctly_logged_in_users.feature
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
  src/Sylius/Behat/Context/Ui/Shop/Checkout/CheckoutAddressingContext.php
  src/Sylius/Behat/Context/Ui/Shop/Checkout/CheckoutCompleteContext.php
  src/Sylius/Behat/Context/Ui/Shop/Checkout/CheckoutPaymentContext.php
  src/Sylius/Behat/Context/Ui/Shop/Checkout/CheckoutShippingContext.php
  src/Sylius/Behat/Context/Ui/Shop/Checkout/CheckoutThankYouContext.php
  src/Sylius/Behat/Resources/config/suites/ui.yml
  src/Sylius/Behat/Resources/config/suites/ui/cart/accessing_cart.yaml
Labels: Behat

#16875 [ApiBundle] Extract AsMessageHandler check in PHPSpec
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/UpdateCartHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Customer/RemoveShopUserHandler.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/ChangePaymentMethodHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/RegisterShopUserHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/RequestResetPasswordTokenHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/RequestShopUserVerificationHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/ResetPasswordHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/SendAccountRegistrationEmailHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/SendResetPasswordEmailHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/SendShopUserVerificationEmailHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/VerifyShopUserHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Cart/AddItemToCartHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Cart/BlameCartHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Cart/ChangeItemQuantityInCartHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Cart/InformAboutCartRecalculationHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Cart/PickupCartHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Cart/RemoveItemFromCartHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Catalog/AddProductReviewHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/ChoosePaymentMethodHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/ChooseShippingMethodHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/CompleteOrderHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/SendOrderConfirmationHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/SendShipmentConfirmationEmailHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/ShipShipmentHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/UpdateCartHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Customer/RemoveShopUserHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/MessageHandlerAttributeTrait.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Promotion/GeneratePromotionCouponHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/SendContactRequestHandlerSpec.php
Labels: DX, API

#16882 [Shop][Checkout] Preselect country in addressing form
  features/shop/checkout/addressing_order/shipping_and_billing_address_validation.feature
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Behat/Context/Ui/Shop/Checkout/CheckoutAddressingContext.php
  src/Sylius/Bundle/AddressingBundle/Validator/Constraints/ProvinceAddressConstraintValidator.php
  src/Sylius/Bundle/AddressingBundle/spec/Validator/Constraints/ProvinceAddressConstraintValidatorSpec.php
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/ajax.yml
  src/Sylius/Bundle/ShopBundle/Form/Type/AddressType.php
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/ajax.yml
  src/Sylius/Bundle/ShopBundle/templates/shared/form/address.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/form/address/country.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/form/address/province.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/form/country_code.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/form/province.html.twig
Labels: Admin, Shop

#16897 [Docs] Fix link in grids customization guide
  docs/customization/grid.rst
Labels: Documentation

#16893 [API] Secure the customer GET endpoint for guest access and implement a change password endpoint
  features/shop/account/customer_account/changing_password.feature
  features/shop/account/customer_account/changing_password_validation.feature
  features/shop/account/customer_account/customer_profile_validation.feature
  src/Sylius/Behat/Context/Api/Shop/PaymentContext.php
  src/Sylius/Behat/Context/Api/Shop/ShipmentContext.php
  src/Sylius/Behat/Context/Setup/UserContext.php
  src/Sylius/Bundle/ApiBundle/Command/Account/ChangeShopUserPassword.php
  src/Sylius/Bundle/ApiBundle/Doctrine/ORM/QueryExtension/Shop/Customer/ShopUserBasedExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/ChangeShopUserPassword.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/ChangeShopUserPasswordHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/Customer/ShopUserBasedExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProvider/Shop/Payment/ItemProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProvider/Shop/Shipment/ItemProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/CorrectChangeShopUserConfirmPasswordValidatorSpec.php
  tests/Api/Shop/CustomersTest.php
Labels: API

#16902 Fix upmerge
  features/shop/account/customer_account/viewing_orders_history/order_is_always_placed_in_a_base_currency_of_a_channel.feature
  features/shop/account/customer_account/viewing_orders_history/viewing_only_my_orders.feature
  features/shop/account/customer_account/viewing_orders_history/viewing_shipment_status_on_a_placed_order_show_page.feature
Labels: Behat

#16895 [API] Cover missing suite for getting errors in admin's language
  src/Sylius/Behat/Context/Api/Admin/ManagingAdministratorsContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites/api.yml
  src/Sylius/Behat/Resources/config/suites/api/admin/locale.yaml
Labels: Behat

#16904 [Shop][Cart] Enable session related scenarios
  features/shop/cart/shopping_cart/allowing_access_only_for_correctly_logged_in_users.feature
  features/shop/cart/shopping_cart/clearing_cart_after_logging_out.feature
  features/shop/cart/shopping_cart/continuing_cart_processing_from_ui_in_api.feature
  features/shop/cart/shopping_cart/maintaining_cart_after_authorization.feature
  features/shop/cart/shopping_cart/maintaining_last_picked_up_cart.feature
  features/shop/cart/shopping_cart/maintaining_previous_cart_after_authorization.feature
  features/shop/cart/shopping_cart/updating_cart_on_checkout.feature
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPage.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPageInterface.php
  src/Sylius/Bundle/ShopBundle/templates/checkout/shared/sidebar/summary/items/item/quantity.html.twig
Labels: Shop

#16910 API Platform 3 support for payment requests
  disabledTests/Api/Admin/PaymentMethodsTest.php
  features/admin/payment/managing_payment_methods/adding_payment_method.feature
  features/admin/payment/managing_payment_methods/editing_payment_method.feature
  features/admin/payment/managing_payment_methods/editing_payment_method_with_paypal_express_checkout_gateway.feature
  features/admin/payment/managing_payment_methods/editing_payment_method_with_stripe_checkout_gateway.feature
  features/admin/payment/managing_payment_methods/payment_method_unique_code_validation.feature
  features/admin/payment/managing_payment_methods/payment_method_validation.feature
  features/shop/checkout/paying_for_order/preventing_to_pay_for_cancelled_order.feature
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/PaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  tests/Api/Admin/PaymentMethodsTest.php
Labels: API

#16903 ShopUserBasedExtension - rename function name
  src/Sylius/Bundle/ApiBundle/Doctrine/ORM/QueryExtension/Shop/Customer/ShopUserBasedExtension.php
Labels: DX, API

#16912 Add missing tags and cover scenarios in shopping_cart suite
  features/shop/cart/shopping_cart/adding_product_to_cart.feature
  features/shop/cart/shopping_cart/adding_product_to_cart_with_prices_dependent_on_channel.feature
  features/shop/cart/shopping_cart/adding_product_with_discounted_catalog_price_to_cart.feature
  features/shop/cart/shopping_cart/adding_product_with_options_to_cart.feature
  features/shop/cart/shopping_cart/adding_product_with_variants_to_cart.feature
  features/shop/cart/shopping_cart/adding_product_with_variants_with_discounted_catalog_price_to_cart.feature
  features/shop/cart/shopping_cart/adding_products_with_quantity_to_cart.feature
  features/shop/cart/shopping_cart/changing_display_currency_of_cart.feature
  features/shop/cart/shopping_cart/changing_quantity_of_product_in_cart.feature
  features/shop/cart/shopping_cart/clearing_cart.feature
  features/shop/cart/shopping_cart/clearing_cart_after_logging_out.feature
  features/shop/cart/shopping_cart/currency_rounding_edge_case.feature
  features/shop/cart/shopping_cart/having_proper_product_image_displayed_in_cart.feature
  features/shop/cart/shopping_cart/maintaining_cart_after_authorization.feature
  features/shop/cart/shopping_cart/maintaining_last_picked_up_cart.feature
  features/shop/cart/shopping_cart/maintaining_previous_cart_after_authorization.feature
  features/shop/cart/shopping_cart/removing_cart_item.feature
  features/shop/cart/shopping_cart/resolving_default_shipping_method_in_cart_summary_based_on_method_position.feature
  features/shop/cart/shopping_cart/resolving_default_shipping_method_in_cart_summary_for_simple_products.feature
  features/shop/cart/shopping_cart/seeing_detailed_information_about_cart.feature
  features/shop/cart/shopping_cart/seeing_shipping_costs_only_when_required.feature
  features/shop/cart/shopping_cart/updating_cart_on_checkout.feature
  features/shop/cart/shopping_cart/viewing_cart_summary.feature
  features/shop/cart/shopping_cart/viewing_cart_summary_in_many_channels.feature
  features/shop/cart/viewing_total_quantity_of_the_cart.feature
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
Labels: API

#16729 [CI] Upmerge Action False Positive
  .github/workflows/upmerge_pr.yaml
Labels: Maintenance

#16915 [Security] Bump twig
  composer.json
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/ChannelBundle/composer.json
  src/Sylius/Bundle/CurrencyBundle/composer.json
  src/Sylius/Bundle/InventoryBundle/composer.json
  src/Sylius/Bundle/LocaleBundle/composer.json
  src/Sylius/Bundle/MoneyBundle/composer.json
  src/Sylius/Bundle/ShopBundle/composer.json
  src/Sylius/Bundle/UiBundle/composer.json
Labels: Admin, Shop

#16916 Remove note about twig/twig from CONFLICTS.md file
  CONFLICTS.md
Labels: Maintenance, Dependencies

#16914 [Shop][Behat] Inventory scenarios
  features/shop/inventory/cart_inventory/inability_of_adding_a_product_with_insufficient_stock.feature
  features/shop/inventory/cart_inventory/prevent_buying_more_products_than_available_in_a_stock.feature
  features/shop/inventory/cart_inventory/verify_inventory_quantity_when_updating_cart_summary.feature
  features/shop/inventory/checkout_inventory/validating_product_quantity_on_checkout_complete.feature
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPage.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPageInterface.php
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
Labels: Behat, Shop

#16917 [Shop] Fix crossed shipping cost (with promo)
  src/Sylius/Bundle/ShopBundle/templates/checkout/shared/sidebar/summary/total/shipping_total.html.twig
Labels: Shop

#16921 [Checkout] Remove unneeded bracket
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_payment/form/navigation.html.twig
Labels: UX, Shop

#16922 [CI] Split JS builds for Panther and Chromedriver + add additional rerun
  .github/workflows/ci_e2e-mysql.yaml
Labels: Maintenance, CI

#16926 [SF7] Remove using container in old migrations
  src/Sylius/Bundle/CoreBundle/Migrations/Version20161214153137.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20161219160441.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20170109143010.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20171003103916.php
Labels: Maintenance

#16935 [Shop][UI] Fix Product Variant Change On The Offer Site
  src/Sylius/Bundle/ShopBundle/templates/product/show/page/info/summary/average_rating/add_review.html.twig
Labels: Shop

#16943 [Admin][UX] Remove more obsolete form components
  src/Sylius/Bundle/AdminBundle/Resources/config/services/twig/component.xml
  src/Sylius/Bundle/AdminBundle/Twig/Component/CatalogPromotion/FormComponent.php
  src/Sylius/Bundle/AdminBundle/Twig/Component/Promotion/FormComponent.php
  src/Sylius/Bundle/AdminBundle/Twig/Component/ShippingMethod/FormComponent.php
Labels: Maintenance, Admin

#16945 [Stripe] Remove deprecated gateway
  UPGRADE-2.0.md
  composer-require-checker.json
  composer.json
  features/admin/payment/managing_payment_methods/adding_payment_method.feature
  features/admin/payment/managing_payment_methods/editing_payment_method_with_stripe_checkout_gateway.feature
  features/admin/payment/managing_payment_methods/payment_method_validation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingPaymentMethodsContext.php
  src/Sylius/Behat/Context/Setup/PaymentContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingPaymentMethodsContext.php
  src/Sylius/Behat/Page/Admin/PaymentMethod/CreatePage.php
  src/Sylius/Behat/Page/Admin/PaymentMethod/CreatePageInterface.php
  src/Sylius/Behat/Page/Admin/PaymentMethod/UpdatePage.php
  src/Sylius/Behat/Page/Admin/PaymentMethod/UpdatePageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/setup.xml
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Bundle/AdminBundle/templates/payment_method/form/sections/gateway_configuration/stripe/publishable_key.html.twig
  src/Sylius/Bundle/AdminBundle/templates/payment_method/form/sections/gateway_configuration/stripe/secret_key.html.twig
  src/Sylius/Bundle/PayumBundle/DependencyInjection/Compiler/UnregisterStripeGatewayTypePass.php
  src/Sylius/Bundle/PayumBundle/Form/Type/StripeGatewayConfigurationType.php
  src/Sylius/Bundle/PayumBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/PayumBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/PayumBundle/Resources/config/validation/GatewayConfig.xml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/PayumBundle/Resources/views/Action/Stripe/obtainCheckoutToken.html.twig
  src/Sylius/Bundle/PayumBundle/SyliusPayumBundle.php
  src/Sylius/Bundle/PayumBundle/composer.json
Labels: Maintenance, Admin

#16947 [Admin] Deprecate admin routes
  UPGRADE-1.14.md
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/ajax/customer_group.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/ajax/product.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/ajax/product_attribute.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/ajax/product_option.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/ajax/product_variant.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/ajax/taxon.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/partial/address.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/partial/catalog_promotion.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/partial/channel.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/partial/customer.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/partial/order.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/partial/payment_method.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/partial/product.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/partial/product_attribute.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/partial/promotion.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/partial/shipment.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/partial/taxon.yml
Labels: Maintenance, Admin

#16954 [Shop] Deprecate unused routes
  UPGRADE-1.14.md
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/ajax/cart.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/ajax/user.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/partial/cart.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/partial/product.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/partial/product_association.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/partial/product_review.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/partial/taxon.yml
Labels: Maintenance, Shop

#16956 [Maintenance] Deprecate leftover legacy custom promotion validation
  UPGRADE-1.14.md
  src/Sylius/Bundle/ApiBundle/Validator/CatalogPromotion/FixedDiscountActionValidator.php
  src/Sylius/Bundle/ApiBundle/Validator/CatalogPromotion/ForProductsScopeValidator.php
  src/Sylius/Bundle/ApiBundle/Validator/CatalogPromotion/ForTaxonsScopeValidator.php
  src/Sylius/Bundle/ApiBundle/Validator/CatalogPromotion/ForVariantsScopeValidator.php
  src/Sylius/Bundle/ApiBundle/Validator/CatalogPromotion/PercentageDiscountActionValidator.php
  src/Sylius/Bundle/CoreBundle/CatalogPromotion/Validator/CatalogPromotionAction/FixedDiscountActionValidator.php
  src/Sylius/Bundle/CoreBundle/CatalogPromotion/Validator/CatalogPromotionScope/ForProductsScopeValidator.php
  src/Sylius/Bundle/CoreBundle/CatalogPromotion/Validator/CatalogPromotionScope/ForTaxonsScopeValidator.php
  src/Sylius/Bundle/CoreBundle/CatalogPromotion/Validator/CatalogPromotionScope/ForVariantsScopeValidator.php
  src/Sylius/Bundle/PromotionBundle/Validator/Constraints/CatalogPromotionAction.php
  src/Sylius/Bundle/PromotionBundle/Validator/Constraints/CatalogPromotionScope.php
Labels: Maintenance, API

#16958 [Maintenance] Remove `bootstrap-shop` from upmerges
  .github/workflows/upmerge_pr.yaml
Labels: Maintenance

#16966 Update state_machine.rst
  docs/customization/state_machine.rst
Labels: Documentation

#16953 Make the hash in UpdatePaymentRequest required
  src/Sylius/Bundle/ApiBundle/Command/Payment/UpdatePaymentRequest.php
Labels: API

#16944 Add asterisk next to the required fields label
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/_form.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/style.scss
Labels: Shop

#16975 [Shop][Bug] Fix twig path error
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/templates/icons/adjustments.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/bag.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/check.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/chevron-down.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/chevron-left.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/chevron-right.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/chevron-up.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/credit-card.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/facebook.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/instagram.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/lock.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/menu.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/pencil.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/plus.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/search.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/selector.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/star.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/trash.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/twitter-x.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/user.svg
  src/Sylius/Bundle/ShopBundle/templates/icons/x.svg
  src/Sylius/Bundle/ShopBundle/templates/shared/icon.html.twig
Labels: Shop

#16974 Restore missing menu template
  src/Sylius/Bundle/ShopBundle/templates/account/layout.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/menu/content.html.twig
Labels: Shop

#16976 [Maintenance] Bump minimum APIP version to 3.4.0
  composer.json
  src/Sylius/Bundle/ApiBundle/composer.json
Labels: API

#16955 SYL-3871: Flags fix
  src/Sylius/Bundle/AdminBundle/Resources/assets/images/flags/un.svg
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/ui/_flags.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/flags.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/style.scss
  src/Sylius/Bundle/ShopBundle/templates/checkout/complete/header/locale.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/top_bar/locale_switcher.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/macro/flags.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/macro/locales.html.twig
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
Labels: Admin, Shop

#16948 Unify "Apply to all" input
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_form.scss
  src/Sylius/Bundle/AdminBundle/templates/product/form/sections/attributes.html.twig
Labels: Admin

#16886 make it possible to resend order confirmation after fulfilled state
  features/order/managing_orders/resending_order_confirmation_email.feature
  src/Sylius/Bundle/OrderBundle/Resources/config/app/config.yml
Labels: Feature, Admin, API

#16891 [CI] Upgrade ResourceBundle in unstable custom build
  .github/workflows/ci_e2e-custom.yaml
Labels: Maintenance, CI

#16979 [CI] Add SyliusMailerBundle alpha version to custom build
  .github/workflows/ci_e2e-custom.yaml
Labels: Maintenance, CI

#16978 [CI] Bump up DB versions to current LTS
  .github/workflows/matrix.json
Labels: Maintenance, CI

#16980 Remove Hateoas bundle from ApiBundle test app
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/bundles.php
Labels: Maintenance, API

#16981 [CI] Extract unstable build from full builds
  .github/workflows/ci__full_1_12.yaml
  .github/workflows/ci__full_1_13.yaml
  .github/workflows/ci__full_2_0.yaml
  .github/workflows/ci__unstable.yaml
  .github/workflows/ci_e2e-unstable.yaml
Labels: Maintenance, CI

#16982 [CI] Adjust titles in custom build
  .github/workflows/ci_e2e-custom.yaml
Labels: Maintenance, CI

#16983 [CI] Minor refactor in full builds
  .github/workflows/ci__full_1_12.yaml
  .github/workflows/ci__full_1_13.yaml
  .github/workflows/ci__full_2_0.yaml
Labels: Maintenance, CI

#16984 [CI] Add PHP 8.3 to builds
  .github/workflows/matrix.json
Labels: Maintenance, CI

#16985 [CI] Fix minimal builds
  .github/workflows/ci__minimal.yaml
  composer-require-checker.json
Labels: Maintenance, CI

#16991 [API] Fix serialization group for currency get collection shop endpoint
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/shop/Currency.xml
Labels: API, Bug

#16971 [Shop] Allow using interfaces in components
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/address_book/create.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/address_book/update.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/cart/index.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/checkout/address.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/checkout/select_payment.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/product_review/create.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component/account.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component/cart.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component/checkout.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component/product.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component/product_review.xml
  src/Sylius/Bundle/ShopBundle/Twig/Component/Account/Address/DefaultFormComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Account/Address/FormComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Account/FormComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Cart/FormComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Cart/SummaryComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Cart/WidgetComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Checkout/Address/FormComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Checkout/Payment/FormComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Checkout/Shipping/FormComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Product/AddToCartFormComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Product/PriceComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Product/SummaryComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Product/Trait/ProductLivePropTrait.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Product/Trait/ProductVariantLivePropTrait.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/ProductReview/CountComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/ProductReview/FormComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/ProductReview/ListComponent.php
  src/Sylius/Bundle/ShopBundle/templates/account/address_book/form/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/index/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/address/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_payment/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product_review/create.html.twig
  src/Sylius/Bundle/UiBundle/Twig/Component/ResourceLivePropTrait.php
Labels: Enhancement, Shop

#16993 [Admin][Shop] Remove SyliusUiBundle config import
  src/Sylius/Bundle/AdminBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
Labels: Admin, Shop

#16994 Live components - minor improvements
  src/Sylius/Bundle/AdminBundle/Twig/Component/Dashboard/ChannelSelectorComponent.php
  src/Sylius/Bundle/AdminBundle/Twig/Component/Dashboard/NewOrdersComponent.php
  src/Sylius/Bundle/AdminBundle/Twig/Component/Dashboard/StatisticsComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Cart/SummaryComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Cart/WidgetComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Product/AddToCartFormComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Product/SummaryComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Product/Trait/ProductLivePropTrait.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Product/Trait/ProductVariantLivePropTrait.php
  src/Sylius/Bundle/UiBundle/Twig/Component/ResourceLivePropTrait.php
Labels: Admin, Shop

#16997 [CI] Improve notification Slack message
  .github/workflows/ci__full_1_12.yaml
  .github/workflows/ci__full_1_13.yaml
  .github/workflows/ci__full_2_0.yaml
Labels: Maintenance, CI

#17001 Remove unused urls from security
  config/packages/security.yaml
  docs/cookbook/configuration/disabling-shop-admin-api.rst
Labels: Documentation

#16988 [API] Enable PHPUnit tests in ApiBundle
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/api_platform/resources/Channel.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/api_platform/resources/Foo.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/api_platform/resources/FooSyliusResource.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/api_platform/resources/Promotion.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/config.yaml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/fixtures/channel.yaml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/legacy_api_platform/Country.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/legacy_api_platform/Foo.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/legacy_api_platform/FooSyliusResource.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/legacy_api_platform/Promotion.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/legacy_api_platform/Taxon.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/legacy_api_platform/config.yaml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/serialization/Foo.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/serialization/FooSyliusResource.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/src/Tests/FooSyliusResourceTest.php
  src/Sylius/Bundle/ApiBundle/Tests/Application/src/Tests/FooTest.php
  src/Sylius/Bundle/ApiBundle/Tests/Application/src/Tests/PromotionTest.php
  src/Sylius/Bundle/ApiBundle/Tests/Application/src/Tests/SyliusConfigMergeTest.php
  src/Sylius/Bundle/ApiBundle/Tests/Application/src/Tests/TaxonTest.php
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/ChangeAddressOrderHandlerTest.php
  src/Sylius/Bundle/ApiBundle/phpunit.xml.dist
Labels: API

#17012 [CI] Remove unused social media notifications action + minor improvements
  .github/workflows/ci__full_2_0.yaml
  .github/workflows/social-media-notifications.yaml
  .github/workflows/upmerge_pr.yaml
Labels: Maintenance, CI

#17011 [API] Make promotion coupon operations' names consistnent with other after refactor them
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/admin/PromotionCoupon.xml
Labels: API

#17008 Reorganise the twig hooks and templates for translations and divide
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/catalog_promotion/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/catalog_promotion/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_variant/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_variant/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/promotion/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/promotion/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/shipping_method/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/shipping_method/update.yaml
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/form/sections/translations.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/form/sections/translations/description.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/form/sections/translations/label.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_option/form/sections/details/translations.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_option/form/sections/translations.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_option/form/sections/translations/name.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_variant/form/sections/translations.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_variant/form/sections/translations/name.html.twig
  src/Sylius/Bundle/AdminBundle/templates/promotion/form/sections/translations.html.twig
  src/Sylius/Bundle/AdminBundle/templates/promotion/form/sections/translations/label.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shipping_method/form/translations.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shipping_method/form/translations/description.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shipping_method/form/translations/name.html.twig
Labels: Enhancement, Admin

#17013 [API] Change FQCNs to parameters
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/admin/PromotionCoupon.xml
Labels: API, Bug

#16995 Add position to ProductImage resource
  features/admin/product/managing_products/changing_images_of_product.feature
  features/admin/product/managing_products/reordering_product_images.feature
  features/shop/cart/shopping_cart/having_proper_product_image_displayed_in_cart.feature
  features/shop/product/show/viewing_product_image.feature
  features/shop/product/show/viewing_product_images.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Context/Setup/ProductContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Context/Ui/Admin/NavigatingBetweenProductShowAndEditPagesContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Element/Admin/Product/MediaFormElement.php
  src/Sylius/Behat/Element/Admin/Product/MediaFormElementInterface.php
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
  src/Sylius/Behat/Page/Shop/Product/ShowPageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Bundle/AdminBundle/Form/Type/ProductImageType.php
  src/Sylius/Bundle/AdminBundle/templates/product/form/sections/media/images.html.twig
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductImage.xml
  src/Sylius/Bundle/CoreBundle/Migrations/Version20240918120744.php
  src/Sylius/Bundle/CoreBundle/Migrations/Version20240924204424.php
  src/Sylius/Bundle/CoreBundle/Resources/config/doctrine/model/Product.orm.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/doctrine/model/ProductImage.orm.xml
  src/Sylius/Bundle/ShopBundle/templates/product/show/page/info/overview/images.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/show/page/info/overview/images/main_image.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/show/page/info/overview/images/thumbnails.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/show/page/info/overview/images/thumbnails/thumbnail.html.twig
  src/Sylius/Component/Core/Model/ProductImage.php
  src/Sylius/Component/Core/Model/ProductImageInterface.php
  tests/Api/Responses/admin/product/get_product_response.json
  tests/Api/Responses/admin/product/put_product_response.json
  tests/Api/Responses/admin/product_image/get_product_image_response.json
  tests/Api/Responses/admin/product_image/get_product_image_with_image_filter_response.json
  tests/Api/Responses/admin/product_image/get_product_images_filtered_by_variant_code_response.json
  tests/Api/Responses/admin/product_image/get_product_images_filtered_by_variant_code_with_an_image_filter_response.json
  tests/Api/Responses/admin/product_image/get_product_images_filtered_by_variant_response.json
  tests/Api/Responses/admin/product_image/get_product_images_for_product_response.json
  tests/Api/Responses/admin/product_image/get_product_images_for_product_with_an_image_filter_response.json
  tests/Api/Responses/admin/product_image/post_product_image_response.json
  tests/Api/Responses/admin/product_image/post_product_image_with_type_and_variant_response.json
  tests/Api/Responses/admin/product_image/put_product_image_response.json
Labels: Feature, Admin, Shop, API

#17015 Move position field from admin to core ProductImageType
  src/Sylius/Bundle/AdminBundle/Form/Type/ProductImageType.php
  src/Sylius/Bundle/CoreBundle/Form/Type/Product/ProductImageType.php
Labels: Enhancement

#17017 [API] Add missing endpoint for ShopUser in shop context
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShopUser.xml
  tests/Api/Responses/shop/customer/get_customer_response.json
  tests/Api/Responses/shop/customer/put_customer_response.json
  tests/Api/Shop/CustomersTest.php
Labels: API, Bug

#17018 [Composer] Bump minimum Symfony 7 version to 7.1
  .github/workflows/matrix.json
  composer.json
  src/Sylius/Abstraction/StateMachine/composer.json
  src/Sylius/Bundle/AddressingBundle/composer.json
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/ApiBundle/composer.json
  src/Sylius/Bundle/AttributeBundle/composer.json
  src/Sylius/Bundle/ChannelBundle/composer.json
  src/Sylius/Bundle/CoreBundle/composer.json
  src/Sylius/Bundle/CurrencyBundle/composer.json
  src/Sylius/Bundle/CustomerBundle/composer.json
  src/Sylius/Bundle/InventoryBundle/composer.json
  src/Sylius/Bundle/LocaleBundle/composer.json
  src/Sylius/Bundle/MoneyBundle/composer.json
  src/Sylius/Bundle/OrderBundle/composer.json
  src/Sylius/Bundle/PaymentBundle/composer.json
  src/Sylius/Bundle/PayumBundle/composer.json
  src/Sylius/Bundle/ProductBundle/composer.json
  src/Sylius/Bundle/PromotionBundle/composer.json
  src/Sylius/Bundle/ReviewBundle/composer.json
  src/Sylius/Bundle/ShippingBundle/composer.json
  src/Sylius/Bundle/ShopBundle/composer.json
  src/Sylius/Bundle/TaxationBundle/composer.json
  src/Sylius/Bundle/TaxonomyBundle/composer.json
  src/Sylius/Bundle/UiBundle/composer.json
  src/Sylius/Bundle/UserBundle/composer.json
  src/Sylius/Component/Addressing/composer.json
  src/Sylius/Component/Attribute/composer.json
  src/Sylius/Component/Channel/composer.json
  src/Sylius/Component/Core/composer.json
  src/Sylius/Component/Currency/composer.json
  src/Sylius/Component/Customer/composer.json
  src/Sylius/Component/Inventory/composer.json
  src/Sylius/Component/Locale/composer.json
  src/Sylius/Component/Order/composer.json
  src/Sylius/Component/Payment/composer.json
  src/Sylius/Component/Product/composer.json
  src/Sylius/Component/Promotion/composer.json
  src/Sylius/Component/Review/composer.json
  src/Sylius/Component/Shipping/composer.json
  src/Sylius/Component/Taxation/composer.json
  src/Sylius/Component/Taxonomy/composer.json
  src/Sylius/Component/User/composer.json
Labels: Maintenance, Dependencies, CI

#16972 SYL-3723: View store button
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/common/component/navbar.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/twig/component.xml
  src/Sylius/Bundle/AdminBundle/Twig/Component/Shared/Navbar/ShopPreviewComponent.php
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/navbar/menu.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/navbar/menu/shop_preview.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/helper/icon.html.twig
Labels: Admin

#17021 [Maintenance] Remove unneeded extended-types from form type extension tags
  src/Sylius/Bundle/CoreBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/PayumBundle/Resources/config/services/form.xml
Labels: Maintenance

#17023 [Maintenance] Update config phpstan, regenerate baseline and minor fixes
  phpstan-baseline.neon
  phpstan.neon.dist
  src/Sylius/Bundle/AddressingBundle/SyliusAddressingBundle.php
  src/Sylius/Bundle/AttributeBundle/SyliusAttributeBundle.php
  src/Sylius/Bundle/ChannelBundle/SyliusChannelBundle.php
  src/Sylius/Bundle/CoreBundle/Fixture/OptionsResolver/LazyOption.php
  src/Sylius/Bundle/CoreBundle/SyliusCoreBundle.php
  src/Sylius/Bundle/CurrencyBundle/SyliusCurrencyBundle.php
  src/Sylius/Bundle/CustomerBundle/SyliusCustomerBundle.php
  src/Sylius/Bundle/InventoryBundle/SyliusInventoryBundle.php
  src/Sylius/Bundle/LocaleBundle/SyliusLocaleBundle.php
  src/Sylius/Bundle/OrderBundle/SyliusOrderBundle.php
  src/Sylius/Bundle/PaymentBundle/SyliusPaymentBundle.php
  src/Sylius/Bundle/PayumBundle/SyliusPayumBundle.php
  src/Sylius/Bundle/ProductBundle/SyliusProductBundle.php
  src/Sylius/Bundle/PromotionBundle/SyliusPromotionBundle.php
  src/Sylius/Bundle/ReviewBundle/SyliusReviewBundle.php
  src/Sylius/Bundle/ShippingBundle/SyliusShippingBundle.php
  src/Sylius/Bundle/TaxationBundle/SyliusTaxationBundle.php
  src/Sylius/Bundle/TaxonomyBundle/SyliusTaxonomyBundle.php
  src/Sylius/Bundle/UserBundle/SyliusUserBundle.php
Labels: Maintenance

#17022 [Behat] Reorder tags
  features/admin/blocking_login_for_disabled_administrators.feature
  features/admin/channel/managing_channels/adding_new_channel_with_menu_taxon.feature
  features/admin/inventory/checkout_inventory/holding_inventory_units_during_checkout_process.feature
  features/admin/inventory/managing_inventory/decreasing_inventory_below_on_hold_validation.feature
  features/admin/inventory/managing_inventory/verify_reserved_inventory_is_back_in_stock_on_order_cancelling.feature
  features/admin/inventory/managing_inventory/viewing_product_variant_with_specify_quantity_of_items_on_hand.feature
  features/admin/payment/managing_payments/accessing_payments_order_from_payment_index.feature
  features/admin/payment/managing_payments/browsing_payments.feature
  features/admin/payment/managing_payments/filtering_payments_by_channel.feature
  features/admin/payment/managing_payments/filtering_payments_by_state.feature
  features/admin/payment/managing_payments/managing_of_payment_status.feature
  features/admin/product/managing_products/adding_product.feature
  features/admin/product/managing_products/browsing_products.feature
  features/admin/product/managing_products/deleting_product.feature
  features/admin/product/managing_products/deleting_product_with_reviews.feature
  features/admin/product/managing_products/editing_product.feature
  features/admin/product/managing_products/editing_product_slug.feature
  features/admin/product/managing_products/editing_product_slug_in_multiple_locales.feature
  features/admin/product/managing_products/filtering_products_by_channel.feature
  features/admin/product/managing_products/managing_attributes/adding_product_with_float_attribute.feature
  features/admin/product/managing_products/managing_attributes/adding_product_with_integer_attribute.feature
  features/admin/product/managing_products/managing_attributes/adding_product_with_percent_attribute.feature
  features/admin/product/managing_products/managing_attributes/adding_product_with_select_attribute.feature
  features/admin/product/managing_products/managing_attributes/adding_product_with_text_attribute.feature
  features/admin/product/managing_products/managing_attributes/adding_select_attribute_in_different_locales.feature
  features/admin/product/managing_products/managing_attributes/adding_text_attribute_in_different_locales.feature
  features/admin/product/managing_products/managing_attributes/adding_text_attributes_to_existing_product.feature
  features/admin/product/managing_products/product_validation.feature
  features/admin/product/managing_products/select_taxons_for_new_product.feature
  features/admin/product/managing_products/select_taxons_for_product.feature
  features/admin/product/managing_products/sorting_products.feature
  features/admin/product/managing_products/viewing_non_translatable_attributes.feature
  features/admin/promotion/managing_catalog_promotions/browsing_variants_affected_by_catalog_promotions.feature
  features/admin/promotion/managing_catalog_promotions/catalog_promotion_filtration/filtering_catalog_promotions_by_channel.feature
  features/admin/promotion/managing_catalog_promotions/catalog_promotion_filtration/filtering_catalog_promotions_by_end_date.feature
  features/admin/promotion/managing_catalog_promotions/catalog_promotion_filtration/filtering_catalog_promotions_by_search.feature
  features/admin/promotion/managing_catalog_promotions/catalog_promotion_filtration/filtering_catalog_promotions_by_start_date.feature
  features/admin/promotion/managing_catalog_promotions/catalog_promotion_filtration/filtering_catalog_promotions_by_status.feature
  features/admin/resetting_password.feature
  features/admin/resetting_password_validation.feature
  features/admin/signing_in_to_administration_panel.feature
  features/admin/taxation/managing_tax_rates/deleting_tax_rate.feature
  features/admin/user/managing_administrators/adding_administrator.feature
  features/admin/user/managing_administrators/adding_avatar_to_administrator.feature
  features/admin/user/managing_administrators/administrator_validation.feature
  features/admin/user/managing_administrators/browsing_administrator.feature
  features/admin/user/managing_administrators/changing_administrator_avatar.feature
  features/admin/user/managing_administrators/deleting_administrators.feature
  features/admin/user/managing_administrators/editing_administrator.feature
  features/admin/user/managing_administrators/removing_administrator_avatar.feature
Labels: Behat

#17027 [Behat] Enable impersonating scenarios
  features/admin/impersonating_customers.feature
  features/admin/placing_order_as_impersonated_shop_users.feature
  src/Sylius/Behat/Context/Ui/Admin/ImpersonatingCustomersContext.php
Labels: Behat

#17026 [Behat][Shop] Enable receiving fixed order discount scenario
  features/shop/promotion/receiving_discount/receiving_discounts_with_product_minimum_price_specified.feature
Labels: Behat, Shop

#17028 [Behat][API] Uncomment managing users suite
  features/admin/user/managing_users/changing_shop_user_password.feature
  src/Sylius/Behat/Resources/config/suites/api.yml
Labels: Behat, API

#17033 [API] Remove legacy ApiResources
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/PaymentRequest.xml
Labels: API

#17031 [CI] Add sylius-stack branch to upmerges
  .github/workflows/upmerge_pr.yaml
Labels: Maintenance, CI

#17044 [Docs] Add 2.0-dev installation instructions
  docs/book/installation/installation.rst
  docs/getting-started-with-sylius/installation.rst
Labels: Documentation

#17043 [Maintenance] Remove leftover mentions of master request related methods
  src/Sylius/Bundle/AdminBundle/EventListener/AdminFilterSubscriber.php
  src/Sylius/Bundle/AdminBundle/EventListener/ResourceDeleteSubscriber.php
  src/Sylius/Bundle/CoreBundle/Checkout/CheckoutResolver.php
  src/Sylius/Bundle/CoreBundle/EventListener/XFrameOptionsSubscriber.php
  src/Sylius/Bundle/ShopBundle/EventListener/NonChannelLocaleListener.php
  src/Sylius/Bundle/ShopBundle/EventListener/SessionCartSubscriber.php
  src/Sylius/Bundle/ShopBundle/spec/EventListener/NonChannelLocaleListenerSpec.php
Labels: Maintenance

#17055 [Admin] Render a default form (useful for custom resources)
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/admin_user/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/admin_user/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/catalog_promotion/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/catalog_promotion/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/channel/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/channel/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/common/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/common/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/country/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/country/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/currency/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/customer/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/customer/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/customer_group/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/customer_group/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/exchange_rate/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/exchange_rate/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/locale/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/order/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/payment_method/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/payment_method/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_association_type/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_association_type/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_attribute/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_attribute/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_option/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_option/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_review/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/promotion/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/promotion/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/promotion_coupon/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/promotion_coupon/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/shipping_category/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/shipping_category/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/shipping_method/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/shipping_method/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/tax_category/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/tax_category/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/tax_rate/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/tax_rate/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/zone/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/zone/update.yaml
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/content/form/sections.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/content/form/sections/general.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/content/form/sections/general/default.html.twig
Labels: DX, Admin

#17053 [API][Behat] Add Customer Persist processor
  features/admin/user/managing_customers/resetting_customer_password.feature
  features/admin/user/managing_users/changing_shop_user_password.feature
  src/Sylius/Behat/Context/Setup/UserContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/admin/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_processors.xml
  src/Sylius/Bundle/ApiBundle/StateProcessor/Admin/Customer/PersistProcessor.php
  src/Sylius/Bundle/ApiBundle/spec/StateProcessor/Admin/Customer/PersistProcessorSpec.php
Labels: API
