Repository Sylius/Sylius, pull requests merged in 2024-05, with the labels that each got.

#16202 Bump Sylius Twig Hooks to 0.2.*
  composer.json
  src/Sylius/Bundle/AdminBundle/composer.json
Labels: Maintenance, Admin

#16201 Extra Quotes in Div Class Attributes Removal
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Form/Sections/_translations.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Form/Sections/_channelPricing.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Form/Sections/_translations.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/product_association_type/form/translations.html.twig
Labels: Admin

#16142 [BootstrapAdminPanel] Payment Methods Create and Update Views
  features/admin/payment/managing_payment_methods/adding_payment_method.feature
  features/admin/payment/managing_payment_methods/browsing_payment_methods.feature
  features/admin/payment/managing_payment_methods/deleting_multiple_payment_methods.feature
  features/admin/payment/managing_payment_methods/editing_payment_method.feature
  features/admin/payment/managing_payment_methods/editing_payment_method_with_paypal_express_checkout_gateway.feature
  features/admin/payment/managing_payment_methods/editing_payment_method_with_stripe_checkout_gateway.feature
  features/admin/payment/managing_payment_methods/payment_method_unique_code_validation.feature
  features/admin/payment/managing_payment_methods/payment_method_validation.feature
  features/admin/payment/managing_payment_methods/sorting_payment_methods.feature
  features/shop/checkout/paying_for_order/paying_with_paypal_during_checkout.feature
  src/Sylius/Behat/Client/ResponseChecker.php
  src/Sylius/Behat/Client/ResponseCheckerInterface.php
  src/Sylius/Behat/Context/Api/Admin/ManagingPaymentMethodsContext.php
  src/Sylius/Behat/Context/Setup/PaymentContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingPaymentMethodsContext.php
  src/Sylius/Behat/Context/Ui/Admin/NotificationContext.php
  src/Sylius/Behat/Page/Admin/Crud/UpdatePage.php
  src/Sylius/Behat/Page/Admin/PaymentMethod/CreatePage.php
  src/Sylius/Behat/Page/Admin/PaymentMethod/UpdatePage.php
  src/Sylius/Behat/Page/Admin/PaymentMethod/UpdatePageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/payment_method/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/payment_method/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product/show.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/payment_method.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/twig/component.xml
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Helper/translations.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections/gateway_configuration.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections/gateway_configuration/paypal/password.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections/gateway_configuration/paypal/sandbox.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections/gateway_configuration/paypal/signature.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections/gateway_configuration/paypal/username.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections/gateway_configuration/stripe/publishable_key.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections/gateway_configuration/stripe/secret_key.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections/gateway_configuration/type.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections/general.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections/general/channels.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections/general/code.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections/general/enabled.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections/general/position.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections/translations.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections/translations/description.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections/translations/instructions.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/form/sections/translations/name.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/payment_method/grid/action/create.html.twig
  src/Sylius/Bundle/AdminBundle/Twig/Component/PaymentMethod/FormComponent.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/PaymentMethodTypeExtension.php
  src/Sylius/Bundle/PaymentBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/PayumBundle/Resources/config/validation/GatewayConfig.xml
Labels: Admin

#16204 [Admin][Order] Implement and cover payments handling
  features/admin/order/managing_orders/handling_order_payment/finalizing_order_payment.feature
  features/admin/order/managing_orders/handling_order_payment/placing_order_with_payment.feature
  features/admin/order/managing_orders/handling_order_payment/refunding_order_payment.feature
  src/Sylius/Behat/Page/Admin/Order/ShowPage.php
  src/Sylius/Behat/Resources/config/services/pages/admin/order.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/order/show.yaml
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/Payments/Actions/_complete.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/Payments/header.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/Payments/header/state.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/Payments/header/title.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/Payments/item/actions.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/Payments/item/actions/complete.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/Payments/item/actions/refund.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/Payments/item/amount.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/Payments/item/name.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/Payments/item/state.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/Payments/items.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/_payments.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Helper/icon.html.twig
Labels: Admin, Frontend

#16205 [Admin][Order] Implement and cover cancelling and fulfilling
  features/admin/order/managing_orders/cancelling_order.feature
  features/admin/order/managing_orders/cancelling_order_with_promotion.feature
  features/admin/order/managing_orders/fulfilling_order.feature
  src/Sylius/Behat/Page/Admin/Order/ShowPage.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/order/show.yaml
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Header/TitleBlock/_title.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Header/TitleBlock/actions/cancel.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/Payments/item/amount.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/_Shared/Label/OrderState/cancelled.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/_Shared/Label/OrderState/fulfilled.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/_Shared/Label/OrderState/new.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/history/content/header/title_block/title.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/macro/order_state_label.html.twig
Labels: Admin, Frontend

#16195 Fix Zone's Create/Update pages
  features/admin/addressing/managing_zones/adding_zone.feature
  features/admin/addressing/managing_zones/browsing_zone.feature
  features/admin/addressing/managing_zones/deleting_multiple_zones.feature
  features/admin/addressing/managing_zones/deleting_zone.feature
  features/admin/addressing/managing_zones/editing_zone.feature
  features/admin/addressing/managing_zones/zone_unique_code_validation.feature
  features/admin/addressing/managing_zones/zone_validation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCountriesContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingZonesContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCountriesContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingZonesContext.php
  src/Sylius/Behat/Element/Admin/Zone/FormElement.php
  src/Sylius/Behat/Element/Admin/Zone/FormElementInterface.php
  src/Sylius/Behat/Page/Admin/Crud/IndexPage.php
  src/Sylius/Behat/Page/Admin/Zone/CreatePage.php
  src/Sylius/Behat/Page/Admin/Zone/CreatePageInterface.php
  src/Sylius/Behat/Page/Admin/Zone/UpdatePage.php
  src/Sylius/Behat/Page/Admin/Zone/UpdatePageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/services/elements/admin.xml
  src/Sylius/Behat/Resources/config/services/pages/admin/zone.xml
  src/Sylius/Bundle/AddressingBundle/EventListener/ZoneMemberIntegrityListener.php
  src/Sylius/Bundle/AddressingBundle/Form/Type/ZoneType.php
  src/Sylius/Bundle/AddressingBundle/spec/EventListener/ZoneMemberIntegrityListenerSpec.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/ZoneTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/zone/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/zone/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/zone.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/zone.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/twig/component.xml
  src/Sylius/Bundle/AdminBundle/TwigComponent/Zone/FormComponent.php
  src/Sylius/Bundle/AdminBundle/templates/zone/form.html.twig
  src/Sylius/Bundle/AdminBundle/templates/zone/form/sections.html.twig
  src/Sylius/Bundle/AdminBundle/templates/zone/form/sections/details.html.twig
  src/Sylius/Bundle/AdminBundle/templates/zone/form/sections/details/code.html.twig
  src/Sylius/Bundle/AdminBundle/templates/zone/form/sections/details/name.html.twig
  src/Sylius/Bundle/AdminBundle/templates/zone/form/sections/details/scope.html.twig
  src/Sylius/Bundle/AdminBundle/templates/zone/form/sections/details/type.html.twig
  src/Sylius/Bundle/AdminBundle/templates/zone/form/sections/members.html.twig
  src/Sylius/Bundle/AdminBundle/templates/zone/form/sections/members/member.html.twig
  src/Sylius/Bundle/ApiBundle/Exception/ProvinceCannotBeRemoved.php
  src/Sylius/Bundle/ApiBundle/Exception/ZoneCannotBeRemoved.php
Labels: Admin

#16216 [Admin] Resending Order Confirmation Email
  features/admin/order/managing_orders/resending_order_confirmation_email.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingOrdersContext.php
  src/Sylius/Behat/Page/Admin/PaymentMethod/UpdatePage.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/order/show.yaml
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/header/title_block/actions/resend_confirmation_email.html.twig
Labels: Admin

#16185 [Admin][CatalogPromotion] Add show page
  features/admin/promotion/managing_catalog_promotions/seeing_catalog_promotion_details.feature
  src/Sylius/Behat/Page/Admin/CatalogPromotion/ShowPage.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/catalog_promotion/show.yaml
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/common/label/state/active.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/common/label/state/failed.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/common/label/state/inactive.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/common/label/state/processing.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/grid/field/state.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/header/title_block/actions.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/header/title_block/actions/update.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/header/title_block/title.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/actions.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/actions/action.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/actions/action/amount.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/actions/action/channels_amount.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/actions/action/type.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/details.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/details/channels.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/details/code.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/details/enabled.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/details/end_date.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/details/exclusive.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/details/name.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/details/priority.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/details/start_date.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/details/state.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/scopes.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/scopes/scope.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/scopes/scope/list.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/scopes/scope/type.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/translations.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/translations/description.html.twig
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/translations/label.html.twig
Labels: Admin

#16224 [Composer] Bump minimal Twig Hooks version to the latest one
  composer.json
  src/Sylius/Bundle/AdminBundle/composer.json
Labels: Admin, Dependencies

#16223 Add missing Payment's method instructions info message
  src/Sylius/Bundle/AdminBundle/templates/payment_method/form/sections/translations/instructions.html.twig
Labels: Admin

#16226 Remove unneeded placeholder from zone's scope select
  src/Sylius/Bundle/AddressingBundle/Form/Type/ZoneType.php
  src/Sylius/Bundle/AddressingBundle/Resources/translations/messages.en.yml
Labels: UX, Admin

#16241 [Security] Fixes for potential XSS in the Checkout, Address Book and Admin Panel
  features/account/customer_account/address_book/preventing_xss_attack_during_updating_address.feature
  features/checkout/addressing_order/preventing_xss_attack_during_checkout.feature
  features/product/managing_products/preventing_xss_attack_while_adding_new_product.feature
  features/product/managing_products/preventing_xss_attack_while_editing_product.feature
  features/taxonomy/managing_taxons/preventing_xss_attack_while_adding_new_taxon.feature
  src/Sylius/Behat/Context/Setup/AddressContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingTaxonsContext.php
  src/Sylius/Behat/Context/Ui/Shop/AddressBookContext.php
  src/Sylius/Behat/Context/Ui/Shop/Checkout/CheckoutAddressingContext.php
  src/Sylius/Behat/Page/Shop/Account/AddressBook/UpdatePage.php
  src/Sylius/Behat/Page/Shop/Account/AddressBook/UpdatePageInterface.php
  src/Sylius/Behat/Page/Shop/Checkout/AddressPage.php
  src/Sylius/Behat/Page/Shop/Checkout/AddressPageInterface.php
  src/Sylius/Bundle/AdminBundle/Resources/private/js/sylius-lazy-choice-tree.js
  src/Sylius/Bundle/ShopBundle/Resources/private/js/sylius-province-field.js
  src/Sylius/Bundle/UiBundle/Resources/private/js/sylius-auto-complete.js
  src/Sylius/Bundle/UiBundle/Resources/private/js/sylius-product-auto-complete.js
  src/Sylius/Bundle/UiBundle/Resources/private/js/sylius-sanitizer.js
Labels: Critical, Admin, Shop, Bug

#16232 [Maintenance] Update docker docs
  docs/book/installation/installation_with_docker.rst
  docs/cookbook/deployment/docker.rst
  docs/cookbook/deployment/map.rst.inc
  docs/cookbook/index.rst
  docs/getting-started-with-sylius/deployment.rst
Labels: Documentation, Docker

#16233 Add wider support for deprecation contract
  composer.json
Labels: Dependencies

#16242 [Maintenance] Adjust Sylius version on 1.14 branch
  composer.json
  src/Sylius/Bundle/CoreBundle/SyliusCoreBundle.php
Labels: Maintenance

#16246 Add the "sylius/state-machine-abstraction" package to the replace section in the root composer.json
  composer.json
Labels: Maintenance

#16256 [Admin][Zone] Move FormComponent
  src/Sylius/Bundle/AdminBundle/Resources/config/services/twig/component.xml
  src/Sylius/Bundle/AdminBundle/Twig/Component/Zone/FormComponent.php
Labels: Admin

#16255 [Admin][Product][ProductVariant] Managing inventory
  features/admin/inventory/checkout_inventory/holding_inventory_units_during_checkout_process.feature
  features/admin/inventory/displaying_inventory_tab_on_simple_product_edit_page.feature
  features/admin/inventory/managing_inventory/decreasing_invetory_below_on_hold_validation.feature
  features/admin/inventory/managing_inventory/verify_reserved_inventory_is_back_in_stock_on_order_cancelling.feature
  features/admin/inventory/managing_inventory/viewing_product_variant_with_specify_quantity_of_items_on_hand.feature
  src/Sylius/Behat/Context/Ui/Admin/BrowsingProductVariantsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Page/Admin/Product/FormTrait.php
  src/Sylius/Behat/Page/Admin/Product/UpdateConfigurableProductPage.php
  src/Sylius/Behat/Page/Admin/Product/UpdateConfigurableProductPageInterface.php
  src/Sylius/Behat/Page/Admin/Product/UpdateSimpleProductPage.php
  src/Sylius/Behat/Page/Admin/Product/UpdateSimpleProductPageInterface.php
  src/Sylius/Behat/Page/Admin/ProductVariant/IndexPage.php
  src/Sylius/Behat/Resources/config/suites/ui/inventory/displaying_inventory_on_edit_product_page.yml
  src/Sylius/Bundle/AdminBundle/templates/product_variant/grid/field/inventory.html.twig
Labels: Admin

#16261 [Admin] Deprecate FormTypeExtensions
  src/Sylius/Bundle/AdminBundle/Form/Extension/CatalogPromotionActionTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/CatalogPromotionScopeTypeExtension.php
  src/Sylius/UPGRADE-1.14.md
Labels: Maintenance, Admin

#16270 Remove final from the Zone's form component
  src/Sylius/Bundle/AdminBundle/Twig/Component/Zone/FormComponent.php
Labels: Admin

#16263 [Admin][UI] Add error indicators for form tabs and accordions
  package.json
  src/Sylius/Bundle/AdminBundle/Resources/assets/bootstrap.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/CompoundFormErrorsController.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_form.scss
  src/Sylius/Bundle/AdminBundle/package.json
  src/Sylius/Bundle/AdminBundle/templates/shared/form_theme.html.twig
Labels: UX, Admin, Frontend

#16268 [Admin][Product] Add view in store button
  features/admin/product/managing_products/checking_products_in_the_shop_while_editing_them.feature
  features/admin/product/viewing_product_in_admin_panel/checking_products_in_the_shop_while_viewing_them.feature
  src/Sylius/Behat/Page/Admin/Product/ShowPage.php
  src/Sylius/Behat/Page/Admin/Product/UpdateSimpleProductPage.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product/show.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product/update.yaml
  src/Sylius/Bundle/AdminBundle/templates/product/common/header/title_block/actions/view_in_store.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product/show/content/header/title_block/actions.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product/update/header/title_block/actions/more.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product/update/header/title_block/actions/more/view_in_store.html.twig
Labels: Admin

#16266 [Admin][UX] Filter translatable autocomplete results based on current locale
  src/Sylius/Bundle/AdminBundle/Form/Type/ProductAttributeAutocompleteType.php
  src/Sylius/Bundle/AdminBundle/Form/Type/ProductAutocompleteType.php
  src/Sylius/Bundle/AdminBundle/Form/Type/ProductVariantAutocompleteType.php
  src/Sylius/Bundle/AdminBundle/Form/Type/TaxonAutocompleteType.php
  src/Sylius/Bundle/AdminBundle/Form/Type/TranslatableAutocompleteType.php
  src/Sylius/Bundle/AdminBundle/Resources/config/services/form.xml
Labels: Admin

#16253 [Core] Add deprecation to StateMachineExtension
  UPGRADE-1.14.md
  src/Sylius/Bundle/CoreBundle/Twig/StateMachineExtension.php
Labels: Maintenance

#16262 [ADR] Use Separate Base Form Types Instead of Type Extensions
  adr/2024_05_15_use_separate_base_form_types_for_admin_panel_instead_of_type_extensions.md
Labels: Maintenance

#16288 [Behat] Fix scenarios for adding a taxon
  src/Sylius/Behat/Element/Admin/Taxon/FormElement.php
Labels: Behat, Admin

#16286 [Core] Add ShowAvailablePluginsCommand deprecation
  UPGRADE-1.14.md
  src/Sylius/Bundle/CoreBundle/Console/Command/Model/PluginInfo.php
  src/Sylius/Bundle/CoreBundle/Console/Command/ShowAvailablePluginsCommand.php
Labels: Maintenance

#16289 Add missing ShipmentShipType to AdminBundle
  src/Sylius/Bundle/AdminBundle/Form/Type/ShipmentShipType.php
  src/Sylius/Bundle/AdminBundle/Resources/config/services/form.xml
Labels: Admin

#16292 [Admin][Order][Show] Minor improvements
  features/admin/order/managing_orders/order_details/seeing_order_with_items.feature
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/items/body/discounted_unit_price.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/items/body/distributed_order_discount.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/items/body/subtotal.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/items/body/tax.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/items/body/total.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/items/body/unit_discount.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/items/body/unit_price.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/items/foot.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/items/foot/tax_total.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/items/foot/total.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/payments.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/summary.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/summary/items_total.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/summary/promotion_total.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/summary/shipping_total.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/summary/tax_total.html.twig
Labels: Admin

#16283 Remove UPGRADE-1.14 file on 2.0 branch
  UPGRADE-1.14.md
Labels: Maintenance

#16300 [API] Enable documentation paths hider
  src/Sylius/Bundle/ApiBundle/Resources/config/integrations/swagger.xml
Labels: DX, Maintenance, API

#16301 [Core] Remove StateMachineExtension class
  src/Sylius/Bundle/CoreBundle/Twig/StateMachineExtension.php
Labels: Maintenance

#16306 [Grid][Admin] Remove dichotomy with action templates
  src/Sylius/Bundle/AdminBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/AdminBundle/DependencyInjection/SyliusAdminExtension.php
  src/Sylius/Bundle/AdminBundle/Grid/Renderer/GridRendererInterface.php
  src/Sylius/Bundle/AdminBundle/Grid/Renderer/TwigGridRenderer.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/services.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/renderer.xml
  src/Sylius/Bundle/AdminBundle/Twig/GridExtension.php
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/action/apply_transition.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/action/archive.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/action/default.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/action/delete.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/action/link.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/action/show.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/action/update.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/item_action/create.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/item_action/default.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/item_action/link.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/item_action/links.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/helper/table.html.twig
Labels: DX, Admin

#16311 [Admin][Inventory] Cover index page with filtration and sorting
  features/admin/inventory/managing_inventory/browsing_inventory.feature
  features/admin/inventory/managing_inventory/decreasing_inventory_below_on_hold_validation.feature
  features/admin/inventory/managing_inventory/filtering_inventory_by_product.feature
  features/admin/inventory/managing_inventory/filtering_inventory_by_search.feature
  features/admin/inventory/managing_inventory/sorting_inventory.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingInventoryContext.php
  src/Sylius/Behat/Page/Admin/Crud/IndexPage.php
  src/Sylius/Behat/Page/Admin/Customer/IndexPage.php
  src/Sylius/Behat/Page/Admin/Inventory/IndexPage.php
  src/Sylius/Behat/Page/Admin/Inventory/IndexPageInterface.php
  src/Sylius/Behat/Page/Admin/Product/IndexPage.php
  src/Sylius/Behat/Resources/config/services/pages/admin/inventory.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/inventory.yml
Labels: Behat, Admin

#16310 [Behat] Allow to use ApiPlatformSecurityClient with another login endpoint
  src/Sylius/Behat/Client/ApiPlatformSecurityClient.php
  src/Sylius/Behat/Resources/config/services/api.xml
Labels: Enhancement, DX, Behat

#16316 [Admin] Add CSRF token and form errors to base form templates
  src/Sylius/Bundle/AdminBundle/templates/admin_user/form/sections.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/create/content/form.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/update/content/form.html.twig
  src/Sylius/Bundle/AdminBundle/templates/tax_rate/form/sections.html.twig
Labels: Admin

#16320 [Admin] Login and password reset
  features/admin/blocking_login_for_disabled_administrators.feature
  features/admin/redirecting_on_login_after_being_logout.feature
  features/admin/resetting_password.feature
  features/admin/resetting_password_validation.feature
  features/admin/securing_access_to_account_after_using_back_button_after_logging_out.feature
  features/admin/signing_in_to_administration_panel.feature
  src/Sylius/Behat/Context/Ui/Admin/LoginContext.php
  src/Sylius/Behat/Page/Admin/Account/RequestPasswordResetPage.php
  src/Sylius/Behat/Page/Admin/Account/ResetPasswordPage.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/security/login.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/security/request_password_reset.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/security/reset_password.yaml
  src/Sylius/Bundle/AdminBundle/templates/security/common/content.html.twig
  src/Sylius/Bundle/AdminBundle/templates/security/common/logo.html.twig
  src/Sylius/Bundle/AdminBundle/templates/security/login/content/form/forgot_password.html.twig
  src/Sylius/Bundle/AdminBundle/templates/security/request_password_reset.html.twig
  src/Sylius/Bundle/AdminBundle/templates/security/request_password_reset/content.html.twig
  src/Sylius/Bundle/AdminBundle/templates/security/request_password_reset/content/form.html.twig
  src/Sylius/Bundle/AdminBundle/templates/security/request_password_reset/content/form/email.html.twig
  src/Sylius/Bundle/AdminBundle/templates/security/request_password_reset/content/form/submit.html.twig
  src/Sylius/Bundle/AdminBundle/templates/security/reset_password.html.twig
  src/Sylius/Bundle/AdminBundle/templates/security/reset_password/content/form.html.twig
  src/Sylius/Bundle/AdminBundle/templates/security/reset_password/content/form/password.html.twig
  src/Sylius/Bundle/AdminBundle/templates/security/reset_password/content/form/submit.html.twig
Labels: Admin

#16329 [PHPStan] `Negated Boolean Expression Is Always True` Issue Fix
  src/Sylius/Bundle/UserBundle/Command/AbstractRoleCommand.php
Labels: Maintenance
