Repository Sylius/Sylius, pull requests merged in 2024-04, with the labels that each got.

#16078 Update the Upmerge workflow
  .github/workflows/upmerge_pr.yaml
Labels: Maintenance

#16043 [Maintenance][API] Secure and cleanup openapi documentation modifiers
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/AddressLogEntryDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/AttributeTypeDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/OrderAdjustmentsTypeDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/ProductReviewDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/ProductSlugDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/PromotionDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/ShippingMethodDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/ShopAuthenticationTokenDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/StatisticsDocumentationModifier.php
Labels: Documentation, API

#16063 [Api][Checkout] Add validation for required address
  src/Sylius/Behat/Context/Api/Shop/CheckoutContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/UpdateCart.xml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/OrderAddressRequirement.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/OrderAddressRequirementValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/OrderAddressRequirementValidatorSpec.php
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
  tests/Api/DataFixtures/ORM/cart.yaml
  tests/Api/DataFixtures/ORM/channel.yaml
  tests/Api/Responses/admin/channel/get_channels_response.json
  tests/Api/Shop/CheckoutCompletionTest.php
Labels: API

#16062 Using the service name for the availibilty checker
  UPGRADE-1.13.md
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/InventoryBundle/DependencyInjection/Configuration.php
Labels: Maintenance

#16082 [Inventory] Fix deprecation note of sylius_inventory.checker configuration
  UPGRADE-1.13.md
  src/Sylius/Bundle/InventoryBundle/DependencyInjection/Configuration.php
Labels: DX, Maintenance

#16083 Icons for Official Support menu items
  src/Sylius/Bundle/AdminBundle/Menu/MainMenuBuilder.php
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Crud/Common/Sidebar/Menu/_menu.html.twig
Labels: Admin

#16076 BUGFIX: [AdminBundle] #16031 wrap long text in notes section
  src/Sylius/Bundle/AdminBundle/Resources/private/sass/_ui.scss
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/_notes.html.twig
Labels: Admin

#16086 [API][Maintenance] Remove unnecessary enabled option
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CatalogPromotionAction.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/CatalogPromotionScope.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ChannelPricing.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShopUser.xml
Labels: API

#16087 [Behat] Remove unneeded config for sylius/calendar
  src/Sylius/Behat/Resources/config/services.xml
  src/Sylius/Behat/Resources/config/services/_calendar_services.php
Labels: Behat, Maintenance

#16088 Fix confirmation dialog
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Helper/button.html.twig
Labels: Admin

#16090 Fix table dropdowns
  src/Sylius/Bundle/AdminBundle/Resources/assets/entrypoint.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/scripts/bootstrap.js
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Helper/table.html.twig
Labels: Admin

#16093 [Admin][Customer] Add show view
  features/admin/impersonating_customers.feature
  features/admin/user/managing_customers/seeing_customer_details.feature
  features/admin/user/managing_customers/seeing_orders_statistics_on_customer_details_page.feature
  features/admin/user/managing_customers/seeing_province_created_manually_on_customer_details_page.feature
  features/admin/user/managing_users/deleting_account.feature
  src/Sylius/Behat/Context/Ui/Admin/ImpersonatingCustomersContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCustomersContext.php
  src/Sylius/Behat/Context/Ui/CustomerContext.php
  src/Sylius/Behat/Context/Ui/UserContext.php
  src/Sylius/Behat/Page/Admin/Customer/ShowPage.php
  src/Sylius/Behat/Page/Admin/Customer/ShowPageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/suites/ui/user/managing_customers.yml
  src/Sylius/Bundle/AdminBundle/Event/CustomerShowMenuBuilderEvent.php
  src/Sylius/Bundle/AdminBundle/Menu/CustomerShowMenuBuilder.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/customer/show.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/twig_component.xml
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Component/orderStatistics.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/Header/TitleBlock/Actions/_delete.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/Header/TitleBlock/Actions/_edit.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/Header/TitleBlock/Actions/_impersonate.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/Header/TitleBlock/Actions/_showOrders.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/Header/TitleBlock/_actions.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/Header/TitleBlock/_title.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/Header/_breadcrumbs.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/Sections/Details/_customerSince.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/Sections/Details/_defaultAddress.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/Sections/Details/_email.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/Sections/Details/_emailVerified.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/Sections/Details/_firstName.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/Sections/Details/_groupMembership.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/Sections/Details/_lastName.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/Sections/Details/_phone.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/Sections/Details/_subscribedToNewsletter.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/Sections/_details.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Customer/Show/Content/_sections.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Helper/accordion.html.twig
  src/Sylius/Bundle/AdminBundle/TwigComponent/Customer/OrderStatistics.php
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
Labels: Admin, Frontend

#16099 BUGFIX: [ShopBundle] #16068 wrap long text in product description
  src/Sylius/Bundle/ShopBundle/Resources/private/scss/theme.scss
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Show/Tabs/_details.html.twig
Labels: Shop

#16103 [Maintenance] Deprecate `SyliusLocaleEvents`
  UPGRADE-1.13.md
  src/Sylius/Component/Core/SyliusLocaleEvents.php
Labels: Maintenance

#16075 Cover scenarios related to creating a simple/configurable product
  features/admin/product/managing_products/adding_product.feature
  features/admin/product/managing_products/managing_attributes/adding_product_with_date_attribute.feature
  features/admin/product/managing_products/managing_attributes/adding_product_with_datetime_attribute.feature
  features/admin/product/managing_products/managing_attributes/adding_product_with_float_attribute.feature
  features/admin/product/managing_products/managing_attributes/adding_product_with_integer_attribute.feature
  features/admin/product/managing_products/managing_attributes/adding_product_with_percent_attribute.feature
  features/admin/product/managing_products/managing_attributes/adding_product_with_select_attribute.feature
  features/admin/product/managing_products/managing_attributes/adding_product_with_text_attribute.feature
  features/admin/product/managing_products/managing_attributes/adding_select_attribute_in_different_locales.feature
  features/admin/product/managing_products/managing_attributes/adding_text_attribute_in_different_locales.feature
  features/admin/product/managing_products/managing_attributes/adding_text_attributes_to_existing_product.feature
  phpstan.neon.dist
  src/Sylius/Behat/Page/Admin/Product/CreateConfigurableProductPage.php
  src/Sylius/Behat/Page/Admin/Product/CreateSimpleProductPage.php
  src/Sylius/Behat/Page/Admin/Product/FormTrait.php
  src/Sylius/Behat/Page/Admin/Product/UpdateSimpleProductPage.php
  src/Sylius/Behat/Resources/config/services/pages/admin/product.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/twig_component.xml
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Form/Sections/_channelPricing.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Form/Sections/_details.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Form/Sections/_inventory.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Form/Sections/_shipping.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Form/Sections/_taxes.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Form/SideNavigation/_shipping.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Form/SideNavigation/_taxes.html.twig
  src/Sylius/Bundle/AdminBundle/TwigComponent/Product/FormComponent.php
  src/Sylius/Bundle/ProductBundle/Form/EventSubscriber/ProductOptionFieldSubscriber.php
  src/Sylius/Bundle/ProductBundle/Form/Type/ProductType.php
  src/Sylius/Bundle/ProductBundle/Resources/config/services/form.xml
Labels: Maintenance, Admin

#16106 Create FUNDING.yml
  .github/FUNDING.yml
Labels: Maintenance

#16084 Fix bulk delete button states
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Helper/button.html.twig
Labels: Admin

#16104 Add product variant Create Page
  features/admin/product/managing_product_variants/adding_product_variant.feature
  features/admin/product/managing_product_variants/adding_product_variant_with_only_original_price.feature
  features/admin/product/managing_product_variants/product_variant_validation.feature
  src/Sylius/Behat/Page/Admin/ProductVariant/CreatePage.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_variant/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_variant/index.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/product_variant.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/product_variant.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Form/Content/Header/breadcrumbs.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Form/Sections/_channelPricing.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Form/Sections/_details.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Form/Sections/_inventory.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Form/Sections/_taxes.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Form/Sections/_translations.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Form/SideNavigation/_channelPricing.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Form/SideNavigation/_details.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Form/SideNavigation/_inventory.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Form/SideNavigation/_taxes.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Form/SideNavigation/_translations.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Form/_sections.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Form/_sideNavigation.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Grid/Field/inventory.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Grid/Field/name.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Grid/Field/position.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/Index/index.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/_form.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Helper/channelPricings.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Helper/table.html.twig
Labels: Admin

#16114 Update php-entrypoint to give www-data permissions to public/media
  .bunnyshell/docker/php/entrypoints/php-entrypoint
Labels: Docker

#16121 Add missing breadcrumbs to product index page
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_variant/index.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/product_variant.yml
  src/Sylius/Bundle/AdminBundle/Resources/views/ChannelPricingLogEntry/Index/Content/Header/breadcrumbs.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ProductVariant/index/content/header/breadcrumbs.html.twig
Labels: Admin

#15510 [Documentation] Update docs/book/architecture/state_machine.rst
  docs/book/architecture/state_machine.rst
Labels: Documentation

#15443 Use SyliusShop macros instead of SyliusUi in shop templates
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/AddressBook/_defaultAddress.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/AddressBook/_item.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/AddressBook/index.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/Order/Grid/Action/pay.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/Order/Show/_header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Cart/Summary/_header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Cart/summary.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Checkout/Complete/_header.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Common/_address.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Label/_default.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Login/_form.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Macro/buttons.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Macro/flags.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Macro/headers.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Macro/messages.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Macro/pagination.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Modal/_confirmation.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Order/show.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/Index/_main.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/ProductReview/_list.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/_flashes.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/layout.html.twig
Labels: Shop

#16123 Add upmerging from 2.0 to api-platform-3 branch
  .github/workflows/upmerge_pr.yaml
Labels: Maintenance

#16125 [Documentation] Update release dates for 1.13 and 2.0 versions
  docs/book/organization/release-cycle.rst
Labels: Documentation, Maintenance

#16127 Fix after rebase
  src/Sylius/Bundle/ApiBundle/Attribute/LocaleCodeAware.php
Labels: API

#16128 Add twig 3.9.0 conflict
  CONFLICTS.md
  composer.json
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/ChannelBundle/composer.json
  src/Sylius/Bundle/CurrencyBundle/composer.json
  src/Sylius/Bundle/InventoryBundle/composer.json
  src/Sylius/Bundle/LocaleBundle/composer.json
  src/Sylius/Bundle/MoneyBundle/composer.json
  src/Sylius/Bundle/ShopBundle/composer.json
  src/Sylius/Bundle/UiBundle/composer.json
Labels: Maintenance, Admin, Shop

#16131 Revert conflict to twig/intl-extra
  CONFLICTS.md
  composer.json
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/ShopBundle/composer.json
Labels: Maintenance, Admin, Shop, Dependencies

#16126 Upgrade Channel resource to API Platform 3
  src/Sylius/Bundle/ApiBundle/DataPersister/ChannelDataPersister.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/Channel.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/Locale.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Channel.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ChannelPriceHistoryConfig.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Locale.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ShopBillingData.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/Channel.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_persisters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_processors.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_providers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/ChannelDenormalizer.php
  src/Sylius/Bundle/ApiBundle/SerializerContextBuilder/ChannelCodeAwareContextBuilder.php
  src/Sylius/Bundle/ApiBundle/SerializerContextBuilder/ChannelContextBuilder.php
  src/Sylius/Bundle/ApiBundle/StateProcessor/ChannelProcessor.php
  src/Sylius/Bundle/ApiBundle/StateProvider/Shop/ChannelProvider.php
  src/Sylius/Bundle/ApiBundle/disabledSpec/DataPersister/ChannelDataPersisterSpec.php
  src/Sylius/Bundle/ApiBundle/disabledSpec/DataProvider/ChannelsCollectionDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/ChannelDenormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProcessor/ChannelProcessorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProvider/Shop/ChannelProviderSpec.php
  tests/Api/Admin/ChannelsTest.php
  tests/Api/Shop/ChannelsTest.php
Labels: API

#16139 [API][Channel][Behat] Revert expected message
  src/Sylius/Behat/Context/Api/Admin/ManagingChannelsContext.php
Labels: API

#16137 [Maintenance] Disable non-ui tests in CI
  .github/workflows/ci_e2e-custom.yaml
  .github/workflows/ci_e2e-mariadb.yaml
  .github/workflows/ci_e2e-mysql.yaml
  .github/workflows/ci_e2e-pgsql.yaml
Labels: Maintenance, CI

#16138 [Maintenance] Disable non-api tests in CI
  .github/workflows/ci__minimal.yaml
  .github/workflows/ci_e2e-custom.yaml
  .github/workflows/ci_e2e-mariadb.yaml
  .github/workflows/ci_e2e-mysql.yaml
  .github/workflows/ci_e2e-pgsql.yaml
Labels: Maintenance, CI

#16143 [Maintenance] Add branch 2.0 to refactor build
  .github/workflows/refactor.yaml
Labels: Maintenance

#16132 [Admin][Channel] Fix weird behaviour with excluded taxons
  src/Sylius/Bundle/AdminBundle/Form/DataTransformer/ResourceToIdentifierTransformer.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/ChannelPriceHistoryConfigTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Resources/config/services/form.xml
Labels: Admin

#16150 Change the twig-hooks version constraint to ^0.1
  composer.json
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/ChannelBundle/composer.json
  src/Sylius/Bundle/CurrencyBundle/composer.json
  src/Sylius/Bundle/InventoryBundle/composer.json
  src/Sylius/Bundle/LocaleBundle/composer.json
  src/Sylius/Bundle/MoneyBundle/composer.json
  src/Sylius/Bundle/ShopBundle/composer.json
  src/Sylius/Bundle/UiBundle/composer.json
Labels: Admin, Shop

#16158 Update dead link in drivers.rst
  docs/book/architecture/drivers.rst
Labels: Documentation

#16152 [Admin][Customer] Implement and cover index management
  features/admin/user/managing_customers/browsing_customers.feature
  features/admin/user/managing_customers/filtering_customers_by_groups.feature
  features/admin/user/managing_customers/filtering_customers_by_search.feature
  features/admin/user/managing_customers/seeing_customer_details.feature
  features/admin/user/managing_customers/sorting_customers.feature
  src/Sylius/Behat/Context/Setup/CustomerContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCustomersContext.php
  src/Sylius/Behat/Page/Admin/Crud/IndexPage.php
  src/Sylius/Behat/Page/Admin/Customer/IndexPage.php
  src/Sylius/Behat/Page/Admin/Customer/IndexPageInterface.php
  src/Sylius/Behat/Resources/config/services/pages/admin/customer.xml
  src/Sylius/Bundle/AdminBundle/Form/Type/Grid/Filter/UxAutocompleteFilterType.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/customer.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/grid.xml
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Crud/Index/Content/Grid/_filters.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Grid/Filter/_uxAutocomplete.html.twig
Labels: Admin, Frontend

#16147 [Maintenance] Remove unused reviews listener
  UPGRADE-1.13.md
  src/Sylius/Bundle/CoreBundle/EventListener/CustomerReviewsDeleteListener.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/CustomerReviewsDeleteListenerSpec.php
Labels: Maintenance

#15384 [DX] Dispatch ui event to allow customize every choice in payment method selection
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/Resources/views/Checkout/SelectPayment/_choice.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Checkout/SelectPayment/_description.html.twig
Labels: Shop

#15417 [DX][Checkout][ShippingMethod] Dispatch new ui events
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/Resources/views/Checkout/SelectShipping/_choice.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Checkout/SelectShipping/_description.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Checkout/SelectShipping/_fee.html.twig
Labels: Shop

#16165 [Maintenance] Ecs
  src/Sylius/Behat/Context/Ui/Admin/ManagingChannelsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCountriesContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingOrdersContext.php
  src/Sylius/Behat/Context/Ui/Admin/NotificationContext.php
  src/Sylius/Behat/Element/Admin/Channel/ExcludeTaxonsFromShowingLowestPriceInputElement.php
  src/Sylius/Behat/Element/Admin/Channel/ShippingAddressInCheckoutRequiredElement.php
  src/Sylius/Behat/Element/Admin/NotificationsElement.php
  src/Sylius/Behat/Page/Admin/Channel/UpdatePageInterface.php
  src/Sylius/Behat/Page/Admin/Order/ShowPage.php
  src/Sylius/Behat/Page/Admin/Product/FormTrait.php
  src/Sylius/Behat/Page/Admin/Product/UpdateConfigurableProductPageInterface.php
  src/Sylius/Behat/Page/Admin/Product/UpdateSimpleProductPageInterface.php
  src/Sylius/Behat/Page/Admin/TaxRate/FormAwareInterface.php
  src/Sylius/Behat/Page/Admin/TaxRate/FormAwareTrait.php
  src/Sylius/Bundle/AdminBundle/Autocompleter/ProductAttributeAutocompleter.php
  src/Sylius/Bundle/AdminBundle/Form/DataTransformer/ResourceToIdentifierTransformer.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/ProductImageTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/ProductTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Form/Type/ProductAutocompleteChoiceType.php
  src/Sylius/Bundle/AdminBundle/Twig/Component/Channel/FormComponent.php
  src/Sylius/Bundle/AdminBundle/TwigComponent/Customer/OrderStatistics.php
  src/Sylius/Bundle/AdminBundle/TwigComponent/Product/FormComponent.php
  src/Sylius/Bundle/AdminBundle/TwigComponent/Product/ProductAttributeAutocompleteComponent.php
  src/Sylius/Bundle/AdminBundle/TwigComponent/Shared/Navbar/UserDropdownComponent.php
  src/Sylius/Bundle/ProductBundle/Form/EventSubscriber/ProductOptionFieldSubscriber.php
  src/Sylius/Bundle/PromotionBundle/Form/Type/AbstractConfigurablePromotionElementType.php
  src/Sylius/Bundle/UiBundle/Twig/TestFormAttributeExtension.php
  src/Sylius/Component/Core/Factory/PromotionRuleFactoryInterface.php
Labels: Admin

#16157 [Maintenance][Configuration] Deprecate unused `options` configuration nodes
  UPGRADE-1.13.md
  src/Sylius/Bundle/AddressingBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/AttributeBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/ChannelBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/CoreBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/CurrencyBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/CustomerBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/InventoryBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/LocaleBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/OrderBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/PaymentBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/PayumBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/ProductBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/PromotionBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/ReviewBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/ShippingBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/TaxationBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/TaxonomyBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/UserBundle/DependencyInjection/Configuration.php
Labels: Maintenance

#16145 Browse customer orders
  features/admin/user/managing_customers/browsing_orders_of_customer.feature
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/customer.yml
Labels: Admin

#16133 [Admin][CatalogPromotion] Add create and update pages
  features/admin/promotion/managing_catalog_promotions/adding_catalog_promotion_with_fixed_discount_where_amount_is_decimal_number_with_comma.feature
  features/admin/promotion/managing_catalog_promotions/creating_catalog_promotion.feature
  features/admin/promotion/managing_catalog_promotions/editing_catalog_promotion.feature
  features/admin/promotion/managing_catalog_promotions/prioritizing_catalog_promotions.feature
  features/admin/promotion/managing_catalog_promotions/seeing_correct_percantage_discounts_while_editing_catalog_promotion.feature
  features/admin/promotion/managing_catalog_promotions/toggling_catalog_promotion.feature
  features/admin/promotion/managing_catalog_promotions/validating_catalog_promotion_creation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCatalogPromotionsContext.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FormElement.php
  src/Sylius/Behat/Element/Admin/CatalogPromotion/FormElementInterface.php
  src/Sylius/Behat/Page/Admin/CatalogPromotion/CreatePage.php
  src/Sylius/Behat/Page/Admin/CatalogPromotion/CreatePageInterface.php
  src/Sylius/Behat/Resources/config/services/elements/admin.xml
  src/Sylius/Bundle/AdminBundle/Autocompleter/ProductVariantAutocompleter.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/CatalogPromotionActionTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/CatalogPromotionScope/ForProductsScopeConfigurationTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/CatalogPromotionScope/ForTaxonsScopeConfigurationTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/CatalogPromotionScope/ForVariantsScopeConfigurationTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/CatalogPromotionScopeTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/CatalogPromotionTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Form/Type/CatalogPromotion/AddButtonType.php
  src/Sylius/Bundle/AdminBundle/Form/Type/ProductVariantAutocompleteChoiceType.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/catalog_promotion/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/catalog_promotion/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/catalog_promotion.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/catalog_promotion.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/autocompleter.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/twig/component.xml
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/form_theme.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form/sections.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form/sections/configuration.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form/sections/configuration/enabled.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form/sections/configuration/end_date.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form/sections/configuration/exclusive.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form/sections/configuration/header.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form/sections/configuration/priority.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form/sections/configuration/start_date.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form/sections/general.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form/sections/general/channels.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form/sections/general/code.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form/sections/general/name.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form/sections/scopes_and_actions.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form/sections/scopes_and_actions/actions.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form/sections/scopes_and_actions/scopes.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form/sections/translations.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/form_theme.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/grid/action/delete.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/grid/field/date.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/grid/field/priority.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/catalog_promotion/grid/field/state.html.twig
  src/Sylius/Bundle/AdminBundle/Twig/Component/CatalogPromotion/FormComponent.php
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
Labels: Admin

#16159 [Admin][Promotion] Refactor cart promotions rules and actions
  features/admin/promotion/managing_promotions/adding_promotion.feature
  features/admin/promotion/managing_promotions/adding_promotion_with_action.feature
  features/admin/promotion/managing_promotions/adding_promotion_with_filter.feature
  features/admin/promotion/managing_promotions/adding_promotion_with_rule.feature
  features/admin/promotion/managing_promotions/editing_promotion.feature
  features/admin/promotion/managing_promotions/promotion_validation.feature
  features/admin/promotion/managing_promotions/promotions_filter_validation.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingPromotionsContext.php
  src/Sylius/Behat/Element/Admin/Promotion/FormElement.php
  src/Sylius/Behat/Element/Admin/Promotion/FormElementInterface.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/Promotion/PromotionActionTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/Promotion/PromotionRuleTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/Promotion/Rule/ContainsProductConfigurationTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/Promotion/Rule/HasTaxonConfigurationTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/Promotion/Rule/TotalOfItemsFromTaxonConfigurationTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/PromotionTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Form/Type/AddButtonType.php
  src/Sylius/Bundle/AdminBundle/Resources/config/services.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/twig/component.xml
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/form_theme.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/promotion/form.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/promotion/form/sections/rules_and_actions/actions.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/promotion/form/sections/rules_and_actions/rules.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/promotion/form_theme.html.twig
  src/Sylius/Bundle/AdminBundle/Twig/PromotionLabelsExtension.php
  src/Sylius/Bundle/AdminBundle/TwigComponent/Promotion/FormComponent.php
  src/Sylius/Component/Core/Promotion/Checker/Rule/ItemTotalRuleChecker.php
Labels: Admin

#16168 Fix setup command locale parameter update
  src/Sylius/Bundle/CoreBundle/Installer/Setup/LocaleSetup.php
  src/Sylius/Bundle/CoreBundle/Tests/Installation/Setup/LocaleSetupTest.php
Labels: Bug

#16169 [Admin][CatalogPromotion] Remove duplicate AddButtonType
  src/Sylius/Bundle/AdminBundle/Form/Extension/CatalogPromotionTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Form/Type/CatalogPromotion/AddButtonType.php
  src/Sylius/Bundle/AdminBundle/Resources/config/services/form.xml
Labels: Admin

#16176 [Maintenance][AbstractStateMachine] Add Sylius logo to readme
  features/order/managing_orders/order_filtration/filtering_orders_by_variants.feature
  features/taxonomy/managing_taxons/reordering_taxon.feature
  src/Sylius/Abstraction/StateMachine/README.md
Labels: Maintenance

#16179 [Documentation] Update release cycle and PR template
  .github/PULL_REQUEST_TEMPLATE.md
  docs/book/organization/release-cycle.rst
  features/order/managing_orders/order_filtration/filtering_orders_by_variants.feature
  features/taxonomy/managing_taxons/reordering_taxon.feature
Labels: Documentation, Maintenance

#16190 Fix products grid
  src/Sylius/Bundle/ShopBundle/Resources/private/scss/theme.scss
Labels: Shop

#16189 Add 1.14 branch to upmerge workflow
  .github/workflows/upmerge_pr.yaml
Labels: Maintenance

#16196 Fix product review validation's notInRangeMessage
  features/product/adding_product_reviews/product_review_validation.feature
  src/Sylius/Behat/Context/Api/Shop/ProductReviewContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/validation/AddProductReview.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.de.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.de_CH.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.fr.yml
Labels: API, Bug
