Repository Sylius/Sylius, pull requests merged in 2024-01, with the labels that each got.

#15687 Fix Typo fixtures.rst
  docs/customization/fixtures.rst
Labels: Documentation

#15695 [TestApi] Add new way of assert violations
  tests/Api/Admin/ShippingMethodsTest.php
  tests/Api/JsonApiTestCase.php
  tests/Api/Responses/Expected/admin/shipping_method/put_shipping_method_with_duplicate_locale_translation.json
  tests/Api/Responses/Expected/admin/shipping_method/wrong_configuration_for_shipping_method_calculator_response.json
  tests/Api/Responses/Expected/admin/shipping_method/wrong_configuration_for_shipping_method_rule_response.json
  tests/Api/Responses/Expected/admin/shipping_method/wrong_type_for_shipping_method_rule_response.json
Labels: DX

#15698 New year 2024! 🥳
  LICENSE
  docs/book/contributing/code/license.rst
  docs/conf.py
  src/Sylius/Bundle/AddressingBundle/LICENSE
  src/Sylius/Bundle/AdminBundle/LICENSE
  src/Sylius/Bundle/AttributeBundle/LICENSE
  src/Sylius/Bundle/ChannelBundle/LICENSE
  src/Sylius/Bundle/CurrencyBundle/LICENSE
  src/Sylius/Bundle/CustomerBundle/LICENSE
  src/Sylius/Bundle/InventoryBundle/LICENSE
  src/Sylius/Bundle/LocaleBundle/LICENSE
  src/Sylius/Bundle/MoneyBundle/LICENSE
  src/Sylius/Bundle/OrderBundle/LICENSE
  src/Sylius/Bundle/PaymentBundle/LICENSE
  src/Sylius/Bundle/PayumBundle/LICENSE
  src/Sylius/Bundle/ProductBundle/LICENSE
  src/Sylius/Bundle/PromotionBundle/LICENSE
  src/Sylius/Bundle/ReviewBundle/LICENSE
  src/Sylius/Bundle/ShippingBundle/LICENSE
  src/Sylius/Bundle/ShopBundle/LICENSE
  src/Sylius/Bundle/TaxationBundle/LICENSE
  src/Sylius/Bundle/TaxonomyBundle/LICENSE
  src/Sylius/Bundle/UiBundle/LICENSE
  src/Sylius/Bundle/UserBundle/LICENSE
  src/Sylius/Component/Addressing/LICENSE
  src/Sylius/Component/Attribute/LICENSE
  src/Sylius/Component/Channel/LICENSE
  src/Sylius/Component/Core/LICENSE
  src/Sylius/Component/Currency/LICENSE
  src/Sylius/Component/Customer/LICENSE
  src/Sylius/Component/Inventory/LICENSE
  src/Sylius/Component/Locale/LICENSE
  src/Sylius/Component/Order/LICENSE
  src/Sylius/Component/Payment/LICENSE
  src/Sylius/Component/Product/LICENSE
  src/Sylius/Component/Promotion/LICENSE
  src/Sylius/Component/Review/LICENSE
  src/Sylius/Component/Shipping/LICENSE
  src/Sylius/Component/Taxation/LICENSE
  src/Sylius/Component/Taxonomy/LICENSE
  src/Sylius/Component/User/LICENSE
Labels: Documentation, Admin, Shop

#15697 [Maintenance] Remove obsolete extended type method from form extensions
  src/Sylius/Bundle/CoreBundle/Form/Extension/CartItemTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/CartTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/CatalogPromotionTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/ChannelTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/CountryTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/CustomerTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/LocaleTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/OrderTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/PaymentMethodTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/ProductTranslationTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/ProductTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/ProductVariantGenerationTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/ProductVariantTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/PromotionCouponTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/PromotionFilterCollectionTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/PromotionTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/ShippingMethodTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/TaxRateTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/TaxonTypeExtension.php
  src/Sylius/Bundle/PayumBundle/Form/Extension/CryptedGatewayConfigTypeExtension.php
Labels: DX, Maintenance

#15718 [Documentation] Extend the maintenance date of 1.12 and update future releases
  docs/book/organization/release-cycle.rst
  docs/requirements.txt
Labels: Documentation

#15724 [API] Add validation of option values for the product variant
  features/product/managing_product_variants/adding_product_variant.feature
  features/product/managing_product_variants/editing_product_variant.feature
  features/product/managing_product_variants/product_variant_validation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductVariantsContext.php
  src/Sylius/Bundle/ProductBundle/Resources/config/services.xml
  src/Sylius/Bundle/ProductBundle/Resources/config/services/validators.xml
  src/Sylius/Bundle/ProductBundle/Resources/config/validation/ProductVariant.xml
  src/Sylius/Bundle/ProductBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/ProductBundle/Validator/Constraint/ProductVariantOptionValuesConfiguration.php
  src/Sylius/Bundle/ProductBundle/Validator/ProductVariantOptionValuesConfigurationValidator.php
  src/Sylius/Bundle/ProductBundle/spec/Validator/ProductVariantOptionValuesConfigurationValidatorSpec.php
Labels: API, Bug

#15731 [Docs] Remove outdated deployment entries
  docs/cookbook/deployment/artifakt.rst
  docs/cookbook/deployment/cloudways.rst
  docs/cookbook/deployment/map.rst.inc
  docs/cookbook/deployment/symfonycloud.rst
  docs/cookbook/index.rst
  docs/getting-started-with-sylius/deployment.rst
Labels: Documentation

#15728 [ApiBundle] Move LocaleIsUsedException into ApiBundle
  src/Sylius/Bundle/ApiBundle/DataPersister/LocaleDataPersister.php
  src/Sylius/Bundle/ApiBundle/Exception/LocaleIsUsedException.php
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/ApiBundle/spec/DataPersister/LocaleDataPersisterSpec.php
Labels: API

#15707 [ApiBundle][Admin] Implement Shop User Removal and Password Change
  features/user/managing_users/changing_shop_user_password.feature
  features/user/managing_users/deleting_account.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingCustomersContext.php
  src/Sylius/Behat/Context/Transform/ShopUserContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/services/contexts/transform.xml
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/api/user/managing_users.yml
  src/Sylius/Bundle/ApiBundle/Command/Customer/RemoveShopUser.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Customer/RemoveShopUserHandler.php
  src/Sylius/Bundle/ApiBundle/Controller/RemoveCustomerShopUserAction.php
  src/Sylius/Bundle/ApiBundle/DataPersister/CustomerDataPersister.php
  src/Sylius/Bundle/ApiBundle/Exception/UserNotFoundException.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/controllers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_persisters.xml
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Customer/RemoveShopUserHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/DataPersister/CustomerDataPersisterSpec.php
Labels: API

#15739 Fix ZoneRepository BC-Break
  UPGRADE-1.13.md
  src/Sylius/Bundle/AdminBundle/Command/ChangeAdminUserPasswordCommand.php
  src/Sylius/Bundle/AdminBundle/Command/Factory/QuestionFactoryInterface.php
  src/Sylius/Bundle/AdminBundle/Tests/Command/ChangeAdminUserPasswordCommandTest.php
  src/Sylius/Component/Addressing/Matcher/ZoneMatcher.php
  tests/Api/Admin/ProductAssociationsTest.php
  tests/Api/Shop/ProductsTest.php
Labels: Maintenance, Admin, Bug

#15740 Improve setup command
  UPGRADE-1.13.md
  config/parameters.yaml
  config/services.yaml
  src/Sylius/Bundle/CoreBundle/Console/Command/InstallCommand.php
  src/Sylius/Bundle/CoreBundle/Installer/Setup/LocaleSetup.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/installer.xml
  src/Sylius/Bundle/CoreBundle/Tests/Installation/Setup/LocaleSetupTest.php
Labels: Feature, Maintenance, Bug

#15761 [Admin] Add Sylius certification to menu
  src/Sylius/Bundle/AdminBundle/Menu/MainMenuBuilder.php
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.en.yml
Labels: Admin

#15755 [ApiBundle] Refactor commands' constructors
  UPGRADE-API-1.13.md
  src/Sylius/Behat/Context/Api/Shop/ProductReviewContext.php
  src/Sylius/Bundle/ApiBundle/Command/Account/ChangeShopUserPassword.php
  src/Sylius/Bundle/ApiBundle/Command/Cart/AddItemToCart.php
  src/Sylius/Bundle/ApiBundle/Command/Cart/ChangeItemQuantityInCart.php
  src/Sylius/Bundle/ApiBundle/Command/Catalog/AddProductReview.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/AddingEligibleProductVariantToCartValidator.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ChangedItemQuantityInCartValidator.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/AddingEligibleProductVariantToCartValidatorSpec.php
  tests/Api/Responses/Expected/shop/order/add_item_response.json
  tests/Api/Responses/Expected/shop/order/add_item_to_cart_with_missing_product_variant.json
  tests/Api/Responses/Expected/shop/order/add_item_to_cart_with_missing_quantity.json
  tests/Api/Responses/Expected/shop/order/create_cart_response.json
  tests/Api/Responses/Expected/shop/order/create_cart_with_default_locale_response.json
  tests/Api/Responses/Expected/shop/order/get_order_adjustments_response.json
  tests/Api/Responses/Expected/shop/order/get_order_item_adjustments_response.json
  tests/Api/Responses/Expected/shop/order/get_order_items_response.json
  tests/Api/Responses/Expected/shop/order/get_order_response.json
  tests/Api/Responses/Expected/shop/order/updated_billing_address_on_order_response.json
  tests/Api/Responses/Expected/shop/order/updated_payment_method_on_cancelled_order_response.json
  tests/Api/Responses/Expected/shop/order/updated_payment_method_on_order_response.json
  tests/Api/Responses/Expected/shop/product_review/create_product_review_with_missing_fields.json
  tests/Api/Shop/OrdersTest.php
  tests/Api/Shop/ProductReviewsTest.php
Labels: Maintenance, API

#15768 [Fix] Invalid RemoveShopUserHandlerSpec namespace
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Customer/RemoveShopUserHandlerSpec.php
Labels: Maintenance, API, Bug

#15769 [Documentation] Add configuration file for Read the Docs
  .readthedocs.yaml
Labels: Documentation, Maintenance

#15746 Add builds checking whether the frontend can be built with all supported nodejs versions
  .github/workflows/ci__full.yaml
  .github/workflows/ci__minimal.yaml
  .github/workflows/ci_frontend.yaml
  .github/workflows/matrix.json
  package.json
Labels: Maintenance

#15771 Add default locale paramter to core
  config/packages/_sylius.yaml
  config/services.yaml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/config.yml
Labels: DX

#15775 [Maintenance][API] Normalize command missing fields' names
  src/Sylius/Bundle/ApiBundle/Serializer/CommandDenormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/CommandDenormalizerSpec.php
  tests/Api/Responses/Expected/shop/order/add_item_to_cart_with_missing_product_variant.json
  tests/Api/Responses/Expected/shop/product_review/create_product_review_with_missing_fields.json
Labels: API, Bug

#15762 Bootstrap admin update
  src/Sylius/Bundle/AdminBundle/Resources/assets/entrypoint.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/fonts/Inter-VariableFont_slnt,wght.ttf
  src/Sylius/Bundle/AdminBundle/Resources/assets/scripts/check-all.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/scripts/confirm.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_body.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_dialog.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_navbar.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_tree.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_variables.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/main.scss
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Grid/BulkAction/_delete.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Grid/ItemAction/_archive.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Grid/ItemAction/_delete.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Helper/button.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Helper/table.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Layout/_dialog.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Layout/base.html.twig
Labels: Admin, Frontend

#15777 Bump the @sylius-ui/frontend version
  package.json
Labels: Maintenance

#15784 Fix the corrupted package.json for 1.13
  package.json
Labels: Maintenance, Frontend

#15783 Fix the corrupted package.json
  package.json
Labels: Maintenance

#15765 [Maintenance][Statistics] Bit of an overhaul
  phparkitect.php
  src/Sylius/Behat/Context/Api/Admin/DashboardContext.php
  src/Sylius/Bundle/ApiBundle/Controller/GetStatisticsAction.php
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/StatisticsDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/Query/GetStatistics.php
  src/Sylius/Bundle/ApiBundle/QueryHandler/GetStatisticsHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/integrations/swagger.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/controllers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.en.yaml
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/DateInterval.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/DateIntervalValidator.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/DatePeriod.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/EndDateAgainstInterval.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/EndDateAgainstIntervalValidator.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/EndDateIsNotBeforeStartDate.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/EndDateIsNotBeforeStartDateValidator.php
  src/Sylius/Bundle/ApiBundle/spec/QueryHandler/GetStatisticsHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/DateIntervalValidatorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/EndDateAgainstIntervalValidatorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Validator/Constraints/EndDateIsNotBeforeStartDateValidatorSpec.php
  src/Sylius/Bundle/CoreBundle/Attribute/AsOrdersTotalsProvider.php
  src/Sylius/Bundle/CoreBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/CoreBundle/DependencyInjection/SyliusCoreExtension.php
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/OrderRepository.php
  src/Sylius/Bundle/CoreBundle/Provider/SalesTimeSeriesProvider.php
  src/Sylius/Bundle/CoreBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/providers.xml
  src/Sylius/Bundle/CoreBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Sylius/Bundle/CoreBundle/Tests/DependencyInjection/SyliusCoreExtensionTest.php
  src/Sylius/Bundle/CoreBundle/Tests/Stub/OrdersTotalsProviderStub.php
  src/Sylius/Component/Core/Repository/OrderRepositoryInterface.php
  src/Sylius/Component/Core/Statistics/Chart/Chart.php
  src/Sylius/Component/Core/Statistics/Chart/ChartFactory.php
  src/Sylius/Component/Core/Statistics/Chart/ChartFactoryInterface.php
  src/Sylius/Component/Core/Statistics/Chart/ChartInterface.php
  src/Sylius/Component/Core/Statistics/Provider/OrdersTotals/DayBasedOrdersTotalProvider.php
  src/Sylius/Component/Core/Statistics/Provider/OrdersTotals/MonthBasedOrdersTotalProvider.php
  src/Sylius/Component/Core/Statistics/Provider/OrdersTotals/OrdersTotalsProviderInterface.php
  src/Sylius/Component/Core/Statistics/Provider/OrdersTotals/YearBasedOrdersTotalProvider.php
  src/Sylius/Component/Core/Statistics/Provider/SalesStatisticsProvider.php
  src/Sylius/Component/Core/Statistics/Provider/SalesStatisticsProviderInterface.php
  src/Sylius/Component/Core/Statistics/Provider/StatisticsProvider.php
  src/Sylius/Component/Core/Statistics/Provider/StatisticsProviderInterface.php
  src/Sylius/Component/Core/Statistics/Registry/OrdersTotalsProviderRegistryInterface.php
  src/Sylius/Component/Core/Statistics/Registry/OrdersTotalsProvidersRegistry.php
  src/Sylius/Component/Core/Statistics/ValueObject/Statistics.php
  src/Sylius/Component/Core/spec/Statistics/Provider/OrdersTotals/AbstractOrdersTotalsProviderSpec.php
  src/Sylius/Component/Core/spec/Statistics/Provider/OrdersTotals/DayBasedOrdersTotalProviderSpec.php
  src/Sylius/Component/Core/spec/Statistics/Provider/OrdersTotals/MonthBasedOrdersTotalProviderSpec.php
  src/Sylius/Component/Core/spec/Statistics/Provider/OrdersTotals/YearBasedOrdersTotalProviderSpec.php
  src/Sylius/Component/Core/spec/Statistics/Provider/SalesStatisticsProviderSpec.php
  src/Sylius/Component/Core/spec/Statistics/Provider/StatisticsProviderSpec.php
  src/Sylius/Component/Core/spec/Statistics/Registry/OrdersTotalsProvidersRegistrySpec.php
  tests/Api/Admin/StatisticsTest.php
  tests/Api/Responses/Expected/admin/statistics/get_day_statistics_response.json
  tests/Api/Responses/Expected/admin/statistics/get_month_statistics_response.json
  tests/Api/Responses/Expected/admin/statistics/get_statistics_response.json
  tests/Api/Responses/Expected/admin/statistics/get_year_statistics_response.json
Labels: DX, Maintenance, API

#15779 [Admin][Country] Fix create and update page
  .bunnyshell/docker/php/Dockerfile
  .bunnyshell/templates/preview/bunnyshell.yaml
  features/admin/addressing/managing_countries/adding_country.feature
  features/admin/addressing/managing_countries/adding_country_with_provinces.feature
  features/admin/addressing/managing_countries/country_validation.feature
  features/admin/addressing/managing_countries/editing_country.feature
  features/admin/addressing/managing_countries/managing_provinces_of_country.feature
  features/admin/addressing/managing_countries/province_unique_fields_validation.feature
  features/admin/addressing/managing_countries/province_validation.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingCountriesContext.php
  src/Sylius/Behat/Page/Admin/Country/CreatePage.php
  src/Sylius/Behat/Page/Admin/Country/CreatePageInterface.php
  src/Sylius/Behat/Page/Admin/Country/IndexPage.php
  src/Sylius/Behat/Page/Admin/Country/UpdatePage.php
  src/Sylius/Behat/Page/Admin/Country/UpdatePageInterface.php
  src/Sylius/Behat/Page/Admin/Crud/UpdatePage.php
  src/Sylius/Behat/Resources/config/services.xml
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Service/Accessor/NotificationAccessor.php
  src/Sylius/Behat/Service/NotificationChecker.php
  src/Sylius/Behat/spec/Service/NotificationCheckerSpec.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/CountryTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/template_events/country/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/template_events/country/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/country.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/twig_component.xml
  src/Sylius/Bundle/AdminBundle/Resources/views/Country/Component/countryType.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Country/Form/ComponentForm/Sections/Details/_code.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Country/Form/ComponentForm/Sections/Details/_enabled.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Country/Form/ComponentForm/Sections/_details.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Country/Form/ComponentForm/Sections/_provinces.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Country/Form/ComponentForm/_sections.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Country/_form.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Crud/Common/Content/Header/TitleBlock/Actions/_cancel.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Crud/Common/Content/Header/TitleBlock/Actions/_update.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Crud/Common/Content/_flashes.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Grid/Field/boolean.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Helper/button.html.twig
  src/Sylius/Bundle/AdminBundle/TwigComponent/Country/CountryType.php
  src/Sylius/Bundle/AdminBundle/TwigComponent/Dashboard/StatisticsComponent.php
  src/Sylius/Bundle/AdminBundle/TwigComponent/Taxon/TaxonTreeComponent.php
  src/Sylius/Bundle/AdminBundle/TwigComponent/UiEventsTrait.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/form.xml
Labels: Admin, Docker

#15780 [API] Add BC layer for transition from :read to :index and :show serialization groups
  UPGRADE-API-1.13.md
  src/Sylius/Bundle/ApiBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/ApiBundle/DependencyInjection/SyliusApiExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/context_builders.xml
  src/Sylius/Bundle/ApiBundle/SerializerContextBuilder/ReadOperationContextBuilder.php
  src/Sylius/Bundle/ApiBundle/Tests/DependencyInjection/SyliusApiExtensionTest.php
  src/Sylius/Bundle/ApiBundle/spec/SerializerContextBuilder/ReadOperationContextBuilderSpec.php
Labels: DX, Maintenance, API

#15781 Add a slug generating for taxons/products
  src/Sylius/Bundle/AdminBundle/Resources/assets/bootstrap.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/.gitkeep
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/SlugController.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/TaxonSlugController.js
  src/Sylius/Bundle/AdminBundle/Resources/config/services.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/twig.xml
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Form/Sections/_translations.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Helper/translations.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Taxon/Form/Sections/_translations.html.twig
  src/Sylius/Bundle/AdminBundle/package.json
Labels: Feature, Admin, Docker
