Repository Sylius/Sylius, pull requests merged in 2024-02, with the labels that each got.

#15796 Update codeowners
  .github/CODEOWNERS
Labels: Maintenance

#15802 [Maintenance] Cleanup
  src/Sylius/Behat/Resources/config/services/contexts/setup.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners/workflow/order.xml
Labels: DX, Maintenance

#15804 [StateMachineAbstraction] Add missing LICENSE and README files
  src/Sylius/Abstraction/StateMachine/LICENSE
  src/Sylius/Abstraction/StateMachine/README.md
Labels: Maintenance

#15805 Update the license years for the last time
  src/Sylius/Bundle/AddressingBundle/LICENSE
  src/Sylius/Bundle/AdminBundle/LICENSE
  src/Sylius/Bundle/ApiBundle/LICENSE
  src/Sylius/Bundle/AttributeBundle/LICENSE
  src/Sylius/Bundle/ChannelBundle/LICENSE
  src/Sylius/Bundle/CurrencyBundle/LICENSE
  src/Sylius/Bundle/CustomerBundle/LICENSE
  src/Sylius/Bundle/InventoryBundle/LICENSE
  src/Sylius/Bundle/LocaleBundle/LICENSE
  src/Sylius/Bundle/MoneyBundle/LICENSE
  src/Sylius/Bundle/OrderBundle/LICENSE
  src/Sylius/Bundle/PaymentBundle/LICENSE
  src/Sylius/Bundle/PayumBundle/LICENSE
  src/Sylius/Bundle/ProductBundle/LICENSE
  src/Sylius/Bundle/PromotionBundle/LICENSE
  src/Sylius/Bundle/ReviewBundle/LICENSE
  src/Sylius/Bundle/ShippingBundle/LICENSE
  src/Sylius/Bundle/ShopBundle/LICENSE
  src/Sylius/Bundle/TaxationBundle/LICENSE
  src/Sylius/Bundle/TaxonomyBundle/LICENSE
  src/Sylius/Bundle/UiBundle/LICENSE
  src/Sylius/Bundle/UserBundle/LICENSE
  src/Sylius/Component/Addressing/LICENSE
  src/Sylius/Component/Attribute/LICENSE
  src/Sylius/Component/Channel/LICENSE
  src/Sylius/Component/Core/LICENSE
  src/Sylius/Component/Currency/LICENSE
  src/Sylius/Component/Customer/LICENSE
  src/Sylius/Component/Inventory/LICENSE
  src/Sylius/Component/Locale/LICENSE
  src/Sylius/Component/Order/LICENSE
  src/Sylius/Component/Payment/LICENSE
  src/Sylius/Component/Product/LICENSE
  src/Sylius/Component/Promotion/LICENSE
  src/Sylius/Component/Review/LICENSE
  src/Sylius/Component/Shipping/LICENSE
  src/Sylius/Component/Taxation/LICENSE
  src/Sylius/Component/Taxonomy/LICENSE
  src/Sylius/Component/User/LICENSE
Labels: Maintenance, Admin, Shop, API

#15806 [Documentation] Fix table of supported versions
  docs/book/organization/release-cycle.rst
Labels: Documentation

#15789 Improve live component country type
  src/Sylius/Bundle/AdminBundle/Resources/config/services/twig_component.xml
  src/Sylius/Bundle/AdminBundle/TwigComponent/Country/CountryType.php
Labels: Maintenance, Admin, Docker

#15774 [Emails] Move email managers from Admin and Shop bundles to CoreBundle
  UPGRADE-1.13.md
  src/Sylius/Bundle/AdminBundle/DependencyInjection/Compiler/BackwardsCompatibility/ReplaceEmailManagersPass.php
  src/Sylius/Bundle/AdminBundle/EmailManager/OrderEmailManager.php
  src/Sylius/Bundle/AdminBundle/EmailManager/OrderEmailManagerInterface.php
  src/Sylius/Bundle/AdminBundle/EmailManager/ShipmentEmailManager.php
  src/Sylius/Bundle/AdminBundle/EmailManager/ShipmentEmailManagerInterface.php
  src/Sylius/Bundle/AdminBundle/EventListener/ShipmentShipListener.php
  src/Sylius/Bundle/AdminBundle/Resources/config/services/email.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/listener.xml
  src/Sylius/Bundle/AdminBundle/SyliusAdminBundle.php
  src/Sylius/Bundle/AdminBundle/Tests/DependencyInjection/Compiler/BackwardsCompatibility/ReplaceEmailManagersPassTest.php
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/AdminBundle/spec/EventListener/ShipmentShipListenerSpec.php
  src/Sylius/Bundle/CoreBundle/EmailManager/OrderEmailManager.php
  src/Sylius/Bundle/CoreBundle/EmailManager/OrderEmailManagerInterface.php
  src/Sylius/Bundle/CoreBundle/Mailer/ContactEmailManager.php
  src/Sylius/Bundle/CoreBundle/Mailer/ContactEmailManagerInterface.php
  src/Sylius/Bundle/CoreBundle/Mailer/OrderEmailManager.php
  src/Sylius/Bundle/CoreBundle/Mailer/OrderEmailManagerInterface.php
  src/Sylius/Bundle/CoreBundle/Mailer/ShipmentEmailManager.php
  src/Sylius/Bundle/CoreBundle/Mailer/ShipmentEmailManagerInterface.php
  src/Sylius/Bundle/CoreBundle/MessageHandler/ResendOrderConfirmationEmailHandler.php
  src/Sylius/Bundle/CoreBundle/MessageHandler/ResendShipmentConfirmationEmailHandler.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/mailer.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/message_handlers.xml
  src/Sylius/Bundle/CoreBundle/spec/Mailer/ContactEmailManagerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Mailer/ShipmentEmailManagerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/MessageHandler/ResendOrderConfirmationEmailHandlerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/MessageHandler/ResendShipmentConfirmationEmailHandlerSpec.php
  src/Sylius/Bundle/ShopBundle/Controller/ContactController.php
  src/Sylius/Bundle/ShopBundle/DependencyInjection/Compiler/BackwardsCompatibility/ReplaceEmailManagersPass.php
  src/Sylius/Bundle/ShopBundle/EmailManager/ContactEmailManager.php
  src/Sylius/Bundle/ShopBundle/EmailManager/ContactEmailManagerInterface.php
  src/Sylius/Bundle/ShopBundle/EmailManager/OrderEmailManager.php
  src/Sylius/Bundle/ShopBundle/EmailManager/OrderEmailManagerInterface.php
  src/Sylius/Bundle/ShopBundle/EventListener/OrderCompleteListener.php
  src/Sylius/Bundle/ShopBundle/Resources/config/services/controller.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/email.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/ShopBundle/SyliusShopBundle.php
  src/Sylius/Bundle/ShopBundle/Tests/DependencyInjection/Compiler/BackwardsCompatibility/ReplaceEmailManagersPassTest.php
  src/Sylius/Bundle/ShopBundle/spec/EventListener/OrderCompleteListenerSpec.php
Labels: DX, Maintenance, Admin, Shop

#15799 Move ItemTotalRuleChecker to CoreBundle
  UPGRADE-1.13.md
  src/Sylius/Bundle/CoreBundle/Resources/config/services/promotion.xml
  src/Sylius/Component/Core/Promotion/Checker/Rule/ItemTotalRuleChecker.php
  src/Sylius/Component/Core/spec/Promotion/Checker/Rule/ItemTotalRuleCheckerSpec.php
  src/Sylius/Component/Promotion/Checker/Rule/ItemTotalRuleChecker.php
Labels: Maintenance

#15735 Validate resending order confirmation email
  features/order/managing_orders/resending_order_confirmation_email.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingOrdersContext.php
  src/Sylius/Behat/Context/Api/EmailContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingOrdersContext.php
  src/Sylius/Behat/Context/Ui/EmailContext.php
  src/Sylius/Behat/Page/Admin/Order/ShowPage.php
  src/Sylius/Behat/Page/Admin/Order/ShowPageInterface.php
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/_resendEmail.html.twig
  src/Sylius/Bundle/CoreBundle/Resources/config/services/validators.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/ResendOrderConfirmationEmail.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/ResendOrderConfirmationEmailWithValidOrderState.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/ResendOrderConfirmationEmailWithValidOrderStateValidator.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/ResendShipmentConfirmationEmailWithValidShipmentStateValidator.php
  src/Sylius/Bundle/CoreBundle/spec/Validator/Constraints/ResendOrderConfirmationEmailWithValidOrderStateValidatorSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Validator/Constraints/ResendShipmentConfirmationEmailWithValidShipmentStateValidatorSpec.php
  src/Sylius/Bundle/OrderBundle/Resources/config/app/config.yml
  tests/Api/Admin/OrdersTest.php
Labels: Maintenance, Admin, API

#15808 [Maintenance] Update .gitattributes
  .gitattributes
  etc/psalm/LaminasPriorityQueueStub.php
Labels: Maintenance

#15809 [Maintenance][Behat] Autoload calendar contexts into container
  config/services_test.yaml
  src/Sylius/Behat/Resources/config/services.xml
  src/Sylius/Behat/Resources/config/services/_calendar_services.php
Labels: Behat, Maintenance

#15815 Update the branch-aliases
  .github/workflows/ci_packages-unstable.yaml
  .github/workflows/ci_packages.yaml
  src/Sylius/Bundle/AddressingBundle/composer.json
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/ApiBundle/composer.json
  src/Sylius/Bundle/AttributeBundle/composer.json
  src/Sylius/Bundle/ChannelBundle/composer.json
  src/Sylius/Bundle/CoreBundle/composer.json
  src/Sylius/Bundle/CurrencyBundle/composer.json
  src/Sylius/Bundle/CustomerBundle/composer.json
  src/Sylius/Bundle/InventoryBundle/composer.json
  src/Sylius/Bundle/LocaleBundle/composer.json
  src/Sylius/Bundle/MoneyBundle/composer.json
  src/Sylius/Bundle/OrderBundle/composer.json
  src/Sylius/Bundle/PaymentBundle/composer.json
  src/Sylius/Bundle/PayumBundle/composer.json
  src/Sylius/Bundle/ProductBundle/composer.json
  src/Sylius/Bundle/PromotionBundle/composer.json
  src/Sylius/Bundle/ReviewBundle/composer.json
  src/Sylius/Bundle/ShippingBundle/composer.json
  src/Sylius/Bundle/ShopBundle/composer.json
  src/Sylius/Bundle/TaxationBundle/composer.json
  src/Sylius/Bundle/TaxonomyBundle/composer.json
  src/Sylius/Bundle/UiBundle/composer.json
  src/Sylius/Bundle/UserBundle/composer.json
  src/Sylius/Component/Addressing/composer.json
  src/Sylius/Component/Attribute/composer.json
  src/Sylius/Component/Channel/composer.json
  src/Sylius/Component/Core/composer.json
  src/Sylius/Component/Currency/composer.json
  src/Sylius/Component/Customer/composer.json
  src/Sylius/Component/Inventory/composer.json
  src/Sylius/Component/Locale/composer.json
  src/Sylius/Component/Order/composer.json
  src/Sylius/Component/Payment/composer.json
  src/Sylius/Component/Product/composer.json
  src/Sylius/Component/Promotion/composer.json
  src/Sylius/Component/Review/composer.json
  src/Sylius/Component/Shipping/composer.json
  src/Sylius/Component/Taxation/composer.json
  src/Sylius/Component/Taxonomy/composer.json
  src/Sylius/Component/User/composer.json
Labels: Maintenance, Admin, Shop, API

#15757 Missing typehint on processDistributionWithMinimumPrice
  src/Sylius/Component/Core/Distributor/MinimumPriceDistributor.php
Labels: DX

#15824 Bump up symfony/flex version
  .github/workflows/ci_packages-unstable.yaml
  .github/workflows/ci_packages.yaml
  .github/workflows/ci_static-checks.yaml
  composer.json
Labels: Maintenance, Dependencies, CI

#15826 Fix not passing a request method while updating a country
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/country/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/views/Country/_form.html.twig
Labels: Admin

#15827 Bump up PHP to 8.1
  .github/workflows/matrix.json
  .github/workflows/refactor.yaml
  UPGRADE-1.13.md
  composer.json
  docs/book/contributing/code/patches.rst
  docs/book/installation/installation.rst
  docs/book/installation/requirements.rst
  src/Sylius/Abstraction/StateMachine/composer.json
  src/Sylius/Bundle/AddressingBundle/composer.json
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/ApiBundle/composer.json
  src/Sylius/Bundle/AttributeBundle/composer.json
  src/Sylius/Bundle/ChannelBundle/composer.json
  src/Sylius/Bundle/CoreBundle/composer.json
  src/Sylius/Bundle/CurrencyBundle/composer.json
  src/Sylius/Bundle/CustomerBundle/composer.json
  src/Sylius/Bundle/InventoryBundle/composer.json
  src/Sylius/Bundle/LocaleBundle/composer.json
  src/Sylius/Bundle/MoneyBundle/composer.json
  src/Sylius/Bundle/OrderBundle/composer.json
  src/Sylius/Bundle/PaymentBundle/composer.json
  src/Sylius/Bundle/PayumBundle/composer.json
  src/Sylius/Bundle/ProductBundle/composer.json
  src/Sylius/Bundle/PromotionBundle/composer.json
  src/Sylius/Bundle/ReviewBundle/composer.json
  src/Sylius/Bundle/ShippingBundle/composer.json
  src/Sylius/Bundle/ShopBundle/composer.json
  src/Sylius/Bundle/TaxationBundle/composer.json
  src/Sylius/Bundle/TaxonomyBundle/composer.json
  src/Sylius/Bundle/UiBundle/composer.json
  src/Sylius/Bundle/UserBundle/composer.json
  src/Sylius/Component/Addressing/composer.json
  src/Sylius/Component/Attribute/composer.json
  src/Sylius/Component/Channel/composer.json
  src/Sylius/Component/Core/composer.json
  src/Sylius/Component/Currency/composer.json
  src/Sylius/Component/Customer/composer.json
  src/Sylius/Component/Inventory/composer.json
  src/Sylius/Component/Locale/composer.json
  src/Sylius/Component/Order/composer.json
  src/Sylius/Component/Payment/composer.json
  src/Sylius/Component/Product/composer.json
  src/Sylius/Component/Promotion/composer.json
  src/Sylius/Component/Review/composer.json
  src/Sylius/Component/Shipping/composer.json
  src/Sylius/Component/Taxation/composer.json
  src/Sylius/Component/Taxonomy/composer.json
  src/Sylius/Component/User/composer.json
Labels: Documentation, Maintenance, Admin, Shop, API, Dependencies

#15829 [CI] Remove unsupported MySQL 5.7 from workflows
  .github/workflows/matrix.json
  docs/book/installation/requirements.rst
Labels: Documentation, Maintenance, CI

#15828 Bump up Symfony 6 to 6.4
  .github/workflows/ci_frontend.yaml
  CONFLICTS.md
  UPGRADE-1.13.md
  composer.json
  src/Sylius/Abstraction/StateMachine/composer.json
  src/Sylius/Bundle/AddressingBundle/composer.json
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/ApiBundle/composer.json
  src/Sylius/Bundle/AttributeBundle/composer.json
  src/Sylius/Bundle/ChannelBundle/composer.json
  src/Sylius/Bundle/CoreBundle/composer.json
  src/Sylius/Bundle/CurrencyBundle/composer.json
  src/Sylius/Bundle/CustomerBundle/composer.json
  src/Sylius/Bundle/InventoryBundle/composer.json
  src/Sylius/Bundle/LocaleBundle/composer.json
  src/Sylius/Bundle/MoneyBundle/composer.json
  src/Sylius/Bundle/OrderBundle/composer.json
  src/Sylius/Bundle/PaymentBundle/composer.json
  src/Sylius/Bundle/PayumBundle/composer.json
  src/Sylius/Bundle/ProductBundle/composer.json
  src/Sylius/Bundle/PromotionBundle/composer.json
  src/Sylius/Bundle/ReviewBundle/composer.json
  src/Sylius/Bundle/ShippingBundle/composer.json
  src/Sylius/Bundle/ShopBundle/composer.json
  src/Sylius/Bundle/TaxationBundle/composer.json
  src/Sylius/Bundle/TaxonomyBundle/composer.json
  src/Sylius/Bundle/UiBundle/composer.json
  src/Sylius/Bundle/UserBundle/composer.json
  src/Sylius/Component/Addressing/composer.json
  src/Sylius/Component/Attribute/composer.json
  src/Sylius/Component/Channel/composer.json
  src/Sylius/Component/Core/composer.json
  src/Sylius/Component/Currency/composer.json
  src/Sylius/Component/Locale/composer.json
  src/Sylius/Component/Shipping/composer.json
  src/Sylius/Component/User/composer.json
Labels: Documentation, Maintenance, Admin, Shop, API, Dependencies

#15830 Bump up Node.js only to supported LTS versions (18 and 20)
  .github/workflows/ci_e2e-mysql.yaml
  .github/workflows/matrix.json
  docs/book/frontend/overview.rst
  docs/book/installation/requirements.rst
  package.json
Labels: Documentation, Maintenance, Dependencies

#15841 [DX] ECS Fixes
  src/Sylius/Behat/Page/Admin/Country/CreatePage.php
  src/Sylius/Behat/Page/Admin/Country/UpdatePage.php
  src/Sylius/Bundle/AdminBundle/Grid/Renderer/TwigGridRenderer.php
  src/Sylius/Bundle/AdminBundle/Twig/AttributeExtension.php
  src/Sylius/Bundle/AdminBundle/Twig/GridExtension.php
  src/Sylius/Bundle/AdminBundle/Twig/PaymentMethodExtension.php
  src/Sylius/Bundle/AdminBundle/TwigComponent/Dashboard/NewCustomersComponent.php
  src/Sylius/Bundle/AdminBundle/TwigComponent/Dashboard/NewOrdersComponent.php
  src/Sylius/Bundle/AdminBundle/TwigComponent/Dashboard/StatisticsComponent.php
  src/Sylius/Bundle/AdminBundle/TwigComponent/Shared/Navbar/UserDropdownComponent.php
  src/Sylius/Bundle/AdminBundle/TwigComponent/Taxon/TaxonTreeComponent.php
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/ProductAssociationRepository.php
  src/Sylius/Bundle/UiBundle/ContextProvider/CompositeContextProvider.php
  src/Sylius/Bundle/UiBundle/Registry/ComponentBlock.php
  src/Sylius/Bundle/UiBundle/Renderer/TwigComponentBlockRenderer.php
  src/Sylius/Component/Product/Repository/ProductAttributeValueRepositoryInterface.php
  tests/Api/Admin/ProductAssociationsTest.php
  tests/Api/Shop/ProductsTest.php
Labels: DX, Admin

#15794 Usage of E-Mail Managers within CommandHandlers
  UPGRADE-1.13.md
  UPGRADE-API-1.13.md
  src/Sylius/Behat/Context/Api/EmailContext.php
  src/Sylius/Behat/Context/Ui/EmailContext.php
  src/Sylius/Bundle/AdminBundle/Tests/MessageHandler/Admin/SendResetPasswordEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/ResendVerificationEmailHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/SendAccountRegistrationEmailHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/SendAccountVerificationEmailHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/SendResetPasswordEmailHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/SendOrderConfirmationHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/SendShipmentConfirmationEmailHandler.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/SendContactRequestHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendAccountRegistrationEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendAccountVerificationEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendOrderConfirmationEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/Tests/CommandHandler/SendResetPasswordEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/Tests/MessageHandler/Admin/SendResetPasswordEmailHandlerTest.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/SendAccountRegistrationEmailHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/SendAccountVerificationEmailHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Account/SendResetPasswordEmailHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/SendOrderConfirmationHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/SendShipmentConfirmationEmailHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/SendContactRequestHandlerSpec.php
  src/Sylius/Bundle/CoreBundle/Mailer/AccountRegistrationEmailManager.php
  src/Sylius/Bundle/CoreBundle/Mailer/AccountRegistrationEmailManagerInterface.php
  src/Sylius/Bundle/CoreBundle/Mailer/AccountVerificationEmailManager.php
  src/Sylius/Bundle/CoreBundle/Mailer/AccountVerificationEmailManagerInterface.php
  src/Sylius/Bundle/CoreBundle/Mailer/Emails.php
  src/Sylius/Bundle/CoreBundle/Mailer/ResetPasswordEmailManager.php
  src/Sylius/Bundle/CoreBundle/Mailer/ResetPasswordEmailManagerInterface.php
  src/Sylius/Bundle/CoreBundle/MessageHandler/Admin/Account/SendResetPasswordEmailHandler.php
  src/Sylius/Bundle/CoreBundle/Resources/config/app/sylius/sylius_mailer.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/mailer.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/message_handlers.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/CoreBundle/Resources/views/Email/accountVerification.html.twig
  src/Sylius/Bundle/CoreBundle/Tests/DependencyInjection/Compiler/CheckStatisticsOrdersTotalsProviderTypePassTest.php
  src/Sylius/Bundle/CoreBundle/Tests/DependencyInjection/ConfigurationTest.php
  src/Sylius/Bundle/CoreBundle/Tests/Mailer/AccountRegistrationEmailManagerTest.php
  src/Sylius/Bundle/CoreBundle/Tests/Mailer/AccountVerificationEmailManagerTest.php
  src/Sylius/Bundle/CoreBundle/Tests/Mailer/ContactEmailManagerTest.php
  src/Sylius/Bundle/CoreBundle/Tests/Mailer/OrderEmailManagerTest.php
  src/Sylius/Bundle/CoreBundle/Tests/Mailer/ResetPasswordEmailManagerTest.php
  src/Sylius/Bundle/CoreBundle/spec/Mailer/AccountRegistrationEmailManagerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Mailer/AccountVerificationEmailManagerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/MessageHandler/Admin/Account/SendResetPasswordEmailHandlerSpec.php
  src/Sylius/Bundle/ShopBundle/Resources/views/Email/verification.html.twig
  src/Sylius/Component/Core/Test/SwiftmailerAssertionTrait.php
  tests/Api/Admin/StatisticsTest.php
  tests/Api/Admin/ZoneMembersTest.php
  tests/Functional/Bundles/ApiBundle/CommandHandler/SendAccountRegistrationEmailHandlerTest.php
  tests/Functional/Bundles/ApiBundle/CommandHandler/SendAccountVerificationEmailHandlerTest.php
  tests/Functional/Bundles/ApiBundle/CommandHandler/SendResetPasswordEmailHandlerTest.php
Labels: DX, Maintenance, Admin, API

#15840 [BootstrapAdminPanel] Basic Order Address Edit Form
  features/admin/order/managing_orders/modifying_billing_address/modifying_billing_address.feature
  features/admin/order/managing_orders/modifying_billing_address/modifying_billing_address_on_order_with_coupon.feature
  features/admin/order/managing_orders/modifying_billing_address/modifying_billing_address_on_order_with_promotion.feature
  features/admin/order/managing_orders/modifying_billing_address/modifying_billing_address_on_order_with_taxes.feature
  features/admin/order/managing_orders/modifying_billing_address/modifying_billing_address_validation.feature
  features/admin/order/managing_orders/modifying_shipping_address/modifying_shipping_address.feature
  features/admin/order/managing_orders/modifying_shipping_address/modifying_shipping_address_on_order_with_coupon.feature
  features/admin/order/managing_orders/modifying_shipping_address/modifying_shipping_address_on_order_with_promotion.feature
  features/admin/order/managing_orders/modifying_shipping_address/modifying_shipping_address_on_order_with_taxes.feature
  features/admin/order/managing_orders/modifying_shipping_address/modifying_shipping_address_validation.feature
  src/Sylius/Behat/Page/Admin/Order/ShowPage.php
  src/Sylius/Behat/Page/Admin/Order/UpdatePage.php
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/Customer/_billingAddress.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/Customer/_shippingAddress.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/Summary/_itemsTotal.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/Summary/_promotionTotal.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Show/Content/Sections/Summary/_taxTotal.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/form_theme.html.twig
Labels: Feature, Admin

#15843 Resolve comments
  src/Sylius/Behat/Context/Api/Admin/ManagingOrdersContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/OrderItem.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/OrderItemUnit.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Adjustment.xml
  tests/Api/Admin/AdjustmentsTest.php
  tests/Api/Admin/OrderItemUnitsTest.php
  tests/Api/Admin/ProductOptionsTest.php
  tests/Api/Responses/admin/order_item/get_order_item_adjustments_response.json
  tests/Api/Responses/admin/order_item_units/get_order_item_unit_response.json
  tests/Api/Responses/admin/product_option/post_product_option_response.json
  tests/Api/Responses/admin/product_option/put_product_option_response.json
  tests/Api/Responses/shop/order/get_order_item_response.json
  tests/Api/Responses/shop/order/get_order_item_unit_response.json
  tests/Api/Shop/OrderItemUnitsTest.php
Labels: API

#15857 [Api][ProductTaxon] Disable the ability to update product and taxon fields on productTaxon
  UPGRADE-API-1.13.md
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductTaxon.xml
  tests/Api/Admin/ProductTaxonsTest.php
  tests/Api/Responses/admin/product_taxon/put_does_not_update_product_and_taxon_on_product_taxon.json
Labels: Maintenance, API

#15861 [API] Cover adjustments serialization on OrderItemUnit and Shipment resources
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Adjustment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/OrderItemUnit.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Shipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Adjustment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  tests/Api/Admin/AdjustmentsTest.php
  tests/Api/Admin/OrderItemUnitsTest.php
  tests/Api/Admin/ShipmentsTest.php
  tests/Api/DataFixtures/ORM/cart/promotion.yaml
  tests/Api/Responses/admin/adjustments/get_adjustment.json
  tests/Api/Responses/admin/adjustments/get_adjustments.json
  tests/Api/Responses/admin/order/get_adjustments_for_a_given_order_response.json
  tests/Api/Responses/admin/order_item_units/get_order_item_unit_adjustments.json
  tests/Api/Responses/admin/shipment/get_shipment_adjustments.json
Labels: API

#15865 [API][Shop] Minor clean up of address contract tests
  tests/Api/DataFixtures/ORM/address_with_customer.yaml
  tests/Api/Responses/admin/address/get_address.json
  tests/Api/Responses/admin/address/get_address_log_entries.json
  tests/Api/Responses/shop/address/create_address_with_province_code_response.json
  tests/Api/Responses/shop/address/create_address_with_province_name_response.json
  tests/Api/Responses/shop/address/create_address_without_province_response.json
  tests/Api/Responses/shop/address/get_address_response.json
  tests/Api/Responses/shop/address/get_addresses_response.json
  tests/Api/Responses/shop/address/post_address_with_province_code_response.json
  tests/Api/Responses/shop/address/post_address_with_province_name_response.json
  tests/Api/Responses/shop/address/post_address_without_province_response.json
  tests/Api/Responses/shop/address/put_address_response.json
  tests/Api/Shop/AddressesGetTest.php
  tests/Api/Shop/AddressesTest.php
Labels: DX, API

#15859 FIX zoneMembers not unique ID
  UPGRADE-API-1.12.md
  features/addressing/managing_zones/readding_zone_members_that_have_the_same_code_in_more_than_one_zone.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingZonesContext.php
  src/Sylius/Behat/Context/Transform/ZoneMemberContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Zone.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ZoneMember.xml
Labels: Maintenance, API, Bug

#15874 Add missing price history suites
  src/Sylius/Behat/Resources/config/suites.yml
  src/Sylius/Behat/Resources/config/suites/ui/product/viewing_price_history.yaml
  src/Sylius/Behat/Resources/config/suites/ui/product/viewing_price_history_after_catalog_promotions.yaml
Labels: Behat

#15872 [API][Shop] Add missing contract test for getting only countries from current channel
  tests/Api/DataFixtures/ORM/channel_with_countries.yaml
  tests/Api/Responses/shop/country/get_countries_from_channel_response.json
  tests/Api/Shop/CountriesTest.php
Labels: API

#15875 [API][Shop] Improvements for customer endpoints
  src/Sylius/Bundle/ApiBundle/Command/Account/RegisterShopUser.php
  src/Sylius/Bundle/ApiBundle/Command/Account/RequestResetPasswordToken.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/AccountResetPassword.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Customer.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Customer.xml
  tests/Api/Responses/shop/customer/get_customer_response.json
  tests/Api/Responses/shop/customer/put_customer_response.json
  tests/Api/Shop/CustomersTest.php
Labels: API

#15885 Add upmerging from 2.0 to bootstrap-admin-panel
  .github/workflows/upmerge_pr.yaml
Labels: Maintenance

#15878 [API][Shop] Improvements for customer account verification
  src/Sylius/Bundle/ApiBundle/Command/Account/ResendVerificationEmail.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Account/VerifyCustomerAccountHandler.php
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Account/ResendVerificationEmail.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Account/VerifyCustomerAccount.xml
  tests/Api/Shop/VerifyCustomerAccountsTest.php
Labels: API, Bug

#15895 Split ci__full.yaml workflow into smaller ones
  .github/workflows/ci__full_1_12.yaml
  .github/workflows/ci__full_1_13.yaml
  .github/workflows/ci__full_2_0.yaml
  .github/workflows/ci_e2e-mysql.yaml
Labels: Maintenance, CI

#15897 [Api][Shop][ProductAssociationType] Remove createdAt and updatedAt properties from response
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductAssociationType.xml
  tests/Api/Responses/shop/product_association/get_product_association_response.json
  tests/Api/Responses/shop/product_association/get_product_association_type_response.json
  tests/Api/Shop/ProductAssociationTypesTest.php
  tests/Api/Shop/ProductAssociationsTest.php
Labels: API

#15902 [API][Shop] Improve product option tests
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductOption.xml
  tests/Api/Responses/shop/product/get_product_option_value.json
  tests/Api/Responses/shop/product_option/get_product_option.json
  tests/Api/Responses/shop/product_option/get_product_option_value.json
  tests/Api/Shop/ProductOptionTest.php
  tests/Api/Shop/ProductOptionValuesTest.php
Labels: API

#15879 [Api][Shop] Get only accepted review in product
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/DoctrineCollectionValuesNormalizer.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/DoctrineCollectionValuesNormalizerSpec.php
  tests/Api/DataFixtures/ORM/product/product.yaml
  tests/Api/Responses/admin/product/get_product_response.json
  tests/Api/Responses/admin/product/get_products_response.json
  tests/Api/Responses/admin/product/put_product_response.json
  tests/Api/Responses/shop/product/get_products_with_reviews.json
  tests/Api/Shop/ProductsTest.php
Labels: API

#15900 BUGFIX: #12681 add missing required class to provincecode select input
  src/Sylius/Bundle/ShopBundle/Resources/private/js/sylius-province-field.js
Labels: Shop

#15909 BUGFIX: #15908 [AdminBundle] missing br tag for spacing for product media tab button
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Tab/_media.html.twig
Labels: Admin

#15914 Add paths to promotion coupon
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/PromotionCoupon.xml
Labels: Admin, API

#15896 [Bootstrap Admin Panel] Order's Address Edit Page View
  composer.json
  features/admin/order/managing_orders/modifying_billing_address/modifying_billing_address.feature
  features/admin/order/managing_orders/modifying_shipping_address/modifying_shipping_address.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingOrdersContext.php
  src/Sylius/Behat/Page/Admin/Order/UpdatePage.php
  src/Sylius/Behat/Page/Admin/Order/UpdatePageInterface.php
  src/Sylius/Behat/Resources/config/suites/ui/order/modifying_placed_order_address.yaml
  src/Sylius/Bundle/AddressingBundle/Form/Type/AddressType.php
  src/Sylius/Bundle/AdminBundle/Form/Extension/AddressTypeExtension.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/order/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/twig_component.xml
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Form/Common/city.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Form/Common/company.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Form/Common/country.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Form/Common/first_name.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Form/Common/last_name.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Form/Common/phone_number.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Form/Common/postcode.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Form/Common/province.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Form/Common/street_address.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Form/billingAddress.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/Form/shippingAddress.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Order/form.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Shared/Crud/Update/Content/_form.html.twig
  src/Sylius/Bundle/AdminBundle/TwigComponent/Order/OrderType.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/OrderTypeExtension.php
Labels: Admin, Shop

#15919 Add missing description to shipping method and make calculator serialization name more descriptive
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/ShippingMethodDocumentationModifier.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/integrations/swagger.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ShippingMethod.xml
  tests/Api/Responses/admin/shipping_method/archive_shipping_method_response.json
  tests/Api/Responses/admin/shipping_method/get_shipping_method_response.json
  tests/Api/Responses/admin/shipping_method/get_shipping_methods_response.json
  tests/Api/Responses/admin/shipping_method/restore_shipping_method_response.json
  tests/Api/Responses/admin/shipping_method/update_shipping_method_calculator_configuration_response.json
  tests/Api/Responses/admin/shipping_method/update_shipping_method_rules_response.json
Labels: Admin, API

#15867 Add Price history index page
  features/admin/product/viewing_price_history/accessing_price_history_from_configurable_product.feature
  features/admin/product/viewing_price_history/accessing_price_history_from_simple_product.feature
  features/admin/product/viewing_price_history/seeing_price_history_of_product_variant_after_changes_to_catalog_promotions.feature
  features/admin/product/viewing_product_in_admin_panel/viewing_lowest_price_before_discount_for_simple_product.feature
  features/admin/product/viewing_product_in_admin_panel/viewing_lowest_price_before_discount_within_variant.feature
  src/Sylius/Behat/Context/Ui/Admin/ProductShowPageContext.php
  src/Sylius/Behat/Element/Product/ShowPage/PricingElement.php
  src/Sylius/Behat/Element/Product/ShowPage/VariantsElement.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/channel_pricing_log_entry/index.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product/show.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/product.yml
  src/Sylius/Bundle/AdminBundle/Resources/views/ChannelPricingLogEntry/Grid/Field/originalPrice.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ChannelPricingLogEntry/Grid/Field/price.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ChannelPricingLogEntry/Index/Content/Header/breadcrumbs.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/ChannelPricingLogEntry/Index/index.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/Content/PageBody/Details/Shared/shipping.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/Content/PageBody/Details/configurableProduct.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/Content/PageBody/Details/simpleProduct.html.twig
  src/Sylius/Bundle/AdminBundle/Resources/views/Product/Show/Content/PageBody/_details.html.twig
Labels: Admin

#15921 Add paths to tax category
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/TaxCategory.xml
Labels: Admin, API

#15920 Add paths to tax rate
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/TaxRate.xml
Labels: Admin, API

#15925 [Unit][Admin] Missing Product Association Type Translations Test
  tests/Api/Admin/ProductAssociationTypesTest.php
  tests/Api/Responses/admin/product_association_type/get_product_association_type_translation_response.json
  tests/Api/Responses/admin/product_association_type/put_product_association_type_with_duplicate_locale_translation_response.json
Labels: API

#15926 [Unit][Admin] Missing Product Attribute Translations Test
  tests/Api/Admin/ProductAttributesTest.php
  tests/Api/Responses/admin/product_attribute/get_product_attribute_translation_response.json
Labels: API

#15931 [Unit][Admin] Catalog Promotion Removal Test
  tests/Api/Admin/CatalogPromotionsTest.php
Labels: API

#15922 [Unit][Admin] Missing Payments Tests
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/ShippingMethodDocumentationModifier.php
  tests/Api/Admin/OrdersTest.php
  tests/Api/Admin/PaymentsTest.php
  tests/Api/Admin/ProductReviewsTest.php
  tests/Api/JsonApiTestCase.php
  tests/Api/Responses/admin/payment/get_payments_filtered_by_state_response.json
  tests/Api/Responses/admin/payment/patch_complete_payment_response.json
  tests/Api/Responses/admin/payment/patch_not_complete_payment_response.json
  tests/Api/Shop/ProductReviewsTest.php
  tests/Api/Utils/OrderPlacerTrait.php
Labels: API

#15927 [API] Missing AvatarImage Tests
  tests/Api/Admin/AvatarImageTest.php
  tests/Api/DataFixtures/ORM/avatar_image.yaml
  tests/Api/Responses/admin/avatar_image/get_an_avatar_image.json
  tests/Api/Responses/admin/avatar_image/post_avatar_image.json
Labels: API

#15924 [Unit][Admin] Missing Payment Methods tests
  tests/Api/Admin/PaymentMethodsTest.php
  tests/Api/Admin/ProductAssociationTypesTest.php
  tests/Api/Admin/ProductAttributesTest.php
  tests/Api/JsonApiTestCase.php
  tests/Api/Responses/admin/payment_method/get_payment_method_translation_response.json
Labels: API

#15932 [Unit][API] Missing Customer Group Removal Test
  tests/Api/Admin/CustomerGroupsTest.php
Labels: API

#15934 [API][Shop] Remove translations' endpoints
  UPGRADE-API-1.13.md
  src/Sylius/Behat/Context/Api/Shop/OrderContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/PaymentMethodTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ProductVariantTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/ShippingMethodTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/TaxonTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/PaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/PaymentMethodTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductVariantTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ShippingMethodTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/TaxonTranslation.xml
  tests/Api/Responses/shop/order/updated_payment_method_on_order_response.json
  tests/Api/Responses/shop/payment/get_payment_response.json
Labels: Maintenance, Shop, API

#15936 [Unit][Admin] Missing Exchange Rate Test
  tests/Api/Admin/ExchangeRatesTest.php
Labels: API

#15935 [Unit][Admin] Missing Customer Tests
  src/Sylius/Behat/Context/Api/Admin/ManagingCustomersContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Customer.xml
  tests/Api/Admin/CustomersTest.php
  tests/Api/Responses/admin/customer/get_customer_without_shop_user_response.json
  tests/Api/Responses/admin/customer/post_customer_with_already_taken_email_response.json
Labels: API

#15937 [API][Maintenance] Fix field name in AddressLogEntry serialization
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/AddressLogEntry.xml
  tests/Api/Responses/admin/address/get_address_log_entries.json
Labels: Maintenance, API
