Repository Sylius/Sylius, pull requests merged in 2024-07, with the labels that each got.

#16496 Add upmerge from 2.0 to symfony-7 branch
  .github/workflows/upmerge_pr.yaml
Labels: Maintenance

#16500 [Documentation] Update Sylius 1.12 version on the release cycle page + update PR template
  .github/PULL_REQUEST_TEMPLATE.md
  docs/book/organization/release-cycle.rst
Labels: Documentation, Maintenance

#16477 Fix ProductTaxons' positioning logic
  src/Sylius/Bundle/CoreBundle/Controller/ProductTaxonController.php
Labels: Bug

#16380 Fix products grid for mobile
  src/Sylius/Bundle/ShopBundle/Resources/private/scss/theme.scss
Labels: Shop

#16474 Update model.rst
  docs/customization/model.rst
Labels: Documentation

#16475 Update repository.rst
  docs/customization/repository.rst
Labels: Documentation

#16508 Add styles for error pages templates
  src/Sylius/Bundle/ShopBundle/Resources/views/error.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/error403.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/error404.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/error500.html.twig
Labels: Shop

#16495 Bootstrap shop components refactor
  src/Sylius/Bundle/ShopBundle/Resources/private/icons/plus.svg
  src/Sylius/Bundle/ShopBundle/Resources/private/icons/trash.svg
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/address_book/create.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/address_book/index.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/address_book/set_as_default.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/address_book/update.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/change_password.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/login/forgot_password.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/login/register_box.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/login/submit.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/profile_update.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Account/register/submit.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Cart/items/update.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Contact/submit.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Layout/Header/security.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Order/thank_you.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/index/main/footer.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Product/show/summary/add_to_cart.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Shared/buttons.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Shared/macro/navigation_buttons.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Shared/pagination.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Shared/pagination/bootstrap_5.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Shared/pagination/pagination.html.twig
Labels: Shop

#16502 Email file names refactor
  docs/book/architecture/contact.rst
  docs/book/architecture/emails.rst
  src/Sylius/Bundle/ShopBundle/Resources/config/app/sylius/sylius_mailer.yml
  src/Sylius/Bundle/ShopBundle/Resources/views/Email/contact_request.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Email/order_confirmation.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Email/password_reset.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/Email/user_registration.html.twig
Labels: Documentation, Shop

#16507 Change ship button styling
  src/Sylius/Bundle/AdminBundle/templates/shared/helper/icon.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shipment/component/ship.html.twig
Labels: Admin

#16484 [Admin] Fix slug generation button's icon
  src/Sylius/Bundle/AdminBundle/templates/product/form_theme.html.twig
  src/Sylius/Bundle/AdminBundle/templates/taxon/form_theme.html.twig
Labels: Admin, Frontend

#16509 [Admin][Taxon] Delete
  features/admin/promotion/managing_promotions/prevent_from_removing_taxons_that_are_used_in_promotion_rules.feature
  features/admin/taxonomy/managing_taxons/deleting_taxon.feature
  src/Sylius/Behat/Context/Api/Admin/RemovingTaxonContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingTaxonsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingTranslatableEntitiesContext.php
  src/Sylius/Behat/Context/Ui/Admin/RemovingTaxonContext.php
  src/Sylius/Behat/Element/Admin/Product/TaxonomyFormElement.php
  src/Sylius/Behat/Element/Admin/Product/TaxonomyFormElementInterface.php
  src/Sylius/Behat/Element/Admin/Taxon/TreeElement.php
  src/Sylius/Behat/Element/Admin/Taxon/TreeElementInterface.php
  src/Sylius/Behat/Page/Admin/Taxon/CreatePage.php
  src/Sylius/Behat/Page/Admin/Taxon/CreatePageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/services/pages/admin/taxon.xml
  src/Sylius/Bundle/AdminBundle/Resources/assets/bootstrap.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/DeleteTaxonController.js
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/taxon/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/taxon/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/twig/component.xml
  src/Sylius/Bundle/AdminBundle/Twig/Component/Taxon/DeleteComponent.php
  src/Sylius/Bundle/AdminBundle/templates/taxon/sections/tree.html.twig
  src/Sylius/Bundle/AdminBundle/templates/taxon/sections/tree/actions/dropdown/delete.html.twig
Labels: Admin

#16511 Remove deprecated statistics
  phpstan-baseline.neon
  src/Sylius/Bundle/AdminBundle/Controller/Dashboard/StatisticsController.php
  src/Sylius/Bundle/AdminBundle/Controller/DashboardController.php
  src/Sylius/Bundle/AdminBundle/Provider/StatisticsDataProvider.php
  src/Sylius/Bundle/AdminBundle/Provider/StatisticsDataProviderInterface.php
  src/Sylius/Bundle/AdminBundle/Resources/config/routing.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/controller.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/provider.xml
  src/Sylius/Bundle/AdminBundle/Twig/Component/Dashboard/StatisticsComponent.php
  src/Sylius/Bundle/AdminBundle/spec/Provider/StatisticsDataProviderSpec.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/dashboard.xml
  src/Sylius/Component/Core/Dashboard/DashboardStatistics.php
  src/Sylius/Component/Core/Dashboard/DashboardStatisticsProvider.php
  src/Sylius/Component/Core/Dashboard/DashboardStatisticsProviderInterface.php
  src/Sylius/Component/Core/Dashboard/Interval.php
  src/Sylius/Component/Core/Dashboard/SalesDataProvider.php
  src/Sylius/Component/Core/Dashboard/SalesDataProviderInterface.php
  src/Sylius/Component/Core/Dashboard/SalesSummary.php
  src/Sylius/Component/Core/Dashboard/SalesSummaryInterface.php
  src/Sylius/Component/Core/spec/Dashboard/DashboardStatisticsProviderSpec.php
  src/Sylius/Component/Core/spec/Dashboard/DashboardStatisticsSpec.php
  src/Sylius/Component/Core/spec/Dashboard/SalesSummarySpec.php
  tests/Functional/SalesDataProviderTest.php
Labels: Maintenance, Admin

#16514 Customer create edit page fixes
  src/Sylius/Bundle/AdminBundle/Form/Type/CustomerType.php
  src/Sylius/Bundle/AdminBundle/templates/customer/form/sections/account_credentials.html.twig
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
Labels: Admin

#16469 Use interface for a response checker dependency
  src/Sylius/Behat/Context/Api/Shop/ContactContext.php
Labels: Enhancement, Behat, Maintenance, Admin

#16510 Deprecate statistics services
  UPGRADE-1.14.md
  src/Sylius/Bundle/AdminBundle/Controller/Dashboard/StatisticsController.php
  src/Sylius/Bundle/AdminBundle/Controller/DashboardController.php
  src/Sylius/Bundle/AdminBundle/Provider/StatisticsDataProvider.php
  src/Sylius/Bundle/AdminBundle/Provider/StatisticsDataProviderInterface.php
  src/Sylius/Component/Core/Dashboard/DashboardStatistics.php
  src/Sylius/Component/Core/Dashboard/DashboardStatisticsProvider.php
  src/Sylius/Component/Core/Dashboard/DashboardStatisticsProviderInterface.php
  src/Sylius/Component/Core/Dashboard/Interval.php
  src/Sylius/Component/Core/Dashboard/SalesDataProvider.php
  src/Sylius/Component/Core/Dashboard/SalesDataProviderInterface.php
  src/Sylius/Component/Core/Dashboard/SalesSummary.php
  src/Sylius/Component/Core/Dashboard/SalesSummaryInterface.php
Labels: Maintenance, Admin

#16520 [Admin][Taxon] Minor improvements
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/DeleteTaxonController.js
  src/Sylius/Bundle/AdminBundle/templates/taxon/sections/tree.html.twig
Labels: Admin

#16539 Deprecate LocaleTypeExtension
  UPGRADE-1.14.md
  src/Sylius/Bundle/CoreBundle/Form/Extension/LocaleTypeExtension.php
Labels: Maintenance

#16460 [Admin][UI] Add menu search input to the sidebar
  src/Sylius/Bundle/AdminBundle/Resources/assets/entrypoint.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/scripts/menu-search.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_sidebar.scss
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/sidebar/menu.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/sidebar/menu/menu.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/sidebar/search.html.twig
Labels: Admin

#16541 [Admin] Remove unneeded deprecation + fix form template
  src/Sylius/Bundle/AdminBundle/Controller/DashboardController.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/tax_category/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/tax_category/update.yaml
Labels: Maintenance, Admin, Bug

#16542 [Maintenance] Disable non-UI tests in CI
  .github/workflows/ci_e2e-custom.yaml
  .github/workflows/ci_e2e-mariadb.yaml
  .github/workflows/ci_e2e-mysql.yaml
  .github/workflows/ci_e2e-pgsql.yaml
Labels: Maintenance, Shop, CI

#16544 [Docs] Update Taxon-Menu Page To Reflect Current Fixtures Configuration
  docs/cookbook/shop/taxons-menu.rst
Labels: Documentation

#16540 Fix error pages paths
  src/Sylius/Bundle/ShopBundle/templates/Errors/error403.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Errors/error404.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Errors/error500.html.twig
Labels: Shop

#16549 Disable sortable name field
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/locale.yml
Labels: Admin

#16548 [Admin][Dashboard] Show dashboard channel dropdown only when there are more channels
  src/Sylius/Bundle/AdminBundle/templates/dashboard/index/component/channel_selector.html.twig
Labels: Admin

#16551 Bump Twig Hooks to 0.3.x
  composer.json
  src/Sylius/Bundle/AdminBundle/composer.json
Labels: Maintenance, Admin, Dependencies

#16546 Fix account order paths
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/account/order.yml
  src/Sylius/Bundle/ShopBundle/templates/Account/order/show/header.html.twig
Labels: Shop

#16550 [Behat] Enable Accessing The Product Edit Page From The Show Page Scenarios
  features/product/viewing_product_in_admin_panel/accessing_product_edit_page_from_show_page.feature
  src/Sylius/Behat/Resources/config/suites/ui/product/accessing_edit_page_from_product_show_page.yml
Labels: Behat

#16558 Fix disabled select style
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_form.scss
Labels: Admin

#16552 Dashboard improvements
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/dashboard/index.yaml
  src/Sylius/Bundle/AdminBundle/templates/dashboard/index/component/channel_selector.html.twig
  src/Sylius/Bundle/AdminBundle/templates/dashboard/index/content/header/breadcrumbs.html.twig
  src/Sylius/Bundle/AdminBundle/templates/dashboard/index/content/header/title_block/title.html.twig
  src/Sylius/Bundle/AdminBundle/templates/dashboard/index/content/statistics_chart.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/content/header/title_block/title.html.twig
Labels: Admin

#16534 [Admin][Product] Various scenarios fixes
  features/admin/product/managing_products/accessing_stores_product_page.feature
  features/admin/product/managing_products/accessing_variants_management_from_product_edit_page.feature
  features/admin/product/managing_products/adding_product_with_only_original_price.feature
  features/admin/product/managing_products/adding_product_with_prices_for_multiple_channels.feature
  features/admin/product/managing_products/deleting_multiple_products.feature
  features/admin/product/managing_products/preventing_xss_attack_while_adding_new_product.feature
  features/admin/product/managing_products/removing_product_price_after_channel_deletion.feature
  features/admin/product/managing_products/removing_product_price_from_obsolete_channel.feature
  features/admin/product/managing_products/toggling_inventory_on_product.feature
  src/Sylius/Behat/Element/Admin/Crud/FormElement.php
  src/Sylius/Behat/Element/Admin/Product/ChannelPricingsFormElement.php
  src/Sylius/Behat/Page/Admin/Product/UpdateSimpleProductPage.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product/update.yaml
  src/Sylius/Bundle/AdminBundle/templates/product/common/header/title_block/actions/manage_variants.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product/common/header/title_block/actions/manage_variants/create.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product/common/header/title_block/actions/manage_variants/generate.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product/common/header/title_block/actions/manage_variants/list.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product/common/header/title_block/actions/view_in_store.html.twig
Labels: Admin

#16566 [Behat][Product] Fix and enable adding product with multiple attributes scenario
  features/admin/product/managing_products/adding_multiple_product_attributes_at_once.feature
  src/Sylius/Behat/Element/Admin/Product/AttributesFormElement.php
Labels: Behat, Admin

#16571 Taxon tree dropdown fix
  src/Sylius/Bundle/AdminBundle/templates/taxon/sections/tree/actions/dropdown.html.twig
Labels: Admin

#16576 [ADR] Api - State providers structure
  adr/2024_07_15_api_state_providers_structure.md
Labels: Maintenance

#16513 Bootstrap Shop UI fixes
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/base.yaml
  src/Sylius/Bundle/ShopBundle/Resources/private/icons/credit-card.svg
  src/Sylius/Bundle/ShopBundle/Resources/private/icons/menu.svg
  src/Sylius/Bundle/ShopBundle/Resources/private/scss/_messages.scss
  src/Sylius/Bundle/ShopBundle/Resources/private/scss/style.scss
  src/Sylius/Bundle/ShopBundle/templates/Account/dashboard.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Account/forgotten_password.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Account/layout.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Account/login.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Account/order/grid/action/pay.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Account/reset_password.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Cart/items/items.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Cart/items/update.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Cart/summary.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Cart/widget/button.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Checkout/shared/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Contact/request.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Errors/error.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Grid/Action/show.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Layout/_footer.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Order/thank_you.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Product/index.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Product/show.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Taxon/_horizontalMenu.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/flashes.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/content/taxon_hamburger.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/flashes.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/navbar/menu.html.twig
Labels: Shop

#16582 [API] Upgrade Shipping Method resource to API Platform 3
  disabledTests/Api/Admin/ShippingMethodsTest.php
  disabledTests/Api/Shop/ShippingMethodsTest.php
  phpstan-baseline.neon
  src/Sylius/Bundle/ApiBundle/DataPersister/ShippingMethodDataPersister.php
  src/Sylius/Bundle/ApiBundle/DataProvider/ShippingMethodsCollectionDataProvider.php
  src/Sylius/Bundle/ApiBundle/Doctrine/ORM/QueryExtension/Shop/ShippingMethod/ChannelBasedExtension.php
  src/Sylius/Bundle/ApiBundle/Doctrine/ORM/QueryExtension/Shop/ShippingMethod/EnabledExtension.php
  src/Sylius/Bundle/ApiBundle/Filter/ShippingMethodFilter.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/ShippingMethodTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/Zone.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ShippingMethodRule.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ShippingMethodTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Zone.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/ShippingMethodRule.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/ShippingMethodTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ShippingMethodRule.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ShippingMethodTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_persisters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_processors.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/Serializer/Normalizer/ShippingMethodNormalizer.php
  src/Sylius/Bundle/ApiBundle/StateProcessor/Admin/ShippingMethod/RemoveProcessor.php
  src/Sylius/Bundle/ApiBundle/StateProvider/Shop/Order/Shipment/ShippingMethod/CollectionProvider.php
  src/Sylius/Bundle/ApiBundle/disabledSpec/DataProvider/ShippingMethodsCollectionDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/disabledSpec/Serializer/ShippingMethodNormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/ShippingMethod/ChannelBasedExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/ShippingMethod/EnabledExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/Normalizer/ShippingMethodNormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProcessor/Admin/ShippingMethod/RemoveProcessorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProvider/Shop/Order/Shipment/ShippingMethod/CollectionProviderSpec.php
  tests/Api/Admin/ShippingMethodsTest.php
  tests/Api/DataFixtures/ORM/shipping_method.yaml
  tests/Api/Responses/admin/shipping_method/archive_shipping_method_response.json
  tests/Api/Responses/admin/shipping_method/get_shipping_method_response.json
  tests/Api/Responses/admin/shipping_method/get_shipping_methods_response.json
  tests/Api/Responses/admin/shipping_method/post_shipping_method_response.json
  tests/Api/Responses/admin/shipping_method/restore_shipping_method_response.json
  tests/Api/Responses/admin/shipping_method/update_shipping_method_calculator_configuration_response.json
  tests/Api/Responses/shop/shipping_method/get_empty_order_shipping_methods_response.json
  tests/Api/Responses/shop/shipping_method/get_order_shipping_methods_response.json
  tests/Api/Responses/shop/shipping_method/get_shipping_method_response.json
  tests/Api/Responses/shop/shipping_method/get_shipping_methods_response.json
  tests/Api/Shop/ShippingMethodsTest.php
Labels: API

#16591 [API] Fix GET endpoint for Shipping Method Translation resource
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ShippingMethodTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ShippingMethodTranslation.xml
  tests/Api/Admin/ShippingMethodTranslationsTest.php
  tests/Api/Responses/admin/shipping_method_translation/get_shipping_method_translation_response.json
Labels: API

#16587 [ADR] QueryExtenions directory structure
  adr/2024_07_16_api_query_extensions_directory_structure.md
Labels: Maintenance

#16592 [API] Disable shop GET adjustment endpoint
  UPGRADE-API-1.12.md
  src/Sylius/Bundle/ApiBundle/Resources/config/api_resources/Adjustment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  tests/Api/Shop/AdjustmentsTest.php
  tests/Api/Utils/OrderPlacerTrait.php
Labels: Critical, Maintenance, API, Bug

#16585 [Admin][Product] Add validation message for the channel-specific price field
  features/admin/product/managing_product_variants/generating_product_variant_validation.feature
  features/admin/product/managing_product_variants/product_variant_validation.feature
  features/admin/product/managing_products/adding_product_with_prices_for_multiple_channels.feature
  features/admin/product/managing_products/product_validation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductVariantsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductVariantsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Element/Admin/Product/ChannelPricingsFormElement.php
  src/Sylius/Behat/Element/Admin/Product/ChannelPricingsFormElementInterface.php
  src/Sylius/Behat/Page/Admin/Crud/CreatePage.php
  src/Sylius/Behat/Page/Admin/Crud/CreatePageInterface.php
  src/Sylius/Behat/Page/Admin/ProductVariant/CreatePage.php
  src/Sylius/Behat/Page/Admin/ProductVariant/GeneratePage.php
  src/Sylius/Behat/Page/Admin/ProductVariant/GeneratePageInterface.php
  src/Sylius/Behat/Page/Admin/Promotion/CreatePage.php
  src/Sylius/Behat/Page/Admin/Promotion/CreatePageInterface.php
  src/Sylius/Bundle/AdminBundle/templates/product/form/sections/channel_pricing.html.twig
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/HasAllPricesDefined.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/HasAllPricesDefinedValidator.php
  src/Sylius/Bundle/CoreBundle/spec/Validator/Constraints/HasAllPricesDefinedValidatorSpec.php
Labels: Admin

#16595 [Behat] Enable leftover product variant adding tests
  features/admin/product/managing_product_variants/adding_product_variant.feature
  features/admin/product/managing_product_variants/adding_product_variant_with_only_original_price.feature
Labels: Behat, Admin

#16597 [Admin] Change the extended pagination template
  src/Sylius/Bundle/AdminBundle/templates/shared/pagerfanta.html.twig
Labels: Admin

#16612 [CI] Run 1.14 full build instead of unsupported 1.12
  .github/workflows/ci__full_1_14.yaml
Labels: Maintenance, CI

#16620 [Shop] Fix template path
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/content/taxon_hamburger.html.twig
Labels: Shop

#16623 Upgrade PromotionCoupon resource to APIP3
  src/Sylius/Behat/Context/Api/Admin/ManagingPromotionCouponsContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites/api.yml
  src/Sylius/Bundle/ApiBundle/Doctrine/ORM/Filters/PromotionCouponPromotionFilter.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/PromotionCoupon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/PromotionCoupon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/PromotionCoupon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Promotion/GeneratePromotionCoupon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/PromotionCoupon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_processors.xml
  src/Sylius/Bundle/ApiBundle/Serializer/Normalizer/GeneratedPromotionCouponsNormalizer.php
  src/Sylius/Bundle/ApiBundle/StateProcessor/Admin/PromotionCoupon/RemoveProcessor.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/Normalizer/GeneratedPromotionCouponsNormalizerSpec.php
  tests/Api/Admin/PromotionCouponsTest.php
  tests/Api/Responses/admin/promotion_coupon/generate_promotion_coupons_response.json
Labels: Admin, API

#16622 [API] Promotion Archiving and Restoring
  disabledTests/Api/Admin/PromotionsTest.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Promotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/Promotion.xml
  tests/Api/Admin/PromotionsTest.php
  tests/Api/Responses/admin/promotion/archive_promotion.json
  tests/Api/Responses/admin/promotion/restore_promotion.json
Labels: API

#16629 Adjust AdminUserPassword SendContactRequest and VerifyShopUser consistent with the changes from 1.13
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/AdminUserPassword.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Command/SendContactRequest.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Command/VerifyShopUser.xml
Labels: API

#16584 Add Shop webpack config and rename private directory to assets
  package.json
  src/Sylius/Bundle/ShopBundle/Resources/assets/bootstrap.js
  src/Sylius/Bundle/ShopBundle/Resources/assets/controllers.json
  src/Sylius/Bundle/ShopBundle/Resources/assets/entrypoint.js
  src/Sylius/Bundle/ShopBundle/Resources/assets/fonts/inter-variable-font-slnt-wght.ttf
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/bag.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/check.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/chevron-down.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/chevron-left.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/chevron-right.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/chevron-up.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/credit-card.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/facebook.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/instagram.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/lock.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/menu.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/pencil.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/plus.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/search.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/star.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/trash.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/twitter-x.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/user.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/icons/x.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/images/adyen-logo.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/images/homepage-banner.jpg
  src/Sylius/Bundle/ShopBundle/Resources/assets/images/homepage-new-collection-photo-1.jpeg
  src/Sylius/Bundle/ShopBundle/Resources/assets/images/homepage-new-collection-photo-2.jpeg
  src/Sylius/Bundle/ShopBundle/Resources/assets/images/homepage-new-collection-photo-3.jpeg
  src/Sylius/Bundle/ShopBundle/Resources/assets/images/mollie-logo.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/images/paypal-logo.svg
  src/Sylius/Bundle/ShopBundle/Resources/assets/js/app.js
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/_accordion.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/_base.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/_buttons.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/_checkout.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/_lists.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/_messages.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/_offcanvas.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/_photo-grid.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/_products.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/_rating.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/_steps.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/_tables.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/style.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/utilities.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/scss/variables.scss
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/index.js
  src/Sylius/Bundle/ShopBundle/package.json
  webpack.config.js
Labels: Shop

#16631 Adjust ShopUserResetPassword consistent with the changes from 1.13
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ShopUserResetPassword.xml
Labels: API

#16614 [API] Cover shipments
  disabledTests/Api/Admin/ShipmentsTest.php
  src/Sylius/Behat/Context/Api/Admin/ManagingShipmentsContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites/api.yml
  src/Sylius/Behat/Resources/config/suites/api/shipping/applying_shipping_fee.yml
  src/Sylius/Bundle/ApiBundle/Attribute/ShipmentIdAware.php
  src/Sylius/Bundle/ApiBundle/Command/Checkout/ShipShipment.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Checkout/ShipShipmentHandler.php
  src/Sylius/Bundle/ApiBundle/DataTransformer/ShipmentIdAwareInputCommandDataTransformer.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Shipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/Checkout/ShipShipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Shipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/context_builders.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/SerializerContextBuilder/ShipmentAwareContextBuilder.php
  src/Sylius/Bundle/ApiBundle/Validator/Constraints/ShipmentAlreadyShippedValidator.php
  src/Sylius/Bundle/ApiBundle/disabledSpec/DataTransformer/ShipmentIdAwareInputCommandDataTransformerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/SendShipmentConfirmationEmailHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Checkout/ShipShipmentHandlerSpec.php
  tests/Api/Admin/ShipmentsTest.php
  tests/Api/Responses/admin/shipment/get_shipment_response.json
  tests/Api/Responses/admin/shipment/get_shipments_response.json
  tests/Api/Responses/shop/shipment/get_shipment_response.json
  tests/Api/Shop/ShipmentsTest.php
Labels: API

#16624 [API] Promotion Create and Update
  disabledTests/Api/Admin/PromotionsTest.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/PromotionAction.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/PromotionRule.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Promotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/PromotionAction.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/PromotionRule.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/Promotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/PromotionAction.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/PromotionRule.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Promotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/PromotionTranslation.xml
  tests/Api/Admin/PromotionsTest.php
  tests/Api/Responses/admin/promotion/post_promotion_response.json
  tests/Api/Responses/admin/promotion/put_promotion_response.json
  tests/Api/Responses/admin/promotion/put_promotion_to_last_priority_when_priority_is_minus_one_response.json
Labels: API

#16632 Reorder the behat tags in Promotion Coupon scenarios
  features/admin/promotion/managing_coupons/adding_coupon.feature
  features/admin/promotion/managing_coupons/browsing_coupons.feature
  features/admin/promotion/managing_coupons/coupon_validation.feature
  features/admin/promotion/managing_coupons/deleting_coupon.feature
  features/admin/promotion/managing_coupons/deleting_multiple_coupons.feature
  features/admin/promotion/managing_coupons/editing_coupon.feature
  features/admin/promotion/managing_coupons/preventing_deletion_of_coupons_in_use.feature
  features/admin/promotion/managing_coupons/sorting_coupons.feature
Labels: API

#16628 [API] Cover zones
  disabledTests/Api/Admin/ZoneMembersTest.php
  disabledTests/Api/Admin/ZonesTest.php
  features/admin/addressing/managing_zones/adding_zone.feature
  features/admin/addressing/managing_zones/browsing_zone.feature
  features/admin/addressing/managing_zones/deleting_multiple_zones.feature
  features/admin/addressing/managing_zones/deleting_zone.feature
  features/admin/addressing/managing_zones/editing_zone.feature
  features/admin/addressing/managing_zones/zone_unique_code_validation.feature
  features/admin/addressing/managing_zones/zone_validation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingZonesContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites/api.yml
  src/Sylius/Bundle/ApiBundle/DataPersister/ZoneDataPersister.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/Zone.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Zone.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/Zone.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/ZoneMember.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Zone.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ZoneMember.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_persisters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_processors.xml
  src/Sylius/Bundle/ApiBundle/Serializer/Denormalizer/ZoneDenormalizer.php
  src/Sylius/Bundle/ApiBundle/Serializer/ZoneDenormalizer.php
  src/Sylius/Bundle/ApiBundle/StateProcessor/Admin/Zone/RemoveProcessor.php
  src/Sylius/Bundle/ApiBundle/disabledSpec/DataPersister/ZoneDataPersisterSpec.php
  src/Sylius/Bundle/ApiBundle/disabledSpec/Serializer/ZoneDenormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/Denormalizer/ZoneDenormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProcessor/Admin/Zone/RemoveProcessorSpec.php
  tests/Api/Admin/ZonesTest.php
  tests/Api/DataFixtures/ORM/zones.yaml
  tests/Api/Responses/admin/zone/create_zone.json
  tests/Api/Responses/admin/zone/get_zone.json
  tests/Api/Responses/admin/zone/get_zone_members_response.json
  tests/Api/Responses/admin/zone/get_zones.json
  tests/Api/Responses/admin/zone/get_zones_response.json
  tests/Api/Responses/admin/zone/update_zone.json
  tests/Api/Responses/admin/zone_member/get_zone_member_response.json
Labels: API

#16637 Product page hooks fix
  src/Sylius/Bundle/ShopBundle/templates/product/show/page/info/summary/variant_selection/add_to_cart/options/list.html.twig
Labels: Shop

#16625 [API] Promotion GET Collection
  UPGRADE-API-2.0.md
  disabledTests/Api/Admin/PromotionsTest.php
  src/Sylius/Behat/Context/Api/Admin/ManagingPromotionsContext.php
  src/Sylius/Behat/Context/Api/Admin/RemovingProductContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites/api.yml
  src/Sylius/Behat/Resources/config/suites/api/promotion/managing_promotions.yml
  src/Sylius/Bundle/ApiBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/ApiBundle/DependencyInjection/SyliusApiExtension.php
  src/Sylius/Bundle/ApiBundle/Doctrine/ORM/QueryExtension/Common/NonArchivedExtension.php
  src/Sylius/Bundle/ApiBundle/Doctrine/ORM/QueryExtension/Common/ShippingMethod/NonArchivedExtension.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Promotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/PromotionAction.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/app/config.yaml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/Promotion.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/Tests/DependencyInjection/SyliusApiExtensionTest.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Common/NonArchivedExtensionSpec.php
  tests/Api/Admin/PromotionsTest.php
  tests/Api/Responses/admin/promotion/get_promotions_response.json
Labels: Maintenance, API

#16639 Fix PostgreSQL CI Full to run
  .github/workflows/ci_e2e-pgsql.yaml
Labels: Maintenance

#16644 [Behat] Reorder promotion API tags
  features/admin/promotion/managing_promotions/accessing_the_coupons_management_from_the_promotion_page.feature
  features/admin/promotion/managing_promotions/adding_promotion.feature
  features/admin/promotion/managing_promotions/adding_promotion_with_action_in_different_channels.feature
  features/admin/promotion/managing_promotions/deleting_multiple_promotions.feature
  features/admin/promotion/managing_promotions/seeing_correct_percentage_discounts_while_editing_promotion_with_action_and_decimal_places.feature
  features/admin/promotion/managing_promotions/seeing_errors_in_promotion_channel_based_configuration.feature
Labels: Behat

#16647 Deprecate PromotionCouponPromotionFilter
  UPGRADE-1.14.md
  src/Sylius/Bundle/ApiBundle/Filter/Doctrine/PromotionCouponPromotionFilter.php
Labels: Maintenance, API

#16630 Implement hooks for product index
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/product/index.yaml
  src/Sylius/Bundle/ShopBundle/templates/product/index.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/main/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/main/limit.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/main/search.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/main/sorting.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/filters.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/filters/controls.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/filters/controls/limit.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/filters/controls/limit/menu.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/filters/controls/limit/toggle.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/filters/controls/sorting.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/filters/controls/sorting/menu.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/filters/controls/sorting/menu/item.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/filters/controls/sorting/toggle.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/filters/search.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/filters/search/clear.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/filters/search/filter.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/filters/search/submit.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/header/description.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/header/header_taxonomy.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/header/image.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/header/name.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/pagination.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/main/products.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/sidebar.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/sidebar/taxonomy.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/body/sidebar/vertical_menu.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/breadcrumbs.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/index/page/breadcrumbs/breadcrumbs_taxonomy.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/show/page/info/summary/variant_selection/add_to_cart/variants/table/body/name.html.twig
Labels: Shop

#16646 Allow promotion coupon to be filtered by promotion code
  features/admin/promotion/managing_coupons/filtering_coupons.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingPromotionCouponsContext.php
  src/Sylius/Bundle/ApiBundle/Doctrine/ORM/Filters/PromotionCouponPromotionFilter.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/PromotionCoupon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  tests/Api/Responses/admin/promotion_coupon/get_promotion_coupons_response.json
Labels: API

#16649 [Zone] Add validation of country/province/zone code
  UPGRADE-2.0.md
  features/admin/addressing/managing_zones/zone_validation.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingZonesContext.php
  src/Sylius/Bundle/AddressingBundle/DependencyInjection/Configuration.php
  src/Sylius/Bundle/AddressingBundle/DependencyInjection/SyliusAddressingExtension.php
  src/Sylius/Bundle/AddressingBundle/Resources/config/services.xml
  src/Sylius/Bundle/AddressingBundle/Resources/config/validation/ZoneMember.xml
  src/Sylius/Bundle/AddressingBundle/Tests/DependencyInjection/SyliusAddressingExtensionTest.php
  src/Sylius/Bundle/AddressingBundle/Validator/Constraints/ZoneMemberGroup.php
  src/Sylius/Bundle/AddressingBundle/Validator/Constraints/ZoneMemberGroupValidator.php
  src/Sylius/Bundle/AddressingBundle/composer.json
  src/Sylius/Bundle/AddressingBundle/spec/Validator/Constraints/ZoneMemberGroupValidatorSpec.php
  src/Sylius/Bundle/ApiBundle/StateProcessor/Admin/Zone/RemoveProcessor.php
  src/Sylius/Bundle/ApiBundle/spec/StateProcessor/Admin/Zone/RemoveProcessorSpec.php
  src/Sylius/Bundle/CoreBundle/Resources/config/app/sylius/sylius_addressing.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/validators.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/ZoneMember.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/ProvinceCodeExists.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/ProvinceCodeExistsValidator.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/ZoneCodeExists.php
  src/Sylius/Bundle/CoreBundle/Validator/Constraints/ZoneCodeExistsValidator.php
  src/Sylius/Bundle/CoreBundle/spec/Validator/Constraints/ProvinceCodeExistsValidatorSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Validator/Constraints/ZoneCodeExistsValidatorSpec.php
  tests/Api/Admin/ZonesTest.php
  tests/Api/DataFixtures/ORM/zones.yaml
  tests/Api/Responses/admin/zone/create_zone.json
Labels: Maintenance, API

#16655 [API] Fix ShopUser docs example
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/ShopUser.xml
Labels: API

#16659 Bring back archiving promotion test
  features/admin/promotion/managing_promotions/archiving_promotions.feature
Labels: API
