Repository Sylius/Sylius, pull requests merged in 2024-12, with the labels that each got.

#17524 [Maintenance] Change used aliases to id
  src/Sylius/Bundle/AdminBundle/Resources/config/services/email.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/twig/error_template_finder.xml
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/action/apply_transition.html.twig
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/shop/state_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_processors.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/command_handler.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners/workflow/order.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/twig.xml
  tests/Api/Admin/CatalogPromotionsTest.php
Labels: Maintenance

#17526 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Maintenance

#17485 [shop][2.0] fix: prevent loading when go back on product page after redirection
  src/Sylius/Bundle/ShopBundle/templates/product/show/content/info/summary/add_to_cart.html.twig
Labels: Bug

#17527 Allow to add extra filters on promotion actions
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/PromotionAction.xml
Labels: DX

#17518 [UI] Change product images layout
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/product/show.yaml
  src/Sylius/Bundle/ShopBundle/templates/product/show/content/info/overview/images.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/show/content/info/overview/images/main_image.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/show/content/info/overview/images/thumbnails.html.twig
Labels: UX, Shop

#17495 [Admin] - admin panel layout modifications - CRUD removed text-nowrap class
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/index/content/grid/data_table.html.twig
Labels: UX, Admin

#17507 fix: json_decode check always pass #17171
  src/Sylius/Bundle/CoreBundle/Migrations/Version20240315112656.php
Labels: Bug

#17533 Tag attribute case mismatch on sylius php attributes
  src/Sylius/Bundle/AttributeBundle/DependencyInjection/SyliusAttributeExtension.php
  src/Sylius/Bundle/AttributeBundle/Tests/DependencyInjection/SyliusAttributeExtensionTest.php
  src/Sylius/Bundle/PromotionBundle/DependencyInjection/SyliusPromotionExtension.php
  src/Sylius/Bundle/PromotionBundle/Tests/DependencyInjection/SyliusPromotionExtensionTest.php
  src/Sylius/Bundle/ShippingBundle/DependencyInjection/SyliusShippingExtension.php
  src/Sylius/Bundle/ShippingBundle/Tests/DependencyInjection/SyliusShippingExtensionTest.php
Labels: Bug

#17519 SYL-4137: Remove language flags
  UPGRADE-2.0.md
  adr/2024_11_28_languages_flags.md
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_flags.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/main.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/ui/_flags.scss
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/AdminBundle/templates/catalog_promotion/show/content/sections/translations.html.twig
  src/Sylius/Bundle/AdminBundle/templates/country/grid/field/name.html.twig
  src/Sylius/Bundle/AdminBundle/templates/customer/show/content/sections/general/default_address.html.twig
  src/Sylius/Bundle/AdminBundle/templates/locale/grid/field/name.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product/form/sections/attributes/list/translations/flag.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product/show/content/page_body/attributes/non_translatable/head/name.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product/show/content/page_body/attributes/translatable/head/name.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product/show/content/page_body/translations.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_option/form/sections/values/value/translations.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/helper/accordion.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/helper/translations.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/assets/styles/_flags.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/styles/main.scss
  src/Sylius/Bundle/ShopBundle/package.json
  src/Sylius/Bundle/ShopBundle/templates/checkout/complete/content/header/locale.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/macro/flags.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/macro/locales.html.twig
Labels: Admin, Shop

#17539 Move note in the UPGRADE file to proper patch section
  UPGRADE-2.0.md
Labels: Maintenance

#17542 Add missing logo used in e-mails
  src/Sylius/Bundle/CoreBundle/Resources/public/images/sylius-logo.png
  src/Sylius/Bundle/CoreBundle/Resources/views/Email/layout.html.twig
Labels: Bug

#17541 SYL-4139: Missing translations
  src/Sylius/Bundle/AttributeBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/ProductBundle/Resources/config/validation/ProductAssociationType.xml
  src/Sylius/Bundle/ProductBundle/Resources/translations/validators.en.yml
Labels: Admin, Bug

#17540 Add a logo used in emails
  src/Sylius/Bundle/CoreBundle/Resources/public/images/sylius-logo.png
  src/Sylius/Bundle/CoreBundle/Resources/views/Email/layout.html.twig
Labels: Bug

#17543 [Behat] Add http accept header to custom item action
  src/Sylius/Behat/Client/RequestFactory.php
Labels: Behat, Bug

#17544 Update register.html.twig, fix duplicated button id
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/content/security/visitor/desktop/register.html.twig
Labels: DX, Shop

#17548 [Admin][UI] Improve inputs contrast ratio
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_form.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_tom-select.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_variables.scss
Labels: UX, Admin

#17550 [Maintenance][Behat] Enable not creating a driver session in api scenarios
  behat.yml.dist
  src/Sylius/Behat/Resources/config/suites/api/account/address_book.yml
  src/Sylius/Behat/Resources/config/suites/api/account/customer.yml
  src/Sylius/Behat/Resources/config/suites/api/account/customer_registration.yml
  src/Sylius/Behat/Resources/config/suites/api/account/email_verification.yml
  src/Sylius/Behat/Resources/config/suites/api/admin/dashboard.yaml
  src/Sylius/Behat/Resources/config/suites/api/cart/accessing_cart.yml
  src/Sylius/Behat/Resources/config/suites/api/cart/shopping_cart.yml
  src/Sylius/Behat/Resources/config/suites/api/channel/channels.yml
  src/Sylius/Behat/Resources/config/suites/api/checkout/checkout.yml
  src/Sylius/Behat/Resources/config/suites/api/checkout/paying_for_order.yml
  src/Sylius/Behat/Resources/config/suites/api/contact/requesting_contact.yml
  src/Sylius/Behat/Resources/config/suites/api/currency/currencies.yml
  src/Sylius/Behat/Resources/config/suites/api/currency/viewing_exchange_rates.yml
  src/Sylius/Behat/Resources/config/suites/api/homepage/viewing_products.yml
  src/Sylius/Behat/Resources/config/suites/api/inventory/cart_inventory.yml
  src/Sylius/Behat/Resources/config/suites/api/inventory/checkout_inventory.yaml
  src/Sylius/Behat/Resources/config/suites/api/inventory/managing_inventory.yaml
  src/Sylius/Behat/Resources/config/suites/api/locale/locales.yaml
  src/Sylius/Behat/Resources/config/suites/api/order/modifying_placed_order_address.yaml
  src/Sylius/Behat/Resources/config/suites/api/order/order_history.yaml
  src/Sylius/Behat/Resources/config/suites/api/payment/managing_payment_methods.yaml
  src/Sylius/Behat/Resources/config/suites/api/product/adding_product_review.yml
  src/Sylius/Behat/Resources/config/suites/api/product/viewing_product_reviews.yml
  src/Sylius/Behat/Resources/config/suites/api/promotion/applying_catalog_promotions.yml
  src/Sylius/Behat/Resources/config/suites/api/promotion/applying_promotion_coupon.yml
  src/Sylius/Behat/Resources/config/suites/api/promotion/applying_promotion_rules.yml
  src/Sylius/Behat/Resources/config/suites/api/promotion/managing_catalog_promotions.yml
  src/Sylius/Behat/Resources/config/suites/api/promotion/managing_promotions.yml
  src/Sylius/Behat/Resources/config/suites/api/promotion/receiving_discount.yml
  src/Sylius/Behat/Resources/config/suites/api/promotion/removing_catalog_promotions.yml
  src/Sylius/Behat/Resources/config/suites/api/shipping/applying_shipping_method_rules.yml
  src/Sylius/Behat/Resources/config/suites/api/shipping/viewing_shipping_methods.yml
  src/Sylius/Behat/Resources/config/suites/api/taxation/applying_taxes.yml
  src/Sylius/Behat/Resources/config/suites/api/taxation/managing_tax_rates.yml
  src/Sylius/Behat/Resources/config/suites/api/user/managing_users.yml
  src/Sylius/Bundle/ApiBundle/Behat/Tester/ApiScenarioEventDispatchingScenarioTester.php
Labels: Behat, Maintenance

#17558 Add missing locales for product attributes
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product/update.yaml
  src/Sylius/Bundle/AdminBundle/templates/product/form/sections/attributes/list/translations/field/language.html.twig
Labels: UX, Admin, Bug

#17557 Update contact.md typo
  docs/the-book/architecture/contact.md
Labels: Documentation

#17554 [CI] GHA improvements
  .github/workflows/ci_e2e-mariadb.yaml
  .github/workflows/ci_e2e-mysql.yaml
  .github/workflows/ci_e2e-pgsql.yaml
  .github/workflows/ci_e2e-unstable.yaml
  .github/workflows/ci_frontend.yaml
Labels: CI

#17559 General UI improvements #1
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/ProductTaxonTreeController.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/TaxonTreeController.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/entrypoint.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/images/loader.svg
  src/Sylius/Bundle/AdminBundle/Resources/assets/scripts/statistics_chart.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_accordion.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_infinite-tree.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_variables.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/main.scss
  src/Sylius/Bundle/AdminBundle/templates/dashboard/index/content/statistics_chart.html.twig
  src/Sylius/Bundle/AdminBundle/templates/dashboard/index/content/statistics_grid/average_order_value.html.twig
  src/Sylius/Bundle/AdminBundle/templates/dashboard/index/content/statistics_grid/customers.html.twig
  src/Sylius/Bundle/AdminBundle/templates/dashboard/index/content/statistics_grid/paid_orders.html.twig
  src/Sylius/Bundle/AdminBundle/templates/dashboard/index/content/statistics_grid/sales.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product/grid/field/name.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product/show/content/page_body/general/shared/pricing/body/channel.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product/show/content/page_body/general/shared/tab/product.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_variant/grid/action/price_history.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_variant/grid/field/name.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/components/navbar/notifications.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/content/flashes.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/navbar/menu/shop_preview.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/helper/table.html.twig
  src/Sylius/Bundle/AdminBundle/templates/taxon/sections/tree.html.twig
  src/Sylius/Bundle/AdminBundle/templates/taxon/sections/tree/actions.html.twig
  src/Sylius/Bundle/AdminBundle/templates/taxon/sections/tree/actions/dropdown.html.twig
  src/Sylius/Bundle/AdminBundle/templates/taxon/sections/tree/actions/dropdown/create_child.html.twig
  src/Sylius/Bundle/AdminBundle/templates/taxon/sections/tree/actions/dropdown/delete.html.twig
  src/Sylius/Bundle/AdminBundle/templates/taxon/sections/tree/actions/dropdown/move_down.html.twig
  src/Sylius/Bundle/AdminBundle/templates/taxon/sections/tree/actions/dropdown/move_up.html.twig
  src/Sylius/Bundle/AdminBundle/templates/taxon/sections/tree/actions/dropdown/products_positions.html.twig
Labels: UX, Admin

#17564 [Admin] Fix defining default value in twig templates
  src/Sylius/Bundle/AdminBundle/templates/product/show/content/page_body/general/shared/pricing/body/original_price.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_taxon/grid/action/update_positions.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_variant/grid/action/update_positions.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/action/archive.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/action/create.html.twig
Labels: Admin, Bug

#17572 [Admin] Remove pagination selector if there are no other limits
  src/Sylius/Bundle/AdminBundle/templates/shared/helper/pagination.html.twig
Labels: Admin, Bug

#17573 Chore: Bump Twig hooks and extra to 0.6 version
  composer.json
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/ShopBundle/composer.json
  src/Sylius/Bundle/UiBundle/composer.json
Labels: DX

#17566 Allow grid action button's link URL to be defined without defining a …
  src/Sylius/Bundle/AdminBundle/Resources/views/Grid/deleteCatalogPromotion.html.twig
  src/Sylius/Bundle/UiBundle/Resources/views/Grid/Action/default.html.twig
Labels: DX, Admin, Bug

#17575 Fix path to crud in resource config in documentation
  docs/the-customization-guide/customizing-models/how-to-add-a-custom-model.md
Labels: Documentation, Maintenance

#17579 Add an optional icon and description to the page title
  src/Sylius/Bundle/AdminBundle/templates/shared/helper/header.html.twig
Labels: Admin

#17581 Update system-requirements.md
  docs/the-book/installation/system-requirements.md
Labels: Documentation, Maintenance

#17585 [AdminUser][Customer] Improve Twig hook structure by adding `left` and `right` sections
  UPGRADE-2.0.md
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/admin_user/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/admin_user/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/customer/create.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/customer/update.yaml
  src/Sylius/Bundle/AdminBundle/templates/admin_user/form/sections.html.twig
  src/Sylius/Bundle/AdminBundle/templates/admin_user/form/sections/account.html.twig
  src/Sylius/Bundle/AdminBundle/templates/admin_user/form/sections/personal_information.html.twig
  src/Sylius/Bundle/AdminBundle/templates/customer/form/sections.html.twig
  src/Sylius/Bundle/AdminBundle/templates/customer/form/sections/account_credentials.html.twig
  src/Sylius/Bundle/AdminBundle/templates/customer/form/sections/extra_information.html.twig
  src/Sylius/Bundle/AdminBundle/templates/customer/form/sections/general.html.twig
Labels: Maintenance, Admin

#17586 General UI improvements #3
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/index/content/grid/filters.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/helper/pagination.html.twig
Labels: Admin

#17576 General UI improvements #2
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_sidebar.scss
  src/Sylius/Bundle/AdminBundle/templates/product/form/sections/taxonomy/product_taxons.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/configuration.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/general.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_attribute/form/translations.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_option/form/sections/values/value.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_option/form/sections/values/value/translations.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_variant/form/content/update/header/actions/price_history.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product_variant/form/sections/general.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/sidebar/menu/menu.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/helper/table.html.twig
Labels: Admin
