Repository Sylius/Sylius, pull requests merged in 2024-08, with the labels that each got.

#16640 Add hooks for login page
  src/Sylius/Bundle/ShopBundle/Controller/RegistrationThankYouController.php
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/login.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/grids/account/order.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/account.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/account/address_book.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/account/order.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/security.yml
  src/Sylius/Bundle/ShopBundle/templates/Account/login.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Account/login/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/address_book/create.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/address_book/default_item.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/address_book/index.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/address_book/item.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/address_book/layout.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/address_book/set_as_default.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/address_book/update.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/change_password.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/dashboard.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/forgotten_password.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/layout.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/login.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/login/csrf_token.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/login/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/login/form/login_container.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/login/form/login_container/errors.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/login/form/login_container/forgot_password.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/login/form/login_container/form_fields.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/login/form/login_container/form_fields/password.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/login/form/login_container/form_fields/remember_me.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/login/form/login_container/form_fields/username.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/login/form/login_container/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/login/form/login_container/submit.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/login/form/register_container.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/menu/content.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/order/grid/action/pay.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/order/grid/field/address.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/order/grid/field/number.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/order/grid/field/total.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/order/index.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/order/index/content.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/order/label/state/cancelled.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/order/label/state/fulfilled.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/order/label/state/new.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/order/show.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/order/show/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/credentials.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/information.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/register_thank_you.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/submit.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/reset_password.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/account/register_box.html.twig
Labels: Shop

#16660 [API] Enable Taxon resources
  src/Sylius/Behat/Context/Api/Admin/AjaxTaxonsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingTaxonImagesContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites/api.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/Taxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/TaxonTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Taxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/TaxonTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/Taxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/TaxonTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Taxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/TaxonTranslation.xml
  tests/Api/Admin/TaxonsTest.php
  tests/Api/Responses/admin/taxon/get_taxon_response.json
  tests/Api/Responses/admin/taxon/get_taxon_with_image_filter_response.json
  tests/Api/Responses/admin/taxon/get_taxons_response.json
  tests/Api/Responses/admin/taxon/get_taxons_with_image_filter_response.json
  tests/Api/Responses/admin/taxon/post_taxon_response.json
  tests/Api/Responses/admin/taxon/put_taxon_response.json
  tests/Api/Shop/TaxonsTest.php
Labels: API

#16661 [Admin][Product] Remove EU flags from non-translatable attributes
  src/Sylius/Bundle/AdminBundle/templates/product/form/sections/attributes.html.twig
Labels: Admin

#16627 [Admin] Enable and Implement Remaining Scenarios
  features/admin/being_redirected_to_previous_filtered_page.feature
  features/admin/product/managing_product_options/editing_product_option.feature
  features/admin/product/managing_product_variants/checking_products_in_the_shop_while_editing_their_product_variants.feature
  features/admin/product/managing_product_variants/deleting_multiple_product_variants.feature
  features/admin/user/managing_users/changing_shop_user_password.feature
  features/hybrid/checkout/leaving_notes_on_order_during_checkout.feature
  features/hybrid/checkout/placing_order_on_multi_channel/placing_an_order_on_a_single_channel_store.feature
  features/hybrid/checkout/placing_order_on_multi_channel/placing_an_order_on_multiple_channels_with_different_currency.feature
  features/hybrid/checkout/placing_order_on_multi_channel/placing_an_order_on_multiple_channels_with_same_currency.feature
  features/hybrid/promotion/applying_catalog_promotions/applying_catalog_promotions_for_product_created_in_catalog_promotions_scope.feature
  features/hybrid/promotion/applying_catalog_promotions/not_reapplying_catalog_promotions_on_variant_once_its_prices_changes.feature
  features/hybrid/promotion/applying_catalog_promotions/not_reapplying_catalog_promotions_on_variants_once_products_taxon_changes.feature
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductOptionsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductTaxonsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductVariantsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ProductCreationContext.php
  src/Sylius/Behat/Page/Admin/Crud/CreatePage.php
  src/Sylius/Behat/Page/Admin/Crud/IndexPage.php
  src/Sylius/Behat/Page/Admin/Order/ShowPage.php
  src/Sylius/Behat/Page/Admin/PaymentMethod/CreatePage.php
  src/Sylius/Behat/Page/Admin/Product/CreateSimpleProductPage.php
  src/Sylius/Behat/Page/Admin/Product/IndexPage.php
  src/Sylius/Behat/Page/Admin/Product/UpdateSimpleProductPage.php
  src/Sylius/Behat/Page/Admin/Product/UpdateSimpleProductPageInterface.php
  src/Sylius/Behat/Page/Admin/ProductVariant/UpdatePage.php
  src/Sylius/Behat/Page/Admin/ProductVariant/UpdatePageInterface.php
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/order/show.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product/show.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product/update.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/product_variant/update.yaml
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/general/currency.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/general/notes.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/components/view_in_store.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/grid/filter/boolean.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/pagerfanta.html.twig
Labels: Admin

#16666 [Api][Admin] Enable Order resource
  disabledTests/Api/Admin/OrdersTest.php
  src/Sylius/Bundle/ApiBundle/Attribute/OrderTokenValueAware.php
  src/Sylius/Bundle/ApiBundle/Controller/GetOrderAdjustmentsAction.php
  src/Sylius/Bundle/ApiBundle/DataTransformer/OrderTokenValueAwareInputCommandDataTransformer.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Shipment.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/context_builders.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/SerializerContextBuilder/OrderTokenValueAwareContextBuilder.php
  tests/Api/Admin/OrdersTest.php
  tests/Api/DataFixtures/ORM/order/new.yaml
  tests/Api/Responses/admin/order/get_all_orders.json
  tests/Api/Responses/admin/order/get_billing_address_of_placed_order_response.json
  tests/Api/Responses/admin/order/get_order.json
  tests/Api/Responses/admin/order/get_orders_before_date.json
  tests/Api/Responses/admin/order/get_orders_empty_collection.json
  tests/Api/Responses/admin/order/get_orders_filtered_by_channel.json
  tests/Api/Responses/admin/order/get_orders_filtered_by_pln_and_usd_currency_codes.json
  tests/Api/Responses/admin/order/get_orders_filtered_by_pln_currency_code.json
  tests/Api/Responses/admin/order/get_orders_filtered_by_usd_currency_code.json
  tests/Api/Responses/admin/order/get_orders_for_customer.json
  tests/Api/Responses/admin/order/get_payments_of_order.json
  tests/Api/Responses/admin/order/get_shipments_of_order.json
  tests/Api/Responses/admin/order/get_shipping_address_of_placed_order_response.json
  tests/Api/Responses/admin/order/put_billing_address_of_placed_order_response.json
  tests/Api/Responses/admin/order/put_shipping_address_of_placed_order_response.json
Labels: API

#16662 [API][Admin] Upgrade ProductReview
  features/admin/product/managing_product_reviews/accepting_product_review.feature
  features/admin/product/managing_product_reviews/browsing_product_reviews.feature
  features/admin/product/managing_product_reviews/deleting_multiple_product_reviews.feature
  features/admin/product/managing_product_reviews/deleting_product_review.feature
  features/admin/product/managing_product_reviews/editing_product_review.feature
  features/admin/product/managing_product_reviews/filtering_product_reviews.feature
  features/admin/product/managing_product_reviews/product_review_validation.feature
  features/admin/product/managing_product_reviews/recalculating_product_average_rating.feature
  features/admin/product/managing_product_reviews/rejecting_product_review.feature
  features/admin/product/managing_product_reviews/sorting_product_reviews.feature
  features/shop/product/adding_product_reviews/adding_product_review_as_a_customer.feature
  features/shop/product/adding_product_reviews/adding_product_review_as_a_guest.feature
  features/shop/product/adding_product_reviews/product_review_validation.feature
  features/shop/product/viewing_product_reviews/viewing_product_reviews_on_product_details_page.feature
  features/shop/product/viewing_product_reviews/viewing_product_reviews_on_product_reviews_page.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductReviewsContext.php
  src/Sylius/Behat/Context/Api/Shop/ProductReviewContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites/api.yml
  src/Sylius/Bundle/ApiBundle/Command/Catalog/AddProductReview.php
  src/Sylius/Bundle/ApiBundle/CommandHandler/Catalog/AddProductReviewHandler.php
  src/Sylius/Bundle/ApiBundle/Converter/IriToIdentifierConverter.php
  src/Sylius/Bundle/ApiBundle/Converter/IriToIdentifierConverterInterface.php
  src/Sylius/Bundle/ApiBundle/Doctrine/ORM/QueryExtension/Shop/ProductReview/AcceptedExtension.php
  src/Sylius/Bundle/ApiBundle/Resolver/PathPrefixBasedOperationResolver.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/TaxonImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/AvatarImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Commands/AddProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductReview.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/Denormalizer/CommandArgumentsDenormalizer.php
  src/Sylius/Bundle/ApiBundle/Serializer/Denormalizer/CommandDenormalizer.php
  src/Sylius/Bundle/ApiBundle/Serializer/Normalizer/CommandNormalizer.php
  src/Sylius/Bundle/ApiBundle/Tests/Converter/IriToIdentifierConverterTest.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/ProductReview/AcceptedExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/CommandDenormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/Denormalizer/CommandArgumentsDenormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/Denormalizer/CommandDenormalizerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Serializer/Normalizer/CommandNormalizerSpec.php
  tests/Api/Admin/ProductReviewsTest.php
  tests/Api/Responses/admin/payment/patch_complete_payment.json
  tests/Api/Responses/admin/product_review/get_product_reviews.json
  tests/Api/Responses/admin/promotion/archive_promotion.json
  tests/Api/Responses/admin/promotion/restore_promotion.json
  tests/Api/Responses/admin/shipping_method/archive_shipping_method_response.json
  tests/Api/Responses/admin/shipping_method/restore_shipping_method_response.json
  tests/Api/Responses/shop/product_review/get_product_reviews.json
  tests/Api/Shop/ProductReviewsTest.php
Labels: Enhancement, API

#16671 [Api] Add AbstractInputContextBuilder
  src/Sylius/Bundle/ApiBundle/Attribute/ChannelCodeAware.php
  src/Sylius/Bundle/ApiBundle/Attribute/LocaleCodeAware.php
  src/Sylius/Bundle/ApiBundle/Attribute/LoggedInCustomerEmailIfNotSetAware.php
  src/Sylius/Bundle/ApiBundle/Attribute/OrderTokenValueAware.php
  src/Sylius/Bundle/ApiBundle/Attribute/ShipmentIdAware.php
  src/Sylius/Bundle/ApiBundle/Attribute/ShopUserIdAware.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/context_builders.xml
  src/Sylius/Bundle/ApiBundle/SerializerContextBuilder/AbstractInputContextBuilder.php
  src/Sylius/Bundle/ApiBundle/SerializerContextBuilder/ChannelCodeAwareContextBuilder.php
  src/Sylius/Bundle/ApiBundle/SerializerContextBuilder/LocaleCodeAwareContextBuilder.php
  src/Sylius/Bundle/ApiBundle/SerializerContextBuilder/LoggedInCustomerEmailIfNotSetAwareContextBuilder.php
  src/Sylius/Bundle/ApiBundle/SerializerContextBuilder/LoggedInShopUserIdAwareContextBuilder.php
  src/Sylius/Bundle/ApiBundle/SerializerContextBuilder/OrderTokenValueAwareContextBuilder.php
  src/Sylius/Bundle/ApiBundle/SerializerContextBuilder/ShipmentAwareContextBuilder.php
  src/Sylius/Bundle/ApiBundle/spec/SerializerContextBuilder/ChannelCodeAwareContextBuilderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/SerializerContextBuilder/LocaleCodeAwareContextBuilderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/SerializerContextBuilder/LoggedInCustomerEmailIfNotSetAwareContextBuilderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/SerializerContextBuilder/LoggedInShopUserIdAwareContextBuilderSpec.php
Labels: Enhancement, DX, API

#16675 [API] Fix commands namespaces
  features/admin/product/managing_product_options/editing_product_option.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductOptionsContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/AdminUserPassword.xml
  src/Sylius/Bundle/ApiBundle/StateProvider/Admin/AdminUser/ResetPasswordProvider.php
  src/Sylius/Bundle/ApiBundle/spec/StateProvider/Admin/AdminUser/ResetPasswordProviderSpec.php
Labels: API, Bug

#16676 Disable uncovered UI scenarios in new Bootstrap Shop
  features/admin/user/managing_users/changing_shop_user_password.feature
  features/hybrid/checkout/leaving_notes_on_order_during_checkout.feature
  features/hybrid/checkout/placing_order_on_multi_channel/placing_an_order_on_a_single_channel_store.feature
  features/hybrid/checkout/placing_order_on_multi_channel/placing_an_order_on_multiple_channels_with_different_currency.feature
  features/hybrid/checkout/placing_order_on_multi_channel/placing_an_order_on_multiple_channels_with_same_currency.feature
  features/hybrid/promotion/applying_catalog_promotions/applying_catalog_promotions_for_product_created_in_catalog_promotions_scope.feature
  features/hybrid/promotion/applying_catalog_promotions/not_reapplying_catalog_promotions_on_variant_once_its_prices_changes.feature
  features/hybrid/promotion/applying_catalog_promotions/not_reapplying_catalog_promotions_on_variants_once_products_taxon_changes.feature
Labels: Behat, Shop

#16672 Upgrade PaymentMethod to APIP3
  disabledTests/Api/Admin/GatewayConfigsTest.php
  disabledTests/Api/Shop/PaymentMethodsTest.php
  features/admin/payment/managing_payment_methods/filtering_payment_methods.feature
  phpstan-baseline.neon
  src/Sylius/Behat/Context/Api/Admin/ManagingPaymentMethodsContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites/api.yml
  src/Sylius/Behat/Resources/config/suites/api/payment/managing_payment_methods.yaml
  src/Sylius/Bundle/ApiBundle/DataPersister/PaymentMethodDataPersister.php
  src/Sylius/Bundle/ApiBundle/DataProvider/PaymentMethodsCollectionDataProvider.php
  src/Sylius/Bundle/ApiBundle/Doctrine/ORM/QueryExtension/Shop/PaymentMethod/ChannelBasedExtension.php
  src/Sylius/Bundle/ApiBundle/Doctrine/ORM/QueryExtension/Shop/PaymentMethod/EnabledExtension.php
  src/Sylius/Bundle/ApiBundle/Filter/PaymentMethodFilter.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/GatewayConfig.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/PaymentMethodTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/GatewayConfig.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/PaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/PaymentMethodTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ShippingMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/GatewayConfig.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/PaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/PaymentMethodTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/GatewayConfig.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/PaymentMethod.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/PaymentMethodTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/data_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_processors.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_providers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/validator.xml
  src/Sylius/Bundle/ApiBundle/StateProcessor/Admin/PaymentMethod/RemoveProcessor.php
  src/Sylius/Bundle/ApiBundle/StateProvider/Shop/Order/Payment/PaymentMethod/CollectionProvider.php
  src/Sylius/Bundle/ApiBundle/disabledSpec/DataPersister/PaymentMethodDataPersisterSpec.php
  src/Sylius/Bundle/ApiBundle/disabledSpec/DataProvider/PaymentMethodsCollectionDataProviderSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/PaymentMethod/ChannelBasedExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/PaymentMethod/EnabledExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProcessor/Admin/PaymentMethod/RemoveProcessorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProvider/Shop/Order/Payment/PaymentMethod/CollectionProviderSpec.php
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/PaymentRepository.php
  src/Sylius/Component/Core/Repository/PaymentRepositoryInterface.php
  tests/Api/Admin/PaymentMethodsTest.php
  tests/Api/Responses/admin/order/get_payments_of_order.json
  tests/Api/Responses/admin/payment/get_payment.json
  tests/Api/Responses/admin/payment/get_payments.json
  tests/Api/Responses/admin/payment/get_payments_filtered_by_state.json
  tests/Api/Responses/admin/payment_method/create_payment_method_response.json
  tests/Api/Responses/admin/payment_method/get_payment_method_gateway_config_after_update_response.json
  tests/Api/Responses/admin/payment_method/get_payment_method_gateway_config_response.json
  tests/Api/Responses/admin/payment_method/get_payment_method_response.json
  tests/Api/Responses/admin/payment_method/get_payment_method_translation_response.json
  tests/Api/Responses/admin/payment_method/get_payment_methods_response.json
  tests/Api/Responses/admin/payment_method/update_payment_method_response.json
  tests/Api/Responses/shop/payment_method/get_payment_methods_for_cart_and_payment_response.json
  tests/Api/Responses/shop/payment_method/get_payment_methods_for_uncompleted_filters_response.json
  tests/Api/Responses/shop/payment_method/get_payment_methods_response.json
  tests/Api/Shop/PaymentMethodsTest.php
Labels: API

#16680 [PaymentRequest] Fix incompatible dependency versions + static analysis
  config/services_test_cached_payum.yaml
  phpstan-baseline.neon
  src/Sylius/Bundle/ApiBundle/CommandHandler/Payment/AddPaymentRequestHandler.php
  src/Sylius/Bundle/ApiBundle/DataTransformer/PaymentRequestHashAwareInputCommandDataTransformer.php
  src/Sylius/Bundle/ApiBundle/DataTransformer/ShipmentIdAwareInputCommandDataTransformer.php
  src/Sylius/Bundle/CoreBundle/PaymentRequest/Checker/PaymentRequestDuplicationChecker.php
  src/Sylius/Bundle/CoreBundle/PaymentRequest/Processor/Payum/AfterTokenRequestProcessor.php
  src/Sylius/Component/Payment/Model/PaymentRequest.php
  src/Sylius/Component/Payment/Model/PaymentRequestInterface.php
  src/Sylius/Component/Payment/composer.json
Labels: Maintenance, API, Dependencies, Bug

#16679 Fix typo in called assert method
  src/Sylius/Component/Core/Model/Order.php
Labels: DX

#16604 [Core] Fix #16603 SyliusCollector do not display API tag properly
  src/Sylius/Bundle/CoreBundle/Collector/SyliusCollector.php
Labels: DX, Bug

#16685 [Documentation] Update the dates on the release cycle page
  docs/book/organization/release-cycle.rst
Labels: Documentation, Maintenance

#16669 Register page hooks
  src/Sylius/Bundle/ShopBundle/Controller/RegistrationThankYouController.php
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/register.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/register_thank_you.yaml
  src/Sylius/Bundle/ShopBundle/templates/account/register.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/credentials.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form/buttons.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form/buttons/submit.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form/credentials.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form/credentials/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form/credentials/password.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form/credentials/password_confirmation.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form/personal_information.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form/personal_information/email.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form/personal_information/first_name.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form/personal_information/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form/personal_information/last_name.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form/personal_information/newsletter.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form/personal_information/phone_number.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/header/subtitle.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/header/title.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/information.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/submit.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/thank_you/subtitle.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/thank_you/title.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register_thank_you.html.twig
Labels: Shop

#16606 Implement twig hooks into cart page and widget
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/base.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/cart/index.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/cart.yml
  src/Sylius/Bundle/ShopBundle/templates/Cart/footer/suggestions.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Cart/items/coupon.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Cart/items/item.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Cart/items/items.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Cart/summary.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Cart/summary/totals.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Cart/widget.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Cart/widget/button.html.twig
  src/Sylius/Bundle/ShopBundle/templates/Cart/widget/popup.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/details.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/details/coupon.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/details/table.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/details/table/body.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/details/table/body/item.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/details/table/body/quantity.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/details/table/body/remove.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/details/table/body/total.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/details/table/body/unit_price.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/details/table/head.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/details/table/head/item.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/details/table/head/quantity.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/details/table/head/remove.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/details/table/head/total.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/details/table/head/unit_price.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/details/update.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/sidebar.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/sidebar/checkout.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/sidebar/summary.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/sidebar/summary/base_currency_order_total.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/sidebar/summary/discount.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/sidebar/summary/estimated_cost.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/sidebar/summary/items_total.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/sidebar/summary/order_total.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/sidebar/summary/taxes_total.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/footer.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/footer/suggestions.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/page/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/widget.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/widget/body.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/widget/body/items.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/widget/body/items/item.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/widget/footer.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/widget/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/footer/offcanvas.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/content/cart.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/content/cart_button.html.twig
Labels: Shop

#16677 Implement hooks for account profile update
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/profile_update.yaml
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/additional_information.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/additional_information/birthday.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/additional_information/gender.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/buttons.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/buttons/submit.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/email.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/full_name.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/full_name/name.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/full_name/surname.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/newsletter.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/phone_number.html.twig
Labels: Shop

#16678 Implement hooks for account password change
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/change_password.yaml
  src/Sylius/Bundle/ShopBundle/templates/account/change_password.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/change_password/buttons.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/change_password/buttons/submit.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/change_password/fields.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/change_password/fields/confirm_new_password.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/change_password/fields/current_password.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/change_password/fields/new_password.html.twig
Labels: Shop

#16697 [API] Fix translation.name filters
  src/Sylius/Bundle/ApiBundle/Doctrine/QueryCollectionExtension/TranslationOrderLocaleExtension.php
  src/Sylius/Bundle/ApiBundle/Filter/Doctrine/TranslationOrderNameAndLocaleFilter.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/Tests/Doctrine/QueryCollectionExtension/TranslationOrderLocaleExtensionTest.php
Labels: API, Bug

#16700 [API] Fix imports in TranslationOrderNameAndLocaleFilter
  src/Sylius/Bundle/ApiBundle/Filter/Doctrine/TranslationOrderNameAndLocaleFilter.php
Labels: API, Bug

#16702 Fix PaymentMethod translations order filter
  src/Sylius/Bundle/ApiBundle/Doctrine/ORM/QueryExtension/Common/TranslationOrderLocaleExtension.php
  src/Sylius/Bundle/ApiBundle/Filter/Doctrine/TranslationOrderNameAndLocaleFilter.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/extensions.xml
  src/Sylius/Bundle/ApiBundle/Tests/Doctrine/ORM/QueryExtension/Common/TranslationOrderLocaleExtensionTest.php
Labels: Admin, API

#16704 Add missing tests for product taxons filtering
  features/admin/product/managing_products/filtering_listed_products_from_a_taxon.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductTaxonsContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductsContext.php
  src/Sylius/Behat/Page/Admin/Product/IndexPerTaxonPage.php
  src/Sylius/Behat/Page/Admin/Product/IndexPerTaxonPageInterface.php
Labels: Admin, API

#16703 [Maintenance] Less referrer usage in static redirects
  UPGRADE-1.14.md
  src/Sylius/Bundle/AdminBundle/Action/ResendOrderConfirmationEmailAction.php
  src/Sylius/Bundle/AdminBundle/Menu/CustomerShowMenuBuilder.php
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/locale.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/order.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/payment.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/product.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/product_review.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/product_variant.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/promotion_coupon.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/shipment.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/shop_user.yml
  src/Sylius/Bundle/AdminBundle/Resources/config/services/controller.xml
  src/Sylius/Bundle/ShopBundle/Controller/ContactController.php
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/shop_user.yml
Labels: Enhancement, DX, Maintenance, Admin, Shop

#16705 [API] Fix parameter name in ProductOptionValue endpoints
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ProductOptionValue.xml
Labels: API

#16706 Fix missing template
  src/Sylius/Bundle/ShopBundle/templates/product/show/page/product_listing/associations.html.twig
Labels: Shop, Bug

#16709 Enable live components on bootstrap shop
  src/Sylius/Bundle/ShopBundle/Resources/assets/bootstrap.js
  src/Sylius/Bundle/ShopBundle/Resources/assets/controllers.json
  src/Sylius/Bundle/ShopBundle/Resources/assets/controllers/.gitkeep
  src/Sylius/Bundle/ShopBundle/Resources/assets/entrypoint.js
  src/Sylius/Bundle/ShopBundle/package.json
Labels: Shop

#16715 [Admin] Fix resending order confirmation emails
  src/Sylius/Bundle/AdminBundle/Action/ResendOrderConfirmationEmailAction.php
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/order.yml
Labels: Admin

#16716 Fixing ci after upmerge
  src/Sylius/Behat/Context/Ui/Admin/ManagingOrdersContext.php
  src/Sylius/Bundle/AdminBundle/Action/ResendOrderConfirmationEmailAction.php
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/order/show.yaml
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/order.yml
  src/Sylius/Bundle/AdminBundle/Twig/Component/Shipment/ShipFormComponent.php
  src/Sylius/Bundle/AdminBundle/templates/shipment/component/ship.html.twig
Labels: Admin

#16731 Fix bunnyshell on bootstrap shop branch
  .bunnyshell/docker/php/Dockerfile
Labels: Docker

#16720 Split contact page into hooks
  src/Sylius/Bundle/ShopBundle/Controller/ContactController.php
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/contact/index.yaml
  src/Sylius/Bundle/ShopBundle/templates/Contact/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/contact/index.html.twig
  src/Sylius/Bundle/ShopBundle/templates/contact/index/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/contact/index/form/email.html.twig
  src/Sylius/Bundle/ShopBundle/templates/contact/index/form/message.html.twig
  src/Sylius/Bundle/ShopBundle/templates/contact/index/form/submit.html.twig
  src/Sylius/Bundle/ShopBundle/templates/contact/index/header.html.twig
Labels: Shop

#16719 [API] Upgrade ChannelPricingLogEntry
  src/Sylius/Behat/Context/Api/Admin/ManagingProductVariantsContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/suites/api.yml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/ChannelPricing.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/ChannelPricingLogEntry.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ChannelPricing.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ChannelPricingLogEntry.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/ChannelPricingLogEntry.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ChannelPricingLogEntry.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  tests/Api/Admin/ChannelPricingLogEntryTest.php
Labels: API

#16734 Split create product review page into hooks
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/product_review/create.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/product_review/index.yaml
  src/Sylius/Bundle/ShopBundle/templates/product_review/create.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product_review/create/main.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product_review/create/main/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product_review/create/main/form/comment.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product_review/create/main/form/email.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product_review/create/main/form/rating.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product_review/create/main/form/submit.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product_review/create/main/form/title.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product_review/create/main/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product_review/create/sidebar.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product_review/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/product_review/product_card.html.twig
Labels: Shop

#16691 Split checkout shipping step into hooks
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/checkout/select_shipping.yaml
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/choice.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/navigation.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/shipment.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/shipment/choice.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/shipment/choice/details.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/shipment/choice/details/description.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/shipment/choice/details/name.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/shipment/choice/fee.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/shipment/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/shipment.html.twig
Labels: Shop

#16740 Minor checkout shipping hooks improvements
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/checkout/select_shipping.yaml
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/shipments.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/shipments/shipment.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/shipments/shipment/choice.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/shipments/shipment/choice/details.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/shipments/shipment/choice/details/description.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/shipments/shipment/choice/details/name.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/shipments/shipment/choice/fee.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/shipments/shipment/header.html.twig
Labels: Shop

#16743 Fix checkout error
  src/Sylius/Bundle/ShopBundle/templates/cart/page/body/details.html.twig
Labels: Shop, Bug

#16750 Fix contact page structure
  src/Sylius/Bundle/ShopBundle/Controller/ContactController.php
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/contact/contact_request.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/contact/index.yaml
  src/Sylius/Bundle/ShopBundle/templates/contact/contact_request.html.twig
  src/Sylius/Bundle/ShopBundle/templates/contact/contact_request/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/contact/contact_request/form/email.html.twig
  src/Sylius/Bundle/ShopBundle/templates/contact/contact_request/form/message.html.twig
  src/Sylius/Bundle/ShopBundle/templates/contact/contact_request/form/submit.html.twig
  src/Sylius/Bundle/ShopBundle/templates/contact/contact_request/header.html.twig
Labels: Shop

#16747 [API] Upgrade Product Association Type resource to API Platform 3
  disabledTests/Api/Admin/ProductAssociationTypesTest.php
  features/admin/product/managing_product_association_types/sorting_product_association_types.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductAssociationTypesContext.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/ProductAssociationType.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/ProductAssociationTypeTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ProductAssociationType.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ProductAssociationTypeTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/ProductAssociationType.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/ProductAssociationTypeTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductAssociationType.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductAssociationTypeTranslation.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  tests/Api/Admin/ProductAssociationTypesTest.php
  tests/Api/Responses/admin/product_association_type/get_product_association_type_response.json
  tests/Api/Responses/admin/product_association_type/get_product_association_type_translation_response.json
  tests/Api/Responses/admin/product_association_type/get_product_association_types_response.json
  tests/Api/Responses/admin/product_association_type/post_product_association_type_response.json
  tests/Api/Responses/admin/product_association_type/put_product_association_type_response.json
  tests/Api/Responses/shop/product_association/get_product_association_type_response.json
  tests/Api/Shop/ProductAssociationTypesTest.php
Labels: API

#16742 [API] Upgrade Product Image resource to API Platform 3
  features/admin/product/managing_products/adding_images_to_existing_product.feature
  features/admin/product/managing_products/adding_product_with_images.feature
  features/admin/product/managing_products/changing_images_of_product.feature
  features/admin/product/managing_products/preventing_deletion_of_purchased_product.feature
  features/admin/product/managing_products/removing_images_of_product.feature
  features/shop/product/viewing_products/viewing_product_image.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductImagesContext.php
  src/Sylius/Bundle/ApiBundle/Controller/UploadProductImageAction.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/properties/ProductImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ProductImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/TaxonImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/legacy_api_resources/ProductImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/controllers.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/creators.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/filters.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/state_processors.xml
  src/Sylius/Bundle/ApiBundle/StateProcessor/Admin/ProductImage/PersistProcessor.php
  src/Sylius/Bundle/ApiBundle/spec/StateProcessor/Admin/ProductImage/PersistProcessorSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProcessor/Admin/TaxonImage/PersistProcessorSpec.php
  tests/Api/Admin/ProductImagesTest.php
  tests/Api/DataFixtures/ORM/product/product_image.yaml
  tests/Api/JsonApiTestCase.php
  tests/Api/Responses/admin/product/get_product_response.json
  tests/Api/Responses/admin/product/get_products_response.json
  tests/Api/Responses/admin/product/get_products_response_with_image_filter.json
  tests/Api/Responses/admin/product/put_product_response.json
  tests/Api/Responses/admin/product_image/get_product_image_response.json
  tests/Api/Responses/admin/product_image/get_product_image_with_image_filter_response.json
  tests/Api/Responses/admin/product_image/get_product_images_filtered_by_variant_code_response.json
  tests/Api/Responses/admin/product_image/get_product_images_filtered_by_variant_code_with_an_image_filter_response.json
  tests/Api/Responses/admin/product_image/get_product_images_filtered_by_variant_response.json
  tests/Api/Responses/admin/product_image/get_product_images_filtered_by_variant_with_an_image_filter_response.json
  tests/Api/Responses/admin/product_image/get_product_images_for_product_response.json
  tests/Api/Responses/admin/product_image/get_product_images_for_product_with_an_image_filter_response.json
  tests/Api/Responses/admin/product_image/post_product_image_response.json
  tests/Api/Responses/admin/product_image/post_product_image_with_type_and_variant_response.json
  tests/Api/Responses/admin/product_image/put_product_image_response.json
  tests/Api/Responses/shop/product/get_products_with_reviews.json
  tests/Api/Responses/shop/product_image/get_product_image_response.json
  tests/Api/Responses/shop/product_image/get_product_image_with_image_filter_response.json
  tests/Api/Shop/ProductImagesTest.php
  tests/Api/Utils/HeadersBuilder.php
Labels: API

#16699 Fixing configuration for customer order view
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/customer_order.yml
Labels: Admin

#16645 [BC-Break Fix][1.13] Do not enforce soft method requirement on ProductVar…
  src/Sylius/Bundle/ApiBundle/Serializer/ProductVariantNormalizer.php
  src/Sylius/Bundle/ApiBundle/Tests/Serializer/ProductVariantNormalizerTest.php
  src/Sylius/Bundle/CoreBundle/Templating/Helper/PriceHelper.php
  src/Sylius/Bundle/CoreBundle/Tests/Helper/PriceHelperTest.php
  src/Sylius/Bundle/CoreBundle/Tests/Provider/ProductVariantLowestPriceMapProviderTest.php
  src/Sylius/Bundle/CoreBundle/Tests/Provider/ProductVariantsPricesProviderTest.php
  src/Sylius/Component/Core/Provider/ProductVariantMap/ProductVariantLowestPriceMapProvider.php
  src/Sylius/Component/Core/Provider/ProductVariantsPricesProvider.php
Labels: API

#16754 [API][Shop] Enable covered Product scenarios
  features/shop/product/viewing_products/accessing_disabled_taxon.feature
  features/shop/product/viewing_products/accessing_product_page_via_permalink.feature
  features/shop/product/viewing_products/accessing_product_wich_does_not_exist.feature
  features/shop/product/viewing_products/redirecting_to_products_when_there_is_a_trailing_slash_in_path.feature
  features/shop/product/viewing_products/searching_products_by_name_within_specific_taxon.feature
  features/shop/product/viewing_products/sorting_products_by_first_variant_price.feature
  features/shop/product/viewing_products/sorting_products_by_their_discounted_price.feature
  features/shop/product/viewing_products/viewing_children_taxons_from_specific_taxon.feature
  features/shop/product/viewing_products/viewing_diagonal_variant_options.feature
  features/shop/product/viewing_products/viewing_different_discounted_price_for_different_product_variants.feature
  features/shop/product/viewing_products/viewing_different_price_for_different_product_variants.feature
  features/shop/product/viewing_products/viewing_different_price_for_different_product_variants_selected_with_options.feature
  features/shop/product/viewing_products/viewing_product.feature
  features/shop/product/viewing_products/viewing_product_attributes.feature
  features/shop/product/viewing_products/viewing_product_attributes_in_different_locales.feature
  features/shop/product/viewing_products/viewing_product_attributes_in_different_locales_and_channels.feature
  features/shop/product/viewing_products/viewing_product_average_rating.feature
  features/shop/product/viewing_products/viewing_product_enabled_variants_only.feature
  features/shop/product/viewing_products/viewing_product_price_on_products_list.feature
  features/shop/product/viewing_products/viewing_product_variants_names.feature
  features/shop/product/viewing_products/viewing_product_with_all_variants_disabled.feature
  features/shop/product/viewing_products/viewing_product_with_disabled_main_taxon.feature
  features/shop/product/viewing_products/viewing_products_discounted_price.feature
  features/shop/product/viewing_products/viewing_products_from_specific_taxon.feature
  features/shop/product/viewing_products/viewing_products_from_specific_taxon_and_channel.feature
  features/shop/product/viewing_products/viewing_products_from_specific_taxon_sorted_by_position.feature
  features/shop/product/viewing_products/viewing_products_from_taxon_and_children.feature
  features/shop/product/viewing_products/viewing_products_from_taxon_children.feature
  features/shop/product/viewing_products/viewing_products_price.feature
  features/shop/product/viewing_products/viewing_products_with_multiple_variants_sorted_by_price.feature
  features/shop/product/viewing_products/viewing_select_product_attributes.feature
  features/shop/product/viewing_products/viewing_select_product_attributes_in_different_locales.feature
  features/shop/product/viewing_products/viewing_sorted_products.feature
  features/shop/product/viewing_products/viewing_sorted_products_multiple_channels.feature
  features/shop/product/viewing_products/viewing_taxon_image.feature
Labels: API

#16751 Implement twig hooks for reset_password page
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/reset_password.yaml
  src/Sylius/Bundle/ShopBundle/templates/account/reset_password.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/reset_password/content.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/reset_password/content/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/reset_password/content/form/fields.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/reset_password/content/form/fields/new_password.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/reset_password/content/form/fields/new_password_confirmation.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/reset_password/content/form/submit.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/reset_password/content/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/reset_password/content/header/subtitle.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/reset_password/content/header/title.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/reset_password/form_end.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/reset_password/form_start.html.twig
Labels: Shop

#16766 [Shop] Catalog promotion scenarios
  features/shop/promotion/applying_catalog_promotions/applying_all_available_types_of_catalog_promotions.feature
  features/shop/promotion/applying_catalog_promotions/applying_catalog_promotion_with_different_scopes_defined.feature
  features/shop/promotion/applying_catalog_promotions/applying_catalog_promotion_with_proper_priorities.feature
  features/shop/promotion/applying_catalog_promotions/applying_catalog_promotions_based_on_product_original_price.feature
  features/shop/promotion/applying_catalog_promotions/applying_catalog_promotions_for_product.feature
  features/shop/promotion/applying_catalog_promotions/applying_catalog_promotions_for_taxon.feature
  features/shop/promotion/applying_catalog_promotions/applying_catalog_promotions_for_variant.feature
  features/shop/promotion/applying_catalog_promotions/applying_catalog_promotions_in_proper_channels.feature
  features/shop/promotion/applying_catalog_promotions/applying_catalog_promotions_in_proper_time_range.feature
  features/shop/promotion/applying_catalog_promotions/applying_catalog_promotions_price_calculation.feature
  features/shop/promotion/applying_catalog_promotions/applying_catalog_promotions_with_different_states.feature
  features/shop/promotion/applying_catalog_promotions/applying_catalog_promotions_with_fixed_discount_action.feature
  features/shop/promotion/applying_catalog_promotions/applying_catalog_promotions_with_taking_minimum_price_into_account.feature
  features/shop/promotion/applying_catalog_promotions/applying_only_exclusive_catalog_promotion.feature
  features/shop/promotion/applying_catalog_promotions/seeing_applied_catalog_promotion_on_products_with_options.feature
  features/shop/promotion/applying_catalog_promotions/seeing_applied_catalog_promotion_on_variant.feature
  features/shop/promotion/applying_catalog_promotions/seeing_applied_catalog_promotions_on_products_list.feature
  features/shop/promotion/applying_catalog_promotions/seeing_applied_catalog_promotions_on_variants_list.feature
  src/Sylius/Behat/Page/Shop/Product/IndexPage.php
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
  src/Sylius/Bundle/ShopBundle/templates/product/show/page/info/summary/catalog_promotions.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/show/page/info/summary/prices/price.html.twig
Labels: Shop

#16769 [Money] Deprecate unneeded templating helpers
  UPGRADE-1.14.md
  src/Sylius/Bundle/MoneyBundle/Templating/Helper/ConvertMoneyHelper.php
  src/Sylius/Bundle/MoneyBundle/Templating/Helper/ConvertMoneyHelperInterface.php
  src/Sylius/Bundle/MoneyBundle/Templating/Helper/FormatMoneyHelper.php
  src/Sylius/Bundle/MoneyBundle/Templating/Helper/FormatMoneyHelperInterface.php
  src/Sylius/Bundle/MoneyBundle/Twig/ConvertMoneyExtension.php
  src/Sylius/Bundle/MoneyBundle/Twig/FormatMoneyExtension.php
Labels: Maintenance

#16772 Replace includes with hooks in checkout shipping step
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/checkout/select_shipping.yaml
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/shipments/shipment.html.twig
  src/Sylius/Bundle/ShopBundle/templates/checkout/select_shipping/form/shipments/shipment/choice.html.twig
Labels: Shop

#16674 Implement hooks for account dashboard
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/dashboard.yaml
  src/Sylius/Bundle/ShopBundle/templates/account/dashboard.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/dashboard/account_details.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/dashboard/account_details/buttons.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/dashboard/account_details/buttons/change_password.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/dashboard/account_details/buttons/edit.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/dashboard/account_details/buttons/verify.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/dashboard/account_details/user_info.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/dashboard/account_details/user_info/details.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/dashboard/account_details/user_info/details/email.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/dashboard/account_details/user_info/details/full_name.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/dashboard/account_details/user_info/status.html.twig
Labels: Shop

#16757 [SF7] Add Symfony 7 support for MoneyBundle
  UPGRADE-2.0.md
  src/Sylius/Bundle/MoneyBundle/.gitignore
  src/Sylius/Bundle/MoneyBundle/Resources/config/services.xml
  src/Sylius/Bundle/MoneyBundle/Resources/config/services/integrations/currency.xml
  src/Sylius/Bundle/MoneyBundle/Templating/Helper/ConvertMoneyHelper.php
  src/Sylius/Bundle/MoneyBundle/Templating/Helper/ConvertMoneyHelperInterface.php
  src/Sylius/Bundle/MoneyBundle/Templating/Helper/FormatMoneyHelper.php
  src/Sylius/Bundle/MoneyBundle/Templating/Helper/FormatMoneyHelperInterface.php
  src/Sylius/Bundle/MoneyBundle/Twig/ConvertMoneyExtension.php
  src/Sylius/Bundle/MoneyBundle/Twig/FormatMoneyExtension.php
  src/Sylius/Bundle/MoneyBundle/composer.json
  src/Sylius/Bundle/MoneyBundle/spec/Templating/Helper/ConvertMoneyHelperSpec.php
  src/Sylius/Bundle/MoneyBundle/spec/Templating/Helper/FormatMoneyHelperSpec.php
  src/Sylius/Bundle/MoneyBundle/test/app/config/config.yml
Labels: Maintenance

#16755 [Shop][Cart] Add validation for item order quantity
  features/shop/cart/shopping_cart/changing_quantity_of_product_in_cart.feature
  src/Sylius/Behat/Context/Ui/Shop/CartContext.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPage.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPageInterface.php
  src/Sylius/Bundle/CoreBundle/Form/Extension/CartItemTypeExtension.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/ShopBundle/templates/Form/theme.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/index/form/sections/general/items/body/quantity.html.twig
Labels: Shop, API

#16765 [API] Remove Deprecated `Sylius 1.13` Tests
  src/Sylius/Bundle/ApiBundle/Serializer/ProductVariantNormalizer.php
  src/Sylius/Bundle/ApiBundle/Tests/Serializer/ProductVariantNormalizerTest.php
  src/Sylius/Bundle/CoreBundle/Tests/Provider/ProductVariantLowestPriceMapProviderTest.php
  src/Sylius/Component/Core/Provider/ProductVariantMap/ProductVariantLowestPriceMapProvider.php
Labels: API

#16759 Make Registration form a live component and enable tests for login, logout and account verification
  features/shop/account/customer_account/redirect_when_already_signed_in.feature
  features/shop/account/customer_account/securing_access_to_account_after_using_back_button_after_logging_out.feature
  features/shop/account/receiving_email_after_registration.feature
  features/shop/account/registering.feature
  features/shop/account/registering_validation.feature
  features/shop/account/renewing_account_after_deletion.feature
  features/shop/account/signing_in.feature
  features/shop/account/signing_in_validation.feature
  features/shop/account/signing_out.feature
  features/shop/account/subscribing_newsletter_during_registration.feature
  features/shop/account/verification/verifying_email_address.feature
  features/shop/customer/seeing_myself_while_login.feature
  src/Sylius/Behat/Context/Ui/Shop/LoginContext.php
  src/Sylius/Behat/Element/Shop/Account/RegisterElement.php
  src/Sylius/Behat/Page/Shop/Account/AddressBook/IndexPage.php
  src/Sylius/Behat/Page/Shop/Account/LoginPage.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPage.php
  src/Sylius/Behat/Page/Shop/Product/IndexPage.php
  src/Sylius/Behat/Resources/config/services.xml
  src/Sylius/Behat/Resources/config/services/contexts/ui.xml
  src/Sylius/Behat/Resources/config/suites/ui/account/login.yml
  src/Sylius/Bundle/CoreBundle/Form/EventSubscriber/CustomerRegistrationFormSubscriber.php
  src/Sylius/Bundle/CoreBundle/spec/Form/EventSubscriber/CustomerRegistrationFormSubscriberSpec.php
  src/Sylius/Bundle/ShopBundle/Form/Type/CustomerRegistrationType.php
  src/Sylius/Bundle/ShopBundle/Form/Type/ShopUserRegistrationType.php
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/register.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/security.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component.xml
  src/Sylius/Bundle/ShopBundle/Twig/Component/Register/FormComponent.php
  src/Sylius/Bundle/ShopBundle/templates/account/register.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form/header/subtitle.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/register/form/header/title.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/flashes.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/messages.html.twig
Labels: Shop

#16768 [Shop] Move homepage components to common
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/cart/index.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/homepage/index.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component.xml
  src/Sylius/Bundle/ShopBundle/Twig/Component/Common/LatestDealsComponent.php
  src/Sylius/Bundle/ShopBundle/Twig/Component/Common/LatestProductsComponent.php
  src/Sylius/Bundle/ShopBundle/templates/common/latest_deals.html.twig
  src/Sylius/Bundle/ShopBundle/templates/common/latest_products.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/show/page/product_listing/associations.html.twig
Labels: Shop

#16497 [SF7] Add Symfony 7 support for Ui bundle
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/AdminBundle/package.json
  src/Sylius/Bundle/CoreBundle/composer.json
  src/Sylius/Bundle/UiBundle/.gitignore
  src/Sylius/Bundle/UiBundle/Tests/Functional/Kernel.php
  src/Sylius/Bundle/UiBundle/Tests/Functional/config/packages/security.yaml
  src/Sylius/Bundle/UiBundle/composer.json
Labels: Admin

#16778 [SF7] Add Symfony 7 support for Order bundle
  src/Sylius/Bundle/OrderBundle/.gitignore
  src/Sylius/Bundle/OrderBundle/Console/Command/RemoveExpiredCartsCommand.php
  src/Sylius/Bundle/OrderBundle/Tests/DependencyInjection/Compiler/TagResettableCartContextsPassTest.php
  src/Sylius/Bundle/OrderBundle/composer.json
Labels: Maintenance

#16781 [Composer] Upgrade Webpack to ^2.1
  composer.json
  src/Sylius/Bundle/ApiBundle/composer.json
  src/Sylius/Bundle/ShopBundle/composer.json
Labels: Maintenance, Shop, API, Dependencies

#16777 [SF7] Add Symfony 7 support for Promotion Bundle
  src/Sylius/Bundle/PromotionBundle/.gitignore
  src/Sylius/Bundle/PromotionBundle/Console/Command/GenerateCouponsCommand.php
  src/Sylius/Bundle/PromotionBundle/Resources/config/services/console_command.xml
  src/Sylius/Bundle/PromotionBundle/composer.json
  src/Sylius/Bundle/PromotionBundle/test/app/config/config.yml
Labels: Maintenance

#16782 [Shop] Search on product index
  features/shop/product/list/searching_products_by_name_within_specific_taxon.feature
  features/shop/product/list/viewing_sorted_products.feature
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
Labels: Shop

#16783 [SF7] Add Symfony 7 support for Payum bundle
  src/Sylius/Bundle/PayumBundle/.gitignore
  src/Sylius/Bundle/PayumBundle/composer.json
  src/Sylius/Bundle/PayumBundle/phpunit.xml.dist
  src/Sylius/Component/Core/composer.json
Labels: Maintenance, Docker

#16789 Make edit Customer profile form a live component
  features/shop/account/customer_account/customer_profile_validation.feature
  features/shop/account/customer_account/editing_customer_profile.feature
  src/Sylius/Behat/Page/Shop/Account/ProfileUpdatePage.php
  src/Sylius/Bundle/ShopBundle/Form/Type/CustomerProfileType.php
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/profile_update.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/routing/account.yml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/form.xml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component.xml
  src/Sylius/Bundle/ShopBundle/Twig/Component/Common/Account/FormComponent.php
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/form.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/form/additional_information.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/form/additional_information/birthday.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/form/additional_information/gender.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/form/buttons.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/form/buttons/submit.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/form/email.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/form/full_name.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/form/full_name/name.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/form/full_name/surname.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/form/newsletter.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/form/phone_number.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/profile_update/phone_number.html.twig
Labels: Shop

#16499 [SF7] Add Symfony 7 support for Addressing bundle
  src/Sylius/Bundle/AddressingBundle/composer.json
  src/Sylius/Bundle/AddressingBundle/test/app/config/config.yml
Labels: Admin

#16795 Filter product variants ASC by position by default, fix order of tags in variant scenarios
  features/admin/product/managing_product_variants/browsing_product_variants_in_different_locales.feature
  features/admin/product/managing_product_variants/generating_product_variant.feature
  features/admin/product/managing_product_variants/generating_product_variant_validation.feature
  features/admin/product/managing_product_variants/preventing_generation_of_products_variants_from_options_without_any_values.feature
  features/admin/product/managing_product_variants/product_variant_validation.feature
  features/admin/product/managing_product_variants/seeing_correct_option_values_while_editing_product_variant.feature
  features/admin/product/managing_product_variants/sorting_product_variants_within_product_by_position.feature
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/ProductVariant.xml
Labels: API

#16796 [SF7] Add Symfony 7 support for State machine abstraction
  src/Sylius/Abstraction/StateMachine/composer.json
Labels: Maintenance

#16794 [Core] Move validation of translation classes to Core
  src/Sylius/Bundle/AttributeBundle/Resources/config/validation/AttributeTranslation.xml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/AbstractTranslation.xml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/PaymentBundle/Resources/config/validation/PaymentMethodTranslation.xml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/ProductBundle/Resources/config/validation/ProductAssociationTypeTranslation.xml
  src/Sylius/Bundle/ProductBundle/Resources/config/validation/ProductOptionTranslation.xml
  src/Sylius/Bundle/ProductBundle/Resources/config/validation/ProductOptionValueTranslation.xml
  src/Sylius/Bundle/ProductBundle/Resources/config/validation/ProductTranslation.xml
  src/Sylius/Bundle/ProductBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/PromotionBundle/Resources/config/validation/CatalogPromotionTranslation.xml
  src/Sylius/Bundle/PromotionBundle/Resources/config/validation/PromotionTranslation.xml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/ShippingBundle/Resources/config/validation/ShippingMethodTranslation.xml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/validators.en.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/config/validation/TaxonTranslation.xml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/validators.en.yml
Labels: Maintenance

#15706 Try SyliusResourceBundle 1.11 & SyliusGridBundle 1.13
  .github/workflows/ci_e2e-custom.yaml
  src/Sylius/Bundle/CoreBundle/Resources/config/validation/TranslatableInterface.xml
Labels: Maintenance

#16800 [SF7] Add Symfony 7 support for Admin bundle
  src/Sylius/Bundle/AdminBundle/CommandHandler/CreateAdminUserHandler.php
  src/Sylius/Bundle/AdminBundle/Console/Command/CreateAdminUserCommand.php
  src/Sylius/Bundle/AdminBundle/Tests/DependencyInjection/Compiler/BackwardsCompatibility/ReplaceEmailManagersPassTest.php
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/AdminBundle/spec/Action/Account/RequestPasswordResetActionSpec.php
  src/Sylius/Bundle/AdminBundle/spec/EventListener/AdminFilterSubscriberSpec.php
  src/Sylius/Bundle/AdminBundle/spec/EventListener/AdminSectionCacheControlSubscriberSpec.php
Labels: Admin

#16803 [API][Behat] Enable already covered scenarios
  features/admin/payment/managing_payments/sorting_payments.feature
  features/admin/product/managing_products/filtering_products_by_search.feature
  features/admin/product/managing_products/filtering_products_by_taxons.feature
  features/admin/promotion/managing_catalog_promotions/filtering_variants_affected_by_catalog_promotions.feature
  features/admin/user/managing_customer_groups/filtering_customer_groups.feature
  features/admin/user/managing_customer_groups/sorting_customer_groups.feature
  features/admin/user/managing_customers/browsing_orders_of_customer.feature
  features/admin/user/managing_customers/filtering_customers_by_search.feature
  features/admin/user/managing_customers/sorting_customers.feature
  features/shop/account/customer_account/address_book/deleting_address_created_after_checkout.feature
  features/shop/account/customer_account/address_book/setting_default_address.feature
  features/shop/account/customer_account/address_book/viewing_addresses_created_after_checkout.feature
  features/shop/locale/browsing_shop_in_different_than_default_locale.feature
  features/shop/locale/handling_different_locales_on_multiple_channels.feature
  features/shop/locale/redirecting_to_default_locale.feature
  features/shop/locale/switching_current_locale.feature
Labels: API

#16801 [SF7] Add Symfony 7 support for Shop bundle
  phpstan.neon.dist
  src/Sylius/Bundle/ShopBundle/.gitignore
  src/Sylius/Bundle/ShopBundle/Router/LocaleStrippingRouter.php
  src/Sylius/Bundle/ShopBundle/Tests/DependencyInjection/Compiler/BackwardsCompatibility/ReplaceEmailManagersPassTest.php
  src/Sylius/Bundle/ShopBundle/composer.json
  src/Sylius/Bundle/ShopBundle/spec/EventListener/ShopCustomerAccountSubSectionCacheControlSubscriberSpec.php
Labels: Shop

#16804 [Shop] Contact
  features/shop/cart/shopping_cart/removing_cart_item.feature
  features/shop/contact/requesting_contact.feature
  features/shop/contact/requesting_contact_validation.feature
  src/Sylius/Behat/Context/Ui/Shop/ContactContext.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPage.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPageInterface.php
  src/Sylius/Behat/Page/Shop/Contact/ContactPage.php
  src/Sylius/Behat/Page/Shop/Contact/ContactPageInterface.php
  src/Sylius/Behat/Page/Shop/Page.php
  src/Sylius/Behat/Page/Shop/PageInterface.php
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
  src/Sylius/Behat/Page/Shop/Product/ShowPageInterface.php
  src/Sylius/Behat/Resources/config/services/pages/shop.xml
  src/Sylius/Behat/Resources/config/services/pages/shop/contact.xml
  src/Sylius/Behat/Resources/config/services/pages/shop/product.xml
  src/Sylius/Bundle/ShopBundle/templates/contact/contact_request/form/submit.html.twig
Labels: Shop

#16806 [Maintenance] Remove message buses duplications
  UPGRADE-2.0.md
  adr/2024_08_29_message_buses_unification.md
  src/Sylius/Bundle/AdminBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/command_handlers.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/app/messenger.yaml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/command_handler.xml
Labels: Enhancement, DX, Maintenance

#16808 [Shop][Cart] Move SummaryComponent to cart directory
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/cart/index.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/services/twig/component.xml
  src/Sylius/Bundle/ShopBundle/Twig/Component/Cart/SummaryComponent.php
  src/Sylius/Bundle/ShopBundle/templates/cart/index/form/sections/general/summary.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/index/form/sections/general/summary/base_currency_order_total.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/index/form/sections/general/summary/discount.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/index/form/sections/general/summary/estimated_cost.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/index/form/sections/general/summary/items_total.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/index/form/sections/general/summary/order_total.html.twig
  src/Sylius/Bundle/ShopBundle/templates/cart/index/form/sections/general/summary/taxes_total.html.twig
Labels: Shop

#16805 [Shop] 404 page tests
  features/shop/errors/seeing_not_found_page_in_the_shop.feature
  src/Sylius/Bundle/ShopBundle/templates/Errors/error404.html.twig
Labels: Shop
