Repository Sylius/Sylius, pull requests merged in 2025-06, with the labels that each got.

#18102 [CI] Add PHP 8.4 to matrix + fix Mink lazy object
  .github/workflows/matrix.json
  composer-require-checker.json
  src/Sylius/Bundle/CoreBundle/DependencyInjection/Compiler/FixMinkProxyPass.php
  src/Sylius/Bundle/CoreBundle/SyliusCoreBundle.php
Labels: Behat, Maintenance, Dependencies

#18103 Add support for Node.js 24
  .github/workflows/ci_e2e-mariadb.yaml
  .github/workflows/ci_e2e-mysql.yaml
  .github/workflows/ci_e2e-pgsql.yaml
  .github/workflows/ci_e2e-unstable.yaml
  .github/workflows/matrix.json
  package.json
  src/Sylius/Bundle/AdminBundle/package.json
  src/Sylius/Bundle/ShopBundle/package.json
Labels: Maintenance, Admin, Shop, Dependencies, CI

#18035 Replace hardcoded text with respective translation key in Breadcrumb bar
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/index/content/header/breadcrumbs.html.twig
Labels: Admin

#18105 Exclude non-shippable units from shipments in OrderShipmentProcessor
  src/Sylius/Component/Core/OrderProcessing/OrderShipmentProcessor.php
  src/Sylius/Component/Core/tests/OrderProcessing/OrderShipmentProcessorTest.php
Labels: Feature

#16650 [Core] Add voter to check for sylius impersonation
  src/Sylius/Bundle/CoreBundle/EventListener/UserImpersonatorSubscriber.php
  src/Sylius/Bundle/CoreBundle/Resources/config/services.xml
  src/Sylius/Bundle/CoreBundle/Resources/config/services/listeners.xml
  src/Sylius/Bundle/CoreBundle/Security/ImpersonationVoter.php
  src/Sylius/Bundle/CoreBundle/Security/UserImpersonator.php
  src/Sylius/Bundle/CoreBundle/tests/EventListener/UserImpersonatorSubscriberTest.php
  src/Sylius/Bundle/CoreBundle/tests/Security/ImpersonationVoterTest.php
Labels: Feature, DX

#18106 Prepare upgrade file for refined assets management
  UPGRADE-2.1.md
Labels: Feature, Maintenance

#18118 Upgrade file for refined assets management review fixes
  UPGRADE-2.1.md
Labels: Maintenance

#18087 [API][Order] Add more data to responses
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/shop/PromotionCoupon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Order.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/PromotionCoupon.xml
  tests/Api/Admin/OrdersTest.php
  tests/Api/DataFixtures/ORM/order/fulfilled.yaml
  tests/Api/DataFixtures/ORM/order/new.yaml
  tests/Api/DataFixtures/ORM/order/new_in_different_currencies.yaml
  tests/Api/Responses/admin/order/get_all_orders.json
  tests/Api/Responses/admin/order/get_order.json
  tests/Api/Responses/admin/order/get_orders_before_date.json
  tests/Api/Responses/admin/order/get_orders_filtered_by_channel.json
  tests/Api/Responses/admin/order/get_orders_filtered_by_pln_and_usd_currency_codes.json
  tests/Api/Responses/admin/order/get_orders_filtered_by_pln_currency_code.json
  tests/Api/Responses/admin/order/get_orders_filtered_by_usd_currency_code.json
  tests/Api/Responses/admin/order/get_orders_for_customer.json
  tests/Api/Responses/shop/checkout/cart/add_item.json
  tests/Api/Responses/shop/checkout/cart/create_cart.json
  tests/Api/Responses/shop/checkout/cart/create_cart_as_guest.json
  tests/Api/Responses/shop/checkout/cart/create_cart_as_shop_user.json
  tests/Api/Responses/shop/checkout/cart/create_cart_with_locale.json
  tests/Api/Responses/shop/checkout/cart/get_cart.json
  tests/Api/Responses/shop/checkout/cart/get_empty_cart.json
  tests/Api/Responses/shop/checkout/cart/get_existing_cart_if_customer_has_cart.json
  tests/Api/Responses/shop/checkout/cart/update_cart_as_guest.json
  tests/Api/Responses/shop/checkout/cart/update_cart_as_shop_user.json
  tests/Api/Responses/shop/checkout/cart/update_item_quantity.json
  tests/Api/Responses/shop/checkout/completion/order_with_free_non_shippable_items.json
  tests/Api/Responses/shop/checkout/completion/order_with_non_shippable_items.json
  tests/Api/Responses/shop/checkout/completion/order_with_shippable_and_non_shippable_items.json
  tests/Api/Responses/shop/checkout/payment_method/select_payment_method_by_guest.json
  tests/Api/Responses/shop/checkout/payment_method/select_payment_method_by_user.json
  tests/Api/Responses/shop/checkout/shipping_method/select_shipping_method.json
  tests/Api/Responses/shop/order/change_payment_method_as_guest.json
  tests/Api/Responses/shop/order/change_payment_method_as_user.json
  tests/Api/Responses/shop/order/get_order_by_guest.json
  tests/Api/Responses/shop/order/get_order_by_user.json
  tests/Api/Responses/shop/order/get_orders.json
  tests/Api/Responses/shop/order/update_payment_method.json
  tests/Api/Shop/Checkout/CartTest.php
Labels: UX, API

#18109 [2.0] French translations
  src/Sylius/Bundle/AddressingBundle/Resources/translations/messages.fr.yml
  src/Sylius/Bundle/AddressingBundle/Resources/translations/validators.fr.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.fr.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/validators.fr.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/validators.fr.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/flashes.fr.yaml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.fr.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.fr.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/validators.fr.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/validators.fr.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/validators.fr.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/messages.fr.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/validators.fr.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages.fr.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/validators.fr.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.fr.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/messages.fr.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/validators.fr.yml
  src/Sylius/Bundle/ShopBundle/Resources/translations/messages.fr.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/messages.fr.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/validators.fr.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/validators.fr.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.fr.yml
Labels: Admin, Shop

#18096 [2.0] Mandarin Chinese translations
  src/Sylius/Bundle/AddressingBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/AddressingBundle/Resources/translations/validators.zh_CN.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/validators.zh_CN.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/validators.zh_CN.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.zh_CN.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/validators.zh_CN.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/flashes.zh_CN.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/validators.zh_CN.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/validators.zh_CN.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/flashes.zh_CN.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/validators.zh_CN.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/flashes.zh_CN.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/validators.zh_CN.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/validators.zh_CN.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/flashes.zh_CN.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/validators.zh_CN.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/flashes.zh_CN.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.zh_CN.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/flashes.zh_CN.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/validators.zh_CN.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/validators.zh_CN.yml
  src/Sylius/Bundle/ShopBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/validators.zh_CN.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/validators.zh_CN.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/flashes.zh_CN.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/flashes.zh_CN.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/messages.zh_CN.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/validators.zh_CN.yml
Labels: Admin, Translations

#18095 [2.0] Norwegian translations
  src/Sylius/Bundle/AddressingBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/AddressingBundle/Resources/translations/validators.no.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/flashes.no.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.no.yaml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/validators.no.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/validators.no.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/flashes.no.yaml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.no.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/validators.no.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/flashes.no.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/validators.no.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/validators.no.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/flashes.no.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/validators.no.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/flashes.no.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/validators.no.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages+intl-icu.no.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/validators.no.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/validators.no.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/flashes.no.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.no.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/flashes.no.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/validators.no.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/flashes.no.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/validators.no.yml
  src/Sylius/Bundle/ShopBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/validators.no.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/validators.no.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/flashes.no.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages+intl-icu.no.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/flashes.no.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/messages.no.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/validators.no.yml
Labels: Admin, API

#18083 [API][Shop][Product] Allow serializing the default variant
  src/Sylius/Behat/Context/Api/Shop/ProductContext.php
  src/Sylius/Behat/Resources/config/services/contexts/api/shop.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Product.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductVariant.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/serializers.xml
  src/Sylius/Bundle/ApiBundle/Serializer/Normalizer/ProductNormalizer.php
  src/Sylius/Bundle/ApiBundle/tests/Serializer/Normalizer/ProductNormalizerTest.php
  tests/Api/DataFixtures/ORM/product/product_with_many_locales.yaml
  tests/Api/Responses/shop/product/get_associated_products_by_owner_collection.json
  tests/Api/Responses/shop/product/get_associated_products_by_type_collection.json
  tests/Api/Responses/shop/product/get_product_with_associations.json
  tests/Api/Responses/shop/product/get_product_with_de_DE_locale_translation.json
  tests/Api/Responses/shop/product/get_product_with_default_locale_translation.json
  tests/Api/Responses/shop/product/get_products_collection_response.json
  tests/Api/Responses/shop/product/get_products_collection_with_associations_response.json
  tests/Api/Responses/shop/product/get_products_with_reviews.json
Labels: Enhancement, Shop, API

#18125 [API][Maintenance] Parametrize product association class in filter
  src/Sylius/Bundle/ApiBundle/Doctrine/ORM/Filter/ProductByAssociationFilter.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services/shop/filters.xml
Labels: DX, API

#18129 [2.0] Portuguese translations
  src/Sylius/Bundle/AddressingBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/AddressingBundle/Resources/translations/validators.pt.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/validators.pt.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/validators.pt.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.pt.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/validators.pt.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/validators.pt.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/validators.pt.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/flashes.pt.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/flashes.pt.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/validators.pt.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/validators.pt.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/flashes.pt.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.pt.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/flashes.pt.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/validators.pt.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/flashes.pt.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/validators.pt.yml
  src/Sylius/Bundle/ShopBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/validators.pt.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/validators.pt.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/flashes.pt.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/flashes.pt.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/messages.pt.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/validators.pt.yml
Labels: Translations

#18130 [2.0] Japanese translations
  src/Sylius/Bundle/AddressingBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/AddressingBundle/Resources/translations/validators.ja.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.ja.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/validators.ja.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/validators.ja.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/flashes.ja.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/validators.ja.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/flashes.ja.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/validators.ja.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/validators.ja.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/flashes.ja.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.ja.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/flashes.ja.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/validators.ja.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/validators.ja.yml
  src/Sylius/Bundle/ShopBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/validators.ja.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/validators.ja.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/flashes.ja.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/flashes.ja.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/messages.ja.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/validators.ja.yml
Labels: Translations

#18140 Fix AddressExampleFactory
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/AddressExampleFactory.php
Labels: Bug

#18138 [API][Shop] Add more images endpoints
  composer-require-checker.json
  src/Sylius/Bundle/ApiBundle/ApiPlatform/Hydra/Serializer/EmptyCollectionFiltersNormalizer.php
  src/Sylius/Bundle/ApiBundle/ApiPlatform/Metadata/Resource/Factory/ImageFilterAwareResourceMetadataCollectionFactory.php
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/shop/ProductImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/shop/TaxonImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/ProductImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/TaxonImage.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/api_platform.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/shop/filters.xml
  src/Sylius/Bundle/ApiBundle/tests/ApiPlatform/Hydra/Serializer/EmptyCollectionFiltersNormalizerTest.php
  src/Sylius/Bundle/ApiBundle/tests/ApiPlatform/Metadata/Resource/Factory/ImageFilterAwareResourceMetadataCollectionFactoryTest.php
  tests/Api/DataFixtures/ORM/product/product_image.yaml
  tests/Api/Responses/admin/order/get_adjustments_for_a_given_order.json
  tests/Api/Responses/admin/order/get_adjustments_for_a_given_order_with_type_filter.json
  tests/Api/Responses/admin/order_item/get_order_item_adjustments.json
  tests/Api/Responses/admin/order_item/get_order_item_adjustments_with_type_filter.json
  tests/Api/Responses/shop/order/get_order_adjustments.json
  tests/Api/Responses/shop/order/get_order_adjustments_with_type_filter.json
  tests/Api/Responses/shop/order_item/get_empty_order_item_adjustments.json
  tests/Api/Responses/shop/order_item/get_order_item_adjustments.json
  tests/Api/Responses/shop/order_item/get_order_item_adjustments_with_type_filter.json
  tests/Api/Responses/shop/product_image/get_product_images.json
  tests/Api/Responses/shop/product_image/get_product_images_with_image_filter.json
  tests/Api/Responses/shop/taxon_image/get_taxon_images.json
  tests/Api/Responses/shop/taxon_image/get_taxon_images_with_image_filter.json
  tests/Api/Shop/ProductImagesTest.php
  tests/Api/Shop/TaxonImagesTest.php
Labels: Shop, API

#18158 Make reference to global agents file for GitHub Copilot
  .github/copilot-instructions.md
Labels: Maintenance

#18167 [Composer] Add explicitly api-platform/state dependency to install the proper version of package
  composer-require-checker.json
  composer.json
  symfony.lock
Labels: Maintenance, Dependencies, Bug

#18108 [API][Shop] Expose taxon branch structure
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/shop/Taxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/serialization/Taxon.xml
  src/Sylius/Bundle/ApiBundle/Resources/config/services/shop/state_providers.xml
  src/Sylius/Bundle/ApiBundle/StateProvider/Shop/TaxonTree/AbstractTaxonTreeProvider.php
  src/Sylius/Bundle/ApiBundle/StateProvider/Shop/TaxonTree/TaxonTreeBranchProvider.php
  src/Sylius/Bundle/ApiBundle/StateProvider/Shop/TaxonTree/TaxonTreePathProvider.php
  src/Sylius/Bundle/TaxonomyBundle/Provider/TaxonTreeProvider.php
  src/Sylius/Bundle/TaxonomyBundle/Resources/config/services.xml
  src/Sylius/Bundle/TaxonomyBundle/Resources/config/services/tree_repository.xml
  src/Sylius/Bundle/TaxonomyBundle/tests/Provider/TaxonTreeProviderTest.php
  src/Sylius/Component/Taxonomy/Exception/TaxonNotFoundException.php
  src/Sylius/Component/Taxonomy/Provider/TaxonTreeProviderInterface.php
  tests/Api/DataFixtures/ORM/taxon/taxon_tree.yaml
  tests/Api/Responses/shop/taxon/tree/branch/get_for_accessories_with_root.json
  tests/Api/Responses/shop/taxon/tree/branch/get_for_accessories_without_root.json
  tests/Api/Responses/shop/taxon/tree/branch/get_for_category_with_root.json
  tests/Api/Responses/shop/taxon/tree/branch/get_for_category_without_root.json
  tests/Api/Responses/shop/taxon/tree/branch/get_for_plugs_with_root.json
  tests/Api/Responses/shop/taxon/tree/branch/get_for_plugs_without_root.json
  tests/Api/Responses/shop/taxon/tree/path/get_for_accessories_with_root.json
  tests/Api/Responses/shop/taxon/tree/path/get_for_accessories_without_root.json
  tests/Api/Responses/shop/taxon/tree/path/get_for_category_with_root.json
  tests/Api/Responses/shop/taxon/tree/path/get_for_category_without_root.json
  tests/Api/Responses/shop/taxon/tree/path/get_for_plugs_with_root.json
  tests/Api/Responses/shop/taxon/tree/path/get_for_plugs_without_root.json
  tests/Api/Shop/TaxonsTest.php
Labels: Shop, API

#18151 [2.0] Austrian German translations
  src/Sylius/Bundle/AddressingBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/AddressingBundle/Resources/translations/validators.de_AT.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/flashes.de_AT.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/validators.de_AT.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/validators.de_AT.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.de_AT.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/validators.de_AT.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/validators.de_AT.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/validators.de_AT.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/flashes.de_AT.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/validators.de_AT.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/flashes.de_AT.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/validators.de_AT.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/validators.de_AT.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/flashes.de_AT.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.de_AT.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/validators.de_AT.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/validators.de_AT.yml
  src/Sylius/Bundle/ShopBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/validators.de_AT.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/validators.de_AT.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/flashes.de_AT.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages+intl-icu.de_AT.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/messages.de_AT.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/validators.de_AT.yml
Labels: Admin, Translations

#18150 [2.0] Swiss German translations
  src/Sylius/Bundle/AddressingBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/AddressingBundle/Resources/translations/validators.de_CH.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/flashes.de_CH.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/validators.de_CH.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/validators.de_CH.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/flashes.de_CH.yaml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.de_CH.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/validators.de_CH.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/flashes.de_CH.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/validators.de_CH.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/validators.de_CH.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/flashes.de_CH.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/validators.de_CH.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/flashes.de_CH.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/validators.de_CH.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/flashes.de_CH.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/validators.de_CH.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/flashes.de_CH.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.de_CH.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/flashes.de_CH.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/validators.de_CH.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/flashes.de_CH.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/validators.de_CH.yml
  src/Sylius/Bundle/ShopBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/validators.de_CH.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/validators.de_CH.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/flashes.de_CH.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages+intl-icu.de_CH.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/messages.de_CH.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/validators.de_CH.yml
Labels: Admin, Translations

#18143 [2.0] Czech translations
  src/Sylius/Bundle/AddressingBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/AddressingBundle/Resources/translations/validators.cs.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/flashes.cs.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.cs.yaml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/validators.cs.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/validators.cs.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/flashes.cs.yaml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.cs.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/validators.cs.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/validators.cs.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/validators.cs.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/flashes.cs.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/validators.cs.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/flashes.cs.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/validators.cs.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages+intl-icu.cs.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/flashes.cs.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/validators.cs.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/flashes.cs.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.cs.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/flashes.cs.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/validators.cs.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/validators.cs.yml
  src/Sylius/Bundle/ShopBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/validators.cs.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/validators.cs.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/flashes.cs.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages+intl-icu.cs.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/flashes.cs.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/messages.cs.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/validators.cs.yml
Labels: Admin, API, Translations

#18146 [2.0] Slovakian translations
  src/Sylius/Bundle/AddressingBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/AddressingBundle/Resources/translations/validators.sk.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/flashes.sk.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.sk.yaml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/validators.sk.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/validators.sk.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/flashes.sk.yaml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.sk.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/validators.sk.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/flashes.sk.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/validators.sk.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/validators.sk.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/flashes.sk.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/validators.sk.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/flashes.sk.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/validators.sk.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages+intl-icu.sk.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/flashes.sk.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/validators.sk.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/flashes.sk.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.sk.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/flashes.sk.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/validators.sk.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/flashes.sk.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/validators.sk.yml
  src/Sylius/Bundle/ShopBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/validators.sk.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/validators.sk.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/flashes.sk.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages+intl-icu.sk.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/flashes.sk.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/messages.sk.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/validators.sk.yml
Labels: Admin, API, Translations

#18145 [2.0] Romanian translations
  src/Sylius/Bundle/AddressingBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/AddressingBundle/Resources/translations/validators.ro.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/flashes.ro.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/ApiBundle/Resources/translations/validators.ro.yaml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/validators.ro.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/validators.ro.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/flashes.ro.yaml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.ro.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/validators.ro.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/flashes.ro.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/validators.ro.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/validators.ro.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/flashes.ro.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/validators.ro.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/flashes.ro.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/validators.ro.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages+intl-icu.ro.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/validators.ro.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/flashes.ro.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.ro.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/flashes.ro.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/validators.ro.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/flashes.ro.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/validators.ro.yml
  src/Sylius/Bundle/ShopBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/validators.ro.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/validators.ro.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/flashes.ro.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages+intl-icu.ro.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/flashes.ro.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/messages.ro.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/validators.ro.yml
Labels: Admin, API, Translations

#18152 [Admin] Product Channel Pricings flex display and margin on the last element
  src/Sylius/Bundle/AdminBundle/templates/product/form/sections/channel_pricing/info.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product/form/sections/channel_pricing/info/minimum_price_details.html.twig
Labels: Admin

#18155 [ProductBundle] Fix ProductAttributeValue mapping to use ProductAttributeInterface
  src/Sylius/Bundle/ProductBundle/Resources/config/doctrine/model/ProductAttributeValue.orm.xml
Labels: DX, Bug

#18135 [Shop][Behat] Use test attribute on the order show page
  src/Sylius/Behat/Page/Shop/Account/Order/ShowPage.php
Labels: Behat, Shop

#18157 [Shop] Shop WCAG raport
  src/Sylius/Bundle/ShopBundle/templates/homepage/banner.html.twig
  src/Sylius/Bundle/ShopBundle/templates/homepage/new_collection.html.twig
  src/Sylius/Bundle/ShopBundle/templates/product/common/list.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/buttons.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/footer/content/copy.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/footer/content/menu.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/content/security/logged_in_user/desktop/logout.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/content/security/logged_in_user/desktop/my_account.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/content/security/visitor/desktop.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/content/security/visitor/desktop/register.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/content/security/visitor/mobile.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/navbar/menu.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/metatags.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/offcanvas/cart/header.html.twig
Labels: UX, Shop, Frontend

#18177 Product image replace
  src/Sylius/Bundle/CoreBundle/Resources/fixtures/t-shirts/woman/t-shirt_06_1.webp
Labels: Frontend

#18180 [Shop] Html lables translation
  src/Sylius/Bundle/ShopBundle/templates/homepage/banner.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/footer/content/copy.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/footer/content/menu.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/content/security/visitor/desktop.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/content/security/visitor/desktop/register.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/content/security/visitor/mobile.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/header/navbar/menu.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/metatags.html.twig
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
Labels: Shop

#18194 Refresh README image
  README.md
Labels: Maintenance
