Repository Sylius/Sylius, pull requests merged in 2025-04, with the labels that each got.

#17815 [Core] Refine ExampleFactoryInterface with Templated Object Type
  src/Sylius/Bundle/CoreBundle/Fixture/AbstractResourceFixture.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/AbstractExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/AddressExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/AdminUserExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CatalogPromotionActionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CatalogPromotionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CatalogPromotionScopeExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ChannelExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CustomerGroupExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ExampleFactoryInterface.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/OrderExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/PaymentMethodExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductAssociationExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductAssociationTypeExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductAttributeExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductOptionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductReviewExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/PromotionActionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/PromotionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/PromotionRuleExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ShippingCategoryExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ShippingMethodExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ShopUserExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/TaxCategoryExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/TaxRateExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/TaxonExampleFactory.php
Labels: DX

#17822 [Behat][Taxation] Refactor shop scenarios to reduce js tags
  features/shop/taxation/applying_taxes/applying_correct_taxes_for_items_with_different_tax_rates.feature
  features/shop/taxation/applying_taxes/applying_correct_taxes_for_order_with_discount_for_an_item_in_order_when_tax_rate_included_in_price.feature
  features/shop/taxation/applying_taxes/applying_correct_taxes_for_order_with_discount_for_whole_order.feature
  features/shop/taxation/applying_taxes/applying_correct_taxes_for_order_with_discount_for_whole_order_when_tax_rate_included_in_price.feature
  features/shop/taxation/applying_taxes/applying_correct_taxes_for_product_with_tax_rate_included_in_price.feature
  features/shop/taxation/applying_taxes/applying_correct_taxes_for_shipping.feature
  features/shop/taxation/applying_taxes/applying_correct_taxes_for_shipping_with_tax_rate_included_in_price.feature
  features/shop/taxation/applying_taxes/applying_correct_taxes_on_visitor_cart.feature
  features/shop/taxation/applying_taxes/applying_correct_taxes_on_visitor_cart_for_specific_date.feature
  features/shop/taxation/applying_taxes/applying_different_taxes_for_variants_with_different_tax_category.feature
  features/shop/taxation/applying_taxes/not_applying_taxes_for_products_without_tax_category.feature
  features/shop/taxation/applying_taxes/rounding_taxes_on_order_item_level.feature
  features/shop/taxation/applying_taxes_based_on_order_item_units_calculation_strategy/applying_correct_taxes_for_item_units_with_different_tax_rates.feature
  features/shop/taxation/applying_taxes_based_on_order_item_units_calculation_strategy/applying_correct_taxes_for_item_units_with_discount_for_item.feature
  features/shop/taxation/applying_taxes_based_on_order_item_units_calculation_strategy/applying_correct_taxes_for_item_units_with_discount_for_item_when_tax_rate_included_in_price.feature
  features/shop/taxation/applying_taxes_based_on_order_item_units_calculation_strategy/applying_correct_taxes_for_item_units_with_discount_for_whole_order.feature
  features/shop/taxation/applying_taxes_based_on_order_item_units_calculation_strategy/applying_correct_taxes_for_item_units_with_discount_for_whole_order_when_tax_rate_included_in_price.feature
  features/shop/taxation/applying_taxes_based_on_order_item_units_calculation_strategy/applying_correct_taxes_for_item_units_with_tax_rate_included_in_price.feature
  src/Sylius/Behat/Context/Setup/CartContext.php
Labels: DX, Behat

#17836 [ADR] Improvements for PHPSpec migration after code review
  adr/2025_04_07_transition_from_phpspec_to_phpunit.md
Labels: Maintenance

#17839 [Behat] Fix adding to cart scenarios
  features/shop/cart/shopping_cart/ui/verify_add_to_cart_button_state.feature
  src/Sylius/Behat/Context/Api/Shop/CartContext.php
  src/Sylius/Behat/Context/Ui/Shop/ProductContext.php
  src/Sylius/Behat/Page/Admin/Crud/CreatePage.php
  src/Sylius/Behat/Page/Admin/Crud/UpdatePage.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPage.php
  src/Sylius/Behat/Page/Shop/Checkout/AddressPage.php
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
  src/Sylius/Behat/Page/Shop/Product/ShowPageInterface.php
  src/Sylius/Behat/Page/SymfonyPage.php
Labels: Behat

#17830 [Maintenance] Bump Symfony packages to ^7.2
  .github/workflows/matrix.json
  UPGRADE-2.1.md
  composer.json
  src/Sylius/Abstraction/StateMachine/composer.json
  src/Sylius/Bundle/AddressingBundle/composer.json
  src/Sylius/Bundle/AdminBundle/composer.json
  src/Sylius/Bundle/ApiBundle/composer.json
  src/Sylius/Bundle/AttributeBundle/composer.json
  src/Sylius/Bundle/ChannelBundle/composer.json
  src/Sylius/Bundle/CoreBundle/composer.json
  src/Sylius/Bundle/CurrencyBundle/composer.json
  src/Sylius/Bundle/CustomerBundle/composer.json
  src/Sylius/Bundle/InventoryBundle/composer.json
  src/Sylius/Bundle/LocaleBundle/composer.json
  src/Sylius/Bundle/MoneyBundle/composer.json
  src/Sylius/Bundle/OrderBundle/composer.json
  src/Sylius/Bundle/PaymentBundle/composer.json
  src/Sylius/Bundle/PayumBundle/composer.json
  src/Sylius/Bundle/ProductBundle/composer.json
  src/Sylius/Bundle/PromotionBundle/composer.json
  src/Sylius/Bundle/ReviewBundle/composer.json
  src/Sylius/Bundle/ShippingBundle/composer.json
  src/Sylius/Bundle/ShopBundle/composer.json
  src/Sylius/Bundle/TaxationBundle/composer.json
  src/Sylius/Bundle/TaxonomyBundle/composer.json
  src/Sylius/Bundle/UiBundle/composer.json
  src/Sylius/Bundle/UserBundle/composer.json
  src/Sylius/Component/Addressing/composer.json
  src/Sylius/Component/Attribute/composer.json
  src/Sylius/Component/Channel/composer.json
  src/Sylius/Component/Core/composer.json
  src/Sylius/Component/Currency/composer.json
  src/Sylius/Component/Customer/composer.json
  src/Sylius/Component/Inventory/composer.json
  src/Sylius/Component/Locale/composer.json
  src/Sylius/Component/Order/composer.json
  src/Sylius/Component/Payment/composer.json
  src/Sylius/Component/Product/composer.json
  src/Sylius/Component/Promotion/composer.json
  src/Sylius/Component/Review/composer.json
  src/Sylius/Component/Shipping/composer.json
  src/Sylius/Component/Taxation/composer.json
  src/Sylius/Component/Taxonomy/composer.json
  src/Sylius/Component/User/composer.json
Labels: Maintenance, Admin, Shop, API

#17831 [Shop] Handle missing icon errors
  src/Sylius/Bundle/UiBundle/Resources/config/packages/ux_icons.yaml
Labels: UX, Bug, Frontend

#17846 [CI] Bump Symfony to `7.3.x-dev` in Unstable Workflow
  .github/workflows/ci_e2e-unstable.yaml
Labels: Maintenance, CI

#17856 [API] Fix Missing root_operation in context when 'application/json' is accepted
  src/Sylius/Bundle/ApiBundle/Serializer/Normalizer/ShippingMethodNormalizer.php
Labels: API, Bug

#17848 Update validators.de.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/validators.de.yml
Labels: Documentation

#17869 [CI] Fix Panther builds by introducing secure password setup in Behat tests
  behat.yml.dist
  features/shop/account/customer_account/changing_password.feature
  src/Sylius/Behat/Client/ApiPlatformSecurityClient.php
  src/Sylius/Behat/Context/Api/Admin/ManagingAdministratorsContext.php
  src/Sylius/Behat/Context/Api/Admin/ManagingCustomersContext.php
  src/Sylius/Behat/Context/Api/Admin/ResettingPasswordContext.php
  src/Sylius/Behat/Context/Api/Shop/CustomerContext.php
  src/Sylius/Behat/Context/Api/Shop/LoginContext.php
  src/Sylius/Behat/Context/Api/Shop/RegistrationContext.php
  src/Sylius/Behat/Context/Cli/ChangeAdminPasswordContext.php
  src/Sylius/Behat/Context/Setup/AdminUserContext.php
  src/Sylius/Behat/Context/Setup/CustomerContext.php
  src/Sylius/Behat/Context/Setup/UserContext.php
  src/Sylius/Behat/Context/Ui/Admin/Helper/SecurePasswordTrait.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingCustomersContext.php
  src/Sylius/Behat/Context/Ui/Shop/Checkout/RegistrationAfterCheckoutContext.php
  src/Sylius/Behat/Context/Ui/Shop/RegistrationContext.php
  src/Sylius/Behat/Element/Admin/Customer/FormElement.php
  src/Sylius/Behat/Element/Shop/Account/RegisterElement.php
  src/Sylius/Behat/Element/Shop/Account/RegisterElementInterface.php
  src/Sylius/Behat/Page/Admin/Account/LoginPage.php
  src/Sylius/Behat/Page/Admin/Account/ResetPasswordPage.php
  src/Sylius/Behat/Page/Admin/Administrator/CreatePage.php
  src/Sylius/Behat/Page/Admin/Administrator/FormAwareTrait.php
  src/Sylius/Behat/Page/Shop/Account/ChangePasswordPage.php
  src/Sylius/Behat/Page/Shop/Account/LoginPage.php
  src/Sylius/Behat/Page/Shop/Account/ResetPasswordPage.php
  src/Sylius/Behat/Page/Shop/Checkout/AddressPage.php
  src/Sylius/Behat/Resources/config/services/contexts/api/admin.xml
  src/Sylius/Behat/Resources/config/services/contexts/cli.xml
  src/Sylius/Behat/Resources/config/services/elements/admin.xml
  src/Sylius/Behat/Resources/config/services/elements/shop.xml
  src/Sylius/Behat/Resources/config/services/pages/admin/account.xml
  src/Sylius/Behat/Resources/config/services/pages/admin/admin_user.xml
  src/Sylius/Behat/Resources/config/services/pages/shop/account.xml
  src/Sylius/Behat/Resources/config/services/pages/shop/checkout.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/src/Tests/DisablingDocumentationTest.php
Labels: Behat, CI

#17740 [UI][Swagger] Fix uri variables by adding slug
  src/Sylius/Bundle/ApiBundle/Resources/config/api_platform/resources/shop/Product.xml
Labels: Maintenance, Admin, API, Bug

#17887 [CI] Update branches for full builds + refactor and upmerge actions
  .github/workflows/ci__full_1_14.yaml
  .github/workflows/ci__full_2_0.yaml
  .github/workflows/ci__full_2_1.yaml
  .github/workflows/refactor.yaml
  .github/workflows/upmerge_pr.yaml
Labels: Maintenance, CI

#17752 [2.0][Admin][FIX] Use a unique id for each tab group
  src/Sylius/Behat/Behaviour/CountsChannelBasedErrors.php
  src/Sylius/Behat/Element/Admin/ShippingMethod/FormElement.php
  src/Sylius/Behat/Page/Admin/Product/CreateConfigurableProductPage.php
  src/Sylius/Behat/Page/Admin/Product/UpdateConfigurableProductPage.php
  src/Sylius/Bundle/AdminBundle/templates/shared/form_theme.html.twig
Labels: Maintenance, Admin, Bug

#17858 [API] Fix prevent overwriting modifications for shared paths with multiple methods
  src/Sylius/Bundle/ApiBundle/OpenApi/Documentation/AcceptLanguageHeaderDocumentationModifier.php
Labels: API, Bug

#17900 Try to clear image cache
  README.md
Labels: Maintenance

#17873 [Admin] Fix cart promotions usage column
  src/Sylius/Bundle/AdminBundle/templates/promotion/grid/field/usage.html.twig
Labels: Admin, Frontend

#17912 [UiBundle] Allow ResourceLivePropTrait::hydrateResource to have null $value
  src/Sylius/Bundle/UiBundle/Twig/Component/ResourceLivePropTrait.php
Labels: DX, Bug
