Repository Sylius/Sylius, pull requests merged in 2025-02, with the labels that each got.

#17641 [Admin] Improve order history UI
  src/Sylius/Bundle/AdminBundle/templates/order/history/content/sections/addresses.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/history/content/sections/addresses/address.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/history/macro/action_label.html.twig
Labels: UX, Admin

#17655 update bunnyshell/workflows to v2
  .github/workflows/bunnyshell_cleanup-envs.yaml
  .github/workflows/bunnyshell_delete-preview-env.yaml
  .github/workflows/bunnyshell_deploy-preview-env.yaml
  .github/workflows/bunnyshell_prepare-preview-env.yaml
  .github/workflows/bunnyshell_start-preview-env.yaml
  .github/workflows/bunnyshell_stop-preview-env.yaml
Labels: Maintenance

#17656 [Shop] Move account menu to separate twig hook
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/common/create.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/common/index.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/common/show.yaml
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/common/update.yaml
  src/Sylius/Bundle/ShopBundle/templates/account/common/content/menu.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/common/content/menu/account.html.twig
Labels: Shop

#17653 [PaymentRequest] Change tagged locator index by to underscore
  .github/workflows/ci_static-checks.yaml
  src/Sylius/Bundle/PaymentBundle/Resources/config/services/command_provider.xml
  src/Sylius/Bundle/PaymentBundle/Resources/config/services/provider.xml
  src/Sylius/Bundle/PaymentBundle/Tests/DependencyInjection/SyliusPaymentExtensionTest.php
  src/Sylius/Bundle/PaymentBundle/Tests/Resources/config/command_provider.xml
  src/Sylius/Bundle/PaymentBundle/Tests/Resources/config/command_provider.yaml
  src/Sylius/Bundle/PaymentBundle/Tests/Resources/config/http_response_provider.xml
  src/Sylius/Bundle/PaymentBundle/Tests/Resources/config/http_response_provider.yaml
Labels: Maintenance

#17659 [Shop][Grid] Display subitem actions within item actions div and add default "show more" button
  src/Sylius/Bundle/ShopBundle/templates/shared/macro/grid/table.html.twig
Labels: Shop

#17660 [Shop][Grid] Add delete action
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/templates/grid/action/delete.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/components/confirmation_modal.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/components/delete_modal.html.twig
Labels: Shop

#17667 [Admin] Deprecate unused sylius_admin_customer_orders_statistics route
  UPGRADE-2.1.md
  src/Sylius/Bundle/AdminBundle/Resources/config/routing/customer.yml
Labels: Maintenance, Admin

#17609 ref #17608 Fix division by zero when promotion usage limit is 0
  src/Sylius/Bundle/AdminBundle/templates/promotion/grid/field/usage.html.twig
Labels: Admin, Bug

#17669 [CI] Update upmerge branches GH action to add 2.1
  .github/workflows/upmerge_pr.yaml
Labels: Maintenance, CI

#17665 [Admin][AdminUserType] Fix disappearing password
  src/Sylius/Bundle/AdminBundle/Form/Type/AdminUserType.php
Labels: Admin, Bug

#17661 [Shop][Grid] Add update action
  src/Sylius/Bundle/ShopBundle/Resources/config/app/config.yml
  src/Sylius/Bundle/ShopBundle/templates/grid/action/update.html.twig
Labels: Enhancement, DX, Shop

#17672 [PaymentRequest] Fix payment method fixture by adding `usePayum` config field
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/PaymentMethodExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/PaymentMethodFixture.php
  src/Sylius/Bundle/CoreBundle/Tests/Fixture/PaymentMethodFixtureTest.php
Labels: Enhancement, DX, Admin, Shop

#17623 [API] APIP allow overwritten configs to be applied
  composer-require-checker.json
  src/Sylius/Bundle/ApiBundle/ApiPlatform/Metadata/Resource/Factory/DuplicateOperationReplacerResourceMetadataCollectionFactory.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/api_platform/resources/Bar.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/api_platform_modified/resources/Bar.yaml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/api_platform_modified/resources/Channel.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/api_platform_modified/resources/Currency.yaml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/api_platform_modified/resources/Promotion.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/config.yaml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/doctrine/Bar.orm.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/serialization/BarCommand.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/serialization/BazCommand.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/services.yaml
  src/Sylius/Bundle/ApiBundle/Tests/Application/src/Command/BarCommand.php
  src/Sylius/Bundle/ApiBundle/Tests/Application/src/Command/BazCommand.php
  src/Sylius/Bundle/ApiBundle/Tests/Application/src/CommandHandler/BarHandler.php
  src/Sylius/Bundle/ApiBundle/Tests/Application/src/CommandHandler/BazHandler.php
  src/Sylius/Bundle/ApiBundle/Tests/Application/src/Entity/Bar.php
  src/Sylius/Bundle/ApiBundle/Tests/Application/src/Tests/MergingConfigsTest.php
Labels: API

#17674 [APIP] collection factory duplicate operation replacer renaming
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
Labels: API

#17689 [Shop][UI][DX] Minor fixes
  src/Sylius/Bundle/ShopBundle/templates/account/menu/content.html.twig
  src/Sylius/Bundle/ShopBundle/templates/form/theme.html.twig
Labels: Shop

#17690 [CI] Allow to fail randomly failing behats
  .github/workflows/ci_e2e-mysql.yaml
  features/admin/product/managing_products/sorting_products_within_a_taxon_by_position.feature
Labels: Maintenance

#17687 Update payment docs
  docs/the-customization-guide/customizing-payments/how-to-integrate-a-payment-gateway-as-a-plugin.md
Labels: Documentation, Maintenance

#17680 [Doc] Adapt how to disable localized urls from Sylius 1 to Sylius 2
  docs/the-cookbook-2.0/how-to-disable-localized-urls.md
Labels: Documentation, Maintenance

#17677 [APIP] Merge resource metadata instead of replacing it
  src/Sylius/Bundle/ApiBundle/ApiPlatform/Metadata/Resource/Factory/DuplicateOperationReplacerResourceMetadataCollectionFactory.php
  src/Sylius/Bundle/ApiBundle/Resources/config/services.xml
  src/Sylius/Bundle/ApiBundle/Tests/Application/config/api_platform_modified/resources/Bar.yaml
Labels: Enhancement, DX, API

#17676 [Docs] Fix links to new Sylius 2 documentation in README
  README.md
Labels: Documentation, Maintenance

#17666 [Admin] Fix taxon deletion
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/DeleteTaxonController.js
  src/Sylius/Bundle/AdminBundle/templates/taxon/sections/tree/actions/dropdown.html.twig
Labels: Admin

#17688 [Shop] Add ux autocomplete
  src/Sylius/Bundle/ShopBundle/Resources/assets/controllers.json
  src/Sylius/Bundle/ShopBundle/Resources/assets/styles/main.scss
  src/Sylius/Bundle/ShopBundle/composer.json
Labels: DX, Shop
