Repository Sylius/Sylius, pull requests merged in 2025-01, with the labels that each got.

#17599 Update customizing-api.md
  docs/the-customization-guide/customizing-api.md
Labels: Documentation, Maintenance

#17595 Add missing changed InventoryBundle service to UPGRADE-2.0
  UPGRADE-2.0.md
Labels: Maintenance

#17594 Update select attribute in AdminBundle to use the proper base template
  src/Sylius/Bundle/AdminBundle/templates/product/show/content/page_body/attributes/types/select.html.twig
Labels: Admin

#17571 Fonts loading optimization
  src/Sylius/Bundle/AdminBundle/Resources/assets/fonts/Inter-VariableFont_slnt,wght.ttf
  src/Sylius/Bundle/AdminBundle/Resources/assets/fonts/InterVariable-Italic.woff2
  src/Sylius/Bundle/AdminBundle/Resources/assets/fonts/InterVariable.woff2
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_body.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_fonts.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_variables.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/main.scss
  src/Sylius/Bundle/AdminBundle/Resources/config/app/twig_hooks/common/layout.yaml
  src/Sylius/Bundle/AdminBundle/templates/shared/layout/base.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/layout/base/metatags.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/assets/fonts/InterVariable-Italic.woff2
  src/Sylius/Bundle/ShopBundle/Resources/assets/fonts/InterVariable.woff2
  src/Sylius/Bundle/ShopBundle/Resources/assets/fonts/inter-variable-font-slnt-wght.ttf
  src/Sylius/Bundle/ShopBundle/Resources/assets/styles/_base.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/styles/_fonts.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/styles/_variables.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/styles/main.scss
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/base.yaml
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base/metatags.html.twig
Labels: Admin, Shop

#17611 [Maintenance][OrderProcessing] Extract adjustment types to be cleared to a parameter
  UPGRADE-1.14.md
  src/Sylius/Bundle/CoreBundle/Resources/config/services/order_processing.xml
Labels: Enhancement, DX, Maintenance

#17607 [Bug] Fix missing variable
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
Labels: Behat, Bug

#17610 Revert skipped phpunit test
  tests/Api/Admin/CatalogPromotionsTest.php
Labels: Maintenance

#17574 SYL-3939: Eslint
  eslint.config.mjs
  package.json
  src/Sylius/Bundle/AdminBundle/Resources/assets/app.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/CompoundFormErrorsController.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/DeleteTaxonController.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/ProductAttributeAutocomplete.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/ProductTaxonTreeController.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/SavePositionsController.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/SlugController.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/TabsErrorsController.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/TaxonSlugController.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/TaxonTreeController.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/scripts/bootstrap.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/scripts/bulk-delete.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/scripts/check-all.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/scripts/menu-search.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/scripts/product/attribute-tabs-refresher.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/scripts/statistics_chart.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/scripts/sticky-header.js
  src/Sylius/Bundle/AdminBundle/index.js
  src/Sylius/Bundle/ShopBundle/Resources/assets/app.js
  src/Sylius/Bundle/ShopBundle/Resources/assets/controllers/ApiLoginController.js
  src/Sylius/Bundle/ShopBundle/Resources/assets/scripts/bootstrap.js
  src/Sylius/Bundle/ShopBundle/index.js
  src/Sylius/Bundle/UiBundle/Resources/private/.eslintrc.js
  webpack.config.js
Labels: Admin, Shop

#17556 [Login] remove loader login page in safari when loading page from cache
  src/Sylius/Bundle/UiBundle/Resources/private/js/app.js
Labels: Bug

#17613 [Inventory] Fix availability checker aliases
  src/Sylius/Bundle/InventoryBundle/DependencyInjection/SyliusInventoryExtension.php
  src/Sylius/Bundle/InventoryBundle/Resources/config/services.xml
Labels: Bug

#17589 SYL-4221: Fix taxon tree styles
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_infinite-tree.scss
Labels: UX, Admin

#17591 Fix form template without resource factory
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/content/form.html.twig
Labels: Admin, Bug

#17592 [Admin] Define title icon and subheader on Twig hooks configuration
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/common/content/header/title_block/title.html.twig
Labels: Enhancement, Admin

#17614 [Admin] Order UI improvements
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/header/title_block/actions/resend_confirmation_email.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/customer/billing_address.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/customer/edit_addresses.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/customer/shipping_address.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/general/channel.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/shipments/item/actions.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/shipments/item/actions/resend_confirmation.html.twig
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/shipments/item/actions/show.html.twig
Labels: UX, Admin

#17619 Fix phpspec namespace
  src/Sylius/Bundle/OrderBundle/spec/Resetter/CartChangesResetterSpec.php
Labels: Maintenance, Bug

#17617 [Admin] Fix services imports not to import integrations every time
  src/Sylius/Bundle/AdminBundle/Resources/config/services.xml
Labels: Admin, Bug

#17626 Update release cycle after 1.12 EOL
  docs/book/organization/release-cycle.rst
Labels: Documentation

#17620 Fullscreen order table view
  src/Sylius/Bundle/AdminBundle/Resources/assets/entrypoint.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/scripts/fullscreen.js
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.en.yml
  src/Sylius/Bundle/AdminBundle/templates/order/show/content/sections/items.html.twig
Labels: UX, Admin

#17618 [Admin] Improve product grid layout and main taxon display
  src/Sylius/Bundle/AdminBundle/Resources/config/grids/product.yml
  src/Sylius/Bundle/AdminBundle/templates/product/grid/field/main_taxon.html.twig
Labels: Admin

#17642 Fix show product RWD
  src/Sylius/Bundle/AdminBundle/templates/product/show/content/page_body/general/simple_product.html.twig
Labels: Admin

#17647 Fix use of locale storage service in locale switcher
  src/Sylius/Bundle/ShopBundle/Resources/config/services/integrations/locale/storage.xml
Labels: Shop, Bug

#17645 [Admin][TwigHook] Allow configuring primary Twig hook for CRUD templates
  src/Sylius/Bundle/AdminBundle/templates/order/history.html.twig
  src/Sylius/Bundle/AdminBundle/templates/product/generate_variants.html.twig
  src/Sylius/Bundle/AdminBundle/templates/promotion_coupon/generate.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/create.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/index.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/show.html.twig
  src/Sylius/Bundle/AdminBundle/templates/shared/crud/update.html.twig
Labels: Admin
