Repository Sylius/Sylius, pull requests merged in 2025-03, with the labels that each got.

#17706 [API][Admin] Fix contract tests for API Platform 4.1 + limit tabler version
  src/Sylius/Bundle/AdminBundle/package.json
  src/Sylius/Bundle/ApiBundle/Tests/Application/src/Tests/TaxonTest.php
  tests/Api/Responses/admin/catalog_promotion/post_catalog_promotion_with_invalid_dates_response.json
  tests/Api/Responses/admin/catalog_promotion/post_catalog_promotion_with_taken_code_response.json
  tests/Api/Responses/admin/catalog_promotion/post_catalog_promotion_without_required_data_response.json
  tests/Api/Responses/admin/catalog_promotion/put_catalog_promotion_with_duplicate_locale_translation.json
  tests/Api/Responses/admin/currency/post_currency_with_invalid_code_response.json
  tests/Api/Responses/admin/customer/post_customer_with_already_taken_email_response.json
  tests/Api/Responses/admin/customer/post_customer_with_invalid_email_response.json
  tests/Api/Responses/admin/customer/post_customer_with_invalid_gender_response.json
  tests/Api/Responses/admin/customer/post_customer_with_invalid_name_response.json
  tests/Api/Responses/admin/customer/update_customer_with_invalid_gender_response.json
  tests/Api/Responses/admin/locale/post_locale_with_invalid_code_response.json
  tests/Api/Responses/admin/payment_method/put_payment_method_with_duplicate_locale_translation.json
  tests/Api/Responses/admin/product/post_product_with_invalid_translation_locale.json
  tests/Api/Responses/admin/product/post_product_without_required_data_response.json
  tests/Api/Responses/admin/product/put_product_with_duplicate_locale_translation.json
  tests/Api/Responses/admin/product_association/post_duplicated_association_product_response.json
  tests/Api/Responses/admin/product_association/post_product_association_without_required_data_response.json
  tests/Api/Responses/admin/product_association_type/post_product_association_type_without_required_data_response.json
  tests/Api/Responses/admin/product_association_type/put_product_association_type_with_duplicate_locale_translation_response.json
  tests/Api/Responses/admin/product_attribute/post_product_attribute_with_unregistered_type_response.json
  tests/Api/Responses/admin/product_attribute/post_product_attribute_without_required_data_response.json
  tests/Api/Responses/admin/product_attribute/post_select_product_attribute_with_disabled_multiple_option_response.json
  tests/Api/Responses/admin/product_attribute/post_select_product_attribute_with_invalid_max_entries_configuration_response.json
  tests/Api/Responses/admin/product_attribute/post_select_product_attribute_with_invalid_min_entries_configuration_response.json
  tests/Api/Responses/admin/product_attribute/post_text_product_attribute_with_invalid_configuration_response.json
  tests/Api/Responses/admin/product_attribute/put_product_attribute_with_duplicate_locale_translation.json
  tests/Api/Responses/admin/product_image/post_product_image_with_invalid_variant_response.json
  tests/Api/Responses/admin/product_image/put_product_image_with_invalid_variant_response.json
  tests/Api/Responses/admin/product_option/put_product_option_value_with_duplicate_locale_translation.json
  tests/Api/Responses/admin/product_option/put_product_option_with_duplicate_locale_translation.json
  tests/Api/Responses/admin/promotion/post_promotion_with_invalid_actions_response.json
  tests/Api/Responses/admin/promotion/post_promotion_with_invalid_dates_response.json
  tests/Api/Responses/admin/promotion/post_promotion_with_invalid_rules_response.json
  tests/Api/Responses/admin/promotion/post_promotion_with_taken_code_response.json
  tests/Api/Responses/admin/promotion/post_promotion_without_required_data_response.json
  tests/Api/Responses/admin/promotion/put_promotion_with_duplicate_locale_translation.json
  tests/Api/Responses/admin/taxon/post_taxon_with_taken_code_response.json
  tests/Api/Responses/admin/taxon/post_taxon_without_required_data_response.json
  tests/Api/Responses/admin/taxon/put_taxon_with_duplicate_locale_translation.json
  tests/Api/Responses/shop/customer/reset_password_validation_response.json
Labels: Admin, API, Dependencies

#17708 [Maintenance] Fix invalid default address component prop config
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/address_book/index.yaml
Labels: Maintenance, Shop, Bug

#17709 Update bunnyshell/workflows to v2
  .github/workflows/bunnyshell_cleanup-envs.yaml
  .github/workflows/bunnyshell_delete-preview-env.yaml
  .github/workflows/bunnyshell_deploy-preview-env.yaml
  .github/workflows/bunnyshell_prepare-preview-env.yaml
  .github/workflows/bunnyshell_start-preview-env.yaml
  .github/workflows/bunnyshell_stop-preview-env.yaml
Labels: Maintenance

#17717 [Maintenance][Behat] Fix invalid check in order show page
  src/Sylius/Behat/Page/Admin/Order/ShowPage.php
Labels: Behat, Maintenance

#17723 [UI] Refix invalid key setting on adding a collection item
  features/admin/product/managing_product_attributes/adding_select_product_attribute.feature
  src/Sylius/Behat/Context/Api/Admin/ManagingProductAttributesContext.php
  src/Sylius/Behat/Context/Transform/ProductAttributeContext.php
  src/Sylius/Behat/Context/Ui/Admin/ManagingProductAttributesContext.php
  src/Sylius/Behat/Resources/config/suites/api/product/managing_product_attributes.yml
  src/Sylius/Behat/Resources/config/suites/ui/product/managing_product_attributes.yml
  src/Sylius/Bundle/UiBundle/Twig/Component/LiveCollectionTrait.php
Labels: UX, Bug

#17730 [CI] Update actions/upload-artifact to v4
  .github/workflows/bunnyshell_cleanup-envs.yaml
  .github/workflows/bunnyshell_delete-preview-env.yaml
  .github/workflows/bunnyshell_deploy-preview-env.yaml
  .github/workflows/bunnyshell_prepare-preview-env.yaml
  .github/workflows/bunnyshell_start-preview-env.yaml
  .github/workflows/bunnyshell_stop-preview-env.yaml
  .github/workflows/ci_e2e-mariadb.yaml
  .github/workflows/ci_e2e-mysql.yaml
  .github/workflows/ci_e2e-pgsql.yaml
  .github/workflows/ci_e2e-unstable.yaml
Labels: Maintenance

#17729 [Shop] Replace html class
  src/Sylius/Bundle/ShopBundle/templates/checkout/common/layout.html.twig
Labels: Shop, Frontend

#17657 [Maintenance] Fix ORM deprecations
  src/Sylius/Bundle/ApiBundle/spec/CommandHandler/Cart/RemoveItemFromCartHandlerSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Common/NonArchivedExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/Address/ShopUserBasedExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/Currency/ChannelBasedExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/Customer/ShopUserBasedExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/ExchangeRate/ChannelBasedExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/Order/ShopUserBasedExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/Order/StateBasedExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/Order/VisitorBasedExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/OrderItem/ShopUserBasedExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/OrderItem/VisitorBasedExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/Product/TaxonBasedExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/ProductReview/AcceptedExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/Taxon/ChannelBasedExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Doctrine/ORM/QueryExtension/Shop/Taxon/EnabledChildrenExtensionSpec.php
  src/Sylius/Bundle/ApiBundle/spec/Resolver/UriTemplateParentResourceResolverSpec.php
  src/Sylius/Bundle/ApiBundle/spec/StateProvider/Shop/Product/ProductAttributeValue/CollectionProviderSpec.php
  src/Sylius/Bundle/AttributeBundle/Doctrine/ORM/Subscriber/LoadMetadataSubscriber.php
  src/Sylius/Bundle/AttributeBundle/spec/Doctrine/ORM/Subscriber/LoadMetadataSubscriberSpec.php
  src/Sylius/Bundle/CoreBundle/Doctrine/DQL/DateFormat.php
  src/Sylius/Bundle/CoreBundle/Doctrine/DQL/Day.php
  src/Sylius/Bundle/CoreBundle/Doctrine/DQL/Hour.php
  src/Sylius/Bundle/CoreBundle/Doctrine/DQL/Month.php
  src/Sylius/Bundle/CoreBundle/Doctrine/DQL/Week.php
  src/Sylius/Bundle/CoreBundle/Doctrine/DQL/Year.php
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/Handler/ResourceDeleteHandler.php
  src/Sylius/Bundle/CoreBundle/Doctrine/ORM/SqlWalker/OrderByIdentifierSqlWalker.php
  src/Sylius/Bundle/CoreBundle/Remover/ReviewerReviewsRemover.php
  src/Sylius/Bundle/CoreBundle/spec/Doctrine/ORM/Handler/ResourceDeleteHandlerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/EventListener/CanonicalizerListenerSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Order/NumberGenerator/SequentialOrderNumberGeneratorSpec.php
  src/Sylius/Bundle/CoreBundle/spec/Remover/ReviewerReviewsRemoverSpec.php
  src/Sylius/Bundle/LocaleBundle/spec/Checker/LocaleUsageCheckerSpec.php
  src/Sylius/Bundle/OrderBundle/spec/NumberGenerator/SequentialOrderNumberGeneratorSpec.php
  src/Sylius/Bundle/ProductBundle/Doctrine/ORM/Query/AST/Function/AbstractJsonFunctionNode.php
  src/Sylius/Bundle/ProductBundle/spec/EventListener/SelectProductAttributeChoiceRemoveListenerSpec.php
  src/Sylius/Bundle/ReviewBundle/EventListener/ReviewChangeListener.php
  src/Sylius/Bundle/ReviewBundle/spec/EventListener/ReviewChangeListenerSpec.php
  src/Sylius/Bundle/UserBundle/spec/EventListener/PasswordUpdaterListenerSpec.php
Labels: Maintenance, API

#17756 Login layout fix
  src/Sylius/Bundle/ShopBundle/templates/account/login/content/register_container.html.twig
Labels: Shop, Frontend

#17757 Update Issue Templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/1_Bug_report.yaml
  .github/ISSUE_TEMPLATE/2_Documentation_issue.yaml
  .github/ISSUE_TEMPLATE/3_Feature_request.yaml
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/documentation-issue.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/security-issue.md
  .github/ISSUE_TEMPLATE/support-question.md
  .github/ISSUE_TEMPLATE/translations.md
Labels: Maintenance

#17759 Update config.yml with spaces after emojis
  .github/ISSUE_TEMPLATE/config.yml
Labels: Maintenance

#17760 Update spaces next to emojis in GH issue template
  .github/ISSUE_TEMPLATE/1_Bug_report.yaml
  .github/ISSUE_TEMPLATE/2_Documentation_issue.yaml
Labels: Maintenance

#17734 [Shop] Order button hook refactor
  src/Sylius/Bundle/ShopBundle/Resources/config/app/twig_hooks/account/order/show.yaml
  src/Sylius/Bundle/ShopBundle/templates/account/order/show/content/main/header/buttons.html.twig
  src/Sylius/Bundle/ShopBundle/templates/account/order/show/content/main/header/buttons/pay.html.twig
Labels: Shop

#17764 [Behat] Add wait for page reload
  .github/workflows/ci_e2e-mysql.yaml
  behat.yml.dist
  src/Sylius/Behat/Page/Admin/Account/LoginPage.php
  src/Sylius/Behat/Page/Admin/Account/RequestPasswordResetPage.php
  src/Sylius/Behat/Page/Admin/Account/ResetPasswordPage.php
  src/Sylius/Behat/Page/Admin/Administrator/ImpersonateUserPage.php
  src/Sylius/Behat/Page/Admin/CatalogPromotion/ShowPage.php
  src/Sylius/Behat/Page/Admin/Crud/CreatePage.php
  src/Sylius/Behat/Page/Admin/Crud/IndexPage.php
  src/Sylius/Behat/Page/Admin/Crud/UpdatePage.php
  src/Sylius/Behat/Page/Admin/Customer/ShowPage.php
  src/Sylius/Behat/Page/Admin/DashboardPage.php
  src/Sylius/Behat/Page/Admin/Order/HistoryPage.php
  src/Sylius/Behat/Page/Admin/Order/ShowPage.php
  src/Sylius/Behat/Page/Admin/Product/ShowPage.php
  src/Sylius/Behat/Page/Admin/ProductVariant/GeneratePage.php
  src/Sylius/Behat/Page/Admin/PromotionCoupon/GeneratePage.php
  src/Sylius/Behat/Page/Admin/Shipment/ShowPage.php
  src/Sylius/Behat/Page/Shop/Account/AddressBook/CreatePage.php
  src/Sylius/Behat/Page/Shop/Account/AddressBook/IndexPage.php
  src/Sylius/Behat/Page/Shop/Account/AddressBook/UpdatePage.php
  src/Sylius/Behat/Page/Shop/Account/ChangePasswordPage.php
  src/Sylius/Behat/Page/Shop/Account/DashboardPage.php
  src/Sylius/Behat/Page/Shop/Account/LoginPage.php
  src/Sylius/Behat/Page/Shop/Account/Order/IndexPage.php
  src/Sylius/Behat/Page/Shop/Account/Order/ShowPage.php
  src/Sylius/Behat/Page/Shop/Account/ProfileUpdatePage.php
  src/Sylius/Behat/Page/Shop/Account/RegisterPage.php
  src/Sylius/Behat/Page/Shop/Account/RegisterThankYouPage.php
  src/Sylius/Behat/Page/Shop/Account/RequestPasswordResetPage.php
  src/Sylius/Behat/Page/Shop/Account/ResetPasswordPage.php
  src/Sylius/Behat/Page/Shop/Account/VerificationPage.php
  src/Sylius/Behat/Page/Shop/Account/WellKnownPasswordChangePage.php
  src/Sylius/Behat/Page/Shop/Cart/SummaryPage.php
  src/Sylius/Behat/Page/Shop/Checkout/AddressPage.php
  src/Sylius/Behat/Page/Shop/Checkout/CompletePage.php
  src/Sylius/Behat/Page/Shop/Checkout/SelectPaymentPage.php
  src/Sylius/Behat/Page/Shop/Checkout/SelectShippingPage.php
  src/Sylius/Behat/Page/Shop/Contact/ContactPage.php
  src/Sylius/Behat/Page/Shop/HomePage.php
  src/Sylius/Behat/Page/Shop/Order/ShowPage.php
  src/Sylius/Behat/Page/Shop/Order/ThankYouPage.php
  src/Sylius/Behat/Page/Shop/Product/IndexPage.php
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
  src/Sylius/Behat/Page/Shop/ProductReview/CreatePage.php
  src/Sylius/Behat/Page/Shop/ProductReview/IndexPage.php
  src/Sylius/Behat/Page/SymfonyPage.php
  src/Sylius/Behat/Page/SymfonyPageInterface.php
  src/Sylius/Behat/Page/TestPlugin/MainPage.php
  src/Sylius/Behat/Resources/config/services/pages.xml
  src/Sylius/Behat/Service/DriverHelper.php
Labels: Behat, Maintenance, Admin

#17763 Conflict API Platform
  CONFLICTS.md
  composer.json
  src/Sylius/Bundle/ApiBundle/composer.json
Labels: Maintenance, API, Dependencies

#17771 [CI] Fix panther behats
  behat.yml.dist
  features/hybrid/checkout/placing_order_on_multi_channel/placing_an_order_on_a_single_channel_store.feature
  features/hybrid/checkout/placing_order_on_multi_channel/placing_an_order_on_multiple_channels_with_same_currency.feature
  features/shop/checkout/receiving_confirmation_email_after_completing_checkout.feature
  src/Sylius/Behat/Element/Admin/Taxon/FormElement.php
  src/Sylius/Behat/Element/Admin/Taxon/TreeElement.php
  src/Sylius/Behat/Element/Shop/Account/RegisterElement.php
  src/Sylius/Behat/Element/Shop/CartWidgetElement.php
  src/Sylius/Behat/Page/Admin/Crud/CreatePage.php
  src/Sylius/Behat/Page/Admin/Crud/UpdatePage.php
  src/Sylius/Behat/Page/Admin/Order/ShowPage.php
  src/Sylius/Behat/Page/Shop/Account/AddressBook/IndexPage.php
  src/Sylius/Behat/Page/Shop/Account/LoginPage.php
  src/Sylius/Behat/Page/Shop/Checkout/AddressPage.php
  src/Sylius/Behat/Page/Shop/Checkout/CompletePage.php
  src/Sylius/Behat/Page/Shop/Checkout/SelectPaymentPage.php
  src/Sylius/Behat/Page/Shop/Checkout/SelectShippingPage.php
  src/Sylius/Behat/Page/Shop/Order/ShowPage.php
  src/Sylius/Behat/Page/Shop/Order/ThankYouPage.php
  src/Sylius/Behat/Page/Shop/Page.php
  src/Sylius/Behat/Page/Shop/Product/ShowPage.php
  src/Sylius/Behat/Page/Shop/ProductReview/CreatePage.php
  src/Sylius/Behat/Page/SymfonyPage.php
  src/Sylius/Behat/Service/DriverHelper.php
  src/Sylius/Behat/Service/JQueryHelper.php
  src/Sylius/Bundle/ShopBundle/templates/shared/components/header/cart.html.twig
Labels: Maintenance, Shop

#17776 [Bug] Fix missing twig variable
  src/Sylius/Bundle/AdminBundle/Resources/views/Layout/layout.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/views/layout.html.twig
Labels: Admin, Shop, Bug

#17773 [Behat] Rename DriverHelper::waitForPageReload to DriverHelper::waitForPageToLoad
  src/Sylius/Behat/Page/Admin/Crud/CreatePage.php
  src/Sylius/Behat/Page/Admin/Crud/UpdatePage.php
  src/Sylius/Behat/Page/Shop/Checkout/AddressPage.php
  src/Sylius/Behat/Page/Shop/Checkout/SelectPaymentPage.php
  src/Sylius/Behat/Page/Shop/Checkout/SelectShippingPage.php
  src/Sylius/Behat/Page/SymfonyPage.php
  src/Sylius/Behat/Service/DriverHelper.php
Labels: Behat

#17775 [Behat] Fix missing method usage
  src/Sylius/Behat/Page/Shop/Checkout/SelectPaymentPage.php
  src/Sylius/Behat/Page/Shop/Checkout/SelectShippingPage.php
Labels: Behat

#17769 RTL for arabic languages
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_rtl.scss
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/main.scss
  src/Sylius/Bundle/AdminBundle/templates/shared/layout/base.html.twig
  src/Sylius/Bundle/ShopBundle/Resources/assets/styles/_rtl.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/styles/main.scss
  src/Sylius/Bundle/ShopBundle/templates/checkout/complete/content/header/locale.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/layout/base.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/order/show/summary/statuses/payments/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/order/show/summary/statuses/payments/header/title.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/order/show/summary/statuses/shipments/header.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/order/show/summary/statuses/shipments/header/title.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/order/show/summary/statuses/shipments/list.html.twig
  src/Sylius/Bundle/ShopBundle/templates/shared/order/show/summary/statuses/shipments/list/method.html.twig
  src/Sylius/Bundle/UiBundle/templates/macro/rtl.html.twig
Labels: Enhancement, Admin, Shop

#17779 Revert "[Shop] Replace html class"
  src/Sylius/Bundle/ShopBundle/templates/checkout/common/layout.html.twig
Labels: Shop

#17781 [Shop] Prevent product image shrink and adjust vertical alignment
  src/Sylius/Bundle/ShopBundle/templates/shared/components/order_item/product_info.html.twig
Labels: Shop

#17732 change github PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Maintenance

#17762 Missing configurationFormType to AsAttributeType
  src/Sylius/Bundle/AttributeBundle/Attribute/AsAttributeType.php
  src/Sylius/Bundle/AttributeBundle/DependencyInjection/SyliusAttributeExtension.php
  src/Sylius/Bundle/AttributeBundle/Tests/DependencyInjection/SyliusAttributeExtensionTest.php
Labels: Bug

#17711 [Behat] Refactor Login Validation Check
  src/Sylius/Behat/Page/Shop/Checkout/AddressPage.php
Labels: Behat

#17798 1.14 rtl fixes
  src/Sylius/Bundle/ShopBundle/Resources/private/scss/rtl.scss
  src/Sylius/Bundle/UiBundle/Resources/private/sass/rtl.scss
Labels: Admin, Shop, Frontend

#17802 2.0 rtl fixes
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/ProductTaxonTreeController.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/controllers/TaxonTreeController.js
  src/Sylius/Bundle/AdminBundle/Resources/assets/styles/_rtl.scss
  src/Sylius/Bundle/ShopBundle/Resources/assets/styles/_rtl.scss
Labels: Admin, Shop

#17807 Remove CrowdIn config
  crowdin.yml
Labels: Maintenance

#17808 [1.14] Arabic translations
  src/Sylius/Bundle/AddressingBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/AddressingBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/flashes.ar.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/flashes.ar.yaml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/flashes.ar.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/LocaleBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/flashes.ar.yml
  src/Sylius/Bundle/OrderBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/flashes.ar.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages+intl-icu.ar.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/flashes.ar.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/flashes.ar.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/flashes.ar.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/ReviewBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/flashes.ar.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/ShopBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/TaxonomyBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/flashes.ar.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages+intl-icu.ar.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/flashes.ar.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/UserBundle/Resources/translations/validators.ar.yml
Labels: Maintenance, Admin

#17804 [Shop] Unit price text wraping
  src/Sylius/Bundle/ShopBundle/templates/shared/order/show/summary/table/header/item.html.twig
Labels: Documentation, Maintenance, Shop

#17811 Add Notify translation
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.en.yml
Labels: Enhancement

#17753 [Core] Refine ExampleFactoryInterface with Templated Object Type
  src/Sylius/Bundle/CoreBundle/Fixture/AbstractResourceFixture.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/AbstractExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/AddressExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/AdminUserExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CatalogPromotionActionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CatalogPromotionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CatalogPromotionScopeExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ChannelExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CustomerGroupExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ExampleFactoryInterface.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/OrderExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/PaymentMethodExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductAssociationExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductAssociationTypeExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductAttributeExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductOptionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductReviewExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/PromotionActionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/PromotionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/PromotionRuleExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ShippingCategoryExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ShippingMethodExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ShopUserExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/TaxCategoryExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/TaxRateExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/TaxonExampleFactory.php
Labels: Documentation, Maintenance, API

#17812 Revert "[Core] Refine ExampleFactoryInterface with Templated Object Type"
  src/Sylius/Bundle/CoreBundle/Fixture/AbstractResourceFixture.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/AbstractExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/AddressExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/AdminUserExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CatalogPromotionActionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CatalogPromotionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CatalogPromotionScopeExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ChannelExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/CustomerGroupExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ExampleFactoryInterface.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/OrderExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/PaymentMethodExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductAssociationExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductAssociationTypeExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductAttributeExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductOptionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ProductReviewExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/PromotionActionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/PromotionExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/PromotionRuleExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ShippingCategoryExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ShippingMethodExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/ShopUserExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/TaxCategoryExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/TaxRateExampleFactory.php
  src/Sylius/Bundle/CoreBundle/Fixture/Factory/TaxonExampleFactory.php
Labels: Maintenance

#17813 [2.0] Arabic translations
  src/Sylius/Bundle/AddressingBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/AddressingBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/flashes.ar.yml
  src/Sylius/Bundle/AdminBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/AttributeBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/ChannelBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/CoreBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/CurrencyBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/CustomerBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/PaymentBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/PayumBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/ProductBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/PromotionBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/ShippingBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/ShopBundle/Resources/translations/messages.ar.yml
  src/Sylius/Bundle/TaxationBundle/Resources/translations/validators.ar.yml
  src/Sylius/Bundle/UiBundle/Resources/translations/messages.ar.yml
Labels: Admin, Shop
